@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, form: Form[ComponentModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="formComponent">
		@helper.form(action = routes.Components.submit(study.getId()), 'class -> "addTask") {
			@views.html.mecharg.component.form(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
				study: StudyModel, form: Form[ComponentModel])

			<button id="newGroup" type="submit">Create</button>
		}
	</article>

}
