@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, form: Form[ComponentModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submit(study.getId()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(Components.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.TITLE"
					class="formTop" placeholder="Title"
					value="@form(Components.TITLE).value">
				
				<!-- We need a hidden input field.
				 http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
				<input type="checkbox" class="reloadable" name="@Components.RELOADABLE" value="true"
					@if("true".equals(form("reloadable").value)) {
						checked="checked"
					}>
				<input type="hidden" name="@Components.RELOADABLE" value="false" />
				<p class="reloadable">Allow participants to reload</p>
				
				@for(error <- form(Components.VIEW_URL).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.VIEW_URL"
					class="formMiddle" placeholder="URL or path of the actual component"
					value="@form(Components.VIEW_URL).value">
				
				@for(error <- form(Components.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@Components.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(Components.JSON_DATA).value</textarea>
				
				<button id="newGroup" type="submit">Create</button>
			}
		</div>
	</article>

}
