@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	component: ComponentModel, study: StudyModel, form: Form[ComponentModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submitEdited(study.getId(), component.getId()), 'class -> "addTask") {
				@if(form.hasErrors) {
					<p class="error">
						Component wasn't updated
					</p>
				}
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(ComponentModel.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@ComponentModel.TITLE"
					class="formTop" placeholder="Title"
					value="@form(ComponentModel.TITLE).value">
				
				<p class="reloadable">
					<input type="checkbox" name="@ComponentModel.RELOADABLE" class="reloadable"
						@if(component.isReloadable()) {checked="checked"}>
					Allow participants to reload
				</p>
				
				@for(error <- form(ComponentModel.FILE_PATH).errors) {
					<p class="error">@error.message</p>
				}
				<table class="filePathTable">
					<tbody>
						<tr>
							<td class="filePathLabel">URL&nbsp;path:&nbsp;</td>
							<td class="studyPath">/@controllers.publix.ExternalAssets.URL_STUDIES_PATH/@study.getId()/</td>
							<td>
								<input class="filePathInput" type="text" name="@ComponentModel.FILE_PATH"
									placeholder="Path to the actual component HTML file"
									value="@form(ComponentModel.FILE_PATH).value">
							</td>
						</tr>
					</tbody>
				</table>
				
				@for(error <- form(ComponentModel.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@ComponentModel.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(ComponentModel.JSON_DATA).value</textarea>
					
				<button id="newGroup" type="submit" name="action" value="Update">Update</button>
				<button id="newGroup" type="submit" name="action" value="UpdateAndShow">Update & Show</button>
			}
		</div>
	</article>

}
