@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	component: ComponentModel, study: StudyModel, form: Form[ComponentModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submitEdited(study.getId(), component.getId()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(ComponentModel.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@ComponentModel.TITLE"
					class="formTop" placeholder="Title"
					value="@form(ComponentModel.TITLE).value">
				
				<input type="checkbox" name="@ComponentModel.RELOADABLE"
					class="reloadable"
					@if(component.isReloadable()) {
						checked="checked"
					}
				>
				<p class="reloadable">Allow participants to reload</p>
				
				@for(error <- form(ComponentModel.VIEW_URL).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@ComponentModel.VIEW_URL"
					class="formMiddle" placeholder="URL or path of the actual component"
					value="@form(ComponentModel.VIEW_URL).value">
				
				@for(error <- form(ComponentModel.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@ComponentModel.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(ComponentModel.JSON_DATA).value</textarea>
					
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
