@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs:
String, study: StudyModel, errorMsg: String, component: ComponentModel,
componentResultList: List[results.ComponentResult])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="component">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}else{
		<p class="error" style="display:none;"></p>
	}

	<div class="manageBox">
		<header>
			<h3>Manage Component
				<span id="lockedStudySign" @if(!study.isLocked()){style="display: none;"}>(Locked)</span>
			</h3>
			<div class="placeHolder">X</div>
		</header>
			<div class="boxContent">
			<div class="showComponent">Show</div>
			<div class="edit">Edit</div>
			<div class="clone">Clone</div>
			<div class="export">Export</div>
			<div class="remove">Delete</div>
		</div>
	</div>

</article>

<script type="text/javascript">

	$(".showComponent").click(function(e) {
		window.location.href = "@routes.Components.showComponent(
			study.getId, component.getId())";
	});

	$(".edit").click(function(e) {
		window.location.href = "@routes.Components.edit(
				study.getId(), component.getId())";
	});
	
	$(".clone").click(function(e) {
		window.location.href = "@routes.Components.cloneComponent(
				study.getId(), component.getId())";
	});
	
	$(".export").click(function(e) {
		window.location.href = "@routes.Components.exportComponent(
			study.getId(), component.getId())";
	});
	
	$(".remove").click(function(e) {
		var conf = confirm("Are you sure you want to delete component " +
				"\"component.getTitle()\" (ID: @component.getId()) with all it's results?");
		if (conf == false) {
			return
		}
		conf = confirm("If you confirm, this component INCLUDING all it's " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : '@routes.Components.remove(
						study.getId(), component.getId())',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Studies.index(study.getId())');
				},
				error : function(err) {
					$(".error").text(err.responseText).show();
				}
			});
		}
	});
	
	$(".removeSingleResult").click(function(e) {
		var componentResultElement = $(e.target).parent();
		var componentResultId = componentResultElement.attr("result-id");
		var conf = confirm("Are you sure you want to delete the result " +
				"(ID: " + componentResultId + ")?");
		var url = '/mecharg/componentresult/' + componentResultId + '/remove';
		if (conf == true) {
			$.ajax({
				url : url,
				type : 'DELETE',
				success : function(result) {
					componentResultElement.remove();
				},
				error : function(err) {
					$(".error").text(err.responseText).show();
				}
			});
		}
	});
	
</script>

}
