@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, errorMsg: String, component: ComponentModel,
	componentResultList: List[results.ComponentResult])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="component">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	
	<div class="manageBox">
		<header>
			<h3>Manage Component</h3>
			<div class="placeHolder">X</div>
		</header>
		<div class="tryComponent">Show</div>	
		<div class="edit">Edit</div>
		<div class="removeResults">Delete Results</div>
		<div class="remove">Delete</div>
	</div>

	<div class="resultsBox">
		<header>
			<h3>Results</h3>
			<div class="placeHolder">X</div>
		</header>

		<ul>
			@for(result <- componentResultList) {
				<li>
					@services.JsonUtils.asJsonForMA(result)
					<div class="removeResult">Remove</div>
				</li>
			}
			@if(componentResultList.isEmpty()) {
				<li>None</li>
			}
		</ul>
	</div>
</article>

<script type="text/javascript">

	$(".tryComponent").click(function(e) {
		window.location.href = "@routes.Components.tryComponent(
			study.getId, component.getId())";
	});

	$(".edit").click(function(e) {
		window.location.href = "@routes.Components.edit(
				study.getId(), component.getId())";
	});
	
	$(".remove").click(function(e) {
		var conf = confirm("Are you sure you want to delete component " +
				"\"@Html(component.getTitle())\" (id: @component.getId()) with all it's results?");
		if (conf == false) {
			return
		}
		conf = confirm("If you confirm, this component INCLUDING all it's " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : '@routes.Components.remove(
						study.getId(), component.getId())',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Dashboard.dashboard()');
				},
				error : function(err) {
					alert(err.responseText);
				}
			});
		}
	});
	
	$(".removeResults").click(function(e) {
		window.location.href = "@routes.Components.removeResults(
				study.getId(), component.getId())";
	});
	
	$(".removeResult").click(function(e) {
		// TODO implement single result remove 
	});
</script>

}
