@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	component: ComponentModel, study: StudyModel,
	componentResultList: List[results.ComponentResult])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="removeResults">
	
	<form method="POST"
		action="@routes.ComponentResults.submitRemovedResults(study.getId(), component.getId())"
		onSubmit="return confirm('Are you sure you want to remove those results?');">
		
		<div class="resultsBox">
			
			<header>
				@if(componentResultList.isEmpty()) {
					<h3>No results so far</h3>
				} else {
					<h3>Which results should be deleted?</h3>
				}
			</header>
			
			<label class="toggleAll">
				<input class="toggleAllCheckbox" form="dummy" type="checkbox" onClick="toggleAll(this)" value="none"/>
				Toggle All
			</label>

			<table width="100%">
				<tbody>
					<tr>
						<td valign="top">
						</td>
						<td valign="top">
							<p class="resultFirstRow">ID</p>
						</td>
						<td valign="top">
							<p class="resultFirstRow">Time</p>
						</td>
						<td valign="top">
							<p class="resultFirstRow">Worker ID</p>
						</td>
						<td valign="top">
							<p class="resultFirstRow">State</p>
						</td>
					</tr>
			
					@for(result <- componentResultList) {
						<tr>
							<td valign="top">
								<input class="result" type="checkbox" name="@ComponentModel.RESULT" value="@result.getId()" unchecked>
							</td>
							<td valign="top">
								<p class="resultSecondRow">@result.getId()</p>
							</td>
							<td valign="top">
								<p class="resultSecondRow">@result.getStartDate()</p>
							</td>
							<td valign="top">
								<p class="resultSecondRow">@result.getStudyResult().getWorker().getId()</p>
							</td>
							<td valign="top">
								<p class="resultSecondRow">@result.getComponentState()</p>
							</td>
						</tr>
					}
				</tbody>
			</table>
			
			<label class="toggleAll">
				<input class="toggleAllCheckbox" form="dummy" type="checkbox" onClick="toggleAll(this)" value="none"/>
				Toggle All
			</label>

			<button class="removeButton" type="submit">Remove</button>
		</div>


	</form>
	
</article>

<script language="JavaScript">

	function toggleAll(source) {
		checkboxes = $(".result");
		$.merge(checkboxes, $(".toggleAllCheckbox"));
		for(var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
	}

</script>

}
