@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	form: Form[StudyModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submitChangedPassword(loggedInUser.getEmail()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}

				<input name="@Users.EMAIL" type="hidden" value="@form(Users.EMAIL).value">
				
				@for(error <- form(Users.OLD_PASSWORD).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@Users.OLD_PASSWORD" type="password" class="formTop" placeholder="Old password" value="">
				
				@for(error <- form(Users.NEW_PASSWORD).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@Users.NEW_PASSWORD" type="password" class="formMiddle" placeholder="New password" value="">
				<input name="@Users.NEW_PASSWORD_REPEAT" type="password" class="formBottom" placeholder="Repeat new password" value="">
				
				<button id="newGroup" type="submit">Change</button>
			}
		</div>
	</article>

}
