@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	form: Form[UserModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="formUser">
	@helper.form(action = routes.Users.submitChangedPassword(loggedInUser.getEmail())) {
		@if(form.hasErrors) {
			<p class="globalError">Password wasn't changed</p>
		}
		@if(form.hasGlobalErrors) {
			<p class="globalError">@form.globalError.message</p>
		}

		<input name="@UserModel.EMAIL" type="hidden" value="@form(UserModel.EMAIL).value">
		
		@for(error <- form(Users.OLD_PASSWORD).errors) {
			<p class="error">@error.message</p>
		}
		<input name="@Users.OLD_PASSWORD" type="password" placeholder="Old password" value="">
		
		@for(error <- form(Users.NEW_PASSWORD).errors) {
			<p class="error">@error.message</p>
		}
		<input class="password" name="@Users.NEW_PASSWORD" type="password" placeholder="New password" value="">
		<input name="@Users.NEW_PASSWORD_REPEAT" type="password" placeholder="Repeat new password" value="">
		
		<button class="button" type="submit">Change</button>
	}
</article>

}
