@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	form: Form[UserModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="formUser">
	@helper.form(action = routes.Users.submit()) {

		@if(form.hasErrors) {
			<p class="globalError">User wasn't saved</p>
		}
		@if(form.hasGlobalErrors) {
			<p class="globalError">@form.globalError.message</p>
		}
		
		<p class="formText">Email address (will be your username):</p>
		@for(error <- form(UserModel.EMAIL).errors) {
			<p class="error">@error.message</p>
		}
		<input type="email" name="@UserModel.EMAIL" value="@form(UserModel.EMAIL).value">

		<p class="formText">Name:</p>
		@for(error <- form(UserModel.NAME).errors) {
			<p class="error">@error.message</p>
		}
		<input type="text" name="@UserModel.NAME" placeholder="Your name" value="@form(UserModel.NAME).value">

		<p class="formText">Password:</p>
		@for(error <- form(UserModel.PASSWORD).errors) {
			<p class="error">@error.message</p>
		}
		<input class="password" type="password" name="@UserModel.PASSWORD" placeholder="Password" value="">
		<input type="password" name="@Users.PASSWORD_REPEAT" placeholder="Repeat password" value="">

		<button class="button" type="submit">Create</button>
	}
	
</article>

}
