@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	user: UserModel, form: Form[UserModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submitEditedProfile(user.getEmail()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}

				@for(error <- form(UserModel.NAME).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@UserModel.NAME" type="text" class="formSingle" placeholder="Name" value="@form(UserModel.NAME).value">
				
				<input name="@UserModel.EMAIL" type="hidden" value="@form(UserModel.EMAIL).value">
				
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
