@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	user: UserModel, form: Form[UserModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="formUser">
	@helper.form(action = routes.Users.submitEditedProfile(user.getEmail())) {
		@if(form.hasErrors) {
			<p class="globalError">User wasn't saved</p>
		}
		@if(form.hasGlobalErrors) {
			<p class="globalError">@form.globalError.message</p>
		}

		<p class="formText">Name:</p>
		@for(error <- form(UserModel.NAME).errors) {
			<p class="error">@error.message</p>
		}
		<input name="@UserModel.NAME" type="text" placeholder="Name" value="@form(UserModel.NAME).value">
		
		<input name="@UserModel.EMAIL" type="hidden" value="@form(UserModel.EMAIL).value">
		
		<button class="button" type="submit">Update</button>
	}
</article>

}
