@(request: Http.Request, signedinUser: common.User, breadcrumbs: String)

@views.html.gui.main(signedinUser, breadcrumbs) {

<div id="adminToolbar" class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button id="userManager" type="button" class="btn btn-admin" data-toggle="tooltip" data-placement="bottom"
                title="Create, deactivate, or delete users; change their passwords">
            <span class="glyphicon glyphicon-user"></span>&nbsp;User&nbsp;Manager
        </button>
        <button id="studyAdmin" type="button" class="btn btn-admin" data-toggle="tooltip" data-placement="bottom"
                title="Information about all studies, like users, disk size, database size. Possibility to deactivate a study.">
            <span class="glyphicon glyphicon-cog"></span>&nbsp;Studies
        </button>
    </div>

    <div class="btn-group">
        <div id="logs" class="btn-group">
            <button type="button" class="btn btn-admin dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-book"></span>&nbsp;Logs&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a id="applicationLog" href="@{general.common.Common.getJatosUrlBasePath()}jatos/logs/@{general.common.Common.getLogsFilename()}">@{general.common.Common.getLogsFilename()}</a></li>
                <li><a id="listLogsButton" href="#">Show all logs</a></li>
            </ul>
        </div>
        <button id="tests" type="button" class="btn btn-admin">
            <span class="glyphicon glyphicon-check"></span>&nbsp;Tests
        </button>
        <button id="systemInfo" type="button" class="btn btn-admin">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;System Info
        </button>
    </div>
</div>

<div id="updateJatos" class="well text-center" style="display: none">
    <div class="text-xl" id="updateJatosMsg"></div>
    <button class="btn btn-default updateJatosButton" role="button" style="display: none">Update</button>
    <button class="btn btn-default releaseNotesButton" role="button" style="display: none">Release Notes</button>
</div>

<div id="jatosStatus" class="well text-center">
    <div class="row">
        <div class="col-sm-3">
            Studies&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Number of studies (aka experiments) on this JATOS server. First is the number of currently stored studies and in brackets is the total number studies (including the deleted ones)."></span><br>
            <span class="text-xl">
                <span class="current"></span>
                (<span class="total"></span>)
            </span>
        </div>
        <div class="col-sm-3">
            Study Results&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Number of all study results on this JATOS server - How many studies were run so far? First is the number of currently stored study results and in brackets is the total number of study results (including the deleted ones)."></span><br>
            <span class="text-xl">
                <span class="current"></span>
                (<span class="total"></span>)
            </span>
        </div>
        <div class="col-sm-3">
            Workers&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Number of all workers (aka participants) of all studies on this JATOS server. First is the number of currently stored workers and in brackets is the total number of workers (including the deleted ones)."></span><br>
            <span class="text-xl">
                <span class="current"></span>
                (<span class="total"></span>)
            </span>
        </div>
        <div class="col-sm-3">
            Users&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Number of all users (aka experimenters) on this JATOS server"></span><br>
            <span class="text-xl value"></span>
        </div>
    </div>
</div>

<div class="row">
    <div id="latestUsers" class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Latest Users&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="The 10 latest users and the last time they were active (except the signed-in user)."></span></h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Time&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Last time this user was active"></span></th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="latestStudyRuns" class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Latest Study Runs&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="The 10 studies that were active last"></span></h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Time&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Time when this study run was last seen"></span></th>
                        <th>Study Title</th>
                        <th>Members&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="All users who are members of this study"></span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Update JATOS - release notes modal -->
<div class="modal fade" id="releaseNotesModal" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Release Notes</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="updateJatosButton confirmed btn btn-default">Update now</button>
            </div>
        </div>
    </div>
</div>

<!-- Update JATOS - confirmation modal -->
<div class="modal fade" id="updateJatosModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update JATOS</h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <div class="waiting"><img src="@routes.Assets.versioned("lib/jatos-gui/images/waiting.gif")"> please wait</div>
                <p class="confirmationText"></p>
                <div class="checkbox" style="display: none">
                    <label><input type="checkbox" class="backupAll"> Back up current version</label>
                    <span class="help-block">Backs up all files (including study assets, uploaded result files, logs, study logs, local database - but not a MySQL database) of the current JATOS into a folder named 'backup_x.x.x' (x.x.x = old version). <b>This will use up disk space.</b></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="canceled btn btn-default" data-dismiss="modal">No, this is too risky</button>
                <button type="button" class="confirmed btn btn-default">I understand the risks, go on</button>
            </div>
        </div>
    </div>
</div>

<!-- List logs directory Modal -->
<div class="modal fade" id="listLogsModal" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Content of <i>logs</i> directory</h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <div class="list"></div>
            </div>
        </div>
    </div>
</div>

<!-- Log Modal -->
<div class="modal fade" id="logModal" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Log (reverse order)</h4>
            </div>
            <div class="modal-body">
                <pre><code></code></pre>
            </div>
        </div>
    </div>
</div>

<!-- System info Modal -->
<div class="modal fade" id="systemInfoModal" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">System Info</h4>
            </div>
            <div class="modal-body">

                <h2>JATOS configuration</h2>
                <p>
                    <b>Version</b>:&nbsp;@general.common.Common.getJatosVersion()<br>
                    <b>URL host</b>: <span id="configUrlHost"></span><br>
                    <b>URL&nbsp;basepath</b>:&nbsp;@general.common.Common.getJatosUrlBasePath()<br>
                    <b>URL&nbsp;host&nbsp;+&nbsp;basepath</b>: <span id="configUrlHostBase"></span><br>
                    <b>Multi node</b>:&nbsp;@general.common.Common.isMultiNode()<br>
                    <b>Local&nbsp;IP</b>:&nbsp;@utils.common.Helpers.getLocalIpAddress()<br>
                    <b>Local&nbsp;basepath</b>:&nbsp;@general.common.Common.getBasepath()<br>
                    <b>Logs path</b>:&nbsp;@general.common.Common.getLogsPath()<br>
                    <b>Logs filename</b>:&nbsp;@general.common.Common.getLogsFilename()<br>
                    <b>Logs appender</b>:&nbsp;@general.common.Common.getLogsAppender()<br>
                    <b>Tmp path</b>:&nbsp;@general.common.Common.getTmpPath()<br>
                    <b>Study&nbsp;assets&nbsp;root&nbsp;path</b>:&nbsp;@general.common.Common.getStudyAssetsRootPath()<br>
                    <b>Result&nbsp;data&nbsp;max&nbsp;size</b>:&nbsp;@{utils.common.Helpers.humanReadableByteCount(general.common.Common.getResultDataMaxSize())}<br>
                    <b>Result&nbsp;uploads&nbsp;allowed</b>:&nbsp;@general.common.Common.isResultUploadsEnabled()<br>
                    <b>Result&nbsp;uploads&nbsp;path</b>:&nbsp;@general.common.Common.getResultUploadsPath()<br>
                    <b>Result&nbsp;uploads&nbsp;max&nbsp;file&nbsp;size</b>:&nbsp;@{utils.common.Helpers.humanReadableByteCount(general.common.Common.getResultUploadsMaxFileSize())}<br>
                    <b>Result&nbsp;uploads&nbsp;limit&nbsp;per&nbsp;study&nbsp;run</b>:&nbsp;@{utils.common.Helpers.humanReadableByteCount(general.common.Common.getResultUploadsLimitPerStudyRun())}<br>
                    <b>Study&nbsp;logs&nbsp;allowed</b>:&nbsp;@general.common.Common.isStudyLogsEnabled()<br>
                    <b>Study&nbsp;logs&nbsp;path</b>:&nbsp;@general.common.Common.getStudyLogsPath()<br>
                    <b>User&nbsp;session&nbsp;timeout</b>:&nbsp;@general.common.Common.getUserSessionTimeout()<br>
                    <b>User&nbsp;session&nbsp;inactivity</b>:&nbsp;@general.common.Common.getUserSessionInactivity()<br>
                    <b>DB&nbsp;URL</b>:&nbsp;@general.common.Common.getDbUrl()<br>
                    <b>DB&nbsp;driver</b>:&nbsp;@general.common.Common.getDbDriver()<br>
                    <b>Max&nbsp;results&nbsp;DB&nbsp;query&nbsp;size</b>:&nbsp;@general.common.Common.getMaxResultsDbQuerySize()<br>

                    <b>Google&nbsp;OAuth&nbsp;allowed</b>:&nbsp;@general.common.Common.isOauthGoogleAllowed()<br>
                    @if(general.common.Common.isOauthGoogleAllowed()) {
                    <b>Google&nbsp;OAuth&nbsp;Client&nbsp;ID</b>:&nbsp;@general.common.Common.getOauthGoogleClientId()<br>
                    }
                    <b>OIDC&nbsp;allowed</b>:&nbsp;@general.common.Common.isOidcAllowed()<br>
                    @if(general.common.Common.isOidcAllowed()) {
                    <b>OIDC&nbsp;Provider&nbsp;Config&nbsp;URL</b>:&nbsp;@general.common.Common.getOidcDiscoveryUrl()<br>
                    <b>OIDC&nbsp;Client&nbsp;ID</b>:&nbsp;@general.common.Common.getOidcClientId()<br>
                    }
                    <b>ORCID&nbsp;allowed</b>:&nbsp;@general.common.Common.isOrcidAllowed()<br>
                    @if(general.common.Common.isOrcidAllowed()) {
                    <b>ORCID&nbsp;Client&nbsp;ID</b>:&nbsp;@general.common.Common.getOrcidClientId()<br>
                    }
                    <b>LDAP&nbsp;allowed</b>:&nbsp;@general.common.Common.isLdapAllowed()<br>
                    @if(general.common.Common.isLdapAllowed()) {
                    <b>LDAP&nbsp;URL</b>:&nbsp;@general.common.Common.getLdapUrl()<br>
                    <b>LDAP&nbsp;base&nbsp;DN</b>:&nbsp;@general.common.Common.getLdapBaseDn()<br>
                    <b>LDAP&nbsp;admin&nbsp;DN</b>:&nbsp;@general.common.Common.getLdapAdminDn()<br>
                    <b>LDAP&nbsp;timeout</b>:&nbsp;@general.common.Common.getLdapTimeout()<br>
                    }
                </p>

                <h2>OS info</h2>
                <p id="osInfo">
                    @for((key, value) <- utils.common.Helpers.getOSInfo()){
                    <b>@key</b>: @value<br>
                    }
                </p>

                <h2>JVM info</h2>
                <p id="jvmInfo">
                    @for((key, value) <- utils.common.Helpers.getJVMInfo()){
                    <b>@key</b>: @value<br>
                    }
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Tests Modal -->
<div class="modal fade" id="testsModal" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Tests</h4>
            </div>
            <div class="modal-body">
                <p>
                    <b>Correct URL host</b>: <span id="testRealHostUrlResult"></span><br>
                    <b>Connect to database</b>: <span id="testDatabaseResult"></span><br>
                    <b>Access to study assets root folder</b>: <span id="testStudyAssetsRootFolder"></span><br>
                    <b>Access to result uploads folder</b>: <span id="testResultUploadsFolder">deactivated</span><br>
                    <b>Access to logs folder</b>: <span id="testLogsFolder"></span><br>
                    <b>Access to study logs folder</b>: <span id="testStudyLogsFolder">deactivated</span><br>
                    <b>Access to tmp folder</b>: <span id="testTmpFolder"></span><br>
                    <b>Read jatos.js (via study path)</b>: <span id="testJatosJsViaStudyPathResult"></span><br>
                    <b>Read jatos.js (via assets path)</b>: <span id="testJatosJsViaAssetsPathResult"></span><br>
                    <b>Open WebSocket</b>: <span id="testWebSocketResult"></span><br>
                </p>
            </div>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

$('#userManager').click(function() {
    window.location.href = '@controllers.gui.routes.Users.userManager()';
});

$('#studyAdmin').click(function() {
    window.location.href = '@controllers.gui.routes.Admin.studyManager()';
});

if ("@{general.common.Common.getLogsAppender()}".includes("STDOUT")) {
    $("#logs").hide();
}

checkJatosReleaseInfo();
function checkJatosReleaseInfo() {
    var urlQueryParams = new URLSearchParams(window.location.search).toString();
    $.getJSON({
        url: '@{general.common.Common.getJatosUrlBasePath()}jatos/releaseInfo?' + urlQueryParams,
        success: function(releaseInfo) {
            $("#updateJatos").data("releaseInfo", releaseInfo);
            showJatosReleaseInfo(releaseInfo);
        },
        error: function () {
            console.warn("Couldn't check for a JATOS update.");
        }
    });
}

function showJatosReleaseInfo(releaseInfo) {
    switch (releaseInfo.currentUpdateState) {
        case "SLEEPING":
            showUpdateAvailable(releaseInfo);
            break;
        case "DOWNLOADING":
            showInfo("JATOS is currently downloading an update.");
            break;
        case "DOWNLOADED":
            showUpdateJatosModalDownloaded();
            break;
        case "MOVING":
        case "RESTARTING":
            showWarning("JATOS is currently restarting to finish an update. Please wait.");
            break;
        case "SUCCESS":
            showInfo("JATOS was successfully updated to " + releaseInfo.currentVersionFull);
            break;
        case "FAILED":
            showError("Something went wrong in an JATOS update. More information can be found in the logs.");
            break;
        default:
            showError("Unknown UpdateState " + releaseInfo.currentUpdateState);
    }
}

function showUpdateAvailable(releaseInfo) {
    var text;
    var version = getVersionName(releaseInfo);
    if (releaseInfo.isNewerVersion || !releaseInfo.isLatest) {
        if (@{general.common.Common.isMultiNode()}) {
            if (releaseInfo.isLatest) {
                text = `A new JATOS version is available: + ${version}`;
            } else {
                text = `Auto-update is not possible in a multi-node JATOS installation.`;
            }
            $("#updateJatos .updateJatosButton").hide();
        } else if (releaseInfo.isUpdateAllowed && !releaseInfo.isDifferentJava && releaseInfo.zipUrl) {
            text = `Do you want to update to version&nbsp;${version}?`;
            if (releaseInfo.isLatest) text = "A new JATOS version is available. " + text;
            $("#updateJatos button").show();
        } else if (releaseInfo.isUpdateAllowed && releaseInfo.isDifferentJava && releaseInfo.zipJavaUrl) {
            text = `Do you want to update to version&nbsp;${version}?
                    The new JATOS needs a different version of Java than yours. So you'll need JATOS
                    bundled with Java&nbsp;${releaseInfo.newJavaVersion}.`;
            if (releaseInfo.isLatest) text = "A new JATOS version is available. " + text;
            $("#updateJatos button").show();
        }
    } else {
        text = `Your JATOS (version&nbsp;${releaseInfo.currentVersion}) is up-to-date.`;
        $("#updateJatos .updateJatosButton").hide();
        $("#updateJatos .releaseNotesButton").hide();
    }
    $("#updateJatosMsg").html(text);
    $("#updateJatos").show();
}

$("#updateJatos .releaseNotesButton").click(function() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    $("#releaseNotesModal .modal-title").text("Release notes for JATOS " + version);
    var releaseNodesClean = releaseInfo.releaseNotes.replace(/(\s|\n|\r|#)*Which variant(.|\n|\r)*/, "");
    var releaseNotesHtml = new showdown.Converter().makeHtml(releaseNodesClean);
    $("#releaseNotesModal .modal-body").html(releaseNotesHtml);
    $("#releaseNotesModal").modal('show');
});

function getVersionName(releaseInfo) {
    return releaseInfo.isPrerelease ? releaseInfo.versionFull + " (pre-release)" : releaseInfo.versionFull;
}

function getFileSizeInMb(releaseInfo) {
    var sizeInByte = releaseInfo.isDifferentJava ? releaseInfo.zipJavaSize : releaseInfo.zipSize;
    return  Math.round(sizeInByte / 1024 / 1024);
}

$("#updateJatos .updateJatosButton, #releaseNotesModal .updateJatosButton").click(function() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    var fileSizeInMb = getFileSizeInMb(releaseInfo);
    $("#releaseNotesModal").modal('hide');
    removeAlerts("#updateJatosModal");
    $("#updateJatosModal .modal-title").text("Update JATOS to " + version);
    $("#updateJatosModal .confirmationText").html("First we are going to download the new release (it's " + fileSizeInMb
            + "&nbsp;MB). Make sure you back up your data for the (unlikely) event that something goes wrong."
            + " After the download is done you'll be asked again for confirmation.");
    $("#updateJatosModal .confirmationText").show();
    $("#updateJatosModal .waiting").hide();
    $("#updateJatosModal .checkbox").hide();
    $("#updateJatosModal .modal-footer").show();
    $("#updateJatosModal button.canceled").unbind();
    $("#updateJatosModal button.canceled").click(cancelUpdate);
    $("#updateJatosModal button.confirmed").unbind();
    $("#updateJatosModal button.confirmed").click(downloadJatos);
    $("#updateJatosModal").modal('show');
});

function cancelUpdate() {
    $.ajax({
        url: '@controllers.gui.routes.Updates.cancelUpdate()',
        error: function (err) {
            showError(err.responseText)
        }
    });
}

function downloadJatos() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var fileSizeInMb = getFileSizeInMb(releaseInfo);
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").show();
    $("#updateJatosModal .modal-title").text("Downloading " + version + " (" + fileSizeInMb + " MB)");
    $("#updateJatosModal .confirmationText").hide();
    $("#updateJatosModal .modal-footer").hide();
    $.ajax({
        url: '@controllers.gui.routes.Updates.downloadJatos()',
        timeout: 0, // Do not timeout
        success: function() {
            showUpdateJatosModalDownloaded();
        },
        error: function (err) {
            $('#updateJatosModal').modal('hide');
            showError(err.responseText)
        }
    });
}

function showUpdateJatosModalDownloaded() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").hide();
    $("#updateJatosModal .checkbox").show();
    $("#updateJatosModal .modal-title").text("Update & Restart");
    $("#updateJatosModal .confirmationText").text("Downloaded. Now, do you really want to update to version "
            + version + " and restart?");
    $("#updateJatosModal .confirmationText").show();
    $("#updateJatosModal .modal-footer").show();
    $("#updateJatosModal button.canceled").unbind();
    $("#updateJatosModal button.canceled").click(cancelUpdate);
    $("#updateJatosModal button.confirmed").unbind();
    $("#updateJatosModal button.confirmed").click(updateAndRestart);
    $("#updateJatosModal").modal('show');
}

function updateAndRestart() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").show();
    $("#updateJatosModal .confirmationText").hide();
    $("#updateJatosModal .checkbox").hide();
    $("#updateJatosModal .modal-footer").hide();
    var backupAll = $('#updateJatosModal .backupAll').is(':checked');
    $.ajax({
        url: '@{general.common.Common.getJatosUrlBasePath()}jatos/updateAndRestart?backupAll=' + backupAll,
        timeout: 0, // Do not timeout
        success: function() {
            $('#updateJatosModal').modal('hide');
            showInfo("Restarting now to finish update to version " + version
                    + ". It should take under a minute. Refresh this page every now and then.");
        },
        error: function (err) {
            $('#updateJatosModal').modal('hide');
            showError(err.responseText)
        }
    });
}

getJatosStatus();
function getJatosStatus() {
    $.getJSON({
        url: '@controllers.gui.routes.Admin.status()',
        success: function(status) {
            $("#jatosStatus div:nth-child(1) .current").text(status.studyCount);
            $("#jatosStatus div:nth-child(1) .total").text(status.studyCountTotal);
            $("#jatosStatus div:nth-child(2) .current").text(status.studyResultCount);
            $("#jatosStatus div:nth-child(2) .total").text(status.studyResultCountTotal);
            $("#jatosStatus div:nth-child(3) .current").text(status.workerCount);
            $("#jatosStatus div:nth-child(3) .total").text(status.workerCountTotal);
            $("#jatosStatus div:nth-child(4) .value").text(status.userCount);
            $("#jatosStatus").show();
            $("#latestUsers .table > tbody:last-child").append(fillLatestUsers(status.latestUsers));
            $("#latestStudyRuns .table > tbody:last-child").append(fillLatestStudyRuns(status.latestStudyRuns));
            //$('[data-toggle="popover"]').popover(); // Activate tooltips with popper.js
            $("#latestUsers .timeago, #latestStudyRuns .timeago").each((i, e) => timeago.render(e)); // Render timeago
        },
        error: function () {
            console.warn("Couldn't get JATOS status.");
        }
    });
}

function fillLatestUsers(latestUsers) {
    if (latestUsers.length == 0) {
        return '<tr><td class="text-center" colspan="2">no data yet</td></tr>';
    }

    var htmlArray = [];
    latestUsers.forEach(function(e) {
        htmlArray.push("<tr>");
        htmlArray.push(`<td class="timeago" datetime="${new Date(e.time).toISOString()}" data-toggle="tooltip" title="${getFormattedDate(e.time)}"></td>`);
        htmlArray.push(`<td>${generateFullUserString(e.name, e.username, e.authMethod)}</td>`);
        htmlArray.push("</tr>");
    });
    return htmlArray.join("");
}

function fillLatestStudyRuns(latestStudyRuns) {
    if (latestStudyRuns.length == 0) {
        return '<tr><td class="text-center" colspan="3">no data yet</td></tr>';
    }

    const htmlArray = [];
    latestStudyRuns.forEach(function(studyRun) {
        let membersHtml;
        if (studyRun.members.length < 4 ) {
            membersHtml = studyRun.members.map((m) => generateFullUserString(m.name, m.username, m.authMethod)).join("<br>");
        } else {
            const m = studyRun.members.map((m) => `${m.name} (${m.username})`).join("<br>");
            membersHtml = `<button type="button" class="btn btn-default btn-sm" data-toggle="popover"
                    data-trigger="focus" data-container="body" data-html="true" data-placement="left"
                    data-content="${m}">show all</button>`;
        }
        htmlArray.push("<tr>");
        htmlArray.push(`<td><span class="timeago" datetime="${new Date(studyRun.time).toISOString()}" data-toggle="tooltip" title="${getFormattedDate(studyRun.time)}"></span></td>`);
        htmlArray.push(`<td>${trimTextWithThreeDots(studyRun.studyTitle, 50)}</td>`);
        htmlArray.push(`<td>${membersHtml}</td>`);
        htmlArray.push("</tr>");
    });
    return htmlArray.join("");
}

$('#listLogsButton').on('click', function() {
    $.ajax({
        url: "@controllers.gui.routes.Admin.listLogs()",
        success: function(logFiles) {
            removeAlerts('#listLogsModal');
            $('#listLogsModal .modal-body .list').html(generateListLogsHtml(logFiles));
            var msg = "You can download the files or click on 'Show' (if available) to see them right away.";
            showInfo(msg, '#listLogsModal .messages');
            $('#listLogsModal').modal('show');
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

function generateListLogsHtml(logFiles) {
    var listLogsHtml = [];
    listLogsHtml.push("<ul>");
    logFiles.forEach(function(filename) {
        var url = "@{general.common.Common.getJatosUrlBasePath()}jatos/logs/" + filename;
        var html = '<li><a href="' + url + '" download>' + filename + '</a>';
        if (filename.includes(".log")) {
            html += '&nbsp;<button type="button" class="btn btn-default btn-sm">Show</button>';
        }
        listLogsHtml.push(html + '</li>');
    });
    listLogsHtml.push("</ul>");
    return listLogsHtml.join("");
}

$('#listLogsModal .modal-body, #logs').on('click', 'li button, #applicationLog', function() {
    event.preventDefault();
    var filename = $(this).parent().find("a").text();
    var url = $(this).parent().find("a").attr("href") + "?reverse=true";
    $.ajax({
        type: 'GET',
        url: url,
        success: function(result) {
            $('#logModal').modal('show');
            $('#logModal .modal-title').text(filename + " (reverse order)");
            $('#logModal .modal-body pre code').text(result);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#adminToolbar').on('click', '#tests', function() {
    $('#testsModal').modal('show');
    testRealHostUrl();
    testDatabase();
    testFolderAccess();
    testJatosJsViaStudyPath();
    testJatosJsViaAssetsPath();
    testWebSocket();
});

$('#adminToolbar').on('click', '#systemInfo', function() {
    $('#configUrlHost').text(getRealHostUrl());
    $('#configUrlHostBase').text(getRealBaseUrl());
    $('#systemInfoModal').modal('show');
});

function testRealHostUrl() {
    var browserUrl = window.location.origin;
    if (getRealHostUrl() == browserUrl) {
        $('#testRealHostUrlResult').html('<font color="green">OK</font>');
    } else if (getRealHostUrl().replace(/(^\w+:|^)\/\//, '') == browserUrl.replace(/(^\w+:|^)\/\//, '')) {
        $('#testRealHostUrlResult').html('<font color="orange">WARN (wrong protocol)</font>');
    } else {
        $('#testRealHostUrlResult').html('<font color="red">FAIL</font>');
    }
}

function testDatabase() {
    $.ajax({
        type: 'GET',
        url: '@controllers.gui.routes.Tests.testDatabase()',
        success: function(result) {
            $('#testDatabaseResult').html('<font color="green">OK</font>');
        },
        error : function(err) {
            $('#testDatabaseResult').html('<font color="red">FAIL</font>');
        }
    });
}

function testFolderAccess() {
    $.ajax({
        type: 'GET',
        url: '@controllers.gui.routes.Tests.testFolderAccess()',
        success: function(result) {
            let accessHtml = (a) => a ? '<font color="green">OK</font>' : '<font color="red">FAIL</font>';
            $('#testStudyAssetsRootFolder').html(accessHtml(result.studyAssetsRoot));
            @if(general.common.Common.isResultUploadsEnabled()){$('#testResultUploadsFolder').html(accessHtml(result.resultUploads));}
            $('#testLogsFolder').html(accessHtml(result.logs));
            @if(general.common.Common.isStudyLogsEnabled()){$('#testStudyLogsFolder').html(accessHtml(result.studyLogs));}
            $('#testTmpFolder').html(accessHtml(result.tmp));
        }
    });
}

function testJatosJsViaStudyPath() {
    $.ajax({
        type: 'GET',
        url: '@{general.common.Common.getJatosUrlBasePath()}publix/1/1/jatos.js',
        dataType: "text",
        success: function(result) {
            $('#testJatosJsViaStudyPathResult').html('<font color="green">OK</font>');
        },
        error : function(err) {
            $('#testJatosJsViaStudyPathResult').html('<font color="red">FAIL</font>');
        }
    });
}

function testJatosJsViaAssetsPath() {
    $.ajax({
        type: 'GET',
        url: '@{general.common.Common.getJatosUrlBasePath()}assets/javascripts/jatos.js',
        dataType: "text",
        success: function(result) {
            $('#testJatosJsViaAssetsPathResult').html('<font color="green">OK</font>');
        },
        error : function(err) {
            $('#testJatosJsViaAssetsPathResult').html('<font color="red">FAIL</font>');
        }
    });
}

function testWebSocket() {
    var webSocket = new WebSocket(((
            window.location.protocol === "https:") ? "wss://" : "ws://")
            + window.location.host
            + "@controllers.gui.routes.Tests.testWebSocket()");
    webSocket.onerror = function () {
        $('#testWebSocketResult').html('<font color="red">FAIL</font>');
    };

    webSocket.onmessage = function (event) {
        if (event.data != "test message") {
            $('#testWebSocketResult').html('<font color="red">FAIL</font>');
        } else {
            $('#testWebSocketResult').html('<font color="green">OK</font>');
        }
    };
    webSocket.onopen = function (event) {
        webSocket.send("test message");
    };
}

</script>
}
