@(request: Http.Request)

<!-- Show all API tokens Modal -->
<div class="modal fade" id="apiTokenModal" tabindex="-1" data-bs-config='{"backdrop":true, "focus":true, "keyboard":true}'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your personal access tokens (API tokens) for the JATOS API</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover align-middle" id="apiTokenTable">
                    <thead>
                    <tr>
                        <th>Active<span class="sort-logo ps-2"></span></th>
                        <th>ID<span class="sort-logo ps-2"></span></th>
                        <th>Name<span class="sort-logo ps-2"></span></th>
                        <th>Creation Date<span class="sort-logo ps-2"></span></th>
                        <th>Expiration<span class="sort-logo ps-2"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Create API token Modal -->
<div class="modal fade" id="apiTokenCreateModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":false}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New personal access token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="apiTokenCreateFormName" class="col-sm-3 col-form-label input-required" data-toggle="tooltip" title="Use the name to distinguish the tokens from one another">
                        Name<span class="icon-info"></span>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" id="apiTokenCreateFormName" type="text" placeholder="Name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="apiTokenCreateFormExpiration" class="col-sm-3 col-form-label" data-toggle="tooltip" title="Select token expiration time">
                        Expiration<span class="icon-info"></span>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-select" id="apiTokenCreateFormExpiration">
                            <option value="7">7 days</option>
                            <option value="30" selected>30 days</option>
                            <option value="60">60 days</option>
                            <option value="90">90 days</option>
                            <option value="never">Never</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-admin" id="apiTokenCreateFormConfirmed">Generate</button>
            </div>
        </div>
    </div>
</div>

<!-- API token display Modal -->
<div class="modal fade" id="apiTokenDisplayModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":false}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New personal access token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

var apiTokenTable;

$('#navbarMenu').on('click', '#apiTokens', function() {
    removeAlerts("#apiTokenModal");
    if (apiTokenTable) {
        apiTokenTable.ajax.reload();
    } else {
        apiTokenTable = generateApiTokenTable();
    }
    $('#apiTokenModal').modal('show');
});

function generateApiTokenTable() {
    return $('#apiTokenTable').DataTable({
        "ajax": {
            "type": "GET",
            "url" : "@auth.gui.routes.ApiTokens.allTokenDataByUser()",
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText);
                } else {
                    showError("Cannot read token data");
                }
            }
        },
        "dom": "Btirp",
        "pageLength": 10,
        "order": [[ 3, "desc" ]],
        "autoWidth": false,
        "lengthChange": false,
        "language": {
            "emptyTable": "No tokens yet"
        },
        "buttons": [
            {
                "text": '<i class="bi-plus-lg pe-1"></i>New Token',
                "className": "btn btn-admin",
                "attr": {
                    "data-toggle": "tooltip",
                    "title": "Generate a new personal access token",
                },
                "action": function ( e, dt, node, config ) {
                    removeAlerts("#apiTokenCreateModal");
                    removeFormErrors("#apiTokenCreateModal");
                    $('#apiTokenCreateFormName').val("");
                    $('#apiTokenCreateModal').modal('show');
                }
            }
        ],
        "columns": [
            {
                "data": "active",
                "width": "1%",
                "orderable": false,
                "searchable": false,
                "render": fillActiveButton
            },
            {
                "data": "id",
                "width": "1%"
            },
            {
                "data": "name",
            },
            {
                "data": "creationDate",
                "render": (t) => new Date(t).toLocaleString('en-GB')
            },
            {
                "data": null,
                "render": function (data, type, full, meta) {
                    if (data.expirationDate <= 0) return "never";
                    const expirationDate = new Date(data.expirationDate).toLocaleString('en-GB');
                    return data.isExpired ? `${expirationDate} <b>(expired)</b>` : expirationDate;
                }
            },
            {
                "data": null,
                "class": "delete-button-column",
                "width": "1%",
                "orderable": false,
                "searchable": false,
                "render": function (data, type, full, meta) {
                    return '<button type="button" class="btn btn-admin deleteButton text-nowrap">Delete<i class="bi-x-lg ps-1"></i></button>';
                }
            },
        ],
        "rowCallback": grayoutToken
    });
}

$('#apiTokenCreateModal').on('shown.bs.modal', () => $('#apiTokenCreateFormName').focus())

function grayoutToken(row, data) {
    if (!data.active || data.isExpired) {
        $(row).find("td:not(.delete-button-column)").addClass("gray-out");
    } else {
        $(row).find("td:not(.delete-button-column)").removeClass("gray-out");
    }
}

$('#apiTokenCreateFormConfirmed').click(function(e) {
    const name = $('#apiTokenCreateFormName').val().trim();
    const expires = $('#apiTokenCreateFormExpiration').val() * 60 * 60 * 24; // in seconds

    $.ajax({
        url : `@{general.common.Common.getJatosUrlBasePath()}jatos/user/apiToken?name=${name}&expires=${expires}`,
        type : "POST",
        success: function(apiToken) {
            $('#apiTokenCreateModal').modal('hide');
            apiTokenTable.ajax.reload(null, false);
            showApiTokenDisplayModal(name, apiToken);
        },
        error : function(err) {
            removeAlerts("#apiTokenCreateModal");
            showError(err.responseText);
        }
    });
});

function showApiTokenDisplayModal(name, apiToken) {
    removeAlerts("#apiTokenDisplayModal");
    $('#apiTokenDisplayModal .modal-title').text(`New personal access token "${name}"`);
    const html = `
            <p>
                Please copy your personal access token now.<br>
                <b>For your security it won\'t be shown again.</b>
                <div class="card card-body">
                    <span class="user-select-all">${apiToken}</span>
                    <span class="btn-clipboard" data-toggle="tooltip" title="Copy to clipboard"></span>
                </div>
            </p>
            <p>Test with <code>curl</code>:</p>
            <div class="card card-body">
                <pre class="mb-0 me-2"><code class="user-select-all">curl -i -H "Authorization: Bearer ${apiToken}" ${getRealBaseUrl()}jatos/api/v1/admin/token</code></pre>
                <span class="btn-clipboard" data-toggle="tooltip" title="Copy to clipboard"></span>
            </div>`;
    $('#apiTokenDisplayModal .modal-body').html(html);
    $('#apiTokenDisplayModal').modal('show');
}

$('#apiTokenDisplayModal').on('click', '.btn-clipboard', copyToClipboard);

function fillActiveButton(active) {
    if (active) {
        return '<button type="button" class="btn btn-admin activeButton activeToken" data-toggle="tooltip" title="Click to deactivate this token"><i class="bi-check-lg"></i></button>';
    } else {
        return '<button type="button" class="btn btn-secondary activeButton" data-toggle="tooltip" title="Click to activate this token"><i class="bi-x-lg"></i></button>';
    }
}

$('#apiTokenModal').on('click', '.activeButton', function() {
    const button = this;
    const tr = $(this).closest('tr');
    const data = apiTokenTable.row(tr).data();
    const active = $(this).hasClass('activeToken');
    $.ajax({
        url : `@{general.common.Common.getJatosUrlBasePath()}jatos/user/apiToken/${data.id}/active?active=${!active}`,
        type : "POST",
        success: function() {
            data.active = !active;
            $(button).parent().html(fillActiveButton(data.active));
            grayoutToken(tr, data);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#apiTokenModal').on('click', '.deleteButton', function() {
    const button = this;
    const tr = $(this).closest('tr');
    const data = apiTokenTable.row(tr).data();
    const title = "Confirm Delete";
    const body = `<p>You are about to delete token "${data.name}" (ID ${data.id}).</p>
        <p><b>This cannot be undone.</b> Do you want to proceed?</p>`;
    askConfirmation(title, body, 'Delete', 'btn-admin', function() {
        $.ajax({
            url : `@{general.common.Common.getJatosUrlBasePath()}jatos/user/apiToken/${data.id}`,
            type : "DELETE",
            success: function() {
                apiTokenTable.ajax.reload(null, false);
            },
            error : function(err) {
                showError(err.responseText);
            },
            complete: hideWaitingModal
        });
    });
});

</script>