@import controllers.gui.routes._
@import general.common._

<div class="card card-body bg-body-tertiary text-center mb-4" id="updateJatos">
    <h5 class="card-title">JATOS version</h5>
    <p class="card-text placeholder-glow mb-0" id="updateJatosMsg"><span class="placeholder col-5"></span></p>
    <button class="btn btn-default d-none" id="updateJatosButton" role="button">Update</button>
    <button class="btn btn-default d-none" id="releaseNotesButton" role="button">Release Notes</button>
</div>

@* Update JATOS - release notes modal *@
<div class="modal fade" id="releaseNotesModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":true}'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Release notes</h5>
                <button type="button" class="btn btn-close btn-nav" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-admin" id="releaseNotesConfirmed">Update now</button>
            </div>
        </div>
    </div>
</div>

@* Update JATOS - confirmation modal *@
<div class="modal fade" id="updateJatosModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":false}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update JATOS</h5>
            </div>
            <div class="modal-body">
                <div class="waiting"><img src="@routes.Assets.versioned("lib/jatos-gui/images/waiting.gif")"> please wait</div>
                <p class="confirmationText"></p>
                <div class="checkbox" style="display: none">
                    <label><input type="checkbox" class="backupAll"> Back up current version</label>
                    <span class="help-block">Backs up all files (including study assets, uploaded result files, logs, study logs, local database - but not a MySQL database) of the current JATOS into a folder named 'backup_x.x.x' (x.x.x = old version). <b>This will use up disk space.</b></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="updateJatosCanceled" data-bs-dismiss="modal">No, this is too risky</button>
                <button type="button" class="btn btn-admin" id="updateJatosConfirmed">I understand the risks, go on</button>
            </div>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr} type="module">
    import * as Alerts from "@routes.Assets.versioned("lib/jatos-gui/javascripts/alerts.js")";
    import * as Helpers from "@routes.Assets.versioned("lib/jatos-gui/javascripts/helpers.js")";

    (() => {
        const urlQueryParams = new URLSearchParams(window.location.search).toString();
        $.getJSON({
            url: `${window.routes.Updates.getReleaseInfo}?${urlQueryParams}`,
            success: function(releaseInfo) {
                $("#updateJatos").data("releaseInfo", releaseInfo);
                showJatosReleaseInfo(releaseInfo);
            },
            error: function () {
                $("#updateJatosMsg").html(`<i class="bi-exclamation-triangle text-warning pe-1"></i>Couldn't check for a JATOS update.`);
            }
        });
    })();

    function showJatosReleaseInfo(releaseInfo) {
        switch (releaseInfo.currentUpdateState) {
            case "SLEEPING":
                showUpdateAvailable(releaseInfo);
                break;
            case "DOWNLOADING":
                Alerts.info("JATOS is currently downloading an update.");
                break;
            case "DOWNLOADED":
                showUpdateJatosModalDownloaded();
                break;
            case "MOVING":
            case "RESTARTING":
                Alerts.warning("JATOS is currently restarting to finish an update. Please wait.");
                break;
            case "SUCCESS":
                Alerts.info("JATOS was successfully updated to " + releaseInfo.currentVersionFull);
                break;
            case "FAILED":
                Alerts.error("Something went wrong in an JATOS update. More information can be found in the application logs.");
                break;
            default:
                Alerts.error("Unknown UpdateState " + releaseInfo.currentUpdateState);
        }
    }

    function showUpdateAvailable(releaseInfo) {
        let text;
        const version = getVersionName(releaseInfo);
        if (releaseInfo.isNewerVersion || !releaseInfo.isLatest) {
            if (window.common.isMultiNode) {
                text = `<i class="bi-info-circle text-info pe-1"></i>Auto-update is not possible in a multi-node JATOS installation.`;
            } else if (releaseInfo.isUpdateAllowed && !releaseInfo.isDifferentJava && releaseInfo.zipUrl) {
                text = `<i class="bi-info-circle text-info pe-1"></i>Do you want to update to version&nbsp;${version}?`;
                if (releaseInfo.isLatest) text = "A new JATOS version is available. " + text;
                $("#updateJatos .updateJatosButton").removeClass("d-none");
            } else if (releaseInfo.isUpdateAllowed && releaseInfo.isDifferentJava && releaseInfo.zipJavaUrl) {
                text = `<i class="bi-info-circle text-info pe-1"></i>Do you want to update to version&nbsp;${version}?
                        The new JATOS needs a different version of Java than yours. So you'll need JATOS
                        bundled with Java&nbsp;${releaseInfo.newJavaVersion}.`;
                if (releaseInfo.isLatest) text = "A new JATOS version is available. " + text;
                $("#updateJatos .updateJatosButton").removeClass("d-none");
            }
        } else {
            text = `<i class="bi-check2 text-success pe-1"></i>Your JATOS (version&nbsp;${releaseInfo.currentVersion}) is up-to-date.`;
        }
        $("#updateJatosMsg").html(text);
    }

$("#updateJatos .releaseNotesButton").click(function() {
    const releaseInfo = $("#updateJatos").data("releaseInfo");
    const version = getVersionName(releaseInfo);
    $("#releaseNotesModal .modal-title").text("Release notes for JATOS " + version);
    const releaseNodesClean = releaseInfo.releaseNotes.replace(/(\s|\n|\r|#)*Which variant(.|\n|\r)*/, "");
    const releaseNotesHtml = new showdown.Converter().makeHtml(releaseNodesClean);
    $("#releaseNotesModal .modal-body").html(releaseNotesHtml);
    $("#releaseNotesModal").modal('show');
});

function getVersionName(releaseInfo) {
    return releaseInfo.isPrerelease ? releaseInfo.versionFull + " (pre-release)" : releaseInfo.versionFull;
}

function getFileSizeInMb(releaseInfo) {
    var sizeInByte = releaseInfo.isDifferentJava ? releaseInfo.zipJavaSize : releaseInfo.zipSize;
    return  Math.round(sizeInByte / 1024 / 1024);
}

$("#updateJatos .updateJatosButton, #releaseNotesModal .updateJatosButton").click(function() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    var fileSizeInMb = getFileSizeInMb(releaseInfo);
    $("#releaseNotesModal").modal('hide');
    removeAlerts("#updateJatosModal");
    $("#updateJatosModal .modal-title").text("Update JATOS to " + version);
    $("#updateJatosModal .confirmationText").html("First we are going to download the new release (it's " + fileSizeInMb
            + "&nbsp;MB). Make sure you back up your data for the (unlikely) event that something goes wrong."
            + " After the download is done you'll be asked again for confirmation.");
    $("#updateJatosModal .confirmationText").show();
    $("#updateJatosModal .waiting").hide();
    $("#updateJatosModal .checkbox").hide();
    $("#updateJatosModal .modal-footer").show();
    $("#updateJatosModal button.canceled").unbind();
    $("#updateJatosModal button.canceled").click(cancelUpdate);
    $("#updateJatosModal button.confirmed").unbind();
    $("#updateJatosModal button.confirmed").click(downloadJatos);
    $("#updateJatosModal").modal('show');
});

function cancelUpdate() {
    $.ajax({
        url: '@controllers.gui.routes.Updates.cancelUpdate()',
        error: function (err) {
            showError(err.responseText)
        }
    });
}

function downloadJatos() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var fileSizeInMb = getFileSizeInMb(releaseInfo);
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").show();
    $("#updateJatosModal .modal-title").text("Downloading " + version + " (" + fileSizeInMb + " MB)");
    $("#updateJatosModal .confirmationText").hide();
    $("#updateJatosModal .modal-footer").hide();
    $.ajax({
        url: '@controllers.gui.routes.Updates.downloadJatos()',
        timeout: 0, // Do not timeout
        success: function() {
            showUpdateJatosModalDownloaded();
        },
        error: function (err) {
            $('#updateJatosModal').modal('hide');
            showError(err.responseText)
        }
    });
}

function showUpdateJatosModalDownloaded() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").hide();
    $("#updateJatosModal .checkbox").show();
    $("#updateJatosModal .modal-title").text("Update & Restart");
    $("#updateJatosModal .confirmationText").text("Downloaded. Now, do you really want to update to version "
            + version + " and restart?");
    $("#updateJatosModal .confirmationText").show();
    $("#updateJatosModal .modal-footer").show();
    $("#updateJatosModal button.canceled").unbind();
    $("#updateJatosModal button.canceled").click(cancelUpdate);
    $("#updateJatosModal button.confirmed").unbind();
    $("#updateJatosModal button.confirmed").click(updateAndRestart);
    $("#updateJatosModal").modal('show');
}

function updateAndRestart() {
    var releaseInfo = $("#updateJatos").data("releaseInfo");
    var version = getVersionName(releaseInfo);
    $("#updateJatosModal .waiting").show();
    $("#updateJatosModal .confirmationText").hide();
    $("#updateJatosModal .checkbox").hide();
    $("#updateJatosModal .modal-footer").hide();
    var backupAll = $('#updateJatosModal .backupAll').is(':checked');
    $.ajax({
        url: '@{general.common.Common.getJatosUrlBasePath()}jatos/updateAndRestart?backupAll=' + backupAll,
        timeout: 0, // Do not timeout
        success: function() {
            $('#updateJatosModal').modal('hide');
            showInfo("Restarting now to finish update to version " + version
                    + ". It should take under a minute. Refresh this page every now and then.");
        },
        error: function (err) {
            $('#updateJatosModal').modal('hide');
            showError(err.responseText)
        }
    });
}
</script>