@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<div id="toolbar" class="btn-group">
    @if(!loggedInUser.isOauthGoogle()) {
    <button id="editProfile" type="button" class="btn btn-admin">Edit Profile</button>
    }
    @if(loggedInUser.isDb()) {
    <button id="changePassword" type="button" class="btn btn-admin">Change Password <span class="glyphicon glyphicon-lock"></span></button>
    }
    @if(!loggedInUser.getUsername().equals(services.gui.UserService.ADMIN_USERNAME)) {
    <button id="deleteUser" type="button" class="btn btn-admin">Delete User <span class="glyphicon glyphicon-remove"></span></button>
    }
</div>

<h3>You are user in these studies</h3>
<ul id="usersStudyList" class="list-group">
    <!-- filled via JavaScript -->
</ul>

@views.html.gui.admin.editProfile(loggedInUser)

<script type="text/javascript">

var user;
loadUser();

function loadUser() {
    $.ajax({
        type: 'GET',
        url: "@controllers.gui.routes.Users.singleUserData(loggedInUser.getUsername())",
        success: function(response) {
            user = response;
            $('#navUserText').html(`<span class="glyphicon glyphicon-user"></span> ${user.name}`);
            $('#breadcrumbs li:last-child').text(`${user.name} (${user.username})`);
            fillStudyList(user.studyList);
        },
        error: function(response) {
            showError(response.responseText);
        }
    });
}

function fillStudyList(studyList) {
    var html = "";
    if (studyList.length === 0) {
        html += '<li class="list-group-item">None</li>';
    }
    $.each(studyList, function(index, study) {
        html += '<li class="list-group-item">'
                + '<a href="@{general.common.Common.getPlayHttpContext()}jatos/' + study.id + '">' + study.title + ' (ID: ' + study.id + ')</a>'
                + '</li>';
    });
    $("#usersStudyList").html(html);
}

$('#toolbar').on('click', '#editProfile', function() {
    showEditProfileModal(user);
});

$('#toolbar').on('click', '#changePassword', function() {
    showChangePasswordModal(user, true);
});

$('#toolbar').on('click', '#deleteUser', function() {
    showDeleteYourselfModal(user);
});

</script>

}
