@(signedinUser: common.User, breadcrumbs: String, request: Http.Request)

@views.html.gui.main(signedinUser, breadcrumbs) {

<div id="toolbar" class="btn-group">
    @if(!signedinUser.isOauthGoogle() && !signedinUser.isOidc() && !signedinUser.isOrcid()) {
    <button id="editProfile" type="button" class="btn btn-admin">Edit Profile</button>
    }
    @if(signedinUser.isDb()) {
    <button id="changePassword" type="button" class="btn btn-admin">Change Password <span class="glyphicon glyphicon-lock"></span></button>
    }
    <button id="apiTokens" type="button" class="btn btn-admin">API Tokens</button>
    @if(!signedinUser.getUsername().equals(services.gui.UserService.ADMIN_USERNAME)) {
    <button id="deleteUser" type="button" class="btn btn-admin">Delete User <span class="glyphicon glyphicon-remove"></span></button>
    }
</div>

<h4>You are a member user in these studies:</h4>
<ul id="usersStudyList" class="list-group">
    <!-- filled via JavaScript -->
</ul>

@views.html.gui.admin.editProfile(signedinUser)
@views.html.gui.admin.apiTokensModal(request)

<script @{helper.CSPNonce.attr}>
@if(signedinUser.isSuperuser()) {
showInfo("As a Superuser you have access to all studies like a study member.");
}

var user;
loadUser();

function loadUser() {
    $.ajax({
        type: 'GET',
        url: "@controllers.gui.routes.Users.singleUserData(signedinUser.getUsername())",
        success: function(response) {
            user = response;
            $('#navUserText').html(`<span class="glyphicon glyphicon-user"></span> ${user.name}`);
            $('#breadcrumbs li:last-child').text(`${user.name} (${user.username})`);
            fillStudyList(user.studyList);
        },
        error: function(response) {
            showError(response.responseText);
        }
    });
}

function fillStudyList(studyList) {
    var html = "";
    if (studyList.length === 0) {
        html += '<li class="list-group-item">None</li>';
    }
    $.each(studyList, function(index, study) {
        html += '<li class="list-group-item">'
                + '<a href="@{general.common.Common.getJatosUrlBasePath()}jatos/' + study.id + '">' + study.title + ' (ID: ' + study.id + ')</a>'
                + '</li>';
    });
    $("#usersStudyList").html(html);
}

$('#toolbar').on('click', '#editProfile', function() {
    showEditProfileModal(user);
});

$('#toolbar').on('click', '#changePassword', function() {
    showChangePasswordModal(user, true);
});

$('#toolbar').on('click', '#deleteUser', function() {
    showDeleteYourselfModal(user);
});

</script>

}
