@(request: Http.Request, loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost) {

<table id="studyAdminTable" class="table top-buffer">
    <thead>
    <tr>
        <th data-toggle="tooltip" title="A deactivated study cannot be started by participants (workers) anymore, but an already started study can be continued. The member users can still see and edit the study and export its result data.">Active</th>
        <th>ID <span class="glyphicon sortLogo gray-light"/></th>
        <th>Title <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="All users who are member of this study">Members <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="Size of study assets folder">Study Assets Size <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="Number of study results">Result Count <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="Size of result data: total for all study runs (average per result in brackets)">Result Data Size <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="Size of uploaded result files: total for all study runs (average per result in brackets)">Result File Size <span class="glyphicon sortLogo gray-light"/></th>
        <th data-toggle="tooltip" title="When was this study last started by a participant?">Last Started <span class="glyphicon sortlogo gray-light"/></th>
    </tr>
    </thead>
</table>

<!-- Template for active toggle button in a study row -->
<div id="activeToggleButtonDiv" style="display: none">
    <div class="tooltipWrapper" data-title="">
        <button type="button" class="btn btn-default activeButton">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>

<script @{helper.CSPNonce.attr}>
var studyAdminTable;
$(document).ready(function() {
    studyAdminTable = $('#studyAdminTable').DataTable({
        "ajax": {
            "url" : '@controllers.gui.routes.Admin.allStudiesData()',
            "dataSrc": "",
            "beforeSend": showWaitingModal,
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText);
                } else {
                    showError("Cannot read study data.");
                }
            },
            "complete": hideWaitingModal
        },
        "dom": 'lftip',
        "order": [[ 6, "dsc" ]],
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "columns": [
            {
                "data": null,
                "defaultContent": '',
                "width": "1%",
                "orderable": false,
                "searchable": false,
                "render": function (data, type, full, meta) {
                    var buttonDiv = $('#activeToggleButtonDiv :first-child').clone();
                    setActiveButton(buttonDiv, data.active);
                    return buttonDiv.prop('outerHTML');
                }
            },
            {
                "data": "id",
                "width": "1%"
            },
            {
                "data": "title",
                "width": "30%",
                "render": function (data, type, full, meta) {
                    return data.length > 50 ? data.substring(0, 47) + "..." : data;
                }
            },
            {
                "data": null,
                "render": function (data, type, full, meta) {
                    if (data.members.length < 4 ) {
                        return data.members.join("<br>");
                    } else {
                        return '<button type="button" class="btn btn-default btn-sm" data-toggle="popover" '
                                + 'data-trigger="focus" data-container="body" '
                                + 'data-html="true" data-content="' + data.members.join("<br>") + '">show all</a>';
                    }
                }
            },
            {
                "type": "num",
                "data": {
                    _: 'studyAssetsSize.display',
                    sort: 'studyAssetsSize.bytes'
                },
                "render": function (data, type, full, meta) {
                    if (data == "disabled") {
                        return '<button type="button" class="showStudyAssetSizeButton btn btn-default btn-sm">Show</a>';
                    } else {
                        return data;
                    }
                }
            },
            {
                "data": "studyResultCount",
                "width": "1%"
            },
            {
                "type": "num",
                "data": {
                    _: 'resultDataSize.display',
                    sort: 'resultDataSize.bytes'
                },
                "render": function (data, type, full, meta) {
                    if (data == "disabled") {
                        return '<button type="button" class="showResultDataSizeButton btn btn-default btn-sm">Show</a>';
                    } else {
                        return data;
                    }
                }
            },
            {
                "type": "num",
                "data": {
                    _: 'resultFileSize.display',
                    sort: 'resultFileSize.bytes'
                },
                "render": function (data, type, full, meta) {
                    if (data == "disabled") {
                        return '<button type="button" class="showResultFileSizeButton btn btn-default btn-sm">Show</a>';
                    } else {
                        return data;
                    }
                }
            },
            {
                "type": "date",
                "data": "lastStarted",
                "render": function (data, type, full, meta) {
                    return (data) ? data : "never";
                }
            }
        ],
        "drawCallback": function( settings ) {
            $('[data-toggle="popover"]').popover(); // Activate tooltips with popper.js
        }
    });
});

function setActiveButton(buttonDiv, active) {
    var button = $(buttonDiv).children("button:first");
    if (active) {
        button.removeClass('btn-default');
        button.addClass('btn-admin');
        button.addClass('activeStudy');
        buttonDiv.attr('title', "Click to deactivate this study");
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        button.removeClass('btn-admin');
        button.removeClass('activeStudy');
        button.addClass('btn-default');
        buttonDiv.attr('title', "Click to activate this study");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

$('#studyAdminTable').on('click', '.activeButton', function() {
    var button = this;
    var tr = $(button).closest('tr');
    var studyInfo = studyAdminTable.row(tr).data();
    var active = $(this).hasClass('activeStudy');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/" + studyInfo.id + "/properties/active?active=" + !active,
        type : "POST",
        success: function() {
            setActiveButton($(button).parent(), !active);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#studyAdminTable').on('click', '.showStudyAssetSizeButton', function() {
    var button = this;
    var tr = $(button).closest('tr');
    var studyInfo = studyAdminTable.row(tr).data();
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/" + studyInfo.id + "/studyAssetsSize",
        success: function(response) {
            $(button).parent().text(response.display);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#studyAdminTable').on('click', '.showResultDataSizeButton', function() {
    var button = this;
    var tr = $(button).closest('tr');
    var studyInfo = studyAdminTable.row(tr).data();
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/" + studyInfo.id + "/resultDataSize",
        success: function(response) {
            $(button).parent().text(response.display);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#studyAdminTable').on('click', '.showResultFileSizeButton', function() {
    var button = this;
    var tr = $(button).closest('tr');
    var studyInfo = studyAdminTable.row(tr).data();
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/" + studyInfo.id + "/resultFileSize",
        success: function(response) {
            $(button).parent().text(response.display);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

</script>
}
