<!DOCTYPE html>

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<h1>JATOS test and system info page moved to <a href="/jatos/admin">/jatos/admin</a></h1>
</body>
</html>
