@(signedinUser: common.User)

<!-- Edit user profile Modal -->
<div class="modal fade" id="userSettingsModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":false}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="userSettingsForm">
                <div class="modal-header">
                    <h5 class="modal-title">My settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="userSettingsName" class="col-sm-3 col-form-label input-required">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="userSettingsName" name="name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="userSettingsEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="userSettingsEmail" name="email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-admin">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Change user password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":true}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="changePasswordForm">
                <div class="modal-header">
                    <h5 class="modal-title">Change password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="changePasswordOldPassword" class="col-sm-4 col-form-label input-required">Old password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="changePasswordOldPassword" name="oldPassword" placeholder="Old password" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="changePasswordNewPassword" class="col-sm-4 col-form-label input-required">New password</label>
                        <div class="col-sm-8" id="changePassworFooBar">
                            <div class="position-relative">
                                <input type="password" class="form-control" id="changePasswordNewPassword" name="newPassword" placeholder="New password" autocomplete="off" required>
                            </div>
                            <div class="position-relative">
                                <input type="password" class="form-control" id="changePasswordNewPasswordRepeat" name="newPasswordRepeat" placeholder="Repeat new password" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="username" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-admin">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete user confirmation Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" data-bs-config='{"backdrop":"static", "focus":true, "keyboard":true}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteUserForm">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm user deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="confirmationText"></p>
                    @if(!signedinUser.isOauthGoogle() && !signedinUser.isOidc() && !signedinUser.isOrcid()){
                    <div class="row mb-3">
                        <label for="deleteUserPassword" class="col-sm-4 col-form-label input-required">Old password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="deleteUserPassword" name="password" placeholder="Your password" autocomplete="off" required>
                        </div>
                    </div>
                    } else {
                    <div class="row mb-3">
                        <label for="deleteUserUsername" class="col-sm-4 col-form-label input-required">Your username</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="deleteUserUsername"  name="username" placeholder="Your username" required>
                        </div>
                    </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-admin">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

    var user;
    (function() {
        $.ajax({
            type: 'GET',
            url: "@controllers.gui.routes.Users.singleUserData(signedinUser.getUsername())",
            success: function(response) {
                user = response;
            },
            error: function(response) {
                showError(response.responseText);
            }
        });
    })();

    $("#userSettingsModal").on('show.bs.modal', function() {
        clearModalFormValidation("#userSettingsModal");
        $('#userSettingsName').val(user.name);
        $('#userSettingsEmail').val(user.email);
        $('#userSettingsForm').data(user);
    });

    $("#userSettingsForm").submit(function(event) {
        event.preventDefault();
        var user = $(this).data();
        $.ajax({
            type: 'POST',
            url : "@{general.common.Common.getJatosUrlBasePath()}jatos/user/" + user.username + "/profile",
            data: $('#userSettingsForm').serialize(),
            success: function(response) {
                $('#userSettingsModal').modal('hide');
                showSuccess("Your profile was changed successfully.");
                $("#navbarUserName").text($('#userSettingsName').val());
                $("#navbarUserUserName").text("(" + $('#userSettingsName').val() + ")");
            },
            error: function(response) {
                showWarning("User profile was not updated");
                if (isJson(response.responseText)) {
                    showModalFormValidation("#userSettingsModal", response.responseJSON);
                } else {
                    showError(response.responseText);
                }
            }
        });
    });

    $("#changePasswordModal").on('show.bs.modal', function() {
        clearModalFormValidation("#changePasswordModal");
        $('#changePasswordModal .modal-title').html(`Change password for ${user.name} (${user.username})`);
        $('#changePasswordModal input[name="username"]').val(user.username);
    });

    $("#changePasswordForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: "@controllers.gui.routes.Users.changePasswordByUser()",
            data: $('#changePasswordForm').serialize(),
            success: function(response) {
                $('#changePasswordModal').modal('hide');
                showSuccess("Your password was changed successfully.");
            },
            error: function(response) {
                showWarning("Password wasn't changed");
                if (isJson(response.responseText)) {
                    showModalFormValidation("#changePasswordModal", response.responseJSON);
                } else {
                    showError(response.responseText);
                }
            }
        });
    });

function showDeleteUserModal(user) {
    removeAlerts("#deleteUserModal");
    removeFormErrors("#deleteUserModal");

    $('#deleteUserModal .modal-title').text(`Delete ${user.username} (${user.name})`);
    $('#deleteUserModal .confirmationText').html(generateDeleteUserConfirmationHtml(user));
    if (@signedinUser.isOauthGoogle()) {
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .usernameLabel').text("Confirm by typing your email address (@signedinUser.getUsername())");
    } else if (@signedinUser.isOidc()) {
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .usernameLabel').text("Confirm by typing your user ID (@signedinUser.getUsername())");
    } else if (@signedinUser.isOrcid()) {
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .usernameLabel').text(`Confirm by typing your ORCID ID (@signedinUser.getUsername())`);
    } else {
        $('#deleteUserModal .password').val('');
        $('#deleteUserModal .passwordLabel').text(`Confirm with your (@signedinUser.getUsername()) password`);
    }

    $('#deleteUserModal .password').val('');
    $('#deleteUserForm').data(user);
    $('#deleteUserModal').modal('show');
}

function showDeleteYourselfModal(user) {
    removeAlerts("#deleteUserModal");
    removeFormErrors("#deleteUserModal");
    $('#deleteUserModal .modal-title').text("Delete yourself");

    if (@signedinUser.isOauthGoogle()) {
        $('#deleteUserModal .usernameLabel').text("Confirm by typing your email address (username)");
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .username').parents('.form-group').show();
    } else if (@signedinUser.isOidc()) {
        $('#deleteUserModal .usernameLabel').text("Confirm by typing your user ID (username)");
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .username').parents('.form-group').show();
    } else if (@signedinUser.isOrcid()) {
        $('#deleteUserModal .usernameLabel').text("Confirm by typing your ORCID ID");
        $('#deleteUserModal .username').val('');
        $('#deleteUserModal .username').parents('.form-group').show();
    } else {
        $('#deleteUserModal .passwordLabel').text(`Confirm with your (${user.username}) password`);
        $('#deleteUserModal .password').val('');
        $('#deleteUserModal .password').parents('.form-group').show();
    }

    $('#deleteUserModal .confirmationText').html(generateDeleteYourselfConfirmationHtml());
    $('#deleteUserForm').data(user);
    $('#deleteUserModal').modal('show');
}

function generateDeleteUserConfirmationHtml(user) {
    var confirmationText = `<p>You are about to delete the user <b>${user.username} (${user.name})</b>. All studies with this user as the only member user will be deleted too.</p>`;
    confirmationText += generateStudyList(user);
    confirmationText += "<p><b>This can't be undone.</b></p>";
    return confirmationText;
}

function generateDeleteYourselfConfirmationHtml() {
    var confirmationText = `<p>You are about to delete your user <b>${user.username} (${user.name}) from JATOS</b>. All studies with you as the only member user will be deleted too.</p>`;
    confirmationText += generateStudyList(user);
    confirmationText += "<p><b>This can't be undone.</b> Afterwards you will be signed out of JATOS.</p>";
    return confirmationText;
}

function generateStudyList(user) {
    // Only add the studies that have a user size of 1 (means this user is the only
    // member and the study would be abandoned after user deletion) .
    var studyList = "";
    $.each(user.studyList, function(index, study) {
        if (study.userSize === 1) {
            studyList += `<li>${study.title} (ID: ${study.id})</li>`;
        }
    });
    var text = "";
    if (studyList !== "") {
        text += "<p><b>This would automatically delete the following studies with all their results</b>.";
        text += "<ul>" + studyList + "</ul>";
    }
    return text;
}

$('#deleteUserForm').submit(function(event) {
    event.preventDefault();
    var user = $('#deleteUserForm').data();
    $.ajax({
        url : "@{general.common.Common.getJatosUrlBasePath()}jatos/user/" + user.username + "/delete",
        type : 'POST',
        data: $('#deleteUserForm').serialize(),
        success : function(result) {
            if (user.username === "@signedinUser.getUsername()") {
                window.location.href = '@auth.gui.routes.Signin.signin()';
            } else {
                removeAlerts("#deleteUserModal");
                removeFormErrors("#deleteUserModal");
                $('#deleteUserModal').modal('hide');
                userTable.ajax.reload(null, false);
                drawSidebar();
            }
        },
        error : function(response) {
            removeAlerts("#deleteUserModal");
            removeFormErrors("#deleteUserModal");
            showWarning("User wasn't deleted", "#deleteUserModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#deleteUserModal", response);
            } else {
                showModalError("#deleteUserModal .messages", response);
            }
        }
    });
});

</script>
