@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<table id="userTable" class="table top-buffer">
    <thead>
        <tr>
            <th data-toggle="tooltip" data-placement="bottom" title="Expand to see all studies that belong to this user">Studies <span class="glyphicon sortLogo gray-light"/></th>
            <th data-toggle="tooltip" data-placement="bottom" title="A deactivated user cannot login anymore but their studies can still be run by participants. To prevent a study from running deactivate it in the study administration.">Active</th>
            <th>Username <span class="glyphicon sortLogo gray-light"/></th>
            <th>Name <span class="glyphicon sortLogo gray-light"/></th>
            <th>Email <span class="glyphicon sortLogo gray-light"/></th>
            <th data-toggle="tooltip" data-placement="bottom" title="Last successful login of this user">Last Login <span class="glyphicon sortLogo gray-light"/></th>
            <th data-toggle="tooltip" data-placement="bottom" title="Authentication method: locally stored, LDAP, or Google">Auth <span class="glyphicon sortLogo gray-light"/></th>
            <th data-toggle="tooltip" data-placement="bottom" title="Superusers are automatically a member in EVERY study and can do what a normal study member can do including reading/deleting result data or deleting the study altogether. A Superuser has NO access to administration tasks (like creating/deleting users, changing passwords) - only admin users can do this.">Superuser</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Users with admin rights can e.g. create/change/delete other users and deactivate studies.">Admin</th>
            <th></th>
        </tr>
    </thead>
</table>

<!-- Template for active toggle button in User's row -->
<div id="activeToggleButtonDiv" style="display: none">
    <div class="tooltipWrapper" data-title="">
        <button type="button" class="btn btn-default activeButton">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>

<!-- Template for Admin toggle button in User's row -->
<div id="userAdminToggleButtonDiv" style="display: none">
    <div class="tooltipWrapper" data-title="">
        <button type="button" class="btn btn-default adminButton">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>

<!-- Template for Superuser toggle button in User's row -->
<div id="superuserToggleButtonDiv" style="display: none">
    <div class="tooltipWrapper" data-title="">
        <button type="button" class="btn btn-default superuserButton">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>

<!-- Template for button toolbar in User's row -->
<div id="userToolbarDiv" style="display: none">
    <div class="userBtnGroup btn-group" role="group">
        <div class="userEditTooltip btn-group" title="Change name or email of this user">
            <button type="button" class="userEditButton btn btn-admin">
                Edit <span class="glyphicon glyphicon-edit"></span>
            </button>
        </div>
        <div class="userChangePasswordTooltip btn-group" data-title="">
            <button type="button" class="userChangePasswordButton btn btn-admin">
                Change Password <span class="glyphicon glyphicon-lock"></span>
            </button>
        </div>
        <div class="userDeleteTooltip btn-group" role="group" data-title="">
            <button type="button" class="userDeleteButton btn btn-admin">
                Delete <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="createUserModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="createUserForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">New User</h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <div class="form-group row">
                        <label class="control-label col-xs-4" for="username">Username <sup>*</sup></label>
                        <div class="col-xs-8">
                            <input type="text" id="username" class="form-control @models.gui.NewUserModel.USERNAME" name="@models.gui.NewUserModel.USERNAME">
                            <span class="help-block">This will be the username.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-4" for="name">Name <sup>*</sup></label>
                        <div class="col-xs-8">
                            <input type="text" id="name" class="form-control @models.gui.NewUserModel.NAME" name="@models.gui.NewUserModel.NAME">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-4" for="email">Email</label>
                        <div class="col-xs-8">
                            <input type="email" id="email" class="form-control @models.gui.NewUserModel.EMAIL" name="@models.gui.NewUserModel.EMAIL">
                        </div>
                    </div>

                    <div class="form-group row" @if(!general.common.Common.isLdapAllowed()) {hidden}>
                        <label class="text-right col-xs-4">
                            LDAP <span class="glyphicon glyphicon-info-sign gray-light" title="Should this user be authenticated by your central LDAP service?"></span>
                        </label>
                        <div class="col-xs-8">
                            <input type="checkbox" class="@models.gui.NewUserModel.AUTH_BY_LDAP" data-toggle="collapse" data-target=".passwordDiv" name="@models.gui.NewUserModel.AUTH_BY_LDAP" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.NewUserModel.AUTH_BY_LDAP" value="false" />
                        </div>
                    </div>

                    <div class="form-group row passwordDiv collapse in">
                        <label class="control-label col-xs-4" for="password">Password <sup>*</sup></label>
                        <div class="col-xs-5">
                            <input type="password" id="password" class="form-control @models.gui.NewUserModel.PASSWORD" name="@models.gui.NewUserModel.PASSWORD" placeholder="Password" autocomplete="off">
                            <input type="password" class="form-control @models.gui.NewUserModel.PASSWORD_REPEAT" name="@models.gui.NewUserModel.PASSWORD_REPEAT" placeholder="Repeat password" autocomplete="off">
                        </div>
                    </div>

                    @if(!loggedInUser.isOauthGoogle()){
                    <div class="form-group row">
                        <label class="control-label col-xs-4 adminPasswordLabel" for="adminPassword">Your password <sup>*</sup></label>
                        <div class="col-xs-5">
                            <input type="password" id="adminPassword" class="form-control @models.gui.NewUserModel.ADMIN_PASSWORD" name="@models.gui.NewUserModel.ADMIN_PASSWORD" placeholder="Your password" autocomplete="off" required>
                        </div>
                    </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-admin" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>

@views.html.gui.admin.editProfile(loggedInUser)

<script @{helper.CSPNonce.attr}>

var userTable = $('#userTable').DataTable({
    "ajax": {
        "type": "GET",
        "url" : '@controllers.gui.routes.Users.allUserData()',
        "dataSrc": "",
        "error": function (err) {
            if (err.responseText) {
                showError(err.responseText);
            } else {
                showError("Cannot read users data.");
            }
        }
    },
    "dom": 'B<br>lfrtip',
    "order": [[ 2, "asc" ]],
    "pageLength": 10,
    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
    "columns": [
        {
            "class": 'details-control studyCount',
            "type": "num",
            "width": "1px",
            "data": "studyCount",
            "render": function (data, type, full, meta) {
                if (type === 'export' || type === 'sort') return data;
                return '<button type="button" class="btn btn-admin collapseStudiesData" data-toggle="tooltip"' +
                    'data-placement="bottom" title="Show/hide studies">' +
                    '<span class="badge">' + data + '</span>&nbsp;' +
                    '<span class="glyphicon glyphicon-chevron-right"></span></button>';
            }
        },
        {
            "class": "activeUser",
            "data": null,
            "width": "1px",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                if (type === 'export') return data.active;
                var buttonDiv = $('#activeToggleButtonDiv :first-child').clone();
                setActiveButton(buttonDiv, data.active, data.username);
                return buttonDiv.prop('outerHTML');
            }
        },
        {
            "class": "username",
            "data": "username"
        },
        {
            "class": "name",
            "data": "name"
        },
        {
            "class": "email",
            "data": "email",
            "render": function (data, type, full, meta) {
                // Every 50 chars add a <br>
                return (data) ? data.replace(/(.{50})/g, "$1<br>") : "none";
            }
        },
        {
            "class": "lastLogin",
            "data": "lastLogin",
            "type": "date",
        },
        {
            "class": "text-center authMethod",
            "data": "authMethod",
            "width": "1px",
            "render": function (authMethod, type, full, meta) {
                switch(authMethod) {
                    case "@{common.User.AuthMethod.DB.name()}": return "local";
                    case "@{common.User.AuthMethod.LDAP.name()}": return "LDAP";
                    case "@{common.User.AuthMethod.OAUTH_GOOGLE.name()}": return "Google";
                    default: return "unknown";
                }
            }
        },
        {
            "class": 'superuserRole',
            "visible": @general.common.Common.isUserRoleAllowSuperuser(),
            "data": null,
            "defaultContent": '',
            "width": "1px",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                var buttonDiv = $('#superuserToggleButtonDiv :first-child').clone();
                var superuserRole = $.inArray("@models.common.User.Role.SUPERUSER.name()", data.roleList) >= 0;
                if (type === 'export') return superuserRole;
                setSuperuserButton(buttonDiv, superuserRole, data.username);
                return buttonDiv.prop('outerHTML');
            }
        },
        {
            "class": 'adminRole',
            "data": null,
            "defaultContent": '',
            "width": "1px",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                var buttonDiv = $('#userAdminToggleButtonDiv :first-child').clone();
                var adminRole = $.inArray("@models.common.User.Role.ADMIN.name()", data.roleList) >= 0;
                if (type === 'export') return adminRole;
                setAdminButton(buttonDiv, adminRole, data.username);
                return buttonDiv.prop('outerHTML');
            }
        },
        {
            "class": "toolbar",
            "data": null,
            "defaultContent": '',
            "width": "1%",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                var toolbar = $('#userToolbarDiv').clone().show();
                setUserToolbar(toolbar, data.username, data.authMethod);
                return toolbar.html();
            }
        }
    ],
    "buttons": [
        {
            "text": '<span class="glyphicon glyphicon-user"></span>&nbsp;New&nbsp;User',
            attr:  {
                id: 'createUserButton'
            },
            "className": "btn btn-admin",
            "titleAttr": 'Create a new user'
        },
        {
            "extend": 'collection',
            "text": '<span class="glyphicon glyphicon-export"></span>&nbsp;Export&nbsp;<span class="caret"></span>',
            "className": "btn btn-admin",
            "titleAttr": 'Export table data',
            "buttons": [
                {
                    "extend": 'csv',
                    "text": "Usernames",
                    "filename": function() { return "jatos_usernames_" + getDateTimeYYYYMMDDHHmmss() },
                    "titleAttr": 'Export usernames',
                    "exportOptions": {
                        "columns": '.username'
                    },
                    "action": function(e, dt, node, config) {
                        $(".dt-button-collection").hide();
                        $('#waitingModal').modal('show');
                        setTimeout(function(){
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(dt.button(this), e, dt, node, config);
                            $('#waitingModal').modal('hide');
                        }, 1000);
                    }
                },
                {
                    "extend": 'csv',
                    "text": "All",
                    "filename": function() { return "jatos_user_all_" + getDateTimeYYYYMMDDHHmmss() },
                    "titleAttr": 'Export all user data',
                    "exportOptions": {
                        "columns": '.username, .name, .email, .activeUser, .studyCount, .lastLogin, .authMethod, .superuserRole, .adminRole',
                        "orthogonal": 'export'
                    },
                    "trim": true,
                    "action": function(e, dt, node, config) {
                        $(".dt-button-collection").hide();
                        $('#waitingModal').modal('show');
                        setTimeout(function(){
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(dt.button(this), e, dt, node, config);
                            $('#waitingModal').modal('hide');
                        }, 1000);
                    }
                }
            ]
        }
    ],
    "drawCallback": function( settings ) {
        setButtonWidthToMax("button.collapseStudiesData");
    }
});

$('#createUserButton').click(function(event) {
    removeAlerts("#createUserModal");
    removeFormErrors("#createUserModal");
    $('#createUserModal .@models.gui.NewUserModel.USERNAME').val('');
    $('#createUserModal .@models.gui.NewUserModel.NAME').val('');
    $('#createUserModal .@models.gui.NewUserModel.EMAIL').val('');
    $('#createUserModal .@models.gui.NewUserModel.PASSWORD').val('');
    $('#createUserModal .@models.gui.NewUserModel.PASSWORD_REPEAT').val('');
    $('#createUserModal .@models.gui.NewUserModel.AUTH_BY_LDAP').prop('checked', false);
    $('#createUserModal .passwordDiv').addClass('in');
    $('#createUserModal .adminPasswordLabel').html("Password of user @loggedInUser.getUsername()&nbsp;<sup>*</sup>");
    $('#createUserModal .@models.gui.NewUserModel.ADMIN_PASSWORD').val('');
    $('#createUserModal').modal('show');
});

$("#createUserForm").submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: "@controllers.gui.routes.Users.create()",
        data: $('#createUserForm').serialize(),
        success: function(response) {
            removeAlerts("#createUserModal");
            removeFormErrors("#createUserModal");
            $('#createUserModal').modal('hide');
            userTable.ajax.reload();
        },
        error: function(response) {
            removeAlerts("#createUserModal");
            removeFormErrors("#createUserModal");
            showWarning("User wasn't created", "#createUserModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#createUserModal", response);
            } else {
                showModalError("#createUserModal .messages", response);
            }
        }
    });
});

$('#userTable tbody').on('click', 'td.details-control', function() {
    var tr = $(this).closest('tr');
    var row = userTable.row(tr);
    if (row.child.isShown()) {
        $('div.slider', row.child()).slideUp( function () {
            row.child.hide();
            tr.removeClass('shown');
        });
    } else {
        var username = row.data().username;
        showWaitingModal();
        $.ajax({
            url : "@{general.common.Common.getPlayHttpContext()}jatos/studiesData?username=" + username,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function(result) {
            var childRow = generateStudiesChildRow(result, username);
            row.child(childRow).show();
            tr.addClass('shown');
            tr.next().addClass('info');
            $('[data-toggle="popover"]').popover(); // Activate tooltips with popper.js
            $('div.slider', row.child()).slideDown();
        }).fail(function(err) {
            showError(err.responseText);
        }).always(hideWaitingModal);
    }
    $(this).find('.glyphicon-chevron-down, .glyphicon-chevron-right')
            .toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
});

function generateStudiesChildRow(studiesData, username) {
    var childRow = $('<div class="slider" style="display: none">'
        + '<table class="table" cellpadding="10" cellspacing="0" border="0">'
        + '<tr class="info header">'
        + '<td><b>Study ID</b></td>'
        + '<td style="width:30%;"><b>Study Title</b></td>'
        + '<td><b>All Members <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="All users who are member of this study"></span></b></td>'
        + '<td><b>Study Assets Size <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Size of study assets folder"></span></b></td>'
        + '<td><b>Result Count <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Number of study results"></span></b></td>'
        + '<td><b>Result Data Size <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Size of result data: total for all study runs (average per result in brackets)"></span></b></td>'
        + '<td><b>Result File Size <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Size of uploaded result files: total for all study runs (average per result in brackets)"></span></b></td>'
        + '<td><b>Last Started <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="When was this study last started by a participant?"></span></b></td>'
        + '</tr>'
        + '</table>'
        + '</div>');

    if (studiesData.length == 0) {
        var row = $('<tr class="info"><td colspan="8">empty</td></tr>');
        childRow.find("tr").after(row);
        return childRow;
    }

    studiesData.forEach(function(studyData) {
        var trimmedStudyTitle = studyData.title.length > 80 ? studyData.title.substring(0, 77) + "..." : studyData.title;
        var memberList;
        if (studyData.members.length < 4 ) {
            memberList = studyData.members.join("<br>");
        } else {
            memberList = '<button type="button" class="btn btn-default btn-sm" data-toggle="popover" '
                    + 'data-trigger="focus" data-container="body" '
                    + 'data-html="true" data-content="' + studyData.members.join("<br>") + '">show all</a>';
        }
        var row = $('<tr class="info">'
            + '<td>' + studyData.id + '</td>'
            + '<td>' + trimmedStudyTitle + '</td>'
            + '<td>' + memberList + '</td>'
            + '<td>' + studyData.studyAssetsSize.display + '</td>'
            + '<td>' + studyData.studyResultCount + '</td>'
            + '<td>' + studyData.resultDataSize.display + '</td>'
            + '<td>' + studyData.resultFileSize.display + '</td>'
            + '<td>' + studyData.lastStarted + '</td>'
            + '</tr>');
        childRow.find("tr").last().after(row);
    });

    return childRow;
}

function setActiveButton(buttonDiv, active, username) {
    var button = $(buttonDiv).children("button:first");
    if (active) {
        button.removeClass('btn-default');
        button.addClass('btn-admin');
        button.addClass('activeUser');
        if (username == "@services.gui.UserService.ADMIN_USERNAME") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "It is not possible to deactivate user 'admin'.");
        } else if (username == "@loggedInUser.getUsername()") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "You cannot deactivate yourself. Only another user with admin rights can do it.");
        } else {
            buttonDiv.attr('title', "Click to deactivate this user");
        }
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        button.removeClass('btn-admin');
        button.removeClass('activeUser');
        button.addClass('btn-default');
        buttonDiv.attr('title', "Click to activate this user");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

function setSuperuserButton(buttonDiv, superuserRole, username) {
    var button = $(buttonDiv).children("button:first");
    if (superuserRole) {
        button.addClass('superuserRole');
        button.removeClass('btn-default');
        button.addClass('btn-admin');
        buttonDiv.attr('title', "Click to remove Superuser rights from this user");
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        button.removeClass('superuserRole');
        button.removeClass('btn-admin');
        button.addClass('btn-default');
        buttonDiv.attr('title', "Click to grant Superuser rights to this user");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

function setAdminButton(buttonDiv, adminRole, username) {
    var button = $(buttonDiv).children("button:first");
    if (adminRole) {
        button.addClass('adminRole');
        button.removeClass('btn-default');
        button.addClass('btn-admin');
        // Special treatment of admin users
        if (username == "@services.gui.UserService.ADMIN_USERNAME") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "User admin's admin rights can't be removed.");
        } else if (username == "@loggedInUser.getUsername()") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "You can't remove your own admin rights. Only another user with admin rights can do it.");
        } else {
            buttonDiv.attr('title', "Click to remove admin rights from this user");
        }
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        button.removeClass('adminRole');
        button.removeClass('btn-admin');
        button.addClass('btn-default');
        buttonDiv.attr('title', "Click to grant admin rights to this user");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

function setUserToolbar(toolbar, username, authMethod) {
    // Setup Edit button
    if (authMethod == "@{common.User.AuthMethod.OAUTH_GOOGLE.name()}") {
        toolbar.find('.userEditButton').attr('disabled', true);
        toolbar.find('.userEditButton').attr('title', "Google authenticated users can't be edited (they receive their data from Google).");
    }

    // Setup change password button
    if (username == "@services.gui.UserService.ADMIN_USERNAME") {
        if ("@loggedInUser.getUsername()" != "@services.gui.UserService.ADMIN_USERNAME") {
            toolbar.find('.userChangePasswordButton').attr('disabled', true);
            toolbar.find('.userChangePasswordTooltip').attr('title', "Only user admin can change their own password.");
        } else {
            toolbar.find('.userChangePasswordTooltip').attr('title', "Change the password of this user");
        }
    } else if (authMethod == "@{common.User.AuthMethod.DB.name()}") {
        toolbar.find('.userChangePasswordTooltip').attr('title', "Change the password of this user");
    } else {
        toolbar.find('.userChangePasswordButton').attr('disabled', true);
        toolbar.find('.userChangePasswordTooltip').attr('title', "The password of not locally stored Users (e.g. authenticated by LDAP or Google) can't be changed in JATOS");
    }

    // Setup delete user button
    if (username == "@services.gui.UserService.ADMIN_USERNAME") {
        toolbar.find('.userDeleteButton').attr('disabled', true);
        toolbar.find('.userDeleteTooltip').attr('title', "It's not possible to delete the admin user.");
    } else if (username == "@loggedInUser.getUsername()") {
        toolbar.find('.userDeleteButton').attr('disabled', true);
        toolbar.find('.userDeleteTooltip').attr('title', "You cannot delete your user here - but you can delete yourself in the user page (click on your username in the JATOS header).");
    } else {
        toolbar.find('.userDeleteTooltip').attr('title', "Delete this user from JATOS");
    }
}

$('#userTable tbody').on('click', '.activeButton', function() {
    var button = this;
    var tr = $(this).closest('tr');
    var user = userTable.row(tr).data();
    var active = $(this).hasClass('activeUser');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/user/" + user.username
                + "/properties/active?active=" + !active,
        type : "POST",
        success: function() {
            setActiveButton($(button).parent(), !active, user.username);
            user.active = !active;
            userTable.row(tr).data(user);
            userTable.draw(); // Needed for the button width
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#userTable tbody').on('click', '.superuserButton', function() {
    var button = this;
    var tr = $(this).closest('tr');
    var user = userTable.row(tr).data();
    var superuserRole = $(this).hasClass('superuserRole');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/user/" + user.username
                + "/properties/role?role=@models.common.User.Role.SUPERUSER&value=" + !superuserRole,
        type : "POST",
        success: function(superuserRole) {
            setSuperuserButton($(button).parent(), superuserRole, user.username);
            if (superuserRole) {
                user.roleList.push("@models.common.User.Role.SUPERUSER");
            } else {
                user.roleList = user.roleList.filter(item => item !== "@models.common.User.Role.SUPERUSER")
            }
            userTable.row(tr).data(user);
            userTable.draw(); // Needed for the button width
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#userTable tbody').on('click', '.adminButton', function() {
    var button = this;
    var tr = $(this).closest('tr');
    var user = userTable.row(tr).data();
    var adminRole = $(this).hasClass('adminRole');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/user/" + user.username
                + "/properties/role?role=@models.common.User.Role.ADMIN&value=" + !adminRole,
        type : "POST",
        success: function(adminRole) {
            setAdminButton($(button).parent(), adminRole, user.username);
            if (adminRole) {
                user.roleList.push("@models.common.User.Role.ADMIN");
            } else {
                user.roleList = user.roleList.filter(item => item !== "@models.common.User.Role.ADMIN")
            }
            userTable.row(tr).data(user);
            userTable.draw(); // Needed for the button width
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#userTable').on('click', '.userEditButton', function() {
    var tr = $(this).closest("tr");
    var user = userTable.row(tr).data();
    showEditProfileModal(user);
});

$('#userTable').on('click', '.userChangePasswordButton', function() {
    var tr = $(this).closest("tr");
    var user = userTable.row(tr).data();
    showChangePasswordModal(user, false);
});

$('#userTable').on('click', '.userDeleteButton', function() {
    var tr = $(this).closest("tr");
    var user = userTable.row(tr).data();
    showDeleteUserModal(user);
});

</script>

}
