logs
project/project
project/target
target
/.target
bin
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/application.secret
/study_assets_root/
/database/
.DS_Store
