@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<script type="text/javascript" src="@controllers.publix.routes.Assets.versioned("lib/jatos-publix/javascripts/jquery-3.1.1.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
	@content
</body>
</html>
