@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<style>
   p { color:#999999; font-family:Sans-Serif; font-size:50px; text-align:center; }
</style>
</head>

<body>
	@content
</body>
</html>
