@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	study: MAStudy, userList: List[MAUser], formError: String)

@admin.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Studies.submitChangedMembers(study.getId()), 'class -> "addTask") {
				@if(formError != null) {
					<p class="error">
						@formError
					</p>
				}
				
				@for(user <- userList) {
					<input type="checkbox" name="@Studies.USER" value="@user.getEmail()" 
					@if(study.hasMember(user)) {
						checked
					}
					>@user.toString()<br>
				}
				<button id="newGroup" type="submit">Update</button>
			}
			
		</div>
	</article>

}
