@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	study: MAStudy, form: Form[MAStudy])

@admin.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Studies.submitProperties(study.getId()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				@for(error <- form(Studies.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@Studies.TITLE" type="text" class="formTop" placeholder="Title" value="@form(Studies.TITLE).value">
				
				@for(error <- form(Studies.DESCRIPTION).errors) {
					<p class="error">@error.message</p>
				}
				<p>Description will be shown to participants in Mechanical Turk</p>
				<textarea name="@Studies.DESCRIPTION" class="formDescription" rows="3"
					placeholder="Description"
					>@form(Studies.DESCRIPTION).value</textarea>
				
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
