@(studyList: List[MAStudy], study: MAStudy,
	userList: List[MAUser], loggedInUser: MAUser, formError: String)

@admin.main(studyList, loggedInUser){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h3>@study.getId() @study.getTitle() > </h3>
			<h4>Update Members > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Studies.submitUpdatedMembers(study.getId()), 'class -> "addTask") {
				@if(formError != null) {
					<p class="error">
						@formError
					</p>
				}
				
				@for(user <- userList) {
					<input type="checkbox" name="@Studies.USER" value="@user.getEmail()" 
					@if(study.hasMember(user)) {
						checked
					}
					>@user.toString()<br>
				}
				<button id="newGroup" type="submit">Update</button>
			}
			
		</div>
	</article>

}
