@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	userList: List[UserModel], errorMsg: String)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="dashboard">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	
	<div class="boxRow">
		<div class="manageBox">
			<header>
				<h3>Manage</h3>
				<div class="placeHolder">X</div>
			</header>
			<div class="newStudy">New Study</div>	
			<div class="newUser">New User</div>
		</div>
		
		<div class="userBox">
			<header>
				<h3>Users</h3>
				<div class="placeHolder">X</div>
			</header>
	
			<ul>
				@for(user <- userList) {
					<li>
						<a class="name" href="@routes.Users.profile(user.getEmail())">
								@user.toString()
						</a>
					</li>
				}
				@if(userList.isEmpty()) {
					<li>none</li>
				}
			</ul>
		</div>
	</div>
	
</article>

<script type="text/javascript">

	$(".newStudy").click(function(e) {
		window.location.href = "@routes.Studies.create()";
	});
	
	$(".newUser").click(function(e) {
		window.location.href = "@routes.Users.create()";
	});

</script>
}
