@(studyList: List[StudyModel], loggedInUser: UserModel,
breadcrumbs: services.Breadcrumbs, messages: services.Messages)

@views.html.mecharg.main2(studyList, loggedInUser, breadcrumbs, messages){

<div id="toolbar" class="btn-group">
	<button id="newStudy" type="button" class="btn btn-primary">New Study</button>
	<input id="importBrowser" type="file" name="@StudyModel.STUDY" multiple style="display: none;">
	<button id="importButton" type="button" class="btn btn-primary">Import Study</button>
	<button id="newUser" type="button" class="btn btn-primary">New User</button>
</div>

<script type="text/javascript">

$('#toolbar').on('click', '#newStudy', function() {
	window.location.href = "@routes.Studies.create()";
});

$('#toolbar').on('click', '#newUser', function() {
	window.location.href = "@routes.Users.create()";
});

$('#toolbar').on('click', '#importButton', function() {
	$('#importBrowser').trigger("click");
});

$('#importBrowser').change(function() {
	var data = new FormData();
	var files = $('#importBrowser').prop('files');
	$.each(files , function(index, value){
		data.append('@StudyModel.STUDY', value);
	});
	$.ajax({
		url: '@routes.Studies.importStudy()',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		type: 'POST',
		success: function(data){
			window.location.href = "@routes.Home.home()";
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
});

</script>
}
