@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	userList: List[UserModel], workerList: List[workers.Worker], errorMsg: String)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="home">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}else{
		<p class="error" style="display:none;"></p>
	}
	
	<div class="boxRow">
		<div class="manageBox">
			<header>
				<h3>Manage</h3>
				<div class="placeHolder">X</div>
			</header>
			<div class="boxContent">
				<div class="newStudy">New Study</div>	
				<form id="importForm" action="@routes.Studies.importStudy()" method="post" enctype="multipart/form-data">
					<div id="importButton" type="file">Import Study</div>
					<input id="importBrowser" type="file" name="@StudyModel.STUDY" accept="application/json">
				</form>
				<div class="newUser">New User</div>
			</div>
		</div>
		
		<div class="userBox">
			<header>
				<h3>Users</h3>
				<div class="placeHolder">X</div>
			</header>
	
			<ul>
				@for(user <- userList) {
					<li>
						<a href="@routes.Users.profile(user.getEmail())">
								@user.toString()
						</a>
					</li>
				}
				@if(userList.isEmpty()) {
					<li>none</li>
				}
			</ul>
		</div>
		
	</div>
	
	<div class="boxRow">
		<div class="workerBox">
			<header>
				<h3>Workers</h3>
				<div class="placeHolder">X</div>
			</header>
	
			<ul>
				<li>
					<table width="100%">
						<tbody>
							<tr>
								<td valign="top" width="33%">
									<p class="workerFirstRow">ID</p>
								</td>
								<td valign="top" width="33%">
									<p class="workerFirstRow">Type</p>
								</td>
								<td valign="top" width="33%">
									<p class="workerFirstRow">Studies</p>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
			
				@for(worker <- workerList) {
					<li>
						<table width="100%">
							<tbody>
								<tr>
									<td valign="top" width="33%">
										<p class="workerSecondRow"><a href="@routes.Workers.index(worker.getId())">@worker.getId()</a></p>
									</td>
									<td valign="top" width="33%">
										<p class="workerSecondRow">@worker.getWorkerType()</p>
									</td>
									<td valign="top" width="33%">
										<p class="workerSecondRow">
											@if(!worker.getStudyResultList().isEmpty()) {
												@for(studyResult <- worker.getStudyResultList()) {
													@studyResult.getStudy().getId()
												}
											}else{
												none
											}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				}
				@if(workerList.isEmpty()) {
					<li>none</li>
				}
			</ul>
		</div>
	</div>
	
</article>

<script type="text/javascript">

	$(".newStudy").click(function(e) {
		window.location.href = "@routes.Studies.create()";
	});
	
	$(".newUser").click(function(e) {
		window.location.href = "@routes.Users.create()";
	});
	
	$("#importButton").click(function() {
		$("#importBrowser").trigger("click");
		$('#importBrowser').change(function() {
			$("#importForm").submit();
		});
	});

</script>
}
