@(studyList: List[StudyModel], user: UserModel, breadcrumbs: services.Breadcrumbs,
messages: services.Messages)(body: Html)

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-196x196.png")" sizes="196x196">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-160x160.png")" sizes="160x160">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-96x96.png")" sizes="96x96">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-16x16.png")" sizes="16x16">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-32x32.png")" sizes="32x32">
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
<link rel="stylesheet" href="@routes.Assets.at("datatables/extensions/TableTools/css/dataTables.tableTools.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileDownload.js")"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
<script src="@routes.Assets.at("datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@routes.Assets.at("datatables/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>
<script src="@routes.Assets.at("datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script>
function showSuccess(msg) {
	var html = '<div class="alert alert-success alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showInfo(msg) {
	var html = '<div class="alert alert-info alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showWarning(msg) {
	var html = '<div class="alert alert-warning alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showError(msg) {
	var html = '<div class="alert alert-danger alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}
</script>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Home.home">JATOS</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.Users.profile(user.getEmail())">@user.getName()
						(@user.getEmail())</a></li>
				<li><a href="@routes.Authentication.logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				@for(study <- studyList) {
				<li><a href="@routes.Studies.index(study.getId())">@study.getTitle()</a></li>
				<ul>
					@for(component <- study.getComponentList()) {
					<li>@component.getTitle()</li>
					}
				</ul>
				}
			</ul>
		</div>
	</div>
</div>
	
<!-- Confirmation  Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="modalTitle">Confirm</h4>
			</div>
			<div class="modal-body">
				<p id="modalText"></p>
				<p>Do you want to proceed?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button id="confirmButton" type="button" class="confirmed btn btn-primary"></button>
			</div>
		</div>
	</div>
</div>

<!-- Main -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<ol id="breadcrumbs" class="breadcrumb"></ol>
	@body
</div>

<script>
var messages = @Html(services.JsonUtils.asJson(messages));
var breadcrumbs = @Html(services.JsonUtils.asJson(breadcrumbs))['breadcrumbs'];

if (messages != null) {
	messages.successList.forEach(function(success) {
		showSuccess(success);
	});
	
	messages.infoList.forEach(function(info) {
		showInfo(info);
	});
	
	messages.warningList.forEach(function(warning) {
		showWarning(warning);
	});
	
	messages.errorList.forEach(function(error) {
		showError(error);
	});
}

@if(flash.contains("error")) {
	showError('@flash.get("error")');
}

for (var key in breadcrumbs) {
	var breadcrumb;
	if (breadcrumbs[key] === null || breadcrumbs[key] === "") {
		breadcrumb = '<li class="active">' + key + '</li>';
	} else {
		breadcrumb = '<li><a href="' + breadcrumbs[key] + '">' + key + '</a></li>';
	}
	$("#breadcrumbs").append(breadcrumb);
}

function askConfirmation(title, text, buttonText, action) {
	$('#confirmationModal').find('#modalTitle').html(title);
	$('#confirmationModal').find('#modalText').html(text);
	$('#confirmationModal').find('#confirmButton').text(buttonText);
	$('#confirmationModal').modal('show');
	$('#confirmationModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmationModal').modal('hide');
		action();
	});
}
</script>
	
</body>
</html>
