@(studyList: List[StudyModel], user: UserModel, breadcrumbs: String)(body: Html)

<html>
<head>
<title>Mechanical Argentinian</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<header>
		<a href="@routes.Dashboard.dashboard" id="logo"><span>Mechanical</span>Argentinian</a>
		<dl id="user">
			<dt>
				<a href="@routes.Users.profile(user.getEmail())">
					@user.getName() <span>(@user.getEmail())</span>
				</a>
			</dt>
			<dd>
				<a href="@routes.Authentication.logout()">Logout</a>
			</dd>
		</dl>
	</header>

	<nav>
		<h4><a href="@routes.Dashboard.dashboard()">Dashboard</a></h4>
		<ul id="studies">
			@for(study <- studyList) {
				<li>
					<a href="@routes.Studies.index(study.getId())">
						@study.getTitle() (id: @study.getId())
					</a>
					<ul>
						@for(component <- study.getComponentList()) {
							<li>
								<a href="@routes.Components.index(study.getId(), component.getId())">
									@component.getTitle() (id: @component.getId())
								</a>
							</li>
						}
					</ul>
				</li>
			}
		</ul>
	</nav>

	<section id="main">
		<header>
			<hgroup>
				<h2>@Html(breadcrumbs)</h2>
			</hgroup>
		</header>
		@body
	</section>
	
</body>
</html>
