@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, userList: List[UserModel], formError: String)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="formStudy">
	@helper.form(action = routes.Studies.submitChangedMembers(study.getId())) {
		@if(formError != null) {
			<p class="globalError">Members weren't saved</p>
			<p class="globalError">@formError</p>
		}
		
		@for(user <- userList) {
			<p class="label">
				<input class="checkbox" type="checkbox" name="@StudyModel.MEMBERS" value="@user.getEmail()" 
				@if(study.hasMember(user)) {checked}>@user.toString()
			</p>
		}
		<button class="button" type="submit">Update</button>
	}
</article>
}
