@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, userList: List[UserModel], formError: String)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Studies.submitChangedMembers(study.getId()), 'class -> "addTask") {
				@if(formError != null) {
					<p class="error">
						@formError
					</p>
				}
				
				@for(user <- userList) {
					<input type="checkbox" name="@StudyModel.MEMBERS" value="@user.getEmail()" 
					@if(study.hasMember(user)) {
						checked
					}
					>@user.toString()<br>
				}
				<button id="newGroup" type="submit">Update</button>
			}
			
		</div>
	</article>

}
