@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	study: StudyModel, form: Form[StudyModel])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Studies.submitEdited(study.getId()), 'class -> "addTask") {
				@if(form.hasErrors) {
					<p class="error">
						Study wasn't updated
					</p>
				}
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				@for(error <- form(StudyModel.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@StudyModel.TITLE" type="text" class="formTop" placeholder="Title" value="@form(StudyModel.TITLE).value">
				
				@for(error <- form(StudyModel.DESCRIPTION).errors) {
					<p class="error">@error.message</p>
				}
				<p class="formText">Description will be shown to participants in Mechanical Turk</p>
				<textarea name="@StudyModel.DESCRIPTION" class="formDescription" rows="3"
					placeholder="Description"
					>@form(StudyModel.DESCRIPTION).value</textarea>
				
				@for(error <- form(StudyModel.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@StudyModel.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(StudyModel.JSON_DATA).value</textarea>
				
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
