@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	form: Form[StudyModel], buttonName: String)(body: Html)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="formStudy">

	@helper.form(action = routes.Studies.submit()) {
		@if(form.hasErrors) {
			<p class="globalError">Study wasn't created</p>
		}
		@if(form.hasGlobalErrors) {
			<p class="globalError">
				@form.globalError.message
			</p>
		}
		
		<p class="formText">Title:</p>
		@for(error <- form(StudyModel.TITLE).errors) {
			<p class="error">@error.message</p>
		}
		<input type="text" name="@StudyModel.TITLE" placeholder="Your title" value="@form(StudyModel.TITLE).value">
		
		<p class="formText">Description:</p>
		@for(error <- form(StudyModel.DESCRIPTION).errors) {
			<p class="error">@error.message</p>
		}
		<textarea class="formDescription" name="@StudyModel.DESCRIPTION" rows="3"
			placeholder="Explain what your study is doing. This will be shown to participants in Mechanical Turk."
			>@form(StudyModel.DESCRIPTION).value</textarea>
		
		<p class="formText">Directory name:</p>
		@for(error <- form(StudyModel.DIRNAME_PREFIX).errors) {
			<p class="error">@error.message</p>
		}
		<input name="@StudyModel.DIRNAME_PREFIX" type="text" placeholder="Directory name of your study in the file system of your MechArg server" value="@form(StudyModel.DIRNAME_PREFIX).value">
		
		<p class="formText">JSON data:</p>
		<textarea class="formJsonData" name="@StudyModel.JSON_DATA"
			placeholder="Put your JSON string here"
		>@form(StudyModel.JSON_DATA).value</textarea>
		
		<button type="submit">@buttonName</button>
	}
</article>

}
