@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	errorMsg: String, study: StudyModel, workerMap: Map[Long,String])

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="study">
	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}else{
		<p class="error" style="display:none;"></p>
	}
	
	<div class="boxRow">
		<div class="studyBox">
			<header>
				<h3>Manage Study
					<span id="lockedStudySign" @if(!study.isLocked()){style="display: none;"}>(Locked)</span>
				</h3>
				<div class="placeHolder">X</div>
			</header>
			<div class="boxContent">
				<div class="showStudy">Show Whole Study</div>	
				<div class="editStudy">Edit</div>
				<div class="cloneStudy">Clone</div>
				<div class="export">Export</div>
				<div class="results">Results</div>
				<div class="lockStudy">@if(study.isLocked()){Unlock}else{Lock}</div>
				<div class="showMTurkSourceCode">MT Source Code</div>
				<div class="removeStudy">Delete</div>
			</div>
		</div>
	
		<div class="membersBox">
			<header>
				<h3>Members</h3>
				<div class="updateMembers">Change</div>
			</header>
			<ul>
				@for(member <- study.getMemberList()) {
					<li>
						<a class="member" href="@routes.Users.profile(member.getEmail())"> @member.getName() (@member.getEmail())</a>
					</li>
				}
			</ul>
		</div>
	</div>
	
	<div class="boxRow">
		<div class="componentsBox">
			<header>
				<h3>Components</h3>
				<div class="addComponent">+</div>
				<form id="importForm" action="@routes.Components.importComponent(study.getId())" method="post" enctype="multipart/form-data">
					<div id="importButton" type="file">Import</div>
					<input id="importBrowser" type="file" name="@ComponentModel.COMPONENT" multiple>
				</form>
			</header>
			
			<table width="100%">
				<tbody>
					@for((component, index) <- study.getComponentList().zipWithIndex) {
						<tr>
							<td class="arrows">
								<div class="upArrow" component-id="@component.getId()"><p>&#9650;</p></div>
								<div class="downArrow" component-id="@component.getId()"><p>&#9660;</p></div>
							</td>
							<td>
								<input class="active" component-id="@component.getId()" type="checkbox" name="active" @if(component.isActive()) {checked}/>
							</td>
							<td class="position">
								@{index + 1}.
							</td>
							<td class="componentTitle" width="100%">
								<a href="@routes.Components.index(study.getId(), component.getId())">
										@component.getTitle() (ID:&nbsp;@component.getId())
								</a>
							</td>
							<td>
								<div class="showComponent" component-id="@component.getId()">Show</div>
							</td>
							<td>
								<div class="componentResults" component-id="@component.getId()">Results&nbsp;(@results.ComponentResult.findAllByComponent(component).size())</div>
							</td>
							<td>
								<div class="removeComponent" component-id="@component.getId()" component-title="@component.getTitle()"></div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		
		<div class="workerBox">
			<header>
				<h3>Workers</h3>
				<div class="placeHolder">X</div>
			</header>
	
			<ul>
				<li>
					<table width="100%">
						<tbody>
							<tr>
								<td valign="top" width="33%">
									<p class="workerFirstRow">ID</p>
								</td>
								<td valign="top" width="33%">
									<p class="workerFirstRow">Type</p>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
			
				@for(workerId <- workerMap.keySet()) {
					<li class="worker">
						<table width="100%">
							<tbody>
								<tr>
									<td valign="top" width="33%">
										<p class="workerSecondRow">
											<a href="@routes.Workers.index(workerId)">@workerId</a>
										</p>
									</td>
									<td valign="top" width="33%">
										<p class="workerSecondRow">@workerMap.get(workerId)</p>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				}
				@if(workerMap.isEmpty()) {
					<li>none</li>
				}
			</ul>
		</div>
	</div>
	
</article>

<script type="text/javascript">

	$(".upArrow").click(function(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		ajaxChangeComponentOrder(componentId, "up", componentElement);
	});
	
	$(".downArrow").click(function(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		ajaxChangeComponentOrder(componentId, "down", componentElement);
	});
	
	function ajaxChangeComponentOrder(componentId, direction, componentElement) {
		var ajax = $.ajax({
			url: "/mecharg/@study.getId()/changeComponentOrder"
				+ "?componentId=" + componentId + "&direction=" + direction,
			type: "POST",
			success: function(response) {
				var trElement = componentElement.parent().parent();
				if (direction == "up") {
					swapTrContent(trElement, trElement.prev());
					trElement.insertBefore(trElement.prev());
				}
				if (direction == "down") {
					swapTrContent(trElement, trElement.next());
					trElement.insertAfter(trElement.next());
				}
			},
			error: function(err) {
				$(".error").text(err.responseText).show();
			}
		});
	}
	
	function swapTrContent(tr1, tr2) {
		var td1 = tr1.find(".position");
		var td2 = tr2.find(".position");
		var tmpContent = td1.html();
		td1.text(td2.html());
		td2.text(tmpContent);
	}
	
	$(".active").click(function(e) {
		var componentElement = $(e.target);
		var componentId = componentElement.attr("component-id");
		var active = componentElement.prop('checked');
		ajaxChangeActive(componentId, active, componentElement);
	});
	
	function ajaxChangeActive(componentId, active, componentElement) {
		var ajax = $.ajax({
			url: "/mecharg/@study.getId()/" + componentId + "/changeProperty?active=" + active,
			type: "POST",
			error: function(err) {
				$(".error").text(err.responseText).show();
				componentElement.prop("checked", !componentElement.is(":checked"));
			}
		});
	}
	
	$(".lockStudy").click(function(e) {
		ajaxSwapLock();
	});
	
	function ajaxSwapLock() {
		var ajax = $.ajax({
			url: "/mecharg/@study.getId()/swapLock",
			type: "POST",
			success: function(response) {
				if (response == 'true') {
					$(".lockStudy").text("Unlock");
					$("#lockedStudySign").show();
				} else {
					$(".lockStudy").text("Lock");
					$("#lockedStudySign").hide();
				}
			},
			error: function(err) {
				$(".error").text(err.responseText).show();
			}
		});
	}
	
	$(".showStudy").click(function(e) {
		window.location.href = "@routes.Studies.showStudy(study.getId())";
	});
	
	$(".cloneStudy").click(function(e) {
		window.location.href = "@routes.Studies.cloneStudy(study.getId())";
	});
	
	$(".export").click(function(e) {
		window.location.href = "@routes.Studies.exportStudy(study.getId())";
	});
	
	$(".results").click(function(e) {
		window.location.href = "@routes.StudyResults.index(study.getId())";
	});

	$(".editStudy").click(function(e) {
		window.location.href = "@routes.Studies.edit(study.getId())";
	});
	
	$(".updateMembers").click(function(e) {
		window.location.href = "@routes.Studies.changeMembers(study.getId())";
	});
	
	$(".showMTurkSourceCode").click(function(e) {
		window.location.href = "@routes.Studies.showMTurkSourceCode(study.getId())";
	});
	
	$(".removeStudy").click(function(e) {
		var conf = confirm('Are you sure you want to delete study '
				+ '\"@study.getTitle()\" (ID: @study.getId()) '
				+ 'with all it\'s components and results?');
		if (conf == false) {
			return;
		}
		conf = confirm("If you confirm, this study INCLUDING all COMPONENTS and their " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : '@routes.Studies.remove(study.getId())',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Home.home()');
				},
				error : function(err) {
					$(".error").text(err.responseText).show();
				}
			});
		}
	});
	
	$(".addComponent").click(function(e) {
		window.location.href = "/mecharg/@study.getId/createComponent";
	});
	
	$(".showComponent").click(function(e) {
		var componentId = getComponentId(e);
		window.location.href = "/mecharg/@study.getId/"+ componentId + "/show";
	});
	
	$(".componentResults").click(function(e) {
		var componentId = getComponentId(e);
		window.location.href = "/mecharg/@study.getId/"+ componentId + "/results";
	});
	
	$(".removeComponent").click(function(e) {
		var componentElement = $(e.target);
		var componentId = componentElement.attr("component-id");
		var componentTitle = componentElement.attr("component-title");
		var conf = confirm("Are you sure you want to delete component \""
				+ componentTitle + "\" (ID: "+ componentId + ") with all it's results?");
		if (conf == false) {
			return
		}
		conf = confirm("If you confirm, this component INCLUDING all it's " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : "/mecharg/@study.getId/"+ componentId + "/remove",
				type : 'DELETE',
				success : function(result) {
					componentElement.parent().parent().remove();
				},
				error : function(err) {
					$(".error").text(err.responseText).show();
				}
			});
		}
	});
	
	function getComponentId(e) {
		var componentElement = $(e.target);
		var componentId = componentElement.attr("component-id");
		return componentId;
	}
	
	function getComponentTitle(e) {
		var componentElement = $(e.target);
		var componentTitle = componentElement.attr("component-title");
		return componentTitle;
	}
	
	$("#importButton").click(function() {
		$("#importBrowser").trigger("click");
		$('#importBrowser').change(function() {
			$("#importForm").submit();
		});
	});
	
</script>

}
