@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
	errorMsg: String, study: StudyModel)

@views.html.mecharg.main(studyList, loggedInUser, breadcrumbs){

<article class="study">
	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	
	<div class="boxRow">
		<div class="studyBox">
			<header>
				<h3>Manage Study</h3>
				<div class="placeHolder">X</div>
			</header>
			<div class="tryStudy">Show Whole Study</div>	
			<div class="updateStudy">Properties</div>
			<div class="showMTurkSourceCode">MT Source Code</div>
			<div class="removeStudy">Delete</div>
		</div>
	
		<div class="membersBox">
			<header>
				<h3>Members</h3>
				<div class="updateMembers">Change Members</div>
			</header>
			<ul>
				@for(member <- study.getMemberList()) {
					<li>
						<a class="member" href="@routes.Users.profile(member.getEmail())"> @member.getName() (@member.getEmail())</a>
					</li>
				}
			</ul>
		</div>
	</div>
	
	<div class="componentsBox">
		<header>
			<h3>Components</h3>
			<div class="addComponent">+</div>
		</header>

		<ul>
			@for(component <- study.getComponentList()) {
				<li component-id="@component.getId()" component-title="@component.getTitle()">
					<div class="arrows">
						<div class="upArrow" component-id="@component.getId()"><p>&#9650;</p></div>
						<div class="downArrow" component-id="@component.getId()"><p>&#9660;</p></div>
					</div>
					<a class="name"
							href="@routes.Components.index(study.getId(), component.getId())">
							@component.getTitle() (id: @component.getId())
					</a>
					<div class="tryComponent">Show</div>
					<div class="showResults">Results (@results.ComponentResult.findAllByComponent(component).size())</div>
					<div class="removeComponent">Remove</div>
				</li>
			}
		</ul>
	</div>
	
</article>

<script type="text/javascript">

	$(".upArrow").click(function(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		ajaxChangeComponentOrder(componentId, "up", componentElement);
	});
	
	$(".downArrow").click(function(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		ajaxChangeComponentOrder(componentId, "down", componentElement);
	});
	
	function ajaxChangeComponentOrder(componentId, direction, componentElement) {
		var ajax = $.ajax({
			url: "/mecharg/@study.getId()/changeComponentOrder"
				+ "?componentId=" + componentId + "&direction=" + direction,
			type: "POST",
			success: function(response) {
				var liElement = componentElement.parent().parent();
				if (direction == "up") {
					liElement.insertBefore(liElement.prev());
				}
				if (direction == "down") {
					liElement.insertAfter(liElement.next());
				}
			},
			error: function(err) {
				alert(err.responseText);
			}
		});
	}
	
	$(".tryStudy").click(function(e) {
		window.location.href = "@routes.Studies.tryStudy(study.getId())";
	});

	$(".updateStudy").click(function(e) {
		window.location.href = "@routes.Studies.properties(study.getId())";
	});
	
	$(".updateMembers").click(function(e) {
		window.location.href = "@routes.Studies.changeMembers(study.getId())";
	});
	
	$(".showMTurkSourceCode").click(function(e) {
		window.location.href = "@routes.Studies.showMTurkSourceCode(study.getId())";
	});
	
	$(".removeStudy").click(function(e) {
		var conf = confirm("Are you sure you want to delete study "
				+ "\"@Html(study.getTitle())\" (id: @study.getId()) " +
				"with all it's components and results?");
		if (conf == false) {
			return;
		}
		conf = confirm("If you confirm, this study INCLUDING all COMPONENTS and their " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : '@routes.Studies.remove(study.getId())',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Dashboard.dashboard()');
				},
				error : function(err) {
					alert(err.responseText);
				}
			});
		}
	});
	
	$(".addComponent").click(function(e) {
		window.location.href = "/mecharg/@study.getId/createComponent";
	});
	
	$(".tryComponent").click(function(e) {
		var componentId = getComponentId(e);
		window.location.href = "/mecharg/@study.getId/"+ componentId + "/try";
	});
	
	$(".showResults").click(function(e) {
		var componentId = getComponentId(e);
		window.location.href = "/mecharg/@study.getId/"+ componentId + "/";
	});
	
	$(".removeComponent").click(function(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		var componentTitle = componentElement.attr("component-title");
		var conf = confirm("Are you sure you want to delete component \""
				+ componentTitle + "\" (id: "+ componentId + ") with all it's results?");
		if (conf == false) {
			return
		}
		conf = confirm("If you confirm, this component INCLUDING all it's " +
				"RESULTS will be unrecoverably deleted!");
		if (conf == true) {
			$.ajax({
				url : "/mecharg/@study.getId/"+ componentId + "/remove",
				type : 'DELETE',
				success : function(result) {
					componentElement.remove();
				},
				error : function(err) {
					alert(err.responseText);
				}
			});
		}
	});
	
	function getComponentId(e) {
		var componentElement = $(e.target).parent();
		var componentId = componentElement.attr("component-id");
		return componentId;
	}
	
	function getComponentTitle(e) {
		var componentElement = $(e.target).parent();
		var componentTitle = componentElement.attr("component-title");
		return componentTitle;
	}
	
</script>

}
