@(experimentList: List[MAExperiment], experiment: MAExperiment,
	error: String, user: MAUser, component: MAComponent)

@main(experimentList, error, user){

<header>
	<hgroup>
		<h2>@experiment.id "@experiment.title" > </h2>
		<h3>@component.id "@component.title" > </h3>
	</hgroup>
</header>

<article class="tasks" id="tasks">
	<input id="newGroup" type="button" onClick="updateComponent()"
		value="Update">
	<input id="newGroup" type="button" onClick="deleteComponent()"
		value="Delete">
	<div class="folder" data-folder-id="@component.id">
		<header>
			@if(component.resultList.isEmpty()) {
				<h3>No results so far</h3>
			} else {
				<h3>Results so far</h3>
			}
		</header>

		<ul class="list">
			@for(result <- component.resultList) {
				<li data-task-id="@component.id">@result.id (@result.date, @result.result)</li>
			}
		</ul>
	</div>
</article>

<script type="text/javascript">
	function updateComponent() {
		window.location.href = "@routes.Admin.updateComponent(
				experiment.id, component.id)";
	}

	function deleteComponent() {
		var conf = confirm("Are you sure you want to delete component "
				+ "@component.id" + "\u00a0" + "\"@Html(component.title)\"?");
		if (conf == true) {
			$.ajax({
				url : '@routes.Admin.deleteComponent(
						experiment.id, component.id)',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Admin.index()');
				},
				error : function(err) {
					alert(err.responseText);
				}
			});
		}
	}
</script>

}
