@(experimentList: List[MAExperiment], experiment: MAExperiment, error: String,
	user: MAUser, form: Form[MAComponent])

@main(experimentList, error, user){

	<header>
		<hgroup>
			<h2>@experiment.id "@experiment.title" > </h2>
			<h4>New Component > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Admin.submitComponent(experiment.id), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				<input type="text" name="title" placeholder="Title" value="@form("title").value">
				<input type="text" name="view" placeholder="View" value="@form("view").value">
				<textarea name="data" placeholder="Data - put your JSON string here.">@form("data").value</textarea>
				<button id="newGroup" type="submit">Create</button>
			}
		</div>
	</article>

}
