@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	userList: List[MAUser], errorMsg: String)

@main(studyList, loggedInUser, breadcrumbs){

<article class="tasks" id="tasks">
	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	
	<div class="folder">
		<header>
			<h3>Manage</h3>
		</header>
		<a id="newGroup" href="@routes.Studies.create()">New Study</a>
		<a id="newGroup" href="@routes.Users.create()">New User</a>
	</div>
	
	
	<div class="folder">
		<header>
			@if(userList.isEmpty()) {
				<h3>No user so far</h3>
			} else {
				<h3>Users</h3>
			}
		</header>
		
		<ul id="components">
			@for(user <- userList) {
				<li data-task-id="@user.getEmail()">
						<a class="name" href="@routes.Users.profile(user.getEmail())">
								@user.toString()
						</a>
				</li>
			}
		</ul>
	</div>
	
</article>
}
