@(experimentList: List[MAExperiment], userList: List[MAUser], error: String,
	user: MAUser)

@main(experimentList, error, user){

<header>
	<hgroup>
		<h2>/ > </h2>
	</hgroup>
</header>


<article class="tasks" id="tasks">
	@if(error != null) {
		<p>@error</p>
	}
	<a id="newGroup" href="@routes.Experiments.create()">Add experiment</a>
	<a id="newGroup" href="@routes.Users.create()">Add user</a>
	
	<div class="folder">
		<header>
			@if(userList.isEmpty()) {
				<h3>No user so far</h3>
			} else {
				<h3>Users</h3>
			}
		</header>
		
		<ul class="list">
			@for(user <- userList) {
				<li data-task-id="@user.email">
						<a class="name" href="@routes.Users.get(user.email)">
								@user.toString()
						</a>
				</li>
			}
		</ul>
	</div>
	
</article>
}
