@(experimentList: List[MAExperiment], error: String)

@main("Mechanical Argentinian - Admin") {

	@if(error != null) {
		<p class="error">
			@error
		</p>
	}
	
	<a href="/admin/experiment/create">Create new experiment</a>

	<h1>Experiments so far:</h1>

	<ul>
	@for(experiment <- experimentList) {
		<li>@experiment.id "@experiment.title" <a href="/admin/experiment/@experiment.id">(@experiment.resultList.size() results)</a> - <a href="/admin/experiment/@experiment.id/change">change</a></li>
	}
	</ul>

}
