@(experimentList: List[MAExperiment], userList: List[MAUser], errorMsg: String,
	user: MAUser)

@main(experimentList, user){

<header>
	<hgroup>
		<h2>/ > </h2>
	</hgroup>
</header>


<article class="tasks" id="tasks">
	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	<a id="newGroup" href="@routes.Experiments.create()">Add experiment</a>
	<a id="newGroup" href="@routes.Users.create()">Add user</a>
	
	<div class="folder">
		<header>
			@if(userList.isEmpty()) {
				<h3>No user so far</h3>
			} else {
				<h3>Users</h3>
			}
		</header>
		
		<ul id="components">
			@for(user <- userList) {
				<li data-task-id="@user.getEmail()">
						<a class="name" href="@routes.Users.index(user.getEmail())">
								@user.toString()
						</a>
				</li>
			}
		</ul>
	</div>
	
</article>
}
