@(form: Form[Admin.Login])

<html>
    <head>
        <title>Mechanical Argentinian</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        
        <header>
            <a href="@routes.Admin.index" id="logo"><span>Mechanical</span>Argentinian</a>
        </header>
        
        @helper.form(routes.Admin.authenticate) {
            
            <h1>Sign in</h1>
            
            @if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
            
        }

    </body>
</html>