@(componentList: List[MAComponent], error: String, user: MAUser)(body: Html)

<html>
<head>
<title>Mechanical Argentinian</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public", "images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">
<script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/jquery-1.10.2.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<header>
		<a href="@routes.Admin.index" id="logo"><span>Mechanical</span>Argentinian</a>
		<dl id="user">
			<dt>
				@user.name <span>(@user.email)</span>
			</dt>
			<dd>
				<a href="@routes.Admin.logout()">Logout</a>
			</dd>
		</dl>
	</header>

	<nav>
		<h4 class="dashboard">
			<a href="@routes.Admin.index()">Dashboard</a>
		</h4>
		<a id="newGroup" href="@routes.Admin.createComponent()">New
			component</a>
		<ul id="projects">
			@for(component <- componentList) {
				<li data-task-id="@component.id"><a class="name"
					href="@routes.Admin.component(component.id)">@component.id
						"@component.title" (@component.resultList.size())</a></li>
			}
		</ul>
	</nav>

	<section id="main">@body</section>
	
</body>
</html>
