@(experimentList: List[MAExperiment], user: MAUser)(body: Html)

<html>
<head>
<title>Mechanical Argentinian</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public", "images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">
<script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/jquery-1.10.2.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<header>
		<a href="@routes.Admin.index" id="logo"><span>Mechanical</span>Argentinian</a>
		<dl id="user">
			<dt>
				@user.name <span>(@user.email)</span>
			</dt>
			<dd>
				<a href="@routes.Admin.logout()">Logout</a>
			</dd>
		</dl>
	</header>

	<nav>
		<h4 class="dashboard"><a href="/admin">Dashboard</a></h4>
		<ul id="projects">
			@for(experiment <- experimentList) {
				<li data-group="@experiment.getId()">
					<a class="name" href="@routes.Experiments.index(experiment.getId())">
						@experiment.getId() @experiment.getTitle()
					</a>
					<ul id="components">
						@for(component <- experiment.getComponentList()) {
							<li data-project="@component.getId()">
								<a class="name" href="@routes.Components.index(experiment.getId(), component.getId())">
									@component.getId() @component.getTitle() (@component.getResultList().size())
								</a>
							</li>
						}
					</ul>
				</li>
			}
		</ul>
	</nav>

	<section id="main">@body</section>
	
</body>
</html>
