@(loggedInUser: common.User, breadcrumbs: String, batchId: Long,
study: common.Study, baseUrl: String, studyResultCountsPerWorker: java.util.Map[String, Integer])

@views.html.gui.main(loggedInUser, breadcrumbs){

<button id="batchPropertiesButton" type="button" class="btn btn-primary">Properties</button>

<div class="panel panel-default" id="jatosWorkerPanel">
	<div class="panel-heading">
		<a href="#"><img alt="+" src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/details_open.png")" style="visibility: hidden"></a>
		<b class="panel-title">@common.workers.JatosWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-baby-formula jatosWorker" aria-hidden="true"></b>
		<button type="button" class="btn btn-primary resultButton"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows study results only of @common.workers.JatosWorker.UI_WORKER_TYPE worker">
			Results <span class="resultsBadge badge">@studyResultCountsPerWorker.get(common.workers.JatosWorker.WORKER_TYPE)</span>
		</button>
	</div>
	<div class="list-group workerList">
	</div>
</div>

<div class="panel panel-default" id="generalSingleWorkerPanel">
	<div class="panel-heading">
		<a href="#"><img alt="+" src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/details_open.png")"></a>
		<b class="panel-title">@common.workers.GeneralSingleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-glass generalSingleWorker" aria-hidden="true"></b>
		<button type="button" class="btn btn-primary linkButton">Link</button>
		<button type="button" class="btn btn-primary resultButton"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows study results only of @common.workers.GeneralSingleWorker.UI_WORKER_TYPE worker">
			Results <span class="resultsBadge badge">@studyResultCountsPerWorker.get(common.workers.GeneralSingleWorker.WORKER_TYPE)</span>
		</button>
	</div>
	<div class="list-group workerList">
	</div>
</div>

<div class="panel panel-default" id="personalSingleWorkerPanel">
	<div class="panel-heading">
		<a href="#"><img alt="+" src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/details_open.png")"></a>
		<b class="panel-title">@common.workers.PersonalSingleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-leaf personalSingleWorker" aria-hidden="true"></b>
		<button type="button" class="btn btn-primary addButton">Add</button>
		<button type="button" class="btn btn-primary resultButton"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows study results only of @common.workers.PersonalSingleWorker.UI_WORKER_TYPE worker">
			Results <span class="resultsBadge badge">@studyResultCountsPerWorker.get(common.workers.PersonalSingleWorker.WORKER_TYPE)</span>
		</button>
	</div>
	<div class="list-group workerList">
	</div>
</div>

<div class="panel panel-default" id="personalMultipleWorkerPanel">
	<div class="panel-heading">
		<a href="#"><img alt="+" src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/details_open.png")"></a>
		<b class="panel-title">@common.workers.PersonalMultipleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-tree-deciduous personalMultipleWorker" aria-hidden="true"></b>
		<button type="button" class="btn btn-primary addButton">Add</button>
		<button type="button" class="btn btn-primary resultButton"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows study results only of @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE worker">
			Results <span class="resultsBadge badge">@studyResultCountsPerWorker.get(common.workers.PersonalMultipleWorker.WORKER_TYPE)</span>
		</button>
	</div>
	<div class="list-group workerList">
	</div>
</div>

<div class="panel panel-default" id="mtWorkerPanel">
	<div class="panel-heading">
		<a href="#"><img alt="+" src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/details_open.png")"></a>
		<b class="panel-title">@common.workers.MTWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-knight mtWorker" aria-hidden="true"></b>
		<button id="mtWorkerSourceCode" type="button" class="btn btn-primary"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows code that has to be copied into the 'source' field of your study's design layout in Mechanical Turk">
			Source Code
		</button>
		<button type="button" class="btn btn-primary resultButton"
			data-toggle="tooltip" data-placement="bottom"
			title="Shows study results only of @common.workers.MTWorker.UI_WORKER_TYPE worker">
			Results <span class="badge">@studyResultCountsPerWorker.get(common.workers.MTWorker.WORKER_TYPE)</span>
		</button>
	</div>
	<div class="list-group workerList">
	</div>
</div>

<!-- Confirmation Modal - run Personal Single or General Single or Personal Multiple -->
<div class="modal fade" id="confirmModalRun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Create run</h4>
			</div>
			<div class="modal-body">
				<p class="modalText">You're about to create a worker.</p>
				<div class="input-group">
					<input type="text" class="comment form-control"
						placeholder="Comment">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</div>

@views.html.gui.study.batchPropertiesModal(batchId, study)

<script>
loadWorkers();

function loadWorkers() {
	$.ajax({
		type: 'GET',
		url: "@controllers.gui.routes.Batches.workers(study.getId(), batchId)",
		success: function(response) {
			fillWorkers(response);
		},
		error: function(response) {
			showError("Couldn't load workers.");
		}
	});
}

function fillWorkers(workerList) {
	$('#jatosWorkerPanel .workerList').empty();
	$('#generalSingleWorkerPanel .workerList').empty();
	$('#personalSingleWorkerPanel .workerList').empty();
	$('#personalMultipleWorkerPanel .workerList').empty();
	$('#mtWorkerPanel .workerList').empty();
	$.each(workerList, function(index, worker) {
		if (worker.workerType == '@common.workers.JatosWorker.WORKER_TYPE') {
			$("#jatosWorkerPanel .workerList").append('<li  class="list-group-item">' + worker.id + '</li>');
		} else if (worker.workerType == '@common.workers.GeneralSingleWorker.WORKER_TYPE') {
			$("#generalSingleWorkerPanel .workerList").append('<li  class="list-group-item">' + worker.id + '</li>');
		} else if (worker.workerType == '@common.workers.PersonalSingleWorker.WORKER_TYPE') {
			$("#personalSingleWorkerPanel .workerList").append('<li  class="list-group-item">' + worker.id + '</li>');
		} else if (worker.workerType == '@common.workers.PersonalMultipleWorker.WORKER_TYPE') {
			$("#personalMultipleWorkerPanel .workerList").append('<li  class="list-group-item">' + worker.id + '</li>');
		} else if (worker.workerType == '@common.workers.MTWorker.WORKER_TYPE') {
			$("#mtWorkerPanel .workerList").append('<li  class="list-group-item">' + worker.id + '</li>');
		}
	});
}

$('#personalSingleWorkerPanel').on('click', '.addButton', function() {
	$('#confirmModalRun').find('.modal-title').html("Create Personal Single Run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a worker for a Personal Single Run.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalSingleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalSingleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Personal Single Run";
				var preText = "Use this link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
					window.location.href = result;
				});
				loadWorkers();
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#personalMultipleWorkerPanel').on('click', '.addButton', function() {
	$('#confirmModalRun').find('.modal-title').html("Create Personal Multiple Run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a Personal Multiple Worker. Use a comment to distinguish this worker from others.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalMultipleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalMultipleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Personal Multiple Run";
				var preText = "Use this link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
					window.location.href = result;
				});
				loadWorkers();
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#generalSingleWorkerPanel').on('click', '.linkButton', function() {
	var title = "General Single Run";
	var preText = "Use this link";
	var url = "@baseUrl" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "generalSingle";
	var html = "<p>" + url + "</p>"; 
	var postText = "or press \"Run\" to start one right away. Remember to allow General Single Workers in your study's properties.";
	askConfirmation(title, preText, html, postText, 'Run', function() {
		window.location.href = url;
	});
});

</script>

}
