@(loggedInUser: common.User, breadcrumbs: String, study: common.Study,
userList: List[common.User])

@views.html.gui.main(loggedInUser, breadcrumbs){

<script type="text/javascript">
var studyId = @study.getId();
</script>

@helper.form(action = controllers.gui.routes.Studies.submitChangedUsers(study.getId()), 'class -> "form-horizontal") {
@for(user <- userList) {
<div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
		<label class="checkbox-inline">
			<input type="checkbox" name="@common.Study.USERS" value="@user.getEmail()"
					@if(study.hasUser(user)) {checked}
					>@user.toString()
		</label>
	</div>
</div>
}
<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<input type="submit"  class="btn btn-primary" value="Update">
	</div>
</div>
}

}
