@(loggedInUser: common.User, breadcrumbs: String, submitAction: play.api.mvc.Call,
form: Form[models.gui.StudyProperties], studyIsLocked: Boolean)

@views.html.gui.main(loggedInUser, breadcrumbs){

@helper.form(action = submitAction, 'class -> "form-horizontal", 'role -> "form") {

<div class="form-group">
	<div class="col-xs-2"><p class="text-right"><strong>ID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Unique within this JATOS instance" aria-hidden="true"></span></p></div>
	<div class="col-xs-10">
		<p>@if(form(models.gui.StudyProperties.STUDY_ID).value != null) {@form(models.gui.StudyProperties.STUDY_ID).value} else {-}</p>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-2"><p class="text-right"><strong>UUID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Universally unique identifier - used to keep track of studies between different JATOS instances" aria-hidden="true"></span></p></div>
	<div class="col-xs-10">
		<p>@if(form(models.gui.StudyProperties.UUID).value != null) {@form(models.gui.StudyProperties.UUID).value} else {-}</p>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="title">Title</label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="title" name="@models.gui.StudyProperties.TITLE" value="@form(models.gui.StudyProperties.TITLE).value" placeholder="Your title">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="description">Description&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Explain what your study is doing. In case you want to use the Mechanical Turk, this description will be shown to the participants." aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<textarea rows="3" class="form-control" id="description" name="@models.gui.StudyProperties.DESCRIPTION" placeholder="Your description">@form(models.gui.StudyProperties.DESCRIPTION).value</textarea>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="dirName">Study assets' directory name&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Enter the name of the directory of your study assets in the file system of the JATOS server. All HTML, JavaScript, CSS, and images goes in there." aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="dirName" name="@models.gui.StudyProperties.DIRNAME" value="@form(models.gui.StudyProperties.DIRNAME).value" placeholder="Study assets' directory name">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="comments">Comments&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Something you want to share or just don't want to forget?" aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<textarea rows="3" class="form-control" id="comments" name="@models.gui.StudyProperties.COMMENTS" placeholder="Your comments">@form(models.gui.StudyProperties.COMMENTS).value</textarea>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="jsonData">JSON input&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Your component scripts can ask for this input data. If you need a larger field you can increase the size with the button in the bottom-right corner. You can also leave it empty if not needed." aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<textarea rows="6" class="form-control" id="jsonData" name="@models.gui.StudyProperties.JSON_DATA" placeholder="Put your JSON string here">@utils.common.JsonUtils.makePretty(form(models.gui.StudyProperties.JSON_DATA).value)</textarea>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<label class="checkbox-inline">
			<input type="checkbox" name="@models.gui.StudyProperties.GROUP_STUDY" value="true"
					@if("true".equals(form(models.gui.StudyProperties.GROUP_STUDY).value)) {checked="checked"}
					>Group study <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Is this a group study?" aria-hidden="true"></span>
			<!-- We need a hidden input field.
			http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
			<input type="hidden" name="@models.gui.StudyProperties.GROUP_STUDY" value="false" />
		</label>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<input type="submit" class="btn btn-primary" value="Save">
	</div>
</div>

}

<script>

@if(form(models.gui.StudyProperties.STUDY_ID).value != null) {
	var studyId = @form(models.gui.StudyProperties.STUDY_ID).value;
}

@if(form.hasErrors) {
	showWarning("@general.common.MessagesStrings.STUDY_WASNT_SAVED");
}
@for(error <- form.globalErrors) {
	showError("@error.message");
}
@for(error <- form(models.gui.StudyProperties.TITLE).errors) {
	$('#title').closest(".form-group").addClass("has-error");
	$('#title').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(models.gui.StudyProperties.DESCRIPTION).errors) {
	$('#description').closest(".form-group").addClass("has-error");
	$('#description').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(models.gui.StudyProperties.DIRNAME).errors) {
	$('#dirName').closest(".form-group").addClass("has-error");
	$('#dirName').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(models.gui.StudyProperties.COMMENTS).errors) {
	$('#comments').closest(".form-group").addClass("has-error");
	$('#comments').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(models.gui.StudyProperties.JSON_DATA).errors) {
	$('#jsonData').closest(".form-group").addClass("has-error");
	$('#jsonData').after('<span class="help-block">@error.message</span>');
}
@if(studyIsLocked) {
	$(':input').attr("disabled", true);
}
</script>

}
