@(study: common.Study)
@playHttpContext = @{play.Play.application.configuration.getString("play.http.context")}

<!-- Study Log Modal -->
<div class="modal fade" id="studyLogModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Study Log</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-study active">
                        <input id="studyLogPretty" type="radio" name="options" autocomplete="off" checked>Pretty
                    </label>
                    <label class="btn btn-study">
                        <input id="studyLogRaw" type="radio" name="options" autocomplete="off">Raw
                    </label>
                </div>
                <button id="studyLogDownload" type="button" class="btn btn-study" data-toggle="tooltip"
                        data-placement="bottom" title="Download the whole study log in normal order">Download</button>
                <p>In reverse order:</p>
                <pre><code></code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

var studyLogRaw;
var studyLogPretty;

$('#studyToolbar').on('click', '#showStudyLog', function() {
    $.ajax({
        type: 'GET',
        url: "@{playHttpContext}jatos/@study.getId()/log?limit=" + 100,
        success: showStudyLogModal,
        error: function(response) {
            showError("Couldn't get study log.");
        }
    });
});

function showStudyLogModal(response) {
    studyLogRaw = response;
    studyLogPretty = response;
    removeAlerts('#studyLogModal');
    var studyLog;
    try {
        studyLog = JSON.parse(studyLogRaw);
    } catch(e) {
        showError("Couldn't parse study log. This study's log is corrupted. You can only see the raw content here.", "#studyLogModal .modal-header");
        showStudyLogRaw();
        $('#studyLogModal').modal('show');
        return;
    }
    if (studyLog[0] == "@general.common.MessagesStrings.COULDNT_OPEN_LOG") {
        showError("Couldn't get study log.", "#studyLogModal .modal-header");
    }
    var entryLimit = studyLog.length - 1;
    if (studyLog[entryLimit] == "@general.common.MessagesStrings.LOG_CUT") {
        var txt = "This study log has more than " + entryLimit + " entries. Only the last " + entryLimit + " entries are shown. To get the whole study log download it and display it locally.";
        showInfo(txt, "#studyLogModal .modal-header");
    }
    studyLog.forEach(function(entry) {
        if (entry.timestamp) {
            entry.timestamp = new Date(entry.timestamp).toUTCString();
        }
    });
    studyLogPretty = prettifyStudyLogJson(studyLog);
    showStudyLogPretty();
    $('#studyLogModal').modal('show');
}

function prettifyStudyLogJson(studyLog) {
    return JSON.stringify(studyLog, function(key, value) {
        if(key === "workerIds" || key === "dataHashes" || key === "componentUuids") {
            return JSON.stringify(value);
        }
        return value;
    }, 2).replace(/\\/g, '')
            .replace(/\"\[/g, '[')
            .replace(/\]\"/g,']')
            .replace(/\"\{/g, '{')
            .replace(/\}\"/g,'}');
}

$('#studyLogPretty').on('change', showStudyLogPretty);
$('#studyLogRaw').on('change', showStudyLogRaw);

function showStudyLogPretty() {
    $('#studyLogModal code').text(studyLogPretty);
}

function showStudyLogRaw() {
    $('#studyLogModal code').text(studyLogRaw);
}

$('#studyLogDownload').on('click', function() {
    // Use download.js (http://danml.com/download.html) to get the result data and offer them
    // as download to the user. download.js allows to use an Ajax call and error handling.
    $.ajax({
        url: "@{playHttpContext}jatos/@study.getId()/log?limit=-1&download=true",
        type : 'GET',
        success: download.bind(true, "text/plain", "jatos_studylog_@{study.getUuid()}.log"),
        error : function(err) {
            showError("Download of study log failed", "#studyLogModal .modal-header");
        }
    });
});


</script>

