<div class="modal fade" id="studyPropertiesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="studyPropertiesForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Study Properties</h4>
                </div>
                <div class="modal-body">

                    <div class="messages"></div>

                    <div class="form-group row">
                        <div class="col-xs-3"><p class="text-right"><strong>ID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Unique within this JATOS instance"></span></p></div>
                        <div class="col-xs-9">
                            <p class="@models.gui.StudyProperties.STUDY_ID"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3"><p class="text-right"><strong>UUID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Universally unique identifier - used to keep track of studies between different JATOS instances"></span></p></div>
                        <div class="col-xs-9">
                            <p class="@models.gui.StudyProperties.UUID"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="studyTitle">Title&nbsp;<sup>*</sup></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control @models.gui.StudyProperties.TITLE" id="studyTitle" name="@models.gui.StudyProperties.TITLE" placeholder="Your study title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="@models.gui.StudyProperties.DESCRIPTION">Description&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Explain what your study is doing. In case you want to use the Mechanical Turk, this description will be shown to the participants."></span></label>
                        <div class="col-xs-9">
                            <textarea rows="3" class="form-control @models.gui.StudyProperties.DESCRIPTION" id="@models.gui.StudyProperties.DESCRIPTION" name="@models.gui.StudyProperties.DESCRIPTION" placeholder="Your description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="@models.gui.StudyProperties.DIR_NAME">Study assets' directory name&nbsp;<sup>*</sup>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Name of the directory that is linked to this study. In there all your study's assets, e.g. HTML, JavaScript, CSS, and images, will be saved."></span></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control @models.gui.StudyProperties.DIR_NAME" id="@models.gui.StudyProperties.DIR_NAME" name="@models.gui.StudyProperties.DIR_NAME" placeholder="Study assets' directory name">
                            <input type="checkbox" class="@models.gui.StudyProperties.DIR_RENAME" name="@models.gui.StudyProperties.DIR_RENAME" value="true" hidden>
                            <input type="hidden" name="@models.gui.StudyProperties.DIR_RENAME" value="false" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="studyComments">Comments&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Something you want to share or just don't want to forget?"></span></label>
                        <div class="col-xs-9">
                            <textarea rows="2" class="form-control @models.gui.StudyProperties.COMMENTS" id="studyComments" name="@models.gui.StudyProperties.COMMENTS" placeholder="Your comments"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="studyEntryMsg">Study Entry Message&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="This message can be shown to the worker before the study starts (if the study link format 'Confirm First' is chosen). It can be used as a confirmation (or simple consent) or to prevent workers to prematurely start the study. "></span></label>
                        <div class="col-xs-9">
                            <textarea rows="2" class="form-control @models.gui.StudyProperties.STUDY_ENTRY_MSG" id="studyEntryMsg" name="@models.gui.StudyProperties.STUDY_ENTRY_MSG" placeholder=""></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="endRedirectUrl">End Redirect URL&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="To which URL should JATOS redirect to after a run of this study finished. If left empty a default page will be shown."></span></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control @models.gui.StudyProperties.END_REDIRECT_URL" id="endRedirectUrl" name="@models.gui.StudyProperties.END_REDIRECT_URL" placeholder="https://">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="studyJsonData">JSON input&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Your component scripts can ask for this input data. You can also leave it empty if not needed."></span><br>
                            <button type="button" class="btn btn-default btn-sm prettyButton">Pretty</button>
                        </label>
                        <div class="col-xs-9">
                            <div class="form-control @models.gui.StudyProperties.JSON_DATA" id="studyJsonData"></div>
                            <!-- We use a hidden textarea here to transfer the JSON data into the form POST -->
                            <textarea class="@models.gui.StudyProperties.JSON_DATA" name="@models.gui.StudyProperties.JSON_DATA" hidden></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-right col-xs-3">
                            Group study <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Is this a group study?"></span>
                        </label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="@models.gui.StudyProperties.GROUP_STUDY" name="@models.gui.StudyProperties.GROUP_STUDY" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.StudyProperties.GROUP_STUDY" value="false" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-right col-xs-3">
                            Linear study<br>flow <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Should the study flow be linear only?&#10;This still allows reloading of components.&#10;Uncheck this box if you want to jump to an earlier component."></span>
                        </label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="@models.gui.StudyProperties.LINEAR_STUDY_FLOW" name="@models.gui.StudyProperties.LINEAR_STUDY_FLOW" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.StudyProperties.LINEAR_STUDY_FLOW" value="false" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-right col-xs-3">
                            Allow preview <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip"
                            title="Allows a preview of the study run (only with @common.workers.PersonalSingleWorker.UI_WORKER_TYPE or @common.workers.GeneralSingleWorker.UI_WORKER_TYPE workers): If previews are allowed a study link can be used multiple times by the worker as long as the run stays in the first component. As soon as the second component is started the usual worker restrictions apply."></span>
                        </label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="@models.gui.StudyProperties.ALLOW_PREVIEW" name="@models.gui.StudyProperties.ALLOW_PREVIEW" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.StudyProperties.ALLOW_PREVIEW" value="false" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Rename study dir name confirmation  Modal -->
<div class="modal fade" id="studyDirNameConfirmationModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Study assets directory name changed</h4>
            </div>
            <div class="modal-body">
                <div class="modalText"></div>
                <div class="checkbox">
                    <label><input type="checkbox" class="keepAssetsDirName"> Link to a different study assets directory</label>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="confirmed btn btn-study">OK</button>
            </div>
        </div>
    </div>
</div>

<script>

var studyJsonDataEditor;

$('#jatosHeader').on('click', '#createStudyLink', function() {
    removeAlerts("#studyPropertiesModal");
    removeFormErrors("#studyPropertiesModal");
    clearForm("#studyPropertiesForm");
    $('#studyPropertiesModal .modal-title').text("Create Study");
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').closest('.form-group').hide();
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').closest('.form-group').hide();
    setupStudyJsonDataEditor();
    $('#studyPropertiesModal .confirmed').val("Create");
    $('#studyPropertiesModal input, textarea').not(":input[type=reset]").attr("disabled", false);
    $("#studyPropertiesForm").attr("action", "@controllers.gui.routes.Studies.submitCreated()");
    $('#studyPropertiesModal').modal('show');
});

$('#studyToolbar').on('click', '#studyPropertiesButton', function() {
    $.ajax({
        type: 'GET',
        url: "@{general.common.Common.getPlayHttpContext()}jatos/" + studyId + "/properties",
        success: function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            clearForm("#studyPropertiesForm");
            fillStudyPropertiesForm(response);
            $('#studyPropertiesModal').modal('show');
        },
        error: function(response) {
            showError("Couldn't load study properties.");
        }
    });
});

function fillStudyPropertiesForm(properties) {
    $('#studyPropertiesModal').data(properties);

    $('#studyPropertiesModal .modal-title').text("Edit Study Properties");
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').text(studyId);
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').closest('.form-group').show();
    var uuid = (properties['@models.gui.StudyProperties.UUID']) ? properties['@models.gui.StudyProperties.UUID'] : "-";
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').text(uuid);
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').closest('.form-group').show();
    $('#studyPropertiesModal .@models.gui.StudyProperties.TITLE').val(properties['@models.gui.StudyProperties.TITLE']);
    var description = (properties['@models.gui.StudyProperties.DESCRIPTION']) ? properties['@models.gui.StudyProperties.DESCRIPTION'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.DESCRIPTION').val(description);
    $('#studyPropertiesModal .@models.gui.StudyProperties.DIR_NAME').val(properties['@models.gui.StudyProperties.DIR_NAME']);
    var comments = (properties['@models.gui.StudyProperties.COMMENTS']) ? properties['@models.gui.StudyProperties.COMMENTS'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.COMMENTS').val(comments);
    var endRedirectUrl = (properties['@models.gui.StudyProperties.END_REDIRECT_URL']) ? properties['@models.gui.StudyProperties.END_REDIRECT_URL'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.END_REDIRECT_URL').val(endRedirectUrl);
    var studyEntryMsg = (properties['@models.gui.StudyProperties.STUDY_ENTRY_MSG']) ? properties['@models.gui.StudyProperties.STUDY_ENTRY_MSG'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ENTRY_MSG').val(studyEntryMsg);
    setupStudyJsonDataEditor();
    try {
        var jsonInput = (properties['@models.gui.StudyProperties.JSON_DATA']) ? properties['@models.gui.StudyProperties.JSON_DATA'] : "";
        var jsonInputPretty = JSON.stringify(JSON.parse(jsonInput), null, 2);
        studyJsonDataEditor.getSession().setValue(jsonInputPretty);
    } catch (e) {
        studyJsonDataEditor.getSession().setValue("");
    }
    $('#studyPropertiesModal .@models.gui.StudyProperties.GROUP_STUDY').prop('checked', properties['@models.gui.StudyProperties.GROUP_STUDY']);
    $('#studyPropertiesModal .@models.gui.StudyProperties.LINEAR_STUDY_FLOW').prop('checked', properties['@models.gui.StudyProperties.LINEAR_STUDY_FLOW']);
    $('#studyPropertiesModal .@models.gui.StudyProperties.ALLOW_PREVIEW').prop('checked', properties['@models.gui.StudyProperties.ALLOW_PREVIEW']);
    $('#studyPropertiesModal .confirmed').val("Save");
    $('#studyPropertiesModal input, textarea').not(":input[type=reset]").attr("disabled", properties['@models.gui.StudyProperties.LOCKED']);
    if (properties['@models.gui.StudyProperties.LOCKED']) {
        showInfo("@general.common.MessagesStrings.STUDY_IS_LOCKED", "#studyPropertiesModal .messages");
    }
    $("#studyPropertiesForm").attr("action", "@{general.common.Common.getPlayHttpContext()}jatos/" + studyId + "/properties");
}

function setupStudyJsonDataEditor() {
    if (studyJsonDataEditor) {
        studyJsonDataEditor.setValue("");
        return;
    }
    var jsonDataDiv = $("#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA").get(0);
    studyJsonDataEditor = ace.edit(jsonDataDiv);
    studyJsonDataEditor.setTheme("ace/theme/clouds");
    studyJsonDataEditor.session.setMode("ace/mode/json");
    studyJsonDataEditor.setOptions({
        autoScrollEditorIntoView: true,
        showPrintMargin: false,
        minLines: 8,
        maxLines: 30
    });
}

$("#studyPropertiesForm .prettyButton").click(function(event) {
    var jsonInput = studyJsonDataEditor.getSession().getValue();
    removeSingleFormError('#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA');
    try {
        var jsonInputPretty = JSON.stringify(JSON.parse(jsonInput), null, 2);
        studyJsonDataEditor.getSession().setValue(jsonInputPretty);
    } catch (e) {
        showSingleFormError('#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA', "@general.common.MessagesStrings.INVALID_JSON_FORMAT");
    }
});

$("#studyPropertiesForm").submit(function(event) {
    event.preventDefault();

    var oldDirName = $('#studyPropertiesModal').data()['@models.gui.StudyProperties.DIR_NAME'];
    var newDirName = $('#studyPropertiesModal .@models.gui.StudyProperties.DIR_NAME').val().trim();
    var newStudyCreation = $("#studyPropertiesForm").attr("action") == "@controllers.gui.routes.Studies.submitCreated()"
    if (oldDirName == newDirName || newStudyCreation) {
        submitStudyPropertiesForm();
    } else {
        var descriptionText = "<p>The name of the study assets' directory linked to this study changed from <b>"
                + oldDirName + "</b> to <b>" + newDirName + "</b>.</p>";
        $('#studyDirNameConfirmationModal .modal-body .modalText').html(descriptionText);
        $('#studyDirNameConfirmationModal .keepAssetsDirName').prop('checked', false);
        var explanationText = "If you check this box the directory on the disk will not be renamed and therefore "
                + "link this study to the different directory '" + newDirName + "'.";
        $('#studyDirNameConfirmationModal .modal-body .help-block').html(explanationText);
        $('#studyDirNameConfirmationModal').modal('show');
        $('#studyDirNameConfirmationModal').off('click.confirmed').on('click.confirmed', '.confirmed', () => {
            $('#studyDirNameConfirmationModal').modal('hide');
            // Put the checkbox result into the properties form
            var keepAssetsDirName = $('#studyDirNameConfirmationModal .keepAssetsDirName').prop('checked');
            $('#studyPropertiesModal .@models.gui.StudyProperties.DIR_RENAME').prop('checked', !keepAssetsDirName);
            submitStudyPropertiesForm();
        });
    }
});

function submitStudyPropertiesForm() {
    // Put JSON from editor into textarea to let it be picked up by form.serialize
    var jsonData = studyJsonDataEditor.getSession().getValue();
    $("#studyPropertiesModal textarea.@models.gui.StudyProperties.JSON_DATA").val(jsonData);
    $.ajax({
        type : 'POST',
        url : $("#studyPropertiesForm").attr("action"),
        data : $('#studyPropertiesForm').serialize(),
        success : function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            $('#studyPropertiesModal').modal('hide');
            // Distinguish between newly created study und edited properties
            var newStudyCreation = $("#studyPropertiesForm").attr("action") == "@controllers.gui.routes.Studies.submitCreated()"
            if (newStudyCreation) {
                // New study's ID is in the response
                window.location.href = "@{general.common.Common.getPlayHttpContext()}jatos/" + response;
            } else {
                fillSidebar();
                var title = $('#studyPropertiesModal .@models.gui.StudyProperties.TITLE').val();
                $('#breadcrumbs li:last-child').text(title);
                var studyDescription = $('#studyPropertiesModal .@models.gui.StudyProperties.DESCRIPTION').val();
                $('#studyDescription .text').text(studyDescription);
                showStudyDescription();
            }
        },
        error : function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            showWarning("@general.common.MessagesStrings.STUDY_WASNT_SAVED", "#studyPropertiesModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#studyPropertiesModal", response);
            } else {
                showModalError("#studyPropertiesModal .messages", response);
            }
        }
    });
}
</script>

