@(study: common.Study)

<!-- Study Log Modal -->
<div class="modal fade" id="studyLogModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Study Log&nbsp;
                </h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-study active">
                        <input id="studyLogPretty" type="radio" name="options" autocomplete="off" checked>Pretty
                    </label>
                    <label class="btn btn-study">
                        <input id="studyLogRaw" type="radio" name="options" autocomplete="off">Raw
                    </label>
                </div>
                <button id="studyLogDownload" type="button" class="btn btn-study">Download</button>
                <p>&nbsp;</p>
                <pre><code></code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

var studyLogRaw;
var studyLogPretty;

$('#studyToolbar').on('click', '#showStudyLog', function() {
    $.ajax({
        type: 'GET',
        url: "/jatos/@study.getId()/log?limit=1000",
        success: function (response) {
            studyLogRaw = response;
            studyLogPretty = JSON.stringify(JSON.parse(studyLogRaw), null, 2);
            showStudyLogPretty();
            $('#studyLogModal').modal('show');
        },
        error: function(response) {
            showError("Couldn't load study log.");
        }
    });
});

$('#studyLogPretty').on('change', showStudyLogPretty);
$('#studyLogRaw').on('change', showStudyLogRaw);

function showStudyLogPretty() {
    $('#studyLogModal code').text(studyLogPretty);
}

function showStudyLogRaw() {
    $('#studyLogModal code').text(studyLogRaw);
}

$('#studyLogDownload').on('click', function() {
    var url = "/jatos/@study.getId()/log?limit=-1";
    // Using johnculviner's jQuery.fileDownload plugin to detect a fail
    $.fileDownload(url).fail(function () {
        showError("Download of study log failed");
    });
});


</script>

