@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean, study: common.Study, studyResultsCount: Integer)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<div id="studyDescription" class="panel panel-default" hidden>
    <div class="panel-body">
        <div class="text">@study.getDescription()</div>
        <p class="showAll gradient"><a href="#" class="button">Show all</a></p>
    </div>
</div>

<!-- Toolbar -->
<div id="studyToolbar" class="btn-toolbar toolbarFlexWrap" role="toolbar">
    <div class="btn-group toolbarFlexWrap" role="group">
        <button id="runStudy" type="button" class="btn btn-study"
                data-toggle="tooltip" data-placement="bottom"
                title="Runs the study as a JATOS worker in the default batch">
            Run <span class="glyphicon glyphicon-play"></span>
        </button>
        <button id="studyResults" type="button" class="btn btn-study"
                data-toggle="tooltip" data-placement="bottom"
                title="Shows study results">
            Study Results <span class="badge" data-toggle="tooltip" data-placement="bottom"
                          title="Number of study results of this study">@studyResultsCount</span>
        </button>
        <button id="studyPropertiesButton" type="button" class="btn btn-study"
                data-toggle="tooltip" data-placement="bottom"
                title="Edit this study's properties">
            Properties <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
        <button id="exportStudy" type="button" class="btn btn-study"
                data-toggle="tooltip" data-placement="bottom"
                title="Export this study to your local file system (including its components and study assets but without its results)">
            Export <span class="glyphicon glyphicon-export"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-study dropdown-toggle"
                    data-toggle="dropdown">
                More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Clone this study without its results">
                    <a id="cloneStudy" href="#">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        Clone
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Change who is member of this study">
                    <a id="changeMemberUsersLink" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        Change&nbsp;Users
                    </a>
                </li>
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Show this study's log">
                    <a id="showStudyLog" href="#">
                        <span class="glyphicon glyphicon-book"></span>
                        Study Log
                    </a>
                </li>
                <li class="divider"></li>
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Delete this study including its components, assets and results">
                    <a id="removeStudy" href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Content and tooltip of lock button is set later in JS -->
    <div class="btn-group">
        <button id="lockStudy" type="button" class="btn btn-study"
                data-toggle="tooltip" data-placement="bottom"
                title="">
            @if(study.isLocked()) {Locked} else {Unlocked}
        </button>
    </div>
    <div class="btn-group">
        <button id="createComponentLink" type="button" class="btn btn-component"
                data-toggle="tooltip" data-placement="bottom" title="Create a new component">
            <span class="glyphicon glyphicon-plus"></span>
            New Component
        </button>
    </div>
    <button id="studyLinksButton" type="button" class="btn btn-batch"
            data-toggle="tooltip" data-placement="bottom"
            title="Get study links that you can distribute to your workers and let them run your study">
        Study Links
    </button>
</div>

<!-- Components Table -->
<table id="componentsTable" class="table table-hover table-row-border"
       cellpadding="0" cellspacing="0" border="0" width="100%">
    <thead>
    <tr>
        <th data-toggle="tooltip" data-placement="bottom"
            title="The number in the button shows the position in this study - Use the button to drag and drop the component to a new position">
            <span class="glyphicon glyphicon-sort"></span></th>
        <th data-toggle="tooltip" data-placement="bottom"
            title="Inactive components won't show up in the next run">Active
        </th>
        <th data-toggle="tooltip" data-placement="bottom" title="ID of this component">ID</th>
        <th data-toggle="tooltip" data-placement="bottom" title="Title of this component">Title</th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Template for active button in Component's row -->
<div id="componentActiveButtonDiv" style="display: none">
    <button type="button" class="btn btn-default activeButton"
            data-toggle="tooltip" data-placement="bottom" title="">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</div>

<!-- Template for drag button in Component's row -->
<div id="componentDragButtonDiv" style="display: none">
    <button type="button" class="btn btn-component dragButton"
            data-toggle="tooltip" data-placement="bottom" title="">
    </button>
</div>

<!-- Template for button toolbar in Component's row -->
<div id="componentToolbarDiv" style="display: none">
    <div class="noWrapBtnGroup btn-group">
        <button type="button" class="runComponent btn btn-component"
                data-toggle="tooltip" data-placement="bottom"
                title="Runs only this component as a JATOS worker in the default batch">
            Run <span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" class="componentResults btn btn-component"
                data-toggle="tooltip" data-placement="bottom"
                title="Shows only the results of this component">
            Component Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                          title="Number of component results only of this component"></span>
        </button>
        <button type="button" class="componentPropertiesButton btn btn-component"
                data-toggle="tooltip" data-placement="bottom"
                title="Edit this component's properties">
            Properties <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-component dropdown-toggle"
                    data-toggle="dropdown">
                More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Clone this component without its results and assets">
                    <a class="cloneComponent" href="#">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        Clone
                    </a>
                </li>
                <li class="divider"></li>
                <li data-toggle="tooltip" data-placement="bottom"
                    title="Deletes this component without its results and assets">
                    <a class="removeComponent" href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@views.html.gui.study.changeMemberUsersModal(loggedInUser)
@views.html.gui.study.componentPropertiesModal(study)
@views.html.gui.study.studyLogModal(study)

<script @{helper.CSPNonce.attr}>
var studyId = @study.getId();
var studyLocked = @study.isLocked();
$(document).ready(setLockButton(studyLocked));

var componentsTable;
$(document).ready(function() {
    // Don't remove pageLength - default is only 10 and it would display only 10 components
    componentsTable = $('#componentsTable').DataTable({
        "ajax": {
            "type": "GET",
            "url" : '@controllers.gui.routes.Studies.tableDataByStudy(study.getId())',
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText);
                } else {
                    showError("Cannot read components data.");
                }
            }
        },
        "pageLength": 100,
        "dom": 't',
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": "_all"
        } ],
        "columns": [
            {
                "class": 'componentDragButton',
                "data": "position",
                "defaultContent": '',
                "width": "1px",
                "render": function (data, type, full, meta) {
                    var button = $('#componentDragButtonDiv button:first-child').clone();
                    button.html(button.html() + data);
                    button.attr('title', "Use this button to drag and drop this component to a new position");
                    return button.prop('outerHTML');
                }
            },
            {
                "class": 'activeComponent',
                "data": null,
                "defaultContent": '',
                "width": "1px",
                "render": function (data, type, full, meta) {
                    var button = $('#componentActiveButtonDiv button:first-child').clone();
                    setButtonActive(button, data.active);
                    return button.prop('outerHTML');
                }
            },
            {
                "class": "componentId",
                "data": "id",
                "width": "1px"
            },
            {
                "class": "componentTitle",
                "data": "title"
            },
            {
                "class": "toolbar",
                "data": null,
                "defaultContent": '',
                "width": "1%",
                "render": function (data, type, full, meta) {
                    var toolbar = $('#componentToolbarDiv').clone().show();
                    $(toolbar).removeAttr('id');
                    $(toolbar).find('.resultsBadge').text(data.resultCount);
                    return toolbar.html();
                }
            }
        ],
        "createdRow": function(row, data, index) {
            setRowActive($(row), data.active);
        },
        "language": {
            "emptyTable": "No components yet - go to 'Components' and then 'New', to add new components"
        },
        rowReorder: {
            "dataSrc": "position"
        }
    });

    // Adjust the width of every component's toolbar to the widest one
    componentsTable.on('column-sizing.dt', function (e, settings) {
        // Newly created components of an empty study have a negative width (no
        // clue why) - so set the width only if I have at least 2 components
        if ($(".componentResults").length > 1) {
            setButtonWidthToMax(".componentResults");
        }
    });

    componentsTable.on('row-reordered', function (e, details, edit) {
        var componentId = edit.triggerRow.data().id;
        var newPosition = edit.triggerRow.data().position;
        $.ajax({
            url : "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() + "/componentOrder"
                    + "?componentId=" + componentId + "&newPosition=" + newPosition,
            type : "POST",
            success : function(response) {
                componentsTable.ajax.reload();
                fillSidebar();
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });

    $('#componentsTable tbody').on('click', '.runComponent', function() {
        window.location.href = "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/"
            + getComponentId(this) + "/run";
    });

    $('#componentsTable tbody').on('click', '.componentResults', function() {
        window.location.href = "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/"
            + getComponentId(this) + "/results";
    });

    $('#componentsTable tbody').on('click', '.cloneComponent', function() {
        $.ajax({
            type: 'GET',
            url: "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/" + getComponentId(this) + "/clone",
            success: function(result) {
                showMessages(JSON.parse(result));
                componentsTable.ajax.reload();
                fillSidebar();
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });

    $('#componentsTable tbody').on('click', '.removeComponent', function() {
        var element = this;
        var componentId = getComponentId(this);
        if (!componentId) {return} // should never happen
        var componentTitle = getComponentTitle(this);
        var title = "Confirm Delete";
        var htmlText = "<p>You are about to delete component \"" + componentTitle
            + "\" (ID " + componentId + ") <b>with all its results</b>.</p>"
            + "<p><b>This cannot be undone.</b> Do you want to proceed?</p>";
        askConfirmation(title, htmlText, 'Delete', 'btn-component', function() {
            $.ajax({
                url : "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/" + componentId,
                type : 'DELETE',
                beforeSend: showWaitingModal,
                success : function(result) {
                    showMessages(JSON.parse(result));
                    componentsTable.ajax.reload();
                    fillSidebar();
                },
                error : function(err) {
                    showError(err.responseText);
                },
                complete: hideWaitingModal
            });
        });
    });

    $('#componentsTable tbody').on('click', '.activeButton', function() {
        var button = this;
        var tr = $(this).closest('tr');
        var componentId = getComponentId(this);
        var active = $(this).hasClass('activeComponent');
        $.ajax({
            url : "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/" + componentId
                    + "/properties/active?active=" + !active,
            type : "POST",
            success: function(active) {
                setButtonActive($(button), active);
                setRowActive(tr, active);
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });

    function setRowActive(tr, active) {
        if (active) {
            tr.find('.btn, .componentId, .componentTitle').removeClass("grayout");
        } else {
            tr.find('.btn, .componentId, .componentTitle').addClass("grayout");
        }
    }

    function setButtonActive(button, active) {
        if (active) {
            button.addClass('activeComponent');
            button.removeClass('btn-default');
            button.addClass('btn-component');
            button.attr('title', "Click to deactivate this component");
            button.html($(button.html())
                    .removeClass('glyphicon-remove')
                    .addClass('glyphicon-ok').prop('outerHTML'));
        } else {
            button.removeClass('activeComponent');
            button.removeClass('btn-component');
            button.addClass('btn-default');
            button.attr('title', "Click to activate this component");
            button.html($(button.html())
                    .removeClass('glyphicon-ok')
                    .addClass('glyphicon-remove').prop('outerHTML'));
        }
    }
});

function getComponentId(element) {
    var tr = $(element).closest('tr');
    var rowData = componentsTable.row(tr).data();
    return rowData.id;
}

function getComponentTitle(element) {
    var tr = $(element).closest('tr');
    var rowData = componentsTable.row(tr).data();
    return rowData.title;
}

$('#studyToolbar').on('click', '#lockStudy', function() {
    $.ajax({
        url : "@controllers.gui.routes.Studies.toggleLock(study.getId())",
        type : "POST",
        success : function(response) {
            studyLocked = response === 'true';
            setLockButton(studyLocked);
            fillSidebar();
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

function setLockButton(locked) {
    if (locked) {
        $('#lockStudy').html('Locked');
        $('#lockStudy').addClass('btn-warning');
        $('#lockStudy').removeClass('btn-study');
        $("#lockStudy").attr("title", "Press to unlock this study and allow changes.");
    } else {
        $('#lockStudy').html('Unlocked');
        $('#lockStudy').addClass('btn-study');
        $('#lockStudy').removeClass('btn-warning');
        $("#lockStudy").attr("title", "Press to lock this study and prohibit changes. Your workers can still run the study.");
    }
}

$('#studyToolbar').on('click', '#runStudy', function() {
    window.location.href = "@controllers.gui.routes.Studies.runStudy(study.getId())";
});

$('#studyToolbar').on('click', '#studyResults', function() {
    window.location.href = "@controllers.gui.routes.StudyResults.studysStudyResults(study.getId())";
});

$('#studyToolbar').on('click', '#studyLinksButton', function() {
    window.location.href = "@controllers.gui.routes.StudyLinks.studyLinks(study.getId())";
});

$('#studyToolbar').on('click', '#exportStudy', function() {
    const url = '@controllers.gui.routes.ImportExport.exportStudy(study.getId())';
    const filename = '@{study.getTitle()}.jzip';
    window.downloadFileStream(url, null, filename);
});

$('#studyToolbar').on('click', '#removeStudy', function() {
    var title = "Confirm Delete";
    var htmlText = "<p>You are about to delete study \"@study.getTitle()\" "
        + "(ID @study.getId()) "
        + "<b>with all its components, results, and the entire study assets directory, "
        + "including the HTML files</b>.</p>"
        + "<p><b>This cannot be undone.</b> Do you want to proceed?</p>";
    askConfirmation(title, htmlText, 'Delete', 'btn-primary', function() {
        $.ajax({
            url : '@controllers.gui.routes.Studies.remove(study.getId())',
            type : 'DELETE',
            beforeSend: showWaitingModal,
            success : function(result) {
                window.location.replace('@controllers.gui.routes.Home.home()');
            },
            error : function(err) {
                showError(err.responseText);
            },
            complete: hideWaitingModal
        });
    });
});

$('#studyToolbar').on('click', '#cloneStudy', function() {
    $.ajax({
        url : '@controllers.gui.routes.Studies.cloneStudy(study.getId())',
        type : 'GET',
        success : function(response) {
            fillSidebar();
            var msg = 'Created clone "' + response.title + '". ' +
                '<a href="@{general.common.Common.getPlayHttpContext()}jatos/' + response.id + '">Go to this study.</a>';
            showInfo(msg, null, true);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

showStudyDescription();

function showStudyDescription() {
    var studyDescription = $('#studyDescription .text').text();
    // If empty hide
    if (!/\S/.test(studyDescription)) {
        $('#studyDescription').hide();
        return
    }

    var studyDescriptionHtml = new showdown.Converter().makeHtml(studyDescription);
    $('#studyDescription .text').html(studyDescriptionHtml);
    $('#studyDescription').show();

    var longDescription = $('#studyDescription .panel-body').innerHeight() > $('#studyDescription').height()
    if (longDescription) {
        $('#studyDescription .showAll').show();
        $('#studyDescription .showAll').addClass("gradient");
    } else {
        $('#studyDescription .showAll').hide();
    }
}

// Toggle study description with animation (https://css-tricks.com/text-fade-read-more/)
$("#studyDescription .showAll .button").on("click", function() {
    var button = $('#studyDescription .showAll .button');

    var expanded = $('#studyDescription').hasClass("expanded");
    if ($('#studyDescription').hasClass("expanded")) {
        $('#studyDescription').animate({
            "height": 120 // Same height in CSS
        });
        $('#studyDescription .showAll').addClass("gradient");
        button.text("Show more");

    } else {
        // Measure how tall inside should be by adding together heights of all inside paragraphs
        totalHeight = 0
        $('#studyDescription .text').each(function() {
            totalHeight += $(this).outerHeight();
        });

        $('#studyDescription').css({
            // Set height to prevent instant jumpdown when max height is removed
            "height": $('#studyDescription').height(),
            "max-height": 9999
        }).animate({
            "height": totalHeight + 70
        });

        // fade out read-more
        button.text("Show less");
        $('#studyDescription .showAll').removeClass("gradient");
    }

    $('#studyDescription').toggleClass("expanded")

    // Prevent jump-down
    return false;
});


</script>

}
