<div class="modal fade" id="studyPropertiesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="studyPropertiesForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Study Properties</h4>
                </div>
                <div class="modal-body">

                    <div class="messages"></div>

                    <div class="form-group row">
                        <div class="col-xs-2"><p class="text-right"><strong>ID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Unique within this JATOS instance"></span></p></div>
                        <div class="col-xs-10">
                            <p class="@models.gui.StudyProperties.STUDY_ID"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-2"><p class="text-right"><strong>UUID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Universally unique identifier - used to keep track of studies between different JATOS instances"></span></p></div>
                        <div class="col-xs-10">
                            <p class="@models.gui.StudyProperties.UUID"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="studyTitle">Title</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control @models.gui.StudyProperties.TITLE" id="studyTitle" name="@models.gui.StudyProperties.TITLE" placeholder="Your study title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="@models.gui.StudyProperties.DESCRIPTION">Description&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Explain what your study is doing. In case you want to use the Mechanical Turk, this description will be shown to the participants."></span></label>
                        <div class="col-xs-10">
                            <textarea rows="3" class="form-control @models.gui.StudyProperties.DESCRIPTION" id="@models.gui.StudyProperties.DESCRIPTION" name="@models.gui.StudyProperties.DESCRIPTION" placeholder="Your description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="@models.gui.StudyProperties.DIRNAME">Study assets' directory name&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Enter the name of the directory of your study assets in the file system of the JATOS server. All HTML, JavaScript, CSS, and images goes in there."></span></label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control @models.gui.StudyProperties.DIRNAME" id="@models.gui.StudyProperties.DIRNAME" name="@models.gui.StudyProperties.DIRNAME" placeholder="Study assets' directory name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="studyComments">Comments&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Something you want to share or just don't want to forget?"></span></label>
                        <div class="col-xs-10">
                            <textarea rows="3" class="form-control @models.gui.StudyProperties.COMMENTS" id="studyComments" name="@models.gui.StudyProperties.COMMENTS" placeholder="Your comments"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="studyJsonData">JSON input&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Your component scripts can ask for this input data. You can also leave it empty if not needed."></span><br>
                            <button type="button" class="btn btn-default btn-sm prettyButton">Pretty</button>
                        </label>
                        <div class="col-xs-10">
                            <div class="form-control @models.gui.StudyProperties.JSON_DATA" id="studyJsonData"></div>
                            <!-- We use a hidden textarea here to transfer the JSON data into the form POST -->
                            <textarea class="@models.gui.StudyProperties.JSON_DATA" name="@models.gui.StudyProperties.JSON_DATA" hidden></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-offset-2 col-xs-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="@models.gui.StudyProperties.GROUP_STUDY" name="@models.gui.StudyProperties.GROUP_STUDY" value="true">
                                    Group study <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Is this a group study?"></span>
                                    <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                                    <input type="hidden" name="@models.gui.StudyProperties.GROUP_STUDY" value="false" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

var studyJsonDataEditor;

$('#jatosHeader').on('click', '#createStudyLink', function() {
    removeAlerts("#studyPropertiesModal");
    removeFormErrors("#studyPropertiesModal");
    clearForm("#studyPropertiesForm");
    $('#studyPropertiesModal .modal-title').text("Create Study");
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').closest('.form-group').hide();
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').closest('.form-group').hide();
    if (!studyJsonDataEditor) setupStudyJsonDataEditor();
    $('#studyPropertiesModal .confirmed').val("Create");
    $('#studyPropertiesModal input, textarea').not(":input[type=reset]").attr("disabled", false);
    $("#studyPropertiesForm").attr("action", "@controllers.gui.routes.Studies.submitCreated()");
    $('#studyPropertiesModal').modal('show');
});

$('#studyToolbar').on('click', '#studyPropertiesButton', function() {
    $.ajax({
        type: 'GET',
        url: "@{general.common.Common.getPlayHttpContext()}jatos/" + studyId + "/properties",
        success: function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            clearForm("#studyPropertiesForm");
            fillStudyPropertiesForm(response);
            $('#studyPropertiesModal').modal('show');
        },
        error: function(response) {
            showError("Couldn't load study properties.");
        }
    });
});

function fillStudyPropertiesForm(properties) {
    $('#studyPropertiesModal .modal-title').text("Edit Study Properties");
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').text(studyId);
    $('#studyPropertiesModal .@models.gui.StudyProperties.STUDY_ID').closest('.form-group').show();
    var uuid = (properties['@models.gui.StudyProperties.UUID']) ? properties['@models.gui.StudyProperties.UUID'] : "-";
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').text(uuid);
    $('#studyPropertiesModal .@models.gui.StudyProperties.UUID').closest('.form-group').show();
    $('#studyPropertiesModal .@models.gui.StudyProperties.TITLE').val(properties['@models.gui.StudyProperties.TITLE']);
    var description = (properties['@models.gui.StudyProperties.DESCRIPTION']) ? properties['@models.gui.StudyProperties.DESCRIPTION'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.DESCRIPTION').val(description);
    $('#studyPropertiesModal .@models.gui.StudyProperties.DIRNAME').val(properties['@models.gui.StudyProperties.DIRNAME']);
    var comments = (properties['@models.gui.StudyProperties.COMMENTS']) ? properties['@models.gui.StudyProperties.COMMENTS'] : "";
    $('#studyPropertiesModal .@models.gui.StudyProperties.COMMENTS').val(comments);
    if (!studyJsonDataEditor) setupStudyJsonDataEditor();
    try {
        var jsonInput = (properties['@models.gui.StudyProperties.JSON_DATA']) ? properties['@models.gui.StudyProperties.JSON_DATA'] : "";
        var jsonInputPretty = JSON.stringify(JSON.parse(jsonInput), null, 2);
        studyJsonDataEditor.getSession().setValue(jsonInputPretty);
    } catch (e) {
        studyJsonDataEditor.getSession().setValue("");
    }
    $('#studyPropertiesModal .@models.gui.StudyProperties.GROUP_STUDY').prop('checked', properties['@models.gui.StudyProperties.GROUP_STUDY']);
    $('#studyPropertiesModal .confirmed').val("Save");
    $('#studyPropertiesModal input, textarea').not(":input[type=reset]").attr("disabled", properties['@models.gui.StudyProperties.LOCKED']);
    if (properties['@models.gui.StudyProperties.LOCKED']) {
        showInfo("@general.common.MessagesStrings.STUDY_IS_LOCKED", "#studyPropertiesModal .messages");
    }
    $("#studyPropertiesForm").attr("action", "@{general.common.Common.getPlayHttpContext()}jatos/" + studyId + "/properties");
}

function setupStudyJsonDataEditor() {
    var jsonDataDiv = $("#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA").get(0);
    studyJsonDataEditor = ace.edit(jsonDataDiv);
    studyJsonDataEditor.setTheme("ace/theme/clouds");
    studyJsonDataEditor.session.setMode("ace/mode/json");
    studyJsonDataEditor.setOptions({
        autoScrollEditorIntoView: true,
        showPrintMargin: false,
        minLines: 8,
        maxLines: 30
    });
}

$("#studyPropertiesForm .prettyButton").click(function(event) {
    var jsonInput = studyJsonDataEditor.getSession().getValue();
    removeSingleFormError('#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA');
    try {
        var jsonInputPretty = JSON.stringify(JSON.parse(jsonInput), null, 2);
        studyJsonDataEditor.getSession().setValue(jsonInputPretty);
    } catch (e) {
        showSingleFormError('#studyPropertiesModal div.@models.gui.StudyProperties.JSON_DATA', "@general.common.MessagesStrings.INVALID_JSON_FORMAT");
    }
});

$("#studyPropertiesForm").submit(function(event) {
    event.preventDefault();
    // Put JSON from editor into textarea to let it be picked up by form.serialize
    var jsonData = studyJsonDataEditor.getSession().getValue();
    $("#studyPropertiesModal textarea.@models.gui.StudyProperties.JSON_DATA").val(jsonData);
    $.ajax({
        type : 'POST',
        url : $("#studyPropertiesForm").attr("action"),
        data : $('#studyPropertiesForm').serialize(),
        success : function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            $('#studyPropertiesModal').modal('hide');
            // Destinguish between newly created study und edited properties
            if ($("#studyPropertiesForm").attr("action") === "@controllers.gui.routes.Studies.submitCreated()") {
                // New study's ID is in the response
                window.location.href = "@{general.common.Common.getPlayHttpContext()}jatos/" + response;
            } else {
                fillSidebar();
                var title = $('#studyPropertiesModal .@models.gui.StudyProperties.TITLE').val();
                $('#breadcrumbs li:last-child').text(title);
                var studyDescription = $('#studyPropertiesModal .@models.gui.StudyProperties.DESCRIPTION').val();
                $('#studyDescription .text').text(studyDescription);
                showStudyDescription();
            }
        },
        error : function(response) {
            removeAlerts("#studyPropertiesModal");
            removeFormErrors("#studyPropertiesModal");
            showWarning("@general.common.MessagesStrings.STUDY_WASNT_SAVED", "#studyPropertiesModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#studyPropertiesModal", response);
            } else {
                showModalError("#studyPropertiesModal .messages", response);
            }
        }
    });
});
</script>

