@(studyList: List[StudyModel], user: UserModel, breadcrumbs: services.Breadcrumbs,
messages: Messages)(body: Html)

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-196x196.png")" sizes="196x196">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-160x160.png")" sizes="160x160">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-96x96.png")" sizes="96x96">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-16x16.png")" sizes="16x16">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-32x32.png")" sizes="32x32">
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
<link rel="stylesheet" href="@routes.Assets.at("datatables/extensions/TableTools/css/dataTables.tableTools.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileDownload.js")"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
<script src="@routes.Assets.at("datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@routes.Assets.at("datatables/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>
<script src="@routes.Assets.at("datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script>
function showSuccess(msg) {
	var html = '<div class="alert alert-success alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showInfo(msg) {
	var html = '<div class="alert alert-info alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showWarning(msg) {
	var html = '<div class="alert alert-warning alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}

function showError(msg) {
	var html = '<div class="alert alert-danger alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ msg + '</div>';
	$(html).insertAfter( "#breadcrumbs" );
}
</script>

<nav id="jatosHeader" class="navbar navbar-inverse navbar-fixed-top"
	role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#jatos-navbar-collapse" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Home.home">JATOS</a>
		</div>
		<div class="navbar-collapse collapse" id="jatos-navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="@routes.Studies.create()">New Study</a></li>
				<li><input id="importStudyBrowser" type="file"
					name="@StudyModel.STUDY" style="display: none;"></li>
				<li><a id="importStudyLink" href="#">Import Study</a></li>
				<li><a href="@routes.Users.create()">New User</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.Users.profile(user.getEmail())">@user.getName()
						(@user.getEmail())</a></li>
				<li><a href="@routes.Authentication.logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<!-- Sidebar -->
		<div class="col-sm-3 col-md-2 sidebar">
			<ul id="sidebarStudyList" class="nav nav-sidebar">
			<!-- Is dynamically filled via JavaScript -->
			</ul>
		</div>

		<!-- Main -->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<ol id="breadcrumbs" class="breadcrumb"></ol>
			@body
		</div>
	</div>
</div>
	
<!-- Confirmation  Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Confirm</h4>
			</div>
			<div class="modal-body">
				<p class="modalText"></p>
				<p class="modalPostText"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary"></button>
			</div>
		</div>
	</div>
</div>

<!-- Confirmation Modal - Study Import -->
<div class="modal fade" id="confirmModalStudyImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Study and study assets' directory already exist</h4>
			</div>
			<div class="modal-body">
				<p class="modalText"></p>
				<div class="checkbox">
					<label><input type="checkbox" id="studysPropertiesConfirm"> Overwrite study's and its components' properties</label>
					<span class="help-block">Components included in the imported study will be created or updated. Components not included in the imported study will be inactivated but not deleted.</span>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" id="studysDirConfirm"> Overwrite study assets' directory</label>
					<span class="help-block">This directory contains the study's files like HTML, CSS, and JavaSript files and images.</span>
				</div>
				<p class="modalPostText"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary">Overwrite</button>
			</div>
		</div>
	</div>
</div>

<script>
var messages = @Html(utils.JsonUtils.asJson(messages));
var breadcrumbs = @Html(utils.JsonUtils.asJson(breadcrumbs))['breadcrumbs'];
showMessages(messages);
fillSidebar();

function showMessages(messages) {
	if (messages != null) {
		messages.successList.forEach(function(success) {
			showSuccess(success);
		});
		messages.infoList.forEach(function(info) {
			showInfo(info);
		});
		messages.warningList.forEach(function(warning) {
			showWarning(warning);
		});
		messages.errorList.forEach(function(error) {
			showError(error);
		});
	}
}

@if(flash.contains("error")) {
	showError('@flash.get("error")');
}

@if(common.Common.IN_MEMORY_DB) {
	showWarning("You are using an in-memory database. This is fine for initial evalution of JATOS. Unfortunately after closing JATOS all changes and results will be lost. If you want to continue working with JATOS, it's strongly recommended to setup a disk-based database.")
}

for (var key in breadcrumbs) {
	var breadcrumb;
	if (breadcrumbs[key] === null || breadcrumbs[key] === "") {
		breadcrumb = '<li class="active">' + key + '</li>';
	} else {
		breadcrumb = '<li><a href="' + breadcrumbs[key] + '">' + key + '</a></li>';
	}
	$("#breadcrumbs").append(breadcrumb);
}

function askConfirmation(title, preText, html, postText, buttonText, action) {
		$('#confirmationModal').find('.modal-title').html(title);
	if (preText) {
		$('#confirmationModal').find('.modalText').html(preText);
	}
	if (html) {
		if ($('#confirmationModal').find('.modalText').next().is('.modalPostText')) {
			$('#confirmationModal').find('.modalText').after(html);
		} else {
			$('#confirmationModal').find('.modalText').next().html(html);
		}
	}
	if (postText) {
		$('#confirmationModal').find('.modalPostText').html(postText);
	}
	$('#confirmationModal').find('.confirmed').text(buttonText);
	$('#confirmationModal').modal('show');
	$('#confirmationModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmationModal').modal('hide');
		action();
	});
}

$('#jatosHeader').on('click', '#importStudyLink', function() {
	$('#importStudyBrowser').trigger("click");
});

$('#jatosHeader').on('change', '#importStudyBrowser', function() {
	var data = new FormData();
	var files = $('#importStudyBrowser').prop('files');
	$.each(files , function(index, value){
		data.append('@StudyModel.STUDY', value);
	});
	$.ajax({
		url: '@routes.ImportExport.importStudy()',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		type: 'POST',
		success: importStudyConfirm,
		error : function(err) {
			showError(err.responseText);
		}
	});
});
	
function importStudyConfirm(data) {
	response = $.parseJSON(data);
	if (response.studyExists) {
		askConfirmationForStudyExists(response);
	} else if (response.dirExists) {
		askConfirmationForStudyNotExistsDirExists(response);
	} else {
		askConfirmationForStudyNotExistsDirNotExists(response);
	}
}

function askConfirmationForStudyExists(response) {
	var preText = "It seems a study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath
		+ "\" already exist. What do you want to do?";
	$('#confirmModalStudyImport').find('.modalText').html(preText);
	$('#confirmModalStudyImport').on('click', '.checkbox', function() {
		if (!$('#studysPropertiesConfirm').is(':checked')
				&& !$('#studysDirConfirm').is(':checked')) {
			$('.confirmed').attr("disabled", true);
		} else {
			$('.confirmed').attr("disabled", false);
		}
	});
	$('#confirmModalStudyImport').find('.confirmed').attr("disabled", true);
	$('#confirmModalStudyImport').modal('show');
	$('#confirmModalStudyImport').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalStudyImport').modal('hide');
		var studysPropertiesConfirm = $('#studysPropertiesConfirm').is(':checked');
		var studysDirConfirm = $('#studysDirConfirm').is(':checked');
		var jsonData = JSON.stringify({ "@ImportExport.STUDYS_PROPERTIES_CONFIRM": studysPropertiesConfirm,
			"@ImportExport.STUDYS_DIR_CONFIRM" : studysDirConfirm });
		postStudyImportConfirm(jsonData);
	});
}

function askConfirmationForStudyNotExistsDirExists(response) {
	var title = "Study import - but study assets' directory already exists";
	var preText = "You are about to import the study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath
		+ "\". There already exist a directory with the same name. "
		+ "If you proceed the <b>current directory will be overridden</b>.";
	var postText = "Do you want to proceed?";
	askConfirmation(title, preText, null, postText, 'Import', function() {
		var jsonData = JSON.stringify({ "@ImportExport.STUDYS_PROPERTIES_CONFIRM": true,
			"@ImportExport.STUDYS_DIR_CONFIRM" : true });
		postStudyImportConfirm(jsonData);
	});
}

function askConfirmationForStudyNotExistsDirNotExists(response) {
	var title = "Study import";
	var preText = "You are about to import the study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath
		+ "\".";
	var postText = "Do you want to proceed?"
	askConfirmation(title, preText, null, postText, 'Import', function() {
		var jsonData = JSON.stringify({ "@ImportExport.STUDYS_PROPERTIES_CONFIRM": true,
			"@ImportExport.STUDYS_DIR_CONFIRM" : true });
		postStudyImportConfirm(jsonData);
	});
}

function postStudyImportConfirm(jsonData) {
	$.ajax({
		type: 'POST',
		url: '@routes.ImportExport.importStudyConfirmed()',
		contentType: "application/json; charset=utf-8",
		dataType: 'text',
		data: jsonData,
		success: function(result) {
			showMessages(JSON.parse(result));
			fillSidebar();
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

function fillSidebar() {
	$.ajax({
		type: 'GET',
		url: '@routes.Home.sidebarStudyList()',
		success: function(result) {
			fillSidebarStudyList(JSON.parse(result));
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

function fillSidebarStudyList(studyArray) {
	$('#sidebarStudyList').empty();
	$.each(studyArray, function(index, value) {
		var studyTitle = value.title;
		var studyId = value.id;
		$('#sidebarStudyList').append('<li><a href="/jatos/' + studyId + '">' + studyTitle + '</a></li>');
		var componentArray = value.componentList;
		var componentsStr = '<ul>';
		$.each(componentArray, function(index, value) {
			var componentName = value.title;
			componentsStr += '<li>' + componentName + '</li>';
		});
		componentsStr += '</ul>';
		$('#sidebarStudyList').append(componentsStr);
	});
}

</script>

</body>
</html>
