@(studyList: List[StudyModel], loggedInUser: UserModel,
breadcrumbs: services.Breadcrumbs, messages: services.Messages,
study: StudyModel, workerSet: Set[workers.Worker])

@views.html.jatos.main(studyList, loggedInUser, breadcrumbs, messages){

<!-- Toolbar -->
<div id="studyToolbar" class="btn-toolbar" role="toolbar">
	<div class="btn-group">
		<button id="showStudy" type="button" class="btn btn-primary">Show</button>
		<button id="studyResults" type="button" class="btn btn-primary">Results <span class="badge">@results.StudyResult.countByStudy(study)</span></button>
		<button id="workers" type="button" class="btn btn-primary">Workers <span class="badge">@workerSet.size()</button>
		<button id="editStudy" type="button" class="btn btn-primary">Properties</button>
		<button id="lockStudy" type="button" class="btn btn-primary">@if(study.isLocked()){Unlock}else{Lock}</button>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown">
				More <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="@routes.ImportExport.exportStudy(study.getId())">Export</a></li>
				<li><a id="cloneStudy" href="#">Clone</a></li>
				<li><a href="@routes.Studies.showMTurkSourceCode(study.getId())">MT Source Code</a></li>
				<li class="divider"></li>
				<li><a id="testerRun" href="#">Tester Run</a></li>
				<li><a id="standaloneRun" href="#">Standalone Run</a></li>
				<li class="divider"></li>
				<li><a id="removeStudy" href="#">Delete</a></li>
			</ul>
		</div>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Components <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="@routes.Components.create(study.getId())">New</a></li>
			<input id="importComponentBrowser" type="file" name="@ComponentModel.COMPONENT" style="display: none;">
			<li><a id="importComponentButton" href="#">Import</a></li>
		</ul>
	</div>
	
	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Members <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			@for(member <- study.getMemberList()) {
			<li><a href="@routes.Users.profile(member.getEmail())">@member.getName() (@member.getEmail())</a></li>
			}
			<li class="divider"></li>
			<li><a href="@routes.Studies.changeMembers(study.getId())">Change</a></li>
		</ul>
	</div>
</div>

<!-- Components Table -->
<h3>Components</h3>
<table id="componentsTable" class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
	<thead>
		<tr>
			<th></th>
			<th>Active</th>
			<th>#</th>
			<th>ID</th>
			<th>Title</th>
			<th></th>
		</tr>
	</thead>
</table>

<!-- Template for button toolbar in Component's row -->
<div id="componentToolbar" style="display: none">
	<div class="componentBtnGroup btn-group" aria-hidden="true">
		<button type="button" class="showComponent btn btn-default">Show</button>
		<button type="button" class="componentResults btn btn-default">Results <span class="resultsBadge badge"></span></button>
		<button type="button" class="editComponent btn btn-default">Properties</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
				data-toggle="dropdown">
				More <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a class="exportComponent" href="#">Export</a></li>
				<li><a class="cloneComponent" href="#">Clone</a></li>
				<li class="divider"></li>
				<li><a class="removeComponent" href="#">Delete</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Confirmation Modal - Run Standalone or Tester -->
<div class="modal fade" id="confirmModalRun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create run</h4>
			</div>
			<div class="modal-body">
				<p class="modalText">You're about to create a worker.</p>
				<div class="input-group">
					<input type="text" class="workerName form-control" placeholder="Worker name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var studyData = @Html(services.JsonUtils.studyForUI(study));

var componentsTable;
$(document).ready(function() {
	componentsTable = $('#componentsTable').DataTable({
		"ajax": {
			"type": "GET",
			"url" : '@routes.Studies.tableDataByStudy(study.getId())',
			"error": function(reason) {
					showError("Couldn't read components data.")
			}
		},
		"paging": false,
		"info": false,
		"filter": false,
		"columnDefs": [ {
			"searchable": false,
			"orderable": false,
			"targets": "_all"
		} ],
		"columns": [
			{
				"data": null,
				"defaultContent": '',
				"width": "1px",
				"render": function (data, type, full, meta) {
					return '<div class="upArrow"></div>'
						+ '<div class="downArrow"></div>';
				}
			},
			{
				"class": 'activeComponent',
				"data": null,
				"defaultContent": '',
				"width": "1px",
				"render": function (data, type, full, meta) {
					var html = '<input class="activeCheckbox" type="checkbox"';
					if (data.active) {html += 'checked'}
					html += '>';
					return html;
				}
			},
			{
				"class": 'position',
				"data": null,
				"width": "1px"
			},
			{
				"data": "id",
				"width": "1px"
			},
			{ 
				"data": "title",
			},
			{
				"class": "toolbar",
				"data": null,
				"defaultContent": '',
				"width": "1%",
				"render": function (data, type, full, meta) {
					var toolbar = $('#componentToolbar').clone().show();
					$(toolbar).find('.resultsBadge').text(data.resultCount);
					return toolbar.html();
				}
			}
		],
		"order" : []
	});
	
	componentsTable.on('order.dt search.dt', function () {
		componentsTable.column(2, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}).draw();

	// Don't remove. It readjusts the columns width after writing the component's positions
	componentsTable.columns.adjust().draw();
	
	// Adjust the width of every component's toolbar to the widest one
	componentsTable.on('column-sizing.dt', function (e, settings) {
		var maxWidth = 0;
		$('.componentResults').each(function(index) {
			var width = $(this).width();
			if (width > maxWidth) {
				maxWidth = width;
			}
		});
		$('.componentResults').each(function(index) {
			$(this).width(maxWidth);
		});
	});
	
	$('#componentsTable tbody').on('click', '.showComponent', function() {
		window.location.href = "/jatos/" + studyData.id +"/"
			+ getComponentId(this) + "/show";
	});
	
	$('#componentsTable tbody').on('click', '.componentResults', function() {
		window.location.href = "/jatos/" + studyData.id +"/"
			+ getComponentId(this) + "/results";
	});
	
	$('#componentsTable tbody').on('click', '.editComponent', function() {
		window.location.href = "/jatos/" + studyData.id +"/"
			+ getComponentId(this) + "/edit";
	});
	
	$('#componentsTable tbody').on('click', '.exportComponent', function() {
		window.location.href = "/jatos/" + studyData.id +"/"
			+ getComponentId(this) + "/export";
	});
	
	$('#componentsTable tbody').on('click', '.cloneComponent', function() {
		window.location.href = "/jatos/" + studyData.id +"/"
			+ getComponentId(this) + "/clone";
	});
	
	$('#componentsTable tbody').on('click', '.removeComponent', function() {
		var element = this;
		var componentId = getComponentId(this);
		if (!componentId) {return} // should never happen
		var componentTitle = getComponentTitle(this);
		var title = "Confirm Delete";
		var preText = "You are about to delete component \"" + componentTitle 
			+ "\" (ID " + componentId + ") <b>with all its results</b>.";
		var postText = "Do you want to proceed?";
		askConfirmation(title, preText, null, postText, 'Delete', function() {
			$.ajax({
				url : "/jatos/" + studyData.id +"/" + componentId + "/remove",
				type : 'DELETE',
				success : function(result) {
					var tr = $(element).closest('tr');
					componentsTable.row(tr).remove().draw();
				},
				error : function(err) {
					showError(err.responseText);
				}
			});
		});
	});
	
	$('#componentsTable tbody').on('click', '.upArrow', function() {
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		ajaxChangeComponentOrder(componentId, "up", tr);
	});

	$('#componentsTable tbody').on('click', '.downArrow', function() {
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		ajaxChangeComponentOrder(componentId, "down", tr);
	});
	
	$('#componentsTable tbody').on('click', '.activeCheckbox', function() {
		var checkbox = this;
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		var active = $(this).prop('checked');
		$.ajax({
			url : "/jatos/" + studyData.id +"/" + componentId
					+ "/changeProperty?active=" + active,
			type : "POST",
			error : function(err) {
				$(checkbox).prop("checked", !$(checkbox).is(":checked"));
				showError(err.responseText);
			}
		});
	});
	
	function getComponentId(element) {
		var tr = $(element).closest('tr');
		var rowData = componentsTable.row(tr).data();
		return rowData.id;
	}
	
	function getComponentTitle(element) {
		var tr = $(element).closest('tr');
		var rowData = componentsTable.row(tr).data();
		return rowData.title;
	}
	
});

function ajaxChangeComponentOrder(componentId, direction, tr) {
	$.ajax({
		url : "/jatos/" + studyData.id + "/changeComponentOrder"
				+ "?componentId=" + componentId + "&direction="
				+ direction,
		type : "POST",
		success : function(response) {
			if (direction == "up") {
				var clickedRow = componentsTable.row(tr);
				var clickedRowIndex = clickedRow.index();
				if (clickedRowIndex < 1) { return }
				var previousRow = componentsTable.row(clickedRowIndex - 1);
				swapRowData(clickedRow, previousRow);
			}
			if (direction == "down") {
				var clickedRow = componentsTable.row(tr);
				var clickedRowIndex = clickedRow.index();
				if (clickedRowIndex > componentsTable.rows({page:'current'}).data().length - 2) { return }
				var nextRow = componentsTable.row(clickedRowIndex + 1);
				swapRowData(clickedRow, nextRow);
			}
			componentsTable.draw();
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

function swapRowData(row1, row2) {
	var row1Data = row1.data();
	var row2Data = row2.data();
	row1.data(row2Data);
	row2.data(row1Data);
}

$('#studyToolbar').on('click', '#lockStudy', function() {
	$.ajax({
		url : "/jatos/" + studyData.id +"/swapLock",
		type : "POST",
		success : function(response) {
			if (response == 'true') {
				$("#lockStudy").text("Unlock");
			} else {
				$("#lockStudy").text("Lock");
			}
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
});

$('#studyToolbar').on('click', '#showStudy', function() {
	window.location.href = "@routes.Studies.showStudy(study.getId())";
});

$('#studyToolbar').on('click', '#studyResults', function() {
	window.location.href = "@routes.StudyResults.index(study.getId())";
});

$('#studyToolbar').on('click', '#workers', function() {
	window.location.href = "@routes.Studies.workers(study.getId())";
});

$('#studyToolbar').on('click', '#editStudy', function() {
	window.location.href = "@routes.Studies.edit(study.getId())";
});

$('#studyToolbar').on('click', '#standaloneRun', function() {
	$('#confirmModalRun').find('.modal-title').html("Create standalone run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a standalone worker.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var workerName = $('#confirmModalRun').find('.workerName').val();
		var jsonData = JSON.stringify({ "workerName": workerName });
		$.ajax({
			type: 'POST',
			url: '@routes.Studies.createStandaloneRun(study.getId())',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Standalone run";
				var preText = "Use link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
				});
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#testerRun', function() {
	$('#confirmModalRun').find('.modal-title').html("Create tester run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a tester worker.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var workerName = $('#confirmModalRun').find('.workerName').val();
		var jsonData = JSON.stringify({ "workerName": workerName });
		$.ajax({
			type: 'POST',
			url: '@routes.Studies.createTesterRun(study.getId())',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Tester run";
				var preText = "Use link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
					window.location.href = result;
				});
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#removeStudy', function() {
	var title = "Confirm Delete";
	var preText = "You are about to delete the study \"" + studyData.title 
		+ "\" (ID " + studyData.id + ") "
		+ "<b>with all its components, results, and the entire study's directory, "
		+ "including the HTML files</b>.";
	var postText = "Do you want to proceed?";
	askConfirmation(title, preText, null, postText, 'Delete', function() {
		$.ajax({
			url : '@routes.Studies.remove(study.getId())',
			type : 'DELETE',
			success : function(result) {
				window.location.replace('@routes.Home.home()');
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#cloneStudy', function() {
	$.ajax({
		url : '@routes.Studies.cloneStudy(study.getId())',
		type : 'GET',
		success : function(result) {
			window.location.replace('@routes.Studies.index(study.getId())');
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
});

function getComponentId(e) {
	var componentElement = $(e.target);
	var componentId = componentElement.attr("component-id");
	return componentId;
}

$('#studyToolbar').on('click', '#importComponentButton', function() {
	$('#importComponentBrowser').trigger("click");
});

$('#studyToolbar').on('change', '#importComponentBrowser', function() {
	var data = new FormData();
	var files = $('#importComponentBrowser').prop('files');
	$.each(files , function(index, value){
		data.append('@ComponentModel.COMPONENT', value);
	});
	$.ajax({
		url: '@routes.ImportExport.importComponent(study.getId())',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		type: 'POST',
		success: importComponentConfirm,
		error : function(err) {
			showError(err.responseText);
		}
	});
});

function importComponentConfirm(data) {
	response = $.parseJSON(data);
	if (response.componentExists) {
		var title = "Component already exists";
		var preText = "It seems a component \"" + response.componentTitle 
			+ "\" already exist.";
		var postText = "Do you want to overwrite this component?";
		askConfirmation(title, preText, null, postText, 'Overwrite', function() {
			postComponentImportConfirm();
		});
	} else {
		var title = "Import component";
		var preText = "You are about to import the component \""
			+ response.componentTitle + "\".";
		var postText = "Do you want to proceed?";
		askConfirmation(title, preText, null, postText, 'Import', function() {
			postComponentImportConfirm();
		});
	}
}

function postComponentImportConfirm() {
	$.ajax({
		type: 'POST',
		url: '@routes.ImportExport.importComponentConfirmed(study.getId())',
		success: function(result) {
			window.location.replace('@routes.Studies.index(study.getId())');
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

</script>

}
