@(studyList: List[StudyModel], loggedInUser: UserModel,
breadcrumbs: services.Breadcrumbs, messages: Messages,
study: StudyModel)

@views.html.jatos.main(studyList, loggedInUser, breadcrumbs, messages){

<!-- Workers table -->
<table id="workersTable" class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Additional Info</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">

var workersTable;
$(document).ready(function() {
	workersTable = $('#workersTable').DataTable({
		"ajax": {
			"type": "GET",
			"url" : '@routes.Workers.tableDataByStudy(study.getId())',
			"error": function(reason) {
					showError("Couldn't read components data.")
			}
		},
		"order": [[ 0, "desc" ]],
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"pageLength": 10,
		"columns": [
			{
				"data": "id",
				"render": function (data, type, full, meta) {
					return '<a href="/jatos/worker/'
						+ data + '">' + data + '</a>';
				}
			},
			{ "data": "uiWorkerType" },
			{ "data": getOther }
		]
	});
	
	function getOther(data, type, dataToSet) {
		if (data.mtWorkerId) {
			return "MTurk worker ID: " + data.mtWorkerId;
		}
		if (data.userEmail) {
			return "User email: " + data.userEmail;
		}
		if (data.comment) {
			return "Comment: " + data.comment;
		}
		return "none";
	}
	
	$('#resultsTable tbody').on('click', 'td.details-control', function() {
		var tr = $(this).closest('tr');
		var row = resultsTable.row(tr);
		if (row.child.isShown()) {
			row.child.hide();
			tr.removeClass('shown');
		}
		else {
			row.child(childRowFormat(row.data())).show();
			tr.addClass('shown');
		}
	});
});

</script>

}
