@(form: Form[Authentication.Login])

<html>
<head>
<title>Mechanical Argentine</title>
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-196x196.png")" sizes="196x196">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-160x160.png")" sizes="160x160">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-96x96.png")" sizes="96x96">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-16x16.png")" sizes="16x16">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon-32x32.png")" sizes="32x32">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

	<header>
		<a id="logo" href="@routes.Dashboard.dashboard"><span>Mechanical</span>Argentine</a>
	</header>

	@helper.form(routes.Authentication.authenticate) {

		<h1>Sign in</h1>
	
		@if(form.hasGlobalErrors) {
			<p class="error">@form.globalError.message</p>
		}
		@if(flash.contains("success")) {
			<p class="success">@flash.get("success")</p>
		}
	
		<p>
			<input type="username" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<button type="submit">Login</button>
		</p>

	}

</body>
</html>