@(study: common.Study)

<!-- Show all groups Modal -->
<div class="modal fade" id="groupsModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">All Groups</h4>
            </div>

            <div class="modal-body">
                <div class="messages"></div>
                <!-- All groups table -->
                <table class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                        <tr>
                            <th>Group ID <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="A fixed group can't have new members join">Fixed</th>
                            <th data-toggle="tooltip" data-placement="top" title="All currently active workers (click on the workers to get to their results page)">Active Workers</th>
                            <th data-toggle="tooltip" data-placement="top" title="All workers who were once member in this group (click on the workers to get to their results page)">Past Workers</th>
                            <th data-toggle="tooltip" data-placement="top" title="">Start Time <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="">End Time <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="Current state of the group">Group State <span class="glyphicon sortLogo gray-light"/></th>
                            <th class="groupSessionDataColumn"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Template for fixed button in Group's row -->
<div id="groupFixedButtonDiv" style="display: none">
    <button type="button" class="btn btn-batch fixButton" data-toggle="tooltip" data-placement="bottom"
            title="Fix/unfix group (a fixed group can't have new members join)">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
</div>

<!-- Template groups button bar -->
<div id="groupButtonBarTemplate" style="display: none">
    <div class="btn-group pull-right" role="group">
        <button type="button" class="groupSessionButton btn btn-batch"
            data-toggle="tooltip" data-placement="bottom" title="See and edit this group's session data">
            Group Session Data <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <button type="button" class="groupResultsButton btn btn-batch" data-toggle="tooltip"
            data-placement="bottom" title="Shows the study results of this group">
            Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
            title="Number of study results that belong to this group"></span>
        </button>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

var groupsTable;

function showGroupsModal(batch) {
    removeAlerts("#groupsModal");
    generateGroupsTable(batch);
    $('#groupsModal .modal-title').text('All Groups of Batch "' + batch.title + '"')
    $('#groupsModal').modal('show');
}

function generateGroupsTable(batch) {
    var dataUrl = "@{general.common.Common.getJatosUrlBasePath()}jatos/" + @study.getId() +"/batch/" + batch.id + "/groups";

    if (groupsTable) {
        groupsTable.ajax.url(dataUrl).load();
        return;
    }

    groupsTable = $('#groupsModal .table').DataTable({
        "ajax": {
            "type": "GET",
            "url" : dataUrl,
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText, "#groupsModal .messages");
                } else {
                    showError("Cannot read groups data.", "#groupsModal .messages");
                }
            }
        },
        "dom": "<'row'<'col-sm-1'B><'col-sm-5'l><'col-sm-6'f>>" + "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "order": [[ 6, "desc" ]],
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "pageLength": 10,
        "stateSave": true,
        "stateSaveParams": function (settings, data) {
            data.search.search = "";
        },
        "pagingType": "simple_numbers",
        buttons: [
            {
                text: "<span class='glyphicon glyphicon-refresh'></span>",
                "className": "btn btn-batch",
                "titleAttr": 'Refresh groups',
                action: function ( e, dt, node, config ) {
                    this.disable();
                    groupsTable.ajax.reload();
                    setTimeout(this.enable, 3000);
                }
            }
        ],
        "columns": [
            {
                "data": "id",
                "width": "1%"
            },
            {
                "data": "groupState",
                "orderable": false,
                "render": function (data, type, full, meta) {
                    var button = $('#groupFixedButtonDiv button:first-child').clone();
                    setFixedGroupButton(button, data);
                    return button.prop('outerHTML');
                }
            },
            {
                "data": "activeWorkerList",
                "orderable": false,
                "render": renderWorkerColumn
            },
            {
                "data": "historyWorkerList",
                "orderable": false,
                "render": renderWorkerColumn
            },
            {
                "data": "startDate",
                "type": "date",
                "class": 'time',
                "render": getFormattedDate
            },
            {
                "data": "endDate",
                "type": "date",
                "render": (data) => data ? getFormattedDate(data) : "not yet"
            },
            {
                "data": "groupState",
                "width": "1%"
            },
            {
                "orderable": false,
                "render" : renderGroupButtonBarColumn
            }
        ],
        "language": {
            "search": "Search:"
        },
        "drawCallback": function(settings) {
            $('th.groupSessionDataColumn').removeClass('sorting');
            setGroupResultsButtonWidthToMax();
        }
    });

    function setFixedGroupButton(button, groupState) {
        switch(groupState) {
        case "FIXED":
            button.addClass('fixedGroup');
            button.addClass("grayout");
            button.attr('title', "Currently fixed (no new members can join). Click to unfix this group.");
            button.html($(button.html())
                    .removeClass('glyphicon-plus-sign')
                    .addClass('glyphicon-minus-sign').prop('outerHTML'));
            break;
        case "STARTED":
            button.removeClass('fixedGroup');
            button.removeClass("grayout");
            button.attr('title', "Currently unfixed (new members can join). Click to fix this group.");
            button.html($(button.html())
                    .removeClass('glyphicon-minus-sign')
                    .addClass('glyphicon-plus-sign').prop('outerHTML'));
            break;
        case "FINISHED":
            button.removeClass('fixedGroup');
            button.removeClass('btn-batch');
            button.addClass('btn-default');
            button.prop('disabled', true);
            button.attr('title', "A finished group can't be fixed");
            button.html($(button.html())
                    .removeClass('glyphicon-plus-sign')
                    .removeClass('glyphicon-minus-sign')
                    .addClass("grayout")
                    .addClass('glyphicon-remove-sign')
                    .addClass('disabled', true).prop('outerHTML'));
            break;
        }
    }

    function renderWorkerColumn(data, type, dataToSet) {
        if (data.length == 0) return "none";

        var workerLinks = [];
        data.forEach(function(workerId) {
            workerLinks.push('<a type="button" class="btn btn-worker btn-xs" data-toggle="tooltip" ' +
            'data-placement="bottom" title="Click to get to this worker\'s results page" ' +
            'href="@{general.common.Common.getJatosUrlBasePath()}jatos/worker/' + workerId + '/results">' + workerId + '</a>');
        });
        return workerLinks.join(' ');
    }

    function renderGroupButtonBarColumn(data, type, dataToSet) {
        var groupButtonBar = $('#groupButtonBarTemplate').clone().show();
        $(groupButtonBar).removeAttr('id');
        $(groupButtonBar).find('.groupResultsButton .resultsBadge').text(dataToSet.resultCount);
        return groupButtonBar.html();
    }

    function setGroupResultsButtonWidthToMax() {
        // That's an ugly hack: just using datatables "drawCallback" doesn't work. For some reason the
        // buttons have an width of near 0. Here we wait until the first button has a width of > 1 and
        // only then trigger the button resizing.
        var buttons = $("#groupsModal .groupResultsButton");
        if (!(buttons && buttons.length && $(buttons[0]).width() > 1)) {
            window.requestAnimationFrame(setGroupResultsButtonWidthToMax);
        } else {
            setButtonWidthToMax("#groupsModal .groupResultsButton");
            groupsTable.columns.adjust();
        }
    };

    $('#groupsModal').on('click', '.fixButton', function() {
        var button = this;
        var tr = $(this).closest('tr');
        var groupId = groupsTable.row(tr).data().id;
        var fixed = $(this).hasClass('fixedGroup');
        $.ajax({
            url : "@{general.common.Common.getJatosUrlBasePath()}jatos/" + @study.getId() +"/group/" + groupId
                    + "/fixed?fixed=" + !fixed,
            type : "POST",
            success: function(groupState) {
                setFixedGroupButton($(button), groupState);
                groupsTable.cell(tr, 6).data(groupState);
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });

    $('#groupsModal').on('click', '.groupResultsButton', function() {
        var tr = $(this).closest('tr');
        var groupId = groupsTable.row(tr).data().id;
        window.location.href =  "@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/group/" + groupId + "/results";
    });
}


</script>
