<div class="modal fade" id="qrCodeModal" tabindex="-1" data-bs-config='{"backdrop":"true", "focus":true, "keyboard":true}'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header align-items-start">
                <h5 class="modal-title text-truncate flex-grow-1">QR Code</h5>
                <button class="btn btn-close2 btn-xs btn-nav" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="qrcode"></div>
                <button id="qrcode_download" class="btn btn-batch mt-2 float-end">Download</button>
            </div>
        </div>
    </div>
</div>
