<div class="modal fade" id="qrCodeModal" tabindex="-1" data-bs-config='{"backdrop":"true", "focus":true, "keyboard":true}'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">QR Code</h5>
                <button type="button" class="btn btn-close btn-nav" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="qrCodeText"></p>
                <div id="qrcode"></div>
                <button id="qrcode_download" class="btn btn-batch mt-2 float-end">Download</button>
            </div>
        </div>
    </div>
</div>
