@(loggedInUser: common.User, study: common.Study)

<!-- Template study links setup (each batch has one)-->
<div id="studyLinksSetupTemplate" class="slider panel-group studyLinksSetupItem" role="tablist" style="display: none">
    <div class="personalSingleStudyLinksSetup panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <button type="button" class="btn btn-default activeTypeButton" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <span data-toggle="tooltip" title="Study links with the worker type Personal Single can run a study only once. They are typically used to be distributed amongst participants that you contact individually. Each link can be personalized with a comment.">
                    <span class="glyphicon glyphicon-personal-single"></span>&nbsp;Personal Single
                </span>
            </span>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-worker studyLinksButton" data-toggle="tooltip"
                    data-placement="bottom" title="Show existing and create new study links for the worker type Personal Single">
                    Study Links
                    <span class="glyphicon glyphicon-link"></span>
                    <span class="studyLinksBadge badge"></span>
                </button>
                <button type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip" data-placement="bottom"
                    title="Show all study results that belong to this batch and worker type Personal Single">
                    Results <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                    title="Number of study results that belong to this batch and worker type Personal Single"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="personalMultipleStudyLinksSetup panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <button type="button" class="btn btn-default activeTypeButton" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <span data-toggle="tooltip" title="Study links with the worker type Personal Multiple can run a study multiple times. They are typically used to be distributed amongst participants that you contact individually. Each link can be personalized with a comment.">
                    <span class="glyphicon glyphicon-personal-multiple"></span>&nbsp;Personal Multiple
                </span>
            </span>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-worker studyLinksButton" data-toggle="tooltip"
                    data-placement="bottom" title="Show existing and create new study links for the worker type Personal Multiple">
                    Study Links
                    <span class="glyphicon glyphicon-link"></span>
                    <span class="studyLinksBadge badge"></span>
                </button>
                <button type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip" data-placement="bottom"
                    title="Show all study results that belong to this batch and worker type Personal Multiple">
                    Results <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                    title="Number of study results that belong to this batch and worker type Personal Multiple"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="generalSingleStudyLinksSetup panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <button type="button" class="btn btn-default activeTypeButton" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <span data-toggle="tooltip" title="Study links with the worker type General Single can be used many times - but only once in the same browser. There is only one link of this type per batch. They are typically used to be distributed in a mailing list or posting in social media.">
                    <span class="glyphicon glyphicon-general-single"></span>&nbsp;General Single
                </span>
            </span>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-worker studyLinkButton" data-toggle="tooltip"
                    data-placement="bottom" title="Get the study link for workers of type General Single">
                    Study Link
                    <span class="glyphicon glyphicon-link"></span>
                </button>
                <button type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip" data-placement="bottom"
                    title="Show all study results that belong to this batch and worker type General Single">
                    Results <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                    title="Number of study results that belong to this batch and worker type General Single"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="generalMultipleStudyLinksSetup panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <button type="button" class="btn btn-default activeTypeButton" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <span data-toggle="tooltip" title="Study links with the worker type General Multiple can be used many times - even in the same browser. There is only one link of this type per batch. They are typically used to be distributed in a mailing list or posting in social media.">
                    <span class="glyphicon glyphicon-general-multiple"></span>&nbsp;General Multiple
                </span>
            </span>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-worker studyLinkButton" data-toggle="tooltip"
                    data-placement="bottom" title="Get the study link for workers of type General Multiple">
                    Study Link
                    <span class="glyphicon glyphicon-link"></span>
                </button>
                <button type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip" data-placement="bottom"
                    title="Show study results that belong to this batch and worker type General Multiple">
                    Results <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                    title="Number of study results that belong to this batch and worker type General Multiple"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="mtStudyLinksSetup panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <button type="button" class="btn btn-default activeTypeButton" data-toggle="tooltip" data-placement="bottom" title="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <span data-toggle="tooltip" title="MTurk workers do not have a study link they have source code that contains the study link. This source code has to be copied into the 'source' field of your study's design layout in Mechanical Turk.">
                    <span class="glyphicon glyphicon-mturk"></span>&nbsp;MTurk
                </span>
            </span>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-worker mtWorkerSourceCode" data-toggle="tooltip" data-placement="bottom"
                    title="Show code that has to be copied into the 'source' field of your study's design layout in Mechanical Turk">
                    Source Code
                </button>
                <button type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip" data-placement="bottom"
                    title="Show study results that belong to this batch and worker type MTurk">
                    Results <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                    title="Number of study results that belong to this batch and worker type MTurk"></span>
                </button>
            </span>
        </div>
    </div>
</div>

<!-- Study link Modal (Personal Single or Personal Multiple) -->
<div id="studyLinksModal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Study Links</h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <table class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Activate / inactivate this study link - only activated links can be used to run this study">Active</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="ID of the worker that belongs to this study link">Worker&nbsp;ID <span class="glyphicon sortLogo gray-light"/></th>
                        <th data-toggle="tooltip" data-placement="bottom" title="This code, handed to workers, can be used in the /publix/run page to start the study.">Study&nbsp;Code <span class="glyphicon sortLogo gray-light"/></th>
                        <th>Study&nbsp;Links
                            <div class="btn-group btn-toggle">
                                <button class="btn btn-xs btn-worker directLink active" data-toggle="tooltip" data-placement="bottom" title="Show links that start the study directly after clicking on them">Open Directly</button>
                                <button class="btn btn-xs btn-default confirmLink" data-toggle="tooltip" data-placement="bottom" title="Show links that do not start the study directly but display a Study Entry page before. Here a message can be displayed (specified in Study Properites) and the worker has to click a button to start the study.">Confirm First</button>
                            </div>
                            &nbsp;<span class="glyphicon sortLogo gray-light"/>
                        </th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comment given during creation of study link">Comment <span class="glyphicon sortLogo gray-light"/></th>
                        <th data-toggle="tooltip" data-placement="bottom" title="State of the study result that belongs to this link. In case of a Personal Multiple link it's the state of the study result which study link was started last."><span class="state">Study&nbsp;Result&nbsp;State</span> <span class="glyphicon sortLogo gray-light"/></th>
                        <th class="results" data-toggle="tooltip" data-placement="bottom" title="">Study Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Template for active button in study link's row -->
<div id="studyLinkActiveButtonDiv" style="display: none">
    <button type="button" class="btn btn-default activeStudyLinkButton"
            data-toggle="tooltip" data-placement="bottom" title="">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="searchText" style="display:none;">active</span>
    </button>
</div>

<!-- Study link creator Modal (Personal Single or Personal Multiple) -->
<div id="studyLinksCreatorModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <p class="modalText"></p>
                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="comment">Comment&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Use the comment to distinguish the worker(s) from others."></span></label>
                        <div class="col-xs-9">
                            <input id="comment" class="comment form-control" type="text" placeholder="Comment">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-3" for="amount">Amount&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Enter the number of links you want to create."></span></label>
                        <div class="col-xs-3">
                            <input id="amount" class="amount form-control col-xs-3" type="number" min="1" max="100" value="1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="confirmed btn btn-worker">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Study link display Modal -->
<div id="studyLinksDisplayModal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Study link</h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>

<!-- QR code display Modal -->
<div id="qrCodeModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">QR Code</h4>
            </div>
            <div class="modal-body">
                <div id="qr-code" data-toggle="tooltip" title=""></div>
                <div class="messages">Right-click on the QR code to copy or save the image.</div>
            </div>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

function loadStudyLinksSetup(batchId) {
    var studyLinksSetupDiv = $(batchTable.row('#' + batchId).node()).next().find('.studyLinksSetupItem').first();
    if (studyLinksSetupDiv.length == 0) {
        var studyLinksSetupDiv = $('#studyLinksSetupTemplate').clone().removeAttr('id').show();
    }

    $.ajax({
        type: 'GET',
        url: `@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/batch/${batchId}/studyLinksSetupData`,
        success: function(studyLinksSetupData) {
            fillStudyLinksSetup(studyLinksSetupData, studyLinksSetupDiv);
        },
        error: function(response) {
            showError("Couldn't load study links setup.");
        }
    });
    return studyLinksSetupDiv;
}

function fillStudyLinksSetup(studyLinksSetupData, studyLinksSetupDiv) {
    setAllowedWorkerTypes(studyLinksSetupDiv, studyLinksSetupData.allowedWorkerTypes);

    $(studyLinksSetupDiv).find('.personalSingleStudyLinksSetup .studyLinksBadge').text(studyLinksSetupData.personalSingleLinkCount);
    $(studyLinksSetupDiv).find('.personalMultipleStudyLinksSetup .studyLinksBadge').text(studyLinksSetupData.personalMultipleLinkCount);

    resultCount = studyLinksSetupData.studyResultCountsPerWorker['@common.workers.PersonalSingleWorker.WORKER_TYPE'];
    $(studyLinksSetupDiv).find('.personalSingleStudyLinksSetup .workerResultsButton .workerResultsBadge').text(resultCount);
    resultCount = studyLinksSetupData.studyResultCountsPerWorker['@common.workers.PersonalMultipleWorker.WORKER_TYPE'];
    $(studyLinksSetupDiv).find('.personalMultipleStudyLinksSetup .workerResultsButton .workerResultsBadge').text(resultCount);
    resultCount = studyLinksSetupData.studyResultCountsPerWorker['@common.workers.GeneralSingleWorker.WORKER_TYPE'];
    $(studyLinksSetupDiv).find('.generalSingleStudyLinksSetup .workerResultsButton .workerResultsBadge').text(resultCount);
    resultCount = studyLinksSetupData.studyResultCountsPerWorker['@common.workers.GeneralMultipleWorker.WORKER_TYPE'];
    $(studyLinksSetupDiv).find('.generalMultipleStudyLinksSetup .workerResultsButton .workerResultsBadge').text(resultCount);
    resultCount = studyLinksSetupData.studyResultCountsPerWorker['@common.workers.MTWorker.WORKER_TYPE']
            + studyLinksSetupData.studyResultCountsPerWorker['@common.workers.MTSandboxWorker.WORKER_TYPE'];
    $(studyLinksSetupDiv).find('.mtStudyLinksSetup .workerResultsButton .workerResultsBadge').text(resultCount);

    setButtonWidthToMax(".studyLinksSetupItem .studyLinksButton");
    setButtonWidthToMax(".studyLinksSetupItem .workerResultsButton");
}

function setAllowedWorkerTypes(studyLinksSetupDiv, allowedWorkerTypes) {
    // First clear all allowed worker types
    $(studyLinksSetupDiv).find(".activeTypeButton").each(function(index) {
        toggleWorkerTypeButton($(this), false);
    });
    // Now set the allowed ones
    $.each(allowedWorkerTypes, function(index, workerType) {
        var button;
        switch (workerType) {
        case '@common.workers.PersonalSingleWorker.WORKER_TYPE':
            button = $(studyLinksSetupDiv).find(".personalSingleStudyLinksSetup .activeTypeButton");
            break;
        case '@common.workers.PersonalMultipleWorker.WORKER_TYPE':
            button = $(studyLinksSetupDiv).find(".personalMultipleStudyLinksSetup .activeTypeButton");
            break;
        case '@common.workers.GeneralSingleWorker.WORKER_TYPE':
            button = $(studyLinksSetupDiv).find(".generalSingleStudyLinksSetup .activeTypeButton");
            break;
        case '@common.workers.GeneralMultipleWorker.WORKER_TYPE':
            button = $(studyLinksSetupDiv).find(".generalMultipleStudyLinksSetup .activeTypeButton");
            break;
        case '@common.workers.MTWorker.WORKER_TYPE':
            button = $(studyLinksSetupDiv).find(".mtStudyLinksSetup .activeTypeButton");
            break;
        }
        if (button) {
            toggleWorkerTypeButton(button, true);
        }
    });
}

function toggleWorkerTypeButton(button, active) {
    if (active) {
        button.addClass('allowedWorkerType');
        button.removeClass('btn-default');
        button.addClass('btn-worker');
        button.attr('title', "Click to forbid this worker type");
        $(button).find('.glyphicon').removeClass('glyphicon-remove').addClass('glyphicon-ok');
    } else {
        button.removeClass('allowedWorkerType');
        button.removeClass('btn-worker');
        button.addClass('btn-default');
        button.attr('title', "Click to allow this worker type");
        $(button).find('.glyphicon').removeClass('glyphicon-ok').addClass('glyphicon-remove');
    }
}

$('#batchTable').on('click', '.activeTypeButton', function() {
    var workerType = getWorkerTypeFromPanel(this);
    var allow = $(this).hasClass('allowedWorkerType');
    var batch = getBatchData(this);
    var studyLinksSetupDiv = $(this).closest('.studyLinksSetupItem');
    $.ajax({
        url : "@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/batch/" + batch.id
                + "/properties/workerType/" + workerType + "?allow=" + !allow,
        type : "POST",
        success: function(allowedWorkerTypes) {
            batch.allowedWorkerTypes = allowedWorkerTypes;
            setAllowedWorkerTypes(studyLinksSetupDiv, allowedWorkerTypes);
        },
        error : function(err) {
            showError("Couldn't change worker type activation.");
        }
    });
});

function getWorkerTypeFromPanel(panelElem) {
    if ($(panelElem).closest('.panel').is('.personalSingleStudyLinksSetup')) {
        return "@common.workers.PersonalSingleWorker.WORKER_TYPE";
    } else if ($(panelElem).closest('.panel').is('.personalMultipleStudyLinksSetup')) {
        return "@common.workers.PersonalMultipleWorker.WORKER_TYPE";
    } else if ($(panelElem).closest('.panel').is('.generalSingleStudyLinksSetup')) {
        return "@common.workers.GeneralSingleWorker.WORKER_TYPE";
    } else if ($(panelElem).closest('.panel').is('.generalMultipleStudyLinksSetup')) {
            return "@common.workers.GeneralMultipleWorker.WORKER_TYPE";
    } else if ($(panelElem).closest('.panel').is('.mtStudyLinksSetup')) {
        return "@common.workers.MTWorker.WORKER_TYPE";
    }
}

var paginationLength = 10;
var studyLinksTable;

$('#batchTable').on('click', '.studyLinksButton', function(e) {
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen

    var workerType, workerTypeUI;
    if ($(this).parents('.personalSingleStudyLinksSetup').length) {
        workerType = "@common.workers.PersonalSingleWorker.WORKER_TYPE";
        workerTypeUI = "@common.workers.PersonalSingleWorker.UI_WORKER_TYPE";
        $('#studyLinksModal th .state').text('Study Result State');
        $('#studyLinksModal th.results').text('Study Result');
    } else if ($(this).parents('.personalMultipleStudyLinksSetup').length) {
        workerType = "@common.workers.PersonalMultipleWorker.WORKER_TYPE";
        workerTypeUI = "@common.workers.PersonalMultipleWorker.UI_WORKER_TYPE";
        $('#studyLinksModal th .state').text('Study Result State (latest)');
        $('#studyLinksModal th.results').text('Study Results');
    }

    $('#studyLinksModal .modal-title').text(`Study links for worker type ${workerTypeUI} in batch '${batch.title}'`);
    removeAlerts("#studyLinksModal");
    if (!batch.allowedWorkerTypes.includes(workerType)) {
        showWarning(`Worker type ${workerTypeUI} is currently not allowed in this batch`, "#studyLinksModal .messages");
    }
    fillStudyLinksTable(batch, workerType);

    $('#studyLinksModal').data('batch', batch);
    $('#studyLinksModal').data('workerType', workerType);
    $('#studyLinksModal').modal('show');
});

function fillStudyLinksTable(batch, workerType) {
    studyLinksTable = $('#studyLinksModal').find('.table').DataTable({
        "ajax": {
            "type": "GET",
            "url" : "@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/batch/" + batch.id + "/studyLinksData?workerType=" + workerType,
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText, "#studyLinksModal .messages");
                } else {
                    showError("Couldn't load study links for " + workerType + " worker type.", "#studyLinksModal .messages");
                }
            }
        },
        "destroy": true,
        "pageLength": paginationLength,
        "dom": 'ftip',
        "dom": "<'row'<'col-sm-6 createButtons'><'col-sm-3 showButtons'><'col-sm-3'f>>" + "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "buttons": [],
        "columns": [
            {
                "data": null,
                "defaultContent": '',
                "orderable": false,
                "width": "1px",
                "render": function (data, type, full, meta) {
                    const button = $('#studyLinkActiveButtonDiv button:first-child').clone();
                    setStudyLinkRowActive(button, data.active, data.studyResultState);
                    return button.prop('outerHTML');
                }
            },
            {
                "data": "workerId",
                "width": "1%"
            },
            {
                "data": "studyCode",
                "render": function(studyCode, type, row) {
                    return `<span>${studyCode}</span>
                        <button type="button" class="btn clipboardButton btn-xs" data-toggle="tooltip" title="Copy this link to the clipboard.">
                        <span class="glyphicon glyphicon-duplicate"></span></button>`;
                }
            },
            {
                "data": "studyCode",
                "render": renderStudyLink
            },
            {
                "data": "comment",
            },
            {
                "data": "studyResultState",
                "width": "20%",
                "render": function (data, type, full, meta) {
                    return data !== null ? data : "not yet";
                }
            },
            {
                "data": null,
                "orderable": false,
                "width": "1%",
                "render": renderWorkerResultsButton
            }
        ],
        "createdRow": function(row, data, index) {
            setStudyLinkRowActive($(row).find('.activeStudyLinkButton'), data.active, data.studyResultState);
        },
        "order": [[ 1, "desc" ]],
        "autoWidth": false,
        "pageLength": 10,
        "pagingType": "simple_numbers",
        "lengthChange": false,
        "language": {
            "emptyTable": "No links yet",
            "search": "Search:"
        }
    });

    studyLinksTable.on('draw', function () {
        setWorkerResultsButtonWidthToMax();
        showDirectOrConfirmStudyLink();
        toggleTablePagination();
    });

    new $.fn.dataTable.Buttons(studyLinksTable, {
        name: 'createButtonGroup',
        buttons: [
            {
                text: '<span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-link"></span>',
                "className": 'btn btn-worker oneNewStudyLinkButton',
                "titleAttr": 'Shortcut to create just one study link without comment'
            },
            {
                text: '<span class="glyphicon glyphicon-plus"></span> New Study Links <span class="glyphicon glyphicon-link"></span>',
                "className": 'btn btn-worker newStudyLinksButton',
                "titleAttr": 'Create new study links'
            }
        ]
    });
    new $.fn.dataTable.Buttons(studyLinksTable, {
        name: 'refreshButton',
        buttons: [
            {
                text: "<span class='glyphicon glyphicon-refresh'></span>",
                "className": "btn btn-worker",
                "titleAttr": 'Refresh',
                action: function ( e, dt, node, config ) {
                    this.disable();
                    studyLinksTable.ajax.reload();
                    setTimeout(this.enable, 3000);
                }
            }
        ]
    });
    new $.fn.dataTable.Buttons(studyLinksTable, {
            name: 'showButtonGroup',
            buttons: [
                {
                    "text": "All",
                    "className": "btn-sm btn-worker",
                    "titleAttr": 'Show all study links',
                    "action": function(e, dt, node, config) {
                        dt.column(0).search("").draw();
                    }
                },
                {
                    "text": "Active",
                    "className": "btn-sm btn-default",
                    "titleAttr": 'Show only active study links',
                    "action": function(e, dt, node, config) {
                        dt.column(0).search("active").draw();
                    }
                },
                {
                    "text": "Deactivated",
                    "className": "btn-sm btn-default",
                    "titleAttr": 'Show only active study links',
                    "action": function(e, dt, node, config) {
                        dt.column(0).search("deactivated").draw();
                    }
                },
                {
                    "text": "Used",
                    "className": "btn-sm btn-default",
                    "titleAttr": 'Show only used study links',
                    "action": function(e, dt, node, config) {
                        dt.column(0).search("used").draw();
                    }
                }
            ]
    });
    studyLinksTable.buttons('createButtonGroup', null).containers()
            .attr('id', 'studyLinksTable_create')
            .appendTo('.createButtons');
    studyLinksTable.buttons('refreshButton', null).containers()
            .attr('id', 'studyLinksTable_refresh')
            .appendTo('.createButtons');
    studyLinksTable.buttons('showButtonGroup', null).containers()
            .attr('id', 'studyLinksTable_show')
            .appendTo('.showButtons');
    $('#studyLinksTable_show').wrap(`<label for="studyLinksTable_show">Show:&nbsp;&nbsp;</label>`);

    $('#studyLinksTable_show').on('click', 'button', function() {
        $(this).parent().children('button').each(function(i, button) {
            $(button).removeClass('btn-worker');
            $(button).addClass('btn-default');
        });
        $(this).removeClass('btn-default');
        $(this).addClass('btn-worker');
    });

    function renderStudyLink(studyCode, type, row) {
        return `<div class="directLink">
            <span>${getRealBaseUrl()}publix/${studyCode}</span>
            <button type="button" class="btn clipboardButton btn-xs" data-toggle="tooltip" title="Copy this link to the clipboard."><span class="glyphicon glyphicon-duplicate"></span></button>
            <button type="button" class="btn qrCodeButton btn-xs" data-toggle="tooltip" title="Show QR code for this link."><span class="glyphicon glyphicon-qrcode"></span></button>
            </div>
            <div class="confirmLink">
            <span>${getRealBaseUrl()}publix/run?code=${studyCode}</span>
            <button type="button" class="btn clipboardButton btn-xs" data-toggle="tooltip" title="Copy this link to the clipboard."><span class="glyphicon glyphicon-duplicate"></span></button>
            <button type="button" class="btn qrCodeButton btn-xs" data-toggle="tooltip" title="Show QR code for this link."><span class="glyphicon glyphicon-qrcode"></span></button>
            </div>`;
    }

    function renderWorkerResultsButton(data, type, full) {
        const workerType = $('#studyLinksModal').data('workerType');
        const isPersonalMultiple = workerType == "@common.workers.PersonalMultipleWorker.WORKER_TYPE";
        const name = isPersonalMultiple ? "Results" : "Result";
        const count = isPersonalMultiple ? full.studyResultCount : "";
        const button = `<a type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip"
            data-placement="bottom" title="Shows study results of this worker"
            href="@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/batch/${batch.id}/results?workerType=${workerType}">${name}
            <span class="workerResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
            title="Number of study results that belong to this worker">${count}</span></a>`;
        return full.studyResultState !== null ? button : "";
    }

    function setWorkerResultsButtonWidthToMax() {
        // That's an ugly hack: just using datatables "drawCallback" doesn't work. For some reason the
        // buttons have an width of near 0. Here we wait until the first button has a width of > 1 and
        // only then trigger the button resizing.
        var buttons = $("#studyLinksModal .workerResultsButton");
        if (!(buttons && buttons.length && $(buttons[0]).width() > 1)) {
            window.requestAnimationFrame(setWorkerResultsButtonWidthToMax);
        } else {
            setButtonWidthToMax("#studyLinksModal .workerResultsButton");
            studyLinksTable.columns.adjust();
        }
    };

    function showDirectOrConfirmStudyLink() {
        if ($('th button.directLink').hasClass('active')) {
            $('td div.directLink').removeClass('hideKeepWidth');
            $('td div.confirmLink').addClass('hideKeepWidth');
        } else {
            $('td div.directLink').addClass('hideKeepWidth');
            $('td div.confirmLink').removeClass('hideKeepWidth');
        }
    }

    function toggleTablePagination() {
        var rowNumber = studyLinksTable.rows().count();
        var hidePaging = rowNumber <= paginationLength;
        $('#studyLinksModal .dataTables_paginate').toggle(!hidePaging);
    }
}

$('#batchTable').on('click', '.workerResultsButton', function() {
    var workerType = getWorkerTypeFromPanel(this);
    var batch = getBatchData(this);
    if (workerType) {
        window.location.href =  "@{general.common.Common.getJatosUrlBasePath()}jatos/@study.getId()/batch/" + batch.id
            + "/results?workerType=" + workerType;
    }
});

function setStudyLinkRowActive(button, active, studyResultState) {
    if (active) {
        button.addClass('activeStudyLink');
        button.removeClass('btn-default');
        button.addClass('btn-worker');
        button.attr('title', "Click to deactivate this study link");
        button.children(".glyphicon").removeClass('glyphicon-remove').addClass('glyphicon-ok');
        button.children(".searchText").text("active");
    } else {
        button.removeClass('activeStudyLink');
        button.removeClass('btn-worker');
        button.addClass('btn-default');
        button.attr('title', "Click to activate this study link");
        button.children(".glyphicon").removeClass('glyphicon-ok').addClass('glyphicon-remove');
        button.children(".searchText").text("deactivated");
    }
    const isPersonalSingle = $('#studyLinksModal').data('workerType') == "@common.workers.PersonalSingleWorker.WORKER_TYPE";
    if (isPersonalSingle && studyResultState !== null && studyResultState !== "PRE") {
        button.prop("disabled", true);
        button.attr('title', "This link was already used and can't be deactivated.");
        button.addClass("grayout");
        button.children(".searchText").text("used");
    }
}

$('#studyLinksModal').on('click', '.activeStudyLinkButton', function() {
    var button = this;
    var batch = $('#studyLinksModal').data('batch');
    var active = $(button).hasClass('activeStudyLink');
    var tr = $(button).closest('tr');
    var rowData = studyLinksTable.row(tr).data();
    var studyCode = rowData.studyCode;
    $.ajax({
        url : "@{general.common.Common.getJatosUrlBasePath()}jatos/" + @study.getId() +"/batch/" + batch.id
                + "/studyLink/" + studyCode + "?active=" + !active,
        type : "POST",
        success: function(active) {
            setStudyLinkRowActive($(button), active, rowData.studyResultState);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#studyLinksModal').on('click', '.refreshButton', function(e) {
    $("#studyLinksModal .refreshButton").prop('disabled', true);
    studyLinksTable.ajax.reload();
    setTimeout(() => $("#studyLinksModal .refreshButton").prop('disabled', false), 3000);
});

$('#studyLinksModal').on('click', '.oneNewStudyLinkButton', function(e) {
    const batch = $('#studyLinksModal').data('batch');
    const workerType = $('#studyLinksModal').data('workerType');
    $.ajax({
        url: `@{general.common.Common.getJatosUrlBasePath()}jatos/api/v1/studies/@study.getId()/studyCodes?batchId=${batch.id}&type=${workerType}`,
        success: () => studyLinksTable.ajax.reload(),
        error : (err) => showError(err.responseText)
    });
});

$('#studyLinksModal').on('click', '.newStudyLinksButton', function(e) {
    var batch = $('#studyLinksModal').data('batch');
    var workerType = $('#studyLinksModal').data('workerType');
    if (workerType == "@common.workers.PersonalSingleWorker.WORKER_TYPE") {
        showStudyLinksCreatorPersonalSingleModal(batch);
    } else if (workerType == "@common.workers.PersonalMultipleWorker.WORKER_TYPE") {
        showStudyLinksCreatorPersonalMultipleModal(batch)
    }
});

function showStudyLinksCreatorPersonalSingleModal(batch) {
    var text = "Use a comment to distinguish these study links from others.";
    var title = "Create study links for worker type Personal Single in batch '" + batch.title + "'";
    showStudyLinksCreatorModal(title, text);
    $('#studyLinksCreatorModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
        const url = `@{general.common.Common.getJatosUrlBasePath()}jatos/api/v1/studies/@study.getId()/studyCodes?batchId=${batch.id}&type=PersonalSingle`;
        requestLinksPersonal(url, showStudyLinksDisplayPersonalModal, batch);
    });
}

function showStudyLinksCreatorPersonalMultipleModal(batch) {
    var text = "Use a comment to distinguish these study links from others.";
    var title = "Create study links for worker type Personal Multiple in batch '" + batch.title + "'";
    showStudyLinksCreatorModal(title, text);
    $('#studyLinksCreatorModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
        var url = `@{general.common.Common.getJatosUrlBasePath()}jatos/api/v1/studies/@study.getId()/studyCodes?batchId=${batch.id}&type=PersonalMultiple`;
        requestLinksPersonal(url, showStudyLinksDisplayPersonalModal, batch);
    });
}

function showStudyLinksCreatorModal(title, text) {
    $('#studyLinksCreatorModal').find('.modal-title').html(title);
    $('#studyLinksCreatorModal').find('.alert').remove();
    $('#studyLinksCreatorModal').find('.modalText').html(text);
    $('#studyLinksCreatorModal').find('.comment').val("");
    $('#studyLinksCreatorModal').find('.amount').val(1);
    // Focus on comment input field in modal
    $('#studyLinksCreatorModal').on('shown.bs.modal', function () {
        $('#studyLinksCreatorModal').find('.comment').focus();
    })
    $('#studyLinksCreatorModal').modal('show');
}

function requestLinksPersonal(url, studyLinksDisplayModal, batch) {
    const comment = encodeURIComponent($('#studyLinksCreatorModal').find('.comment').val());
    const amount = $('#studyLinksCreatorModal').find('.amount').val();
    $('#studyLinksCreatorModal').find('.alert').remove();
    $.ajax({
        url: `${url}&comment=${comment}&amount=${amount}`,
        success: function(studyCodesResponse) {
            $('#studyLinksCreatorModal').modal('hide');
            if (studyLinksTable) {
                loadStudyLinksSetup(batch.id);
                studyLinksTable.ajax.reload();
            }
            studyLinksDisplayModal(studyCodesResponse.data, batch);
        },
        error : function(err) {
            showError(err.responseText, "#studyLinksCreatorModal .messages");
        }
    });
}

function showStudyLinksDisplayPersonalModal(studyCodes, batch) {
    var title;
    var workerType = $('#studyLinksModal').data('workerType');
    var workerTypeUI;
    if (workerType == "@common.workers.PersonalSingleWorker.WORKER_TYPE") {
        title = `Study links for Personal Single workers in batch '${batch.title}'`;
        workerTypeUI = "@common.workers.PersonalSingleWorker.UI_WORKER_TYPE";
    } else if (workerType == "@common.workers.PersonalMultipleWorker.WORKER_TYPE") {
        title = `Study links for Personal Multiple workers in batch '${batch.title}'`;
        workerTypeUI = "@common.workers.PersonalMultipleWorker.UI_WORKER_TYPE";
    }
    var preText, postText;
    if (studyCodes.length == 1) {
        preText = `<div class="directLink">This link will start the study directly.</div>
            <div class="confirmLink">This link will start the study but first ask the worker for confirmation (by pressing a button).</div>`;
        postText = `Or use the study code '${studyCodes[0]}'.<br>Copy & paste and hand it to your worker.`;
    } else {
        preText = `<div class="directLink">Each of these links will start the study directly.</div>
            <div class="confirmLink">Each of these links will start the study but first ask the worker for confirmation (by pressing a button).</div>`;
        postText = `Copy & paste and hand them to your workers.`;
    }
    var warning;
    if (!batch.allowedWorkerTypes.includes(workerType)) {
        warning = `Worker type ${workerTypeUI} is currently not allowed in this batch`;
    }
    showStudyLinksDisplayModal(title, preText, studyCodes, postText, warning);
}

$('#batchTable').on('click', '.generalSingleStudyLinksSetup .studyLinkButton', function() {
    showStudyLinkGeneralSingleModal(getBatchData(this));
});

$('#batchTable').on('click', '.generalMultipleStudyLinksSetup .studyLinkButton', function() {
    showStudyLinkGeneralMultipleModal(getBatchData(this));
});

function showStudyLinkGeneralSingleModal(batch) {
    $.ajax({
        url: `@{general.common.Common.getJatosUrlBasePath()}jatos/api/v1/studies/@{study.getId()}/studyCodes?batchId=${batch.id}&type=GeneralSingle`,
        success: function(studyCodeResponse) {
            var title = "Study link for worker type General Single in batch '" + batch.title + "'";
            var preText = `<div class="directLink">This link will start the study directly.</div>
                <div class="confirmLink">This link will start the study but first ask the worker for confirmation (by pressing a button).</div>`;
            var postText = `Or use the study code '${studyCodeResponse.data}'.<br>Copy & paste and hand it to your workers.`;
            var warning;
            if (!batch.allowedWorkerTypes.includes("@common.workers.GeneralSingleWorker.WORKER_TYPE")) {
                warning = `Worker type @common.workers.GeneralSingleWorker.UI_WORKER_TYPE is currently not allowed in this batch`;
            }
            showStudyLinksDisplayModal(title, preText, studyCodeResponse.data, postText, warning);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
}

function showStudyLinkGeneralMultipleModal(batch) {
    $.ajax({
        url: `@{general.common.Common.getJatosUrlBasePath()}jatos/api/v1/studies/@{study.getId()}/studyCodes?batchId=${batch.id}&type=GeneralMultiple`,
        success: function(studyCodeResponse) {
            var title = "Study link for worker type General Multiple in batch '" + batch.title + "'";
            var preText = `<div class="directLink">This link will start the study directly.</div>
                <div class="confirmLink">This link will start the study but first ask the worker for confirmation (by pressing a button).</div>`;
            var postText = `Or use the study code '${studyCodeResponse.data}'.<br>Copy & paste and hand it to your workers.`;
            var warning;
            if (!batch.allowedWorkerTypes.includes("@common.workers.GeneralMultipleWorker.WORKER_TYPE")) {
                warning = `Worker type @common.workers.GeneralMultipleWorker.UI_WORKER_TYPE is currently not allowed in this batch`;
            }
            showStudyLinksDisplayModal(title, preText, studyCodeResponse.data, postText, warning);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
}

function showStudyLinksDisplayModal(title, preText, studyCodes, postText, warning) {
    var htmlPreText =
        `<div class="btn-group btn-toggle">
            <button class="btn btn-xs btn-worker directLink active" data-toggle="tooltip" data-placement="bottom" title="Show links that start the study directly after clicking on them">Open Directly</button>
            <button class="btn btn-xs btn-default confirmLink" data-toggle="tooltip" data-placement="bottom" title="Show links that do not start the study directly but display a Study Entry page before. Here a message can be displayed (specified in Study Properites) and the worker has to click a button to start the study.">Confirm First</button>
        </div>
        <p>${preText}</p>`;
    var htmlUrl = '<div class="well linkUrls">' + generateStudyLinksHtml(studyCodes) + '</div>';

    removeAlerts("#studyLinksDisplayModal");
    if (warning) showWarning(warning, "#studyLinksDisplayModal .messages");

    var htmlPostText = `<p>${postText}</p>`;
    var content = htmlPreText + htmlUrl + htmlPostText;
    $('#studyLinksDisplayModal').find('.modal-title').text(title);
    $('#studyLinksDisplayModal').find('.content').html(content);
    $('#studyLinksDisplayModal div.confirmLink').addClass('hideKeepWidth');
    $('#studyLinksDisplayModal').modal('show');
    $('#studyLinksDisplayModal .btn-toggle').click(toggleDirectAndConfirmLink);
}

function generateStudyLinksHtml(studyCodes) {
    var directLinkUrls = studyCodes.map(l => `${getRealBaseUrl()}publix/${l}`);
    var confirmLinkUrls = studyCodes.map(l => `${getRealBaseUrl()}publix/run?code=${l}`);
    var qrButtonHtml = "";
    if (studyCodes.length == 1) {
        qrButtonHtml = `<button type="button" class="btn qrCodeButton btn-xs pull-right" data-toggle="tooltip" title="Show QR code for this link.">QR code&nbsp;<span class="glyphicon glyphicon-qrcode"></span></button>`;
    }
    var clipboardButtonHtml = `<button type="button" class="btn clipboardButton btn-xs pull-right" data-toggle="tooltip" title="Copy this link to the clipboard.">Copy&nbsp;<span class="glyphicon glyphicon-duplicate"></span></button>`;
    return `<div class="directLink"><span>${directLinkUrls.join('<br>\n')}</span>${qrButtonHtml}${clipboardButtonHtml}</div>
        <div class="confirmLink hideKeepWidth"><span>${confirmLinkUrls.join('<br>\n')}</span>${qrButtonHtml}${clipboardButtonHtml}</div>`;
}

$('#studyLinksDisplayModal, #studyLinksModal').on('click', '.clipboardButton', function(e) {
    var text = $(this).parent().find('span').text();
    copyToClipboard(text);
});

$('#studyLinksDisplayModal, #studyLinksModal').on('click', '.qrCodeButton', function(e) {
    var url = $(this).parent().find('span').text();
    showQRCode(url);
});

function showQRCode(url) {
    $('#qr-code').empty();
    $('#qrCodeModal').off('shown.bs.modal');
    $('#qrCodeModal').on('shown.bs.modal', function (e) {
        QrCreator.render({
            text: url,
            radius: 0.1,
            ecLevel: 'H',
            fill: '#000',
            background: '#fff',
            size: $("#qrCodeModal .modal-body").width(),
        }, document.querySelector('#qr-code'));
    });
    $('#qr-code').attr("title", url);
    $('#qrCodeModal').modal('show');
}

$('#studyLinksModal .btn-toggle').click(toggleDirectAndConfirmLink);

// This function has to work in #studyLinksDisplayModal and #studyLinksModal
function toggleDirectAndConfirmLink(e) {
    e.stopPropagation();

    $(this).find('.btn').toggleClass('active');
    if ($(this).find('.btn-worker').length > 0) {
        $(this).find('.btn').toggleClass('btn-worker');
    }
    $(this).find('.btn').toggleClass('btn-default');

    if ($(this).find('button.directLink').hasClass('active')) {
        $(this).parents('.modal').find('div.directLink').removeClass('hideKeepWidth');
        $(this).parents('.modal').find('.linkUrls div.directLink button').addClass('pull-right');
        $(this).parents('.modal').find('div.confirmLink').addClass('hideKeepWidth');
        $(this).parents('.modal').find('.linkUrls div.confirmLink button').removeClass('pull-right');
    } else {
        $(this).parents('.modal').find('div.directLink').addClass('hideKeepWidth');
        $(this).parents('.modal').find('.linkUrls div.directLink button').removeClass('pull-right');
        $(this).parents('.modal').find('div.confirmLink').removeClass('hideKeepWidth');
        $(this).parents('.modal').find('.linkUrls div.confirmLink button').addClass('pull-right');
    }
}

</script>
