@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean, study: common.Study,
    allWorkersSize: Integer, request: Http.Request)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<div id="studyLinksToolbar" class="btn-toolbar toolbarFlexWrap" role="toolbar">
    <button id="createBatchButton" type="button" class="btn btn-batch" data-toggle="tooltip"
        data-placement="bottom" title="Create a new batch of workers">
        <span class="glyphicon glyphicon-plus"></span>
        New Batch
    </button>
    <div class="btn-group toolbarFlexWrap">
        <button id="studyLinksCreatorGeneralButton" type="button" class="btn btn-worker" data-toggle="tooltip"
            data-placement="bottom" title="Shortcut to get study links for the different worker types and batches. Study links are meant to be distributed to your participants so they can run the study.">
            Get Study Links
            <span class="glyphicon glyphicon-link"></span>
        </button>
        <button id="allWorkersButton" type="button" class="btn btn-worker" data-toggle="tooltip"
                data-placement="bottom" title="Show workers of all batches">
            All Workers
            <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Number of workers in all batches together">
            @allWorkersSize
            </span>
        </button>
    </div>
</div>

<!-- Create Batch Modal -->
<div class="modal fade" id="createBatchModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createBatchForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Create Batch</h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <div class="form-group">
                        <label class="control-label col-xs-3"
                            for="@models.gui.BatchProperties.TITLE">Title</label>
                        <div class="col-xs-9">
                            <input type="text"
                                class="form-control @models.gui.BatchProperties.TITLE"
                                id="@models.gui.BatchProperties.TITLE"
                                name="@models.gui.BatchProperties.TITLE"
                                placeholder="Your batch title" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-batch" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Batch Table -->
<table id="batchTable" class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th data-toggle="tooltip" data-placement="bottom" title="Activate / inactivate batches - study links from inactivated batches won't run">Active</th>
        <th data-toggle="tooltip" data-placement="bottom" title="ID of this batch">ID</th>
        <th data-toggle="tooltip" data-placement="bottom" title="Title of this batch">Batch Title</th>
        <th></th>
    </tr>
    </thead>
</table>

<!-- Template for active button in Batch's row -->
<div id="batchActiveButtonDiv" style="display: none">
    <button type="button" class="btn btn-default activeBatchButton"
            data-toggle="tooltip" data-placement="bottom" title="">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</div>

<!-- Template for button toolbar in Batch's row -->
<div id="batchToolbarDiv" style="display: none">
    <span class="noWrapBtnGroup btn-group pull-right">
        <button type="button" class="batchPropertiesButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                title="Edit this batch's properties">
            Properties <span class="glyphicon glyphicon-option-vertical"></span></button>
        <button type="button" class="batchSessionButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                title="See and edit this batch's session data">
            Batch Session Data <span class="glyphicon glyphicon-th-list"></span></button>
        <button type="button" class="batchResultsButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                title="Shows the study results of this batch">
            Results <span class="batchResultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                          title="Number of study results that belong to this batch"></span>
        </button>
        <button type="button" class="groupsButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                title="Shows all groups of this batch">
            Groups <span class="groupsBadge badge" data-toggle="tooltip" data-placement="bottom"
                         title="Number of groups that belong to this batch"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-batch dropdown-toggle" data-toggle="dropdown">
                More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" data-placement="bottom">
                    <a class="removeBatch" href="#"><span class="glyphicon glyphicon-remove"></span>
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </span>
</div>

@views.html.gui.studyLinks.batchPropertiesModal(study)
@views.html.gui.studyLinks.studyLinksCreatorGeneralModal(study)
@views.html.gui.studyLinks.workersModal(study)
@views.html.gui.studyLinks.groupsModal(study)
@views.html.gui.studyLinks.sessionModal(study)
@views.html.gui.studyLinks.studyLinksSetup(loggedInUser, study)
@views.html.gui.studyLinks.mTurkSourceCodeModal(study, request)

<script @{helper.CSPNonce.attr}>

var batchTable;
$(document).ready(function() {
    batchTable = $('#batchTable').DataTable({
        "ajax": {
            "type": "GET",
            "url" : "@controllers.gui.routes.StudyLinks.batchesByStudy(study.getId())",
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText);
                } else {
                    showError("Cannot read batch data.");
                }
            }
        },
        "dom": 't',
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": "_all"
        } ],
        rowId: 'id',
        "columns": [
            {
                "class": 'details-control',
                "data": null,
                "width": "1px",
                "render": function (data, type, full, meta) {
                    return '<button type="button" class="collapseStudyLinksSetup btn btn-batch" data-toggle="tooltip"' +
                        'data-placement="bottom" title="Open/close this batch">' +
                        '<span class="glyphicon glyphicon-chevron-right"></span></button>';
                }
            },
            {
                "data": null,
                "defaultContent": '',
                "width": "1px",
                "render": function (data, type, full, meta) {
                    var button = $('#batchActiveButtonDiv button:first-child').clone();
                    setBatchRowActive(button, data.active);
                    return button.prop('outerHTML');
                }
            },
            {
                "class": "batchId",
                "data": "id",
                "width": "1px"
            },
            {
                "class": "batchTitle",
                "data": "title"
            },
            {
                "class": "toolbar",
                "data": null,
                "width": "1px",
                "defaultContent": '',
                "render": function (data, type, full, meta) {
                    var toolbar = $('#batchToolbarDiv').clone().show();
                    $(toolbar).removeAttr('id');
                    $(toolbar).find('.groupsBadge').text(data.groupCount);
                    $(toolbar).find('.batchResultsBadge').text(data.resultCount);
                    return toolbar.html();
                }
            }
        ],
        "order" : [],
        "createdRow": function(row, data, index) {
            $(row).addClass("batchRow");
            setBatchRowActive($(row).find('.activeBatchButton'), data.active);
            if (!@study.isGroupStudy()) {
                $(row).find('.groupsButton').attr('disabled', true);
            }
        },
        "drawCallback": function( settings ) {
            setButtonWidthToMax("#batchTable .batchResultsButton");
            setButtonWidthToMax("#batchTable .groupsButton");
        },
        "initComplete": function( settings, json ) {
            $(".collapseStudyLinksSetup")[0].click();
        }
    });

});

$('#createBatchButton').click(function(event) {
    removeAlerts("#createBatchModal");
    removeFormErrors("#createBatchModal");
    $('#createBatchModal .@models.gui.BatchProperties.TITLE').val('');
    // Focus on comment input field in modal
    $('#createBatchModal').on('shown.bs.modal', function () {
        $('#createBatchModal').find('.@models.gui.BatchProperties.TITLE').focus();
    })
    $('#createBatchModal').modal('show');
});

$("#createBatchForm").submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: "@controllers.gui.routes.StudyLinks.submitCreatedBatch(study.getId())",
        data: $('#createBatchForm').serialize(),
        success: function(response) {
            removeAlerts("#createBatchModal");
            removeFormErrors("#createBatchModal");
            $('#createBatchModal').modal('hide');
            batchTable.ajax.reload();
        },
        error: function(response) {
            removeAlerts("#createBatchModal");
            removeFormErrors("#createBatchModal");
            showWarning("Batch wasn't created", "#createBatchModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#createBatchModal", response);
            } else {
                showModalError("#createBatchModal .messages", response);
            }
        }
    });
});

$('#allWorkersButton').click(function(event) {
    removeAlerts("#workersModal");
    generateWorkersTable(false);
    $('#workersModal').modal('show');
});

$('#batchTable').on('click', '.collapseStudyLinksSetup', function() {
    var tr = $(this).closest('tr');
    var row = batchTable.row(tr);
    if (row.child.isShown()) {
        $('div.slider', row.child()).slideUp( function () {
            row.child.remove();
            tr.removeClass('shown');
        });
    } else {
        var batch = row.data();
        var studyLinksSetupDiv = loadStudyLinksSetup(batch.id);
        row.child(studyLinksSetupDiv).show();
        tr.addClass('shown');
        $('div.slider', row.child()).slideDown();
    }
    $(this).find('.glyphicon-chevron-down, .glyphicon-chevron-right')
            .toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
});

$('#batchTable').on('click', '.activeBatchButton', function() {
    var button = this;
    var batch = getBatchData(button);
    var active = $(button).hasClass('activeBatch');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/batch/" + batch.id
                + "/properties/active?active=" + !active,
        type : "POST",
        success: function(active) {
            setBatchRowActive($(button), active);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#batchTable').on('click', '.batchResultsButton', function() {
    var batch = getBatchData(this);
    window.location.href =  `@{general.common.Common.getPlayHttpContext()}jatos/@study.getId()/batch/${batch.id}/results`;
});

$('#batchTable').on('click', '.groupsButton', function() {
    var batchRow = $(this).closest('.batchRow');
    var batch = batchTable.row(batchRow).data();
    showGroupsModal(batch);
});

function setBatchRowActive(button, active) {
    var batchRow = $(button).closest('.batchRow');
    if (active) {
        batchRow.removeClass("grayout");
        button.addClass('activeBatch');
        button.removeClass('btn-default');
        button.addClass('btn-batch');
        button.attr('title', "Click to deactivate this batch (study links belonging to this batch will not work)");
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        batchRow.addClass("grayout");
        button.removeClass('activeBatch');
        button.removeClass('btn-batch');
        button.addClass('btn-default');
        button.attr('title', "Click to activate this batch (study links belonging to this batch will work)");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

$('#batchTable').on('click', '.removeBatch', function() {
    var element = this;
    var batch = getBatchData(this);
    var title = "Confirm Delete";
    var htmlText = "<p>You are about to delete batch \"" + batch.title
        + "\" (ID " + batch.id + ") <b>with all its results</b>.</p>"
        + "<p><b>This cannot be undone.</b> Do you want to proceed?</p>";
    askConfirmation(title, htmlText, 'Delete', "btn-batch", function() {
        $.ajax({
            url : "@{general.common.Common.getPlayHttpContext()}jatos/" + @study.getId() +"/batch/" + batch.id,
            type : 'DELETE',
            success : function(result) {
                showMessages(JSON.parse(result));
                batchTable.ajax.reload();
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });
});

function getBatchData(element) {
    var batchRow = $(element).closest('tr');
    if (!batchRow.hasClass('batchRow')) {
        batchRow = batchRow.prev()[0];
    }
    var batch = batchTable.row(batchRow).data();
    return batch;
}

</script>

}
