@(study: common.Study)

<!-- Show all workers Modal -->
<div class="modal fade" id="workersModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">All Workers</h4>
            </div>

            <div class="modal-body">
                <div class="messages"></div>
                <!-- All workers table -->
                <table class="table table-hover table-row-border" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                        <tr>
                            <th>Worker ID <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="Type of the worker, e.g. @common.workers.PersonalSingleWorker.UI_WORKER_TYPE, @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE, @common.workers.GeneralSingleWorker.UI_WORKER_TYPE, @common.workers.GeneralMultipleWorker.UI_WORKER_TYPE, @common.workers.MTWorker.UI_WORKER_TYPE">Type <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="All batches this worker belongs to">Batch(es) <span class="glyphicon sortLogo gray-light"/></th>
                            <th data-toggle="tooltip" data-placement="top" title="State of the (last) study started by this worker">(Last) Study State <span class="glyphicon sortLogo gray-light"/></th>
                            <th>Additional Info <span class="glyphicon sortLogo gray-light"/></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script @{helper.CSPNonce.attr}>

var workersTable;

function generateWorkersTable() {
    if (workersTable) {
        workersTable.ajax.reload();
        return;
    }

    workersTable = $('#workersModal .table').DataTable({
        "ajax": {
            "type": "GET",
            "url" : '@controllers.gui.routes.Studies.allWorkers(study.getId())',
            "error": function (err) {
                if (err.responseText) {
                    showError(err.responseText, "#workersModal .messages");
                } else {
                    showError("Cannot read workers data.", "#workersModal .messages");
                }
            }
        },
        "dom": 'ftip',
        "order": [[ 0, "desc" ]],
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "pageLength": 10,
        "pagingType": "simple_numbers",
        "columns": [
            {
                "data": "id",
                "width": "1%"
            },
            {
                "data": "workerType",
                "width": "18%",
                "render": getUIWorkerTypeWithGlyphicon
            },
            {
                "data": "batchList",
                "width": "30%",
                "render": (data) => data.join(', ')
            },
            {
                "data": getStudyState,
                "width": "20%"
            },
            {
                "data": getAdditionalWorkerInfoColumnText,
                "width": "30%"
            },
            {
                "data": "id",
                "orderable": false,
                "width": "1%",
                "render": function (data, type, full, meta) {
                    return '<a type="button" class="btn btn-worker workerResultsButton" data-toggle="tooltip"' +
                        'data-placement="bottom" title="Shows study results of this worker"' +
                        'href="@{general.common.Common.getPlayHttpContext()}jatos/worker/' + data + '/results">Results</a>';
                }
            }
        ],
        "language": {
            "search": "Search:"
        }
    });
}

function getStudyState(data, type, dataToSet) {
    return data.lastStudyState ? data.lastStudyState : "none started yet";
}

function getAdditionalWorkerInfoColumnText(data, type, dataToSet) {
    if (data.mtWorkerId) {
        return "MTurk worker ID: " + data.mtWorkerId;
    }
    if (data.username) {
        return "Username: " + data.username;
    }
    if (data.comment) {
        return "Comment: " + data.comment;
    }
    return "none";
}

</script>
