// -----------------------------------
// With many thanks to the author of the CSS of ZenTask
// mda@zenexity.com
// -----------------------------------

.component {
	p.error {
		width: inherit;
		margin: 5px 0;
		color: #c00;
	}
	.manageBox {
		.box();
		width: 49.5%;
		position: relative;
		> header {
			h3 {
				padding-right: 5px;
				vertical-align: middle;
			}
			.placeHolder {
				.button();
				vertical-align: middle;
				display: inline-block;
				visibility: hidden;
			}
			#lockedStudySign {
				color: #c00;
			}
		}
		.showComponent, .edit, .clone, .export, .removeResults, .remove {
			.button();
			vertical-align: middle;
			display: inline-block;
			margin: 0 5px 5px 0;
		}
	}
}
