.componentBtnGroup {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	user-select: none;
}
.componentResultsBlock {
	width:20ch !important;
}
.upArrow {
	background: url("../images/sort_asc.png") no-repeat center;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}
.downArrow {
	background: url("../images/sort_desc.png") no-repeat center;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}
.activeComponent {
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

