// -----------------------------------
// With many thanks to the author of the CSS of ZenTask
// mda@zenexity.com
// -----------------------------------

.study {
	p.error {
		width: inherit;
		margin: 5px 0;
		color: #c00;
	}
	.boxRow {
		overflow: hidden;
		width: 100%;
		.studyBox {
			.box();
			width: 49.5%;
			overflow: hidden;
			float: left;
			> header {
				h3 {
					padding-right: 5px;
					vertical-align: middle;
				}
				.placeHolder {
					.button();
					vertical-align: middle;
					display: inline-block;
					visibility: hidden;
				}
				#lockedStudySign {
					color: #c00;
				}
			}
			.showStudy, .editStudy, .cloneStudy, .export, .results, .lockStudy, .showMTurkSourceCode, .removeAllResults, .removeStudy {
				.button();
				vertical-align: middle;
				display: inline-block;
				margin: 0 5px 5px 0;
			}
		}
		.membersBox {
			.box();
			width: 49.5%;
			float: right;
			> header {
				h3 {
					padding-right: 5px;
					vertical-align: middle;
				}
				.updateMembers {
					.button();
					vertical-align: middle;
					display: inline-block;
				}
			}
			> ul {
				> li {
					position: relative;
					padding: 4px 20px 4px 7px;
					border-bottom: 1px solid @lineColor;
					-webkit-user-select: text;
					a {
						vertical-align: middle;
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}
		}
		.componentsBox {
			.box();
			width: 49.5%;
			float: left;
			> header {
				h3 {
					vertical-align: middle;
					padding-right: 5px;
				}
				.addComponent, #importButton {
					.button();
					vertical-align: middle;
					display: inline-block;
					margin: 0 5px 5px 0;
				}
				#importForm {
					display: inline-block;
					margin: 0;
					padding: 0;
				}
				#importBrowser {
					display: none;
				}
			}
			> table {
				> tbody {
					> tr {
						border-bottom: 1px solid @lineColor;
						.arrows {
							.upArrow, .downArrow {
								cursor: pointer;
								color: @textColor;
								p:hover {
									color: @textColor - #222;
								}
							}
						}
						.componentTitle {
							display: block;
							padding: 5px 0 5px 5px;
						}
						> td {
							padding: 0 0 0 5px;
							vertical-align: middle;
							.showComponent {
								.button();
								display: inline-block;
							}
							.componentResults {
								.button();
								display: inline-block;
							}
							.removeComponent {
								.removeButton();
								display: inline-block;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
		.workerBox {
			.box();
			width: 49.5%;
			float: right;
			> header {
				h3 {
					vertical-align: middle;
					padding-right: 5px;
				}
				.placeHolder {
					.button();
					vertical-align: middle;
					display: inline-block;
					visibility: hidden;
				}
			}
			> ul {
				> li {
					position: relative;
					padding: 4px 20px 4px 7px;
					border-bottom: 1px solid @lineColor;
					-webkit-user-select: text;
					a {
						vertical-align: middle;
					}
					> table {
						.workerFirstRow {
							font-size: 12px;
						}
						.workerSecondRow {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
