@(loggedInUser: User, 
breadcrumbs: String, submitAction: play.api.mvc.Call, form: Form[Component],
study: Study)

@views.html.gui.main(loggedInUser, breadcrumbs){

@helper.form(action = submitAction, 'class -> "form-horizontal", 'role -> "form") {

<div class="form-group">
	<div class="col-xs-2"><p class="text-right"><strong>ID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Unique within this JATOS instance" aria-hidden="true"></span></p></div>
	<div class="col-xs-10">
		<p>@if(form(Component.ID).value != null) {@form(Component.ID).value} else {-}</p>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-2"><p class="text-right"><strong>UUID</strong>&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Universally unique identifier - used to keep track of components between different JATOS instances" aria-hidden="true"></span></p></div>
	<div class="col-xs-10">
		<p>@if(form(Component.UUID).value != null) {@form(Component.UUID).value} else {-}</p>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="title">Title</label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="title" name="@Component.TITLE" value="@form(Component.TITLE).value" placeholder="Your title">
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<label class="checkbox-inline">
			<input type="checkbox" name="@Component.RELOADABLE" value="true"
					@if("true".equals(form(Component.RELOADABLE).value)) {checked="checked"}
					>Allow workers to reload <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="If this box is not checked reloading this component's page will lead to an error and subsequent ending of the whole study." aria-hidden="true"></span>
			<!-- We need a hidden input field.
			http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
			<input type="hidden" name="@Component.RELOADABLE" value="false" />
		</label>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="htmlFilePath">HTML file path&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Enter the name of your HTML file that displays your component. You can also enter a path to you file. This path must be within the directory of this study's assets. Use '/' as a directory separator - even on MS Windows." aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<div class="input-group" id="htmlFilePath">
			<span class="input-group-addon">/@study.getDirName()/</span></span>
			<input type="text" class="form-control" name="@Component.HTML_FILE_PATH" value="@form(Component.HTML_FILE_PATH).value" placeholder="Path to the actual HTML file">
		</div>
		<span class="help-block"></span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="comments">Comments&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Something you want to share or just don't want to forget?" aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<textarea rows="3" class="form-control" id="comments" name="@Component.COMMENTS" placeholder="Your comments">@form(Component.COMMENTS).value</textarea>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="jsonData">JSON input&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Your component scripts can ask for this input data. If you need a larger field you can increase the size with the button in the bottom-right corner. You can also leave it empty if not needed." aria-hidden="true"></span></label>
	<div class="col-xs-10">
		<textarea rows="6" class="form-control" id="jsonData" name="@Component.JSON_DATA" placeholder="Put your JSON string here">@utils.JsonUtils.makePretty(form(Component.JSON_DATA).value)</textarea>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<input type="submit" name="@controllers.Components.EDIT_SUBMIT_NAME" class="btn btn-primary" value="@controllers.Components.EDIT_SUBMIT">
		<input type="submit" name="@controllers.Components.EDIT_SUBMIT_NAME" class="btn btn-primary" value="@controllers.Components.EDIT_SUBMIT_AND_SHOW">
	</div>
</div>
}

<script>
var studyId = @study.getId();

@if(form.hasErrors) {
	showWarning("@utils.MessagesStrings.COMPONENT_WASNT_SAVED");
}
@for(error <- form.globalErrors) {
	showError("@error.message");
}
@for(error <- form(Component.TITLE).errors) {
	$('#title').closest(".form-group").addClass("has-error");
	$('#title').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(Component.HTML_FILE_PATH).errors) {
	$('#htmlFilePath').closest(".form-group").addClass("has-error");
	$('#htmlFilePath').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(Component.COMMENTS).errors) {
	$('#comments').closest(".form-group").addClass("has-error");
	$('#comments').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(Component.JSON_DATA).errors) {
	$('#jsonData').closest(".form-group").addClass("has-error");
	$('#jsonData').after('<span class="help-block">@error.message</span>');
}
@if(study.isLocked()) {
	$(':input').attr("disabled", true);
}

</script>

}
