@(studyList: List[StudyModel], loggedInUser: UserModel, 
breadcrumbs: services.gui.Breadcrumbs,
submitAction: play.api.mvc.Call, form: Form[ComponentModel],
study: StudyModel)

@views.html.gui.main(studyList, loggedInUser, breadcrumbs){

@helper.form(action = submitAction, 'class -> "form-horizontal", 'role -> "form") {

<div class="form-group">
	<label class="control-label col-xs-2" for="title">Title:</label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="title" name="@ComponentModel.TITLE" value="@form(ComponentModel.TITLE).value" placeholder="Your title">
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<label class="checkbox-inline">
			<input type="checkbox" name="@ComponentModel.RELOADABLE" value="true"
					@if("true".equals(form(ComponentModel.RELOADABLE).value)) {checked="checked"}
					>Allow participants to reload
			<!-- We need a hidden input field.
			http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
			<input type="hidden" name="@ComponentModel.RELOADABLE" value="false" />
		</label>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="filePath">HTML file path:</label>
	<div class="col-xs-10">
		<div class="input-group" id="filePath">
			<span class="input-group-addon">/@study.getDirName()/</span></span>
			<input type="text" class="form-control" name="@ComponentModel.HTML_FILE_PATH" value="@form(ComponentModel.HTML_FILE_PATH).value" placeholder="Path to the actual HTML file">
		</div>
		<span class="help-block">Enter the name of your HTML file that displays your component. You can also enter a path to you file. This path must be within the directory of this study's assets. Use '/' as a directory separator - even on MS Windows.</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="comments">Comments:</label>
	<div class="col-xs-10">
		<textarea rows="3" class="form-control" id="comments" name="@ComponentModel.COMMENTS" placeholder="Your comments">@form(ComponentModel.COMMENTS).value</textarea>
		<span class="help-block">Something you want to share or just don't want to forget?</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="jsonData">JSON input data:</label>
	<div class="col-xs-10">
		<textarea rows="6" class="form-control" id="jsonData" name="@ComponentModel.JSON_DATA" placeholder="Put your JSON string here">@form(ComponentModel.JSON_DATA).value</textarea>
		<span class="help-block">Your component scripts can ask for this input data. If you need a larger field you can increase the size with the button in the bottom-right corner. You can also leave it empty if not needed.</span>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<input type="submit" name="@Components.EDIT_SUBMIT_NAME" class="btn btn-primary" value="@Components.EDIT_SUBMIT">
		<input type="submit" name="@Components.EDIT_SUBMIT_NAME" class="btn btn-primary" value="@Components.EDIT_SUBMIT_AND_SHOW">
	</div>
</div>
}

<script>
@if(form.hasErrors) {
	showWarning("@services.gui.MessagesStrings.COMPONENT_WASNT_SAVED");
}
@for(error <- form.globalErrors) {
	showError("@error.message");
}
@for(error <- form(ComponentModel.TITLE).errors) {
	$('#title').closest(".form-group").addClass("has-error");
	$('#title').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(ComponentModel.HTML_FILE_PATH).errors) {
	$('#filePath').closest(".form-group").addClass("has-error");
	$('#filePath').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(ComponentModel.COMMENTS).errors) {
	$('#comments').closest(".form-group").addClass("has-error");
	$('#comments').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(ComponentModel.JSON_DATA).errors) {
	$('#jsonData').closest(".form-group").addClass("has-error");
	$('#jsonData').after('<span class="help-block">@error.message</span>');
}
@if(study.isLocked()) {
	$(':input').attr("disabled", true);
}

</script>

}
