<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jatos.logs.path}/${jatos.logs.filename}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${jatos.logs.path}/${jatos.logs.filename}-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] - %logger{5} - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %coloredLevel - %logger{5} - %message%n%xException</pattern>
        </encoder>
    </appender>

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>
    <!-- https://hibernate.atlassian.net/browse/HV-1323 -->
    <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="ERROR"/>
<!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.jdbc" level="DEBUG"/>-->
    <!--    <logger name="org.hibernate.type" level="TRACE"/>-->

    <logger name="play" level="INFO"/>
    <logger name="services" level="INFO"/>
    <logger name="batch" level="INFO"/>
    <logger name="group" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
