@(studyList: List[common.Study], freshlySignedin: Boolean, signedinUser: common.User, breadcrumbs: String)

@views.html.gui.main(signedinUser, breadcrumbs) {

<div id="branding" class="rounded-3 bg-body-tertiary text-center p-5 mb-3">
    <!-- The HTML for branding can be loaded dynamically from an external source. -->
    <img class="mb-3" src="@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_color.svg")" alt="JATOS logo" height="100">
    <h1 data-bs-toggle="tooltip" title="Just Another Tool for Online Studies">JATOS</h1>
    <div class="fw-light">Version @general.common.Common.getJatosVersion()</div>
    <div class="fw-medium">Simply set up your own online studies.</div>
</div>

<div id="localFileLocation" class="rounded-3 bg-body-tertiary p-3 mb-3 d-none">
    <h5 class="text-center">Where are my files?</h5>
    <dl class="row text-break mb-0">
        <dt class="col-sm-6 text-end">Your study assets root path is:</dt>
        <dd class="col-sm-6 font-monospace">@general.common.Common.getStudyAssetsRootPath()</dd>
        <dt class="col-sm-6 text-end">Your result upload files path is:</dt>
        <dd class="col-sm-6 font-monospace">@general.common.Common.getResultUploadsPath()</dd>
        <dt class="col-sm-6 text-end">Your JATOS installation is in:</dt>
        <dd class="col-sm-6 font-monospace">@general.common.Common.getBasepath()</dd>
    </dl>
</div>

<script @{helper.CSPNonce.attr}>

@if(utils.common.Helpers.isAllowedSuperuser(signedinUser)) {
showInfoToast("As a Superuser you have access to all studies like a study member.");
}

@if(general.common.Common.termsOfUseUrl() != null && !general.common.Common.termsOfUseUrl().isEmpty()) {
showInfoToast('By using this application you agree to the <a href="@general.common.Common.termsOfUseUrl()" target=”_blank”>Terms of Use</a>.', null, true);
}

loadBranding();
function loadBranding() {
    $.ajax({
        url: '@{general.common.Common.getJatosUrlBasePath()}jatos/branding',
        @if(freshlySignedin) {
        headers: { 'Cache-Control': 'max-age=0' },
        }
        success: function(res) {
            $('#branding').html(res);
            $('#branding').show();
        },
        error: function () {
            $('#branding').show();
        }
    });
}

if (isLocalhost()) $("#localFileLocation").removeClass("d-none");

</script>
}
