@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)(body: Html)

<!DOCTYPE html>

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="@controllers.gui.routes.Assets.versioned("images/favicon-196x196.png")" sizes="196x196">
<link rel="icon" type="image/png" href="@controllers.gui.routes.Assets.versioned("images/favicon-160x160.png")" sizes="160x160">
<link rel="icon" type="image/png" href="@controllers.gui.routes.Assets.versioned("images/favicon-96x96.png")" sizes="96x96">
<link rel="icon" type="image/png" href="@controllers.gui.routes.Assets.versioned("images/favicon-16x16.png")" sizes="16x16">
<link rel="icon" type="image/png" href="@controllers.gui.routes.Assets.versioned("images/favicon-32x32.png")" sizes="32x32">
<link rel="stylesheet" href="@controllers.gui.routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" href="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/DataTables/datatables.min.css")">
<link rel="stylesheet" href="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/jquery-ui-1.12.1.custom/jquery-ui.min.css")">
<link rel="stylesheet" href="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/stylesheets/main.css")">
<script src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.1.1.min.js")"></script>
<script src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/javascripts/jquery.fileDownload.js")"></script>
<script src="@controllers.gui.routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
<script src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/DataTables/datatables.min.js")"></script>
<script src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<script>
function showSuccess(msg, insertAfterElem) {
	var html = '<div class="alert alert-success alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ '<i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>'
		+ '<span>' + msg + '</span>'
		+ '</div>';
	if (insertAfterElem) {
		$(html).insertAfter(insertAfterElem);
	} else {
		$(html).insertAfter("#breadcrumbs");
	}
}

function showInfo(msg, insertAfterElem) {
	var html = '<div class="alert alert-info alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ '<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>'
		+ '<span>' + msg + '</span>'
		+ '</div>';
		if (insertAfterElem) {
			$(html).insertAfter(insertAfterElem);
		} else {
			$(html).insertAfter("#breadcrumbs");
		}
}

function showWarning(msg, insertAfterElem) {
	var html = '<div class="alert alert-warning alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ '<i class="glyphicon glyphicon-warning-sign" aria-hidden="true"></i>'
		+ '<span>' + msg + '</span>'
		+ '</div>';
		if (insertAfterElem) {
			$(html).insertAfter(insertAfterElem);
		} else {
			$(html).insertAfter("#breadcrumbs");
		}
}

function showError(msg, insertAfterElem) {
	var html = '<div class="alert alert-danger alert-dismissible" role="alert">'
		+ '<button type="button" class="close" data-dismiss="alert">'
		+ '<span aria-hidden="true">&times;</span>'
		+ '<span class="sr-only">Close</span></button>'
		+ '<i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>'
		+ '<span>' + msg + '</span>'
		+ '</div>';
		if (insertAfterElem) {
			$(html).insertAfter(insertAfterElem);
		} else {
			$(html).insertAfter("#breadcrumbs");
		}
}

function removeSuccess(elem) {
	if (elem) {
		$(elem).find(".alert-success").remove();
	} else {
		$('#breadcrumbs').nextAll('.alert-success').remove();
	}
}

function removeInfo(elem) {
	if (elem) {
		$(elem).find(".alert-info").remove();
	} else {
		$('#breadcrumbs').nextAll('.alert-info').remove();
	}
}

function removeWarning(elem) {
	if (elem) {
		$(elem).find(".alert-warning").remove();
	} else {
		$('#breadcrumbs').nextAll('.alert-warning').remove();
	}
}

function removeError(elem) {
	if (elem) {
		$(elem).find(".alert-danger").remove();
	} else {
		$('#breadcrumbs').nextAll('.alert-danger').remove();
	}
}

function removeAlerts(elem) {
	removeSuccess(elem);
	removeInfo(elem);
	removeWarning(elem);
	removeError(elem);
}

function showFormErrors(formElem, response) {
	if (response.responseJSON) {
		var errors = response.responseJSON;
		$.each(errors, function(key, errorArray) {
			$.each(errorArray, function(index, msg) {
				showSingleFormError(formElem + " ." + key, msg)
			});
		});
	}
}

function showModalError(formElem, response) {
	if (response.responseText) {
		showError(response.responseText, formElem);
	}
}

function showSingleFormError(selector, msg) {
	$(selector).closest(".form-group").addClass("has-error");
	$(selector).after('<span class="help-block">' + msg + '</span>');
}

function removeFormErrors(elem) {
	$(elem).find("*").removeClass("has-error");
	$(elem).find(".help-block").remove();
}

function removeSingleFormError(selector) {
	$(selector).closest(".form-group").removeClass("has-error");
	$(selector).nextAll(".help-block").remove();
}

function clearForm(formElem) {
	$(formElem + " input[type=text], input[type=number], input[type=password], textarea").val("");
	$(formElem + " input[type=checkbox]").removeAttr('checked');
	$(formElem + " input[type=radio]").removeAttr('selected');
}

// Adjust the width of every button to the widest one
function setButtonWidthToMax(element) {
	var maxWidth = 0;
	$(element).each(function(index) {
		var width = $(this).width();
		if (width > maxWidth) {
			maxWidth = width;
		}
	});
	$(element).each(function(index) {
		$(this).width(maxWidth);
	});
}

function isJson(string) {
	try {
		$.parseJSON(string);
		return true;
	} catch(error) {
		return false;
	}
}

function getUIWorkerTypeWithGlyphicon(workerType) {
	switch (workerType) {
	case "@common.workers.JatosWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-jatos" aria-hidden="true"></span> @common.workers.JatosWorker.UI_WORKER_TYPE';
	case "@common.workers.GeneralSingleWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-general-single" aria-hidden="true"></span> @common.workers.GeneralSingleWorker.UI_WORKER_TYPE';
	case "@common.workers.PersonalSingleWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-personal-single" aria-hidden="true"></span> @common.workers.PersonalSingleWorker.UI_WORKER_TYPE';
	case "@common.workers.PersonalMultipleWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-personal-multiple" aria-hidden="true"></span> @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE';
	case "@common.workers.MTWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-mturk" aria-hidden="true"></span> @common.workers.MTWorker.UI_WORKER_TYPE';
	case "@common.workers.MTSandboxWorker.WORKER_TYPE":
		return '<span class="glyphicon glyphicon-mturk-sandbox" aria-hidden="true"></span> @common.workers.MTSandboxWorker.UI_WORKER_TYPE';
	default:
		return "unknown";
	}
}

</script>

@if(localhost) {
<nav id="jatosHeader" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
} else {
<nav id="jatosHeader" class="navbar navbar-default navbar-fixed-top" role="navigation">
}
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#jatos-navbar-collapse" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			@if(localhost) {
			<a class="navbar-brand" href="@controllers.gui.routes.Home.home">
				<img src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_grey.svg")" alt="JATOS logo" height="25pt">
			</a>
			<a id="jatosBrandName" class="navbar-brand" href="@controllers.gui.routes.Home.home">JATOS local</a>
			} else {
			<a class="navbar-brand" href="@controllers.gui.routes.Home.home">
				<img src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_color.svg")" alt="JATOS logo" height="25pt">
			</a>
			<a id="jatosBrandName" class="navbar-brand" href="@controllers.gui.routes.Home.home">JATOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			}
		</div>
		<div class="navbar-collapse collapse" id="jatos-navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li data-toggle="tooltip" data-placement="bottom" title="Create a new study">
					<a id="createStudyLink" href="#">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						New Study
					</a>
				</li>
				<li><input id="importStudyBrowser" type="file"
					name="@common.Study.STUDY" style="display: none;"></li>
				<li data-toggle="tooltip" data-placement="bottom" title="Import a study from the local file system">
					<a id="importStudyLink" href="#">
						<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
						Import Study
					</a>
				</li>
				@if(loggedInUser.hasRole(common.User.Role.ADMIN)) {
				<li data-toggle="tooltip" data-placement="bottom" title="Create or delete users and change their passwords">
					<a id="userManagerLink" href="@controllers.gui.routes.Users.userManager()">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						User Manager
					</a>
				</li>
				}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@controllers.gui.routes.Users.profile(loggedInUser.getEmail())">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<span id="navUserText"> @loggedInUser.getName() (@loggedInUser.getEmail())</span>
				</a></li>
				<li><a href="@controllers.gui.routes.Authentication.logout()">
					<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
					Logout
				</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<!-- Sidebar -->
		<div class="col-sm-3 col-md-2 sidebar">
			<ul id="sidebarStudyList" class="sidebar-nav">
			<!-- Is dynamically filled via JavaScript -->
			</ul>
		</div>

		<!-- Main -->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<ol id="breadcrumbs" class="breadcrumb"></ol>
			
			<!-- *********** Here goes the actual page template *********** -->
			@body
		</div>
	</div>
</div>

<!-- Confirmation  Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Confirm</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn"></button>
			</div>
		</div>
	</div>
</div>

<!-- Confirmation Modal - Study Import -->
<div class="modal fade" id="confirmModalStudyImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Study and study assets' directory already exist</h4>
			</div>
			<div class="modal-body">
				<p class="modalText"></p>
				<div class="checkbox">
					<label><input type="checkbox" id="studysPropertiesConfirm"> Overwrite study's and its components' properties</label>
					<span class="help-block">Components included in the imported study will be created or updated. Components not included in the imported study will be inactivated but not deleted.</span>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" id="studysDirConfirm"> Overwrite study assets' directory</label>
					<span class="help-block">This directory contains the study's files like HTML, CSS, and JavaSript files and images.</span>
				</div>
				<p class="modalPostText"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary">Overwrite</button>
			</div>
		</div>
	</div>
</div>

<!-- Uploading waiting Modal -->
<div class="modal fade" id="uploadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><img src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/images/waiting.gif")">Uploading</h4>
			</div>
			<div class="modal-body">
				 ... might take a while depending on your internet connection ... please be patient.
			</div>
		</div>
	</div>
</div>

@views.html.gui.study.studyPropertiesModal()

<script>
var messagesRequestScope = @Html(general.gui.RequestScopeMessaging.getAsJson());
showMessages(messagesRequestScope);
var messagesFlashScope = @Html(general.gui.FlashScopeMessaging.getAsJson());
showMessages(messagesFlashScope);
checkForIE();
var breadcrumbs = @Html(breadcrumbs);
showBreadcrumbs(breadcrumbs);
fillSidebar();

function showMessages(messages) {
	if (messages != null) {
		if (messages.successList != null) {
			messages.successList.forEach(function(success) {
				showSuccess(success);
			});
		}
		if (messages.infoList != null) {
			messages.infoList.forEach(function(info) {
				showInfo(info);
			});
		}
		if (messages.warningList != null) {
			messages.warningList.forEach(function(warning) {
				showWarning(warning);
			});
		}
		if (messages.errorList != null) {
			messages.errorList.forEach(function(error) {
				showError(error);
			});
		}
	}
}

function checkForIE() {
	if (window.navigator.userAgent.indexOf("MSIE ") > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
		showWarning("JATOS' GUI may not be fully functional in Internet Explorer. Please use other browsers, e.g. Firefox, Edge, Chrome. This applies to the GUI only - your actual studies will run without problems.");
	}
}

function showBreadcrumbs (breadcrumbs) {
	$.each(breadcrumbs, function(index, breadcrumb) {
		var breadcrumbHtml;
		if (breadcrumb.url === null || breadcrumb.url === "") {
			breadcrumbHtml = '<li class="active">' + breadcrumb.name + '</li>';
		} else {
			breadcrumbHtml = '<li><a href="' + breadcrumb.url + '">' + breadcrumb.name + '</a></li>';
		}
		$("#breadcrumbs").append(breadcrumbHtml);
	});
}

function askConfirmation(title, html, buttonText, buttonClass, action) {
	$('#confirmationModal .modal-title').text(title);
	if (html) {
		$('#confirmationModal .modal-body').html(html);
	}
	$('#confirmationModal .confirmed').text(buttonText);
	$('#confirmationModal .confirmed').addClass(buttonClass);
	$('#confirmationModal').modal('show');
	$('#confirmationModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmationModal').modal('hide');
		$('#confirmationModal .confirmed').removeClass(buttonClass);
		action();
	});
}

$('#jatosHeader').on('click', '#importStudyLink', function() {
	$('#importStudyBrowser').trigger("click");
});

$('#jatosHeader').on('change', '#importStudyBrowser', function() {
	var data = new FormData();
	var files = $('#importStudyBrowser').prop('files');
	$.each(files , function(index, value){
		data.append('@common.Study.STUDY', value);
	});
	$('#uploadingModal').modal('show');
	$.ajax({
		url: '@controllers.gui.routes.ImportExport.importStudy()',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		type: 'POST',
		success: function(response) {
			$('#uploadingModal').modal('hide');
			importStudyConfirm(response);
		},
		error : function(err) {
			$('#uploadingModal').modal('hide');
			showError(err.responseText);
		}
	});
});
	
function importStudyConfirm(response) {
	if (response.studyExists) {
		askConfirmationForStudyExists(response);
	} else if (response.dirExists) {
		askConfirmationForStudyNotExistsDirExists(response);
	} else {
		askConfirmationForStudyNotExistsDirNotExists(response);
	}
}

function askConfirmationForStudyExists(response) {
	var preText = "It seems a study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath
		+ "\" already exist. What do you want to do?";
	$('#confirmModalStudyImport').find('.modalText').html(preText);
	$('#confirmModalStudyImport').on('click', '.checkbox', function() {
		if (!$('#studysPropertiesConfirm').is(':checked')
				&& !$('#studysDirConfirm').is(':checked')) {
			$('.confirmed').attr("disabled", true);
		} else {
			$('.confirmed').attr("disabled", false);
		}
	});
	$('#confirmModalStudyImport').find('.confirmed').attr("disabled", true);
	$('#confirmModalStudyImport').modal('show');
	$('#confirmModalStudyImport').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalStudyImport').modal('hide');
		var studysPropertiesConfirm = $('#studysPropertiesConfirm').is(':checked');
		var studysDirConfirm = $('#studysDirConfirm').is(':checked');
		var jsonData = JSON.stringify({ "@services.gui.ImportExportService.STUDYS_ENTITY_CONFIRM": studysPropertiesConfirm,
			"@services.gui.ImportExportService.STUDYS_DIR_CONFIRM" : studysDirConfirm });
		postStudyImportConfirm(jsonData);
	});
}

function askConfirmationForStudyNotExistsDirExists(response) {
	var title = "Study import - but study assets' directory already exists";
	var htmlText = "<p>You are about to import the study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath
		+ "\". There already exist a directory with the same name. "
		+ "If you proceed the <b>current directory will be overridden</b>.</p>"
		+ "<p>Do you want to proceed?</p>";
	askConfirmation(title, htmlText, 'Import', "btn-primary", function() {
		var jsonData = JSON.stringify({ "@services.gui.ImportExportService.STUDYS_ENTITY_CONFIRM": true,
			"@services.gui.ImportExportService.STUDYS_DIR_CONFIRM" : true });
		postStudyImportConfirm(jsonData);
	});
}

function askConfirmationForStudyNotExistsDirNotExists(response) {
	var title = "Study import";
	var htmlText = "<p>You are about to import the study \"" + response.studyTitle 
		+ "\" and its directory \"" + response.dirPath + "\".</p>"
		+ "<p>Do you want to proceed?</p>";
	askConfirmation(title, htmlText, 'Import', "btn-primary", function() {
		var jsonData = JSON.stringify({ "@services.gui.ImportExportService.STUDYS_ENTITY_CONFIRM": true,
			"@services.gui.ImportExportService.STUDYS_DIR_CONFIRM" : true });
		postStudyImportConfirm(jsonData);
	});
}

function postStudyImportConfirm(jsonData) {
	$.ajax({
		type: 'POST',
		url: '@controllers.gui.routes.ImportExport.importStudyConfirmed()',
		contentType: "application/json; charset=utf-8",
		dataType: 'text',
		data: jsonData,
		success: function(result) {
			showMessages(JSON.parse(result));
			fillSidebar();
			if (typeof componentsTable !== 'undefined') {
				componentsTable.ajax.reload();
			}
		},
		error: function(err) {
			showError(err.responseText);
		}
	});
}

function fillSidebar() {
	$.ajax({
		type: 'GET',
		url: '@controllers.gui.routes.Home.sidebarStudyList()',
		success: function(result) {
			fillSidebarStudyList(result);
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

$('#sidebarStudyList').on('click', '.studyListItem', function(e) {
	// If plus or minus expand the study
	if ($(e.target).hasClass('glyphicon-chevron-right')
			|| $(e.target).hasClass('glyphicon-chevron-down')) {
		$(this).find(".glyphicon").toggleClass('study-expanded study-collapsed');
		$(this).find(".glyphicon").toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
	} else {
		var clickedStudyId = $(this).attr('id').replace('sidebarStudy', "");
		window.location.href = "/jatos/" + clickedStudyId;
	}
});

function fillSidebarStudyList(studyArray) {
	$('#sidebarStudyList').empty();
	$.each(studyArray, function(index, study) {
		// Add study
		var listItem = '<li id="sidebarStudy' + study.id + '" class="studyListItem' 
		if (typeof studyId !== 'undefined' && study.id == studyId) {
			listItem += ' currentStudy';
		}
		listItem += '">'
				+ '<span data-toggle="collapse" data-target="#componentsOfStudy' + study.id + '" aria-expanded="false">'
				+ '<span class="glyphicon glyphicon-chevron-right gray-light study-collapsed" aria-hidden="true"></span>'
				+ '</span>'
				+ '<span class="text-primary" data-toggle="tooltip" data-placement="bottom" title="ID ' + study.id + '" href="/jatos/' + study.id + '">'
				+ '&nbsp;' + study.title;	
		if (study.locked) {
			listItem = listItem + '&nbsp;<span class="glyphicon glyphicon-lock gray-light" aria-hidden="true"></span>';
		}
		listItem = listItem + '</span>';
		
		// Add component list
		var componentsStr = '<ul id="componentsOfStudy' + study.id + '" class="collapse">';
		$.each(study.componentList, function(index, component) {
			componentsStr += '<li data-toggle="tooltip" data-placement="bottom" title="ID '
					+ component.id + '">'
					+ component.title + '</li>';
		});
		componentsStr += '</ul></li>';
		listItem = listItem + componentsStr;
		$('#sidebarStudyList').append(listItem);
	});
}

</script>

</body>
</html>
