@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)(body: Html)

<!DOCTYPE html>

<html lang="en">
<head>
<title>JATOS</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-96x96.png")" sizes="96x96">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-16x16.png")" sizes="16x16">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-32x32.png")" sizes="32x32">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/DataTables/datatables.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/stylesheets/main.css?v=" + general.common.Common.getJatosVersion())">
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.5.1.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/popper.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/showdown-1.9.0/showdown.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/ace-1.4.2/ace.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/DataTables/datatables.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/qr-creator.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/fileSystemAccess.js")" type="module"></script>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
</head>

<body>
<script @{helper.CSPNonce.attr}>

function showSuccess(msg, insertAfterElem, allowHtml = false) {
    msg = allowHtml ? msg : $($.parseHTML(msg)).text();
    var html = '<div class="alert alert-success alert-dismissible" role="alert">'
        + '<button type="button" class="close" data-dismiss="alert">'
        + '<span>&times;</span>'
        + '<span class="sr-only">Close</span></button>'
        + '<i class="glyphicon glyphicon-ok-circle"></i>'
        + '<span>' + msg + '</span>'
        + '</div>';
    if (insertAfterElem) {
        $(html).insertAfter(insertAfterElem);
    } else {
        $(html).insertAfter("#breadcrumbs");
    }
}

function showInfo(msg, insertAfterElem, allowHtml = false) {
    msg = allowHtml ? msg : $($.parseHTML(msg)).text();
    var html = '<div class="alert alert-info alert-dismissible" role="alert">'
        + '<button type="button" class="close" data-dismiss="alert">'
        + '<span>&times;</span>'
        + '<span class="sr-only">Close</span></button>'
        + '<i class="glyphicon glyphicon-eye-open"></i>'
        + '<span>' + msg + '</span>'
        + '</div>';
    if (insertAfterElem) {
        $(html).insertAfter(insertAfterElem);
    } else {
        $(html).insertAfter("#breadcrumbs");
    }
}

function showWarning(msg, insertAfterElem, allowHtml = false) {
    msg = allowHtml ? msg : $($.parseHTML(msg)).text();
    var html = '<div class="alert alert-warning alert-dismissible" role="alert">'
        + '<button type="button" class="close" data-dismiss="alert">'
        + '<span>&times;</span>'
        + '<span class="sr-only">Close</span></button>'
        + '<i class="glyphicon glyphicon-warning-sign"></i>'
        + '<span>' + msg + '</span>'
        + '</div>';
    if (insertAfterElem) {
        $(html).insertAfter(insertAfterElem);
    } else {
        $(html).insertAfter("#breadcrumbs");
    }
}

function showError(msg, insertAfterElem, allowHtml = false) {
    msg = allowHtml ? msg : $($.parseHTML(msg)).text();
    var html = '<div class="alert alert-danger alert-dismissible" role="alert">'
        + '<button type="button" class="close" data-dismiss="alert">'
        + '<span>&times;</span>'
        + '<span class="sr-only">Close</span></button>'
        + '<i class="glyphicon glyphicon-exclamation-sign"></i>'
        + '<span>' + msg + '</span>'
        + '</div>';
    if (insertAfterElem) {
        $(html).insertAfter(insertAfterElem);
    } else {
        $(html).insertAfter("#breadcrumbs");
    }
}

function removeSuccess(elem) {
    if (elem) {
        $(elem).find(".alert-success").remove();
    } else {
        $('#breadcrumbs').nextAll('.alert-success').remove();
    }
}

function removeInfo(elem) {
    if (elem) {
        $(elem).find(".alert-info").remove();
    } else {
        $('#breadcrumbs').nextAll('.alert-info').remove();
    }
}

function removeWarning(elem) {
    if (elem) {
        $(elem).find(".alert-warning").remove();
    } else {
        $('#breadcrumbs').nextAll('.alert-warning').remove();
    }
}

function removeError(elem) {
    if (elem) {
        $(elem).find(".alert-danger").remove();
    } else {
        $('#breadcrumbs').nextAll('.alert-danger').remove();
    }
}

function removeAlerts(elem) {
    removeSuccess(elem);
    removeInfo(elem);
    removeWarning(elem);
    removeError(elem);
}

function showFormErrors(formElem, response) {
    if (response.responseJSON) {
        var errors = response.responseJSON;
        $.each(errors, function(key, errorArray) {
            $.each(errorArray, function(index, msg) {
                showSingleFormError(formElem + " ." + key, msg)
            });
        });
    }
}

function showModalError(formElem, response) {
    if (response.responseText) {
        showError(response.responseText, formElem);
    }
}

function showSingleFormError(selector, msg) {
    $(selector).closest(".form-group").addClass("has-error");
    $(selector).after('<span class="help-block">' + $($.parseHTML(msg)).text() + '</span>');
}

function removeFormErrors(elem) {
    $(elem).find("*").removeClass("has-error");
    $(elem).find(".help-block").remove();
}

function removeSingleFormError(selector) {
    $(selector).closest(".form-group").removeClass("has-error");
    $(selector).nextAll(".help-block").remove();
}

function clearForm(formElem) {
    $(formElem + " input[type=text], input[type=number], input[type=password], textarea").val("");
    $(formElem + " input[type=checkbox]").removeAttr('checked');
    $(formElem + " input[type=radio]").removeAttr('selected');
}

// Adjust the width of every button to the widest one
function setButtonWidthToMax(element) {
    var maxWidth = 0;
    $(element).each(function(index) {
        var width = $(this).width();
        if (width > maxWidth) {
            maxWidth = width;
        }
    });
    $(element).each(function(index) {
        $(this).width(maxWidth);
    });
}

function isJson(string) {
    try {
        $.parseJSON(string);
        return true;
    } catch(error) {
        return false;
    }
}

function getUIWorkerTypeWithGlyphicon(workerType) {
    switch (workerType) {
    case "@common.workers.JatosWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-jatos"></span> @common.workers.JatosWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.PersonalSingleWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-personal-single"></span> @common.workers.PersonalSingleWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.PersonalMultipleWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-personal-multiple"></span> @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.GeneralSingleWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-general-single"></span> @common.workers.GeneralSingleWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.GeneralMultipleWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-general-multiple"></span> @common.workers.GeneralMultipleWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.MTSandboxWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-mturk-sandbox"></span> @common.workers.MTSandboxWorker.UI_WORKER_TYPE</span>';
    case "@common.workers.MTWorker.WORKER_TYPE":
        return '<span class="noWrap"><span class="glyphicon glyphicon-mturk"></span> @common.workers.MTWorker.UI_WORKER_TYPE</span>';
    default:
        return "unknown";
    }
}

</script>

@if(localhost) {
<nav id="jatosHeader" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
} else {
<nav id="jatosHeader" class="navbar navbar-default navbar-fixed-top" role="navigation">
}
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#jatos-navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            @if(localhost) {
            <a class="navbar-brand" href="@controllers.gui.routes.Home.home">
                <img src="@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_grey.svg")" alt="JATOS logo" height="25pt">
            </a>
            <a id="jatosBrandName" class="navbar-brand" href="@controllers.gui.routes.Home.home">JATOS local</a>
            } else {
            <a class="navbar-brand" href="@controllers.gui.routes.Home.home">
                <img src="@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_color.svg")" alt="JATOS logo" height="25pt">
            </a>
            <a id="jatosBrandName" class="navbar-brand" href="@controllers.gui.routes.Home.home">JATOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            }
        </div>
        <div class="navbar-collapse collapse" id="jatos-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li data-toggle="tooltip" data-placement="bottom" title="Create a new study">
                    <a id="createStudyLink" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                        New Study
                    </a>
                </li>
                <li><input id="importStudyBrowser" type="file"
                    name="@common.Study.STUDY" style="display: none;"></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Import a study from the local file system">
                    <a id="importStudyLink" href="#">
                        <span class="glyphicon glyphicon-import"></span>
                        Import Study
                    </a>
                </li>
                @if(loggedInUser.isAdmin()) {
                <li>
                    <a href="@controllers.gui.routes.Admin.administration()">
                        <span class="glyphicon glyphicon-cog"></span>
                        Administration
                    </a>
                </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="navUserText" href="@controllers.gui.routes.Users.profile(loggedInUser.getUsername())">
                    <span class="glyphicon glyphicon-user"></span> @loggedInUser.getName()
                </a></li>
                <li><a href="@controllers.gui.routes.Authentication.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="sidebarStudyList" class="sidebar-nav">
            <!-- Is dynamically filled via JavaScript -->
            </ul>
        </div>

        <!-- Main -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol id="breadcrumbs" class="breadcrumb"></ol>

            @************ Here goes the actual page template ************@
            @body
        </div>
    </div>
</div>

<!-- Confirmation  Modal -->
<div class="modal fade" id="confirmationModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="confirmed btn"></button>
            </div>
        </div>
    </div>
</div>

<!-- Waiting modal -->
<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><img src="@routes.Assets.versioned("lib/jatos-gui/images/waiting.gif")">Working</h4>
            </div>
            <div class="modal-body">
                ... might take a while depending on your internet connection and the JATOS server ... please be patient.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@views.html.gui.auth.loginModal(loggedInUser)
@views.html.gui.study.studyImportModal()
@views.html.gui.study.studyPropertiesModal()

<script @{helper.CSPNonce.attr}>
var waitingModalTimeout;
var messagesRequestScope = @Html(general.gui.RequestScopeMessaging.getAsJson());
showMessages(messagesRequestScope);
var messagesFlashScope = @Html(general.gui.FlashScopeMessaging.getAsJson());
showMessages(messagesFlashScope);
checkForIE();
var breadcrumbs = @Html(breadcrumbs);
showBreadcrumbs(breadcrumbs);
fillSidebar();

function showWaitingModal(cancelable) {
    clearTimeout(waitingModalTimeout);
    if (typeof cancelable === 'boolean' && cancelable === true) {
        $('#waitingModal .modal-footer').show();
    } else {
        $('#waitingModal .modal-footer').hide();
    }
    waitingModalTimeout = setTimeout(function() { $('#waitingModal').modal('show') }, 2000);
}

function hideWaitingModal() {
    clearTimeout(waitingModalTimeout);
    $('#waitingModal').modal('hide');
}

function showMessages(messages, allowHtml = false) {
    if (messages != null) {
        if (messages.successList != null) messages.successList.forEach(function(msg) { showSuccess(msg, null, allowHtml) });
        if (messages.infoList != null) messages.infoList.forEach(function(msg) { showInfo(msg, null, allowHtml) });
        if (messages.warningList != null) messages.warningList.forEach(function(msg) { showWarning(msg, null, allowHtml) });
        if (messages.errorList != null) messages.errorList.forEach(function(msg) { showError(msg, null, allowHtml) });
    }
}

function checkForIE() {
    if (window.navigator.userAgent.indexOf("MSIE ") > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
        showWarning("JATOS' GUI may not be fully functional in Internet Explorer. Please use other browsers, e.g. Firefox, Edge, Chrome. This applies to the GUI only - your actual studies will run without problems.");
    }
}

function showBreadcrumbs (breadcrumbs) {
    $.each(breadcrumbs, function(index, breadcrumb) {
        var breadcrumbHtml;
        if (breadcrumb.url === null || breadcrumb.url === "") {
            breadcrumbHtml = '<li class="active">' + breadcrumb.name + '</li>';
        } else {
            breadcrumbHtml = '<li><a href="' + breadcrumb.url + '">' + breadcrumb.name + '</a></li>';
        }
        $("#breadcrumbs").append(breadcrumbHtml);
    });
}

function askConfirmation(title, html, buttonText, buttonClass, action) {
    $('#confirmationModal .modal-title').text(title);
    if (html) {
        $('#confirmationModal .modal-body').html(html);
    }
    $('#confirmationModal .confirmed').text(buttonText);
    $('#confirmationModal .confirmed').addClass(buttonClass);
    $('#confirmationModal').modal('show');
    $('#confirmationModal').off('click.confirm').on('click.confirm', '.confirmed', function() {
        $('#confirmationModal').modal('hide');
        $('#confirmationModal .confirmed').removeClass(buttonClass);
        action();
    });
}

function fillSidebar() {
    $.ajax({
        type: 'GET',
        url: '@controllers.gui.routes.Home.sidebarStudyList()',
        success: function(result) {
            fillSidebarStudyList(result);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
}

$('#sidebarStudyList').on('click', '.studyListItem', function(e) {
    // If chevron clicked show study's components
    if ($(e.target).hasClass('glyphicon-chevron-right')
            || $(e.target).hasClass('glyphicon-chevron-down')) {
        $(this).find(".glyphicon-chevron-right, .glyphicon-chevron-down").toggleClass('study-expanded study-collapsed');
        $(this).find(".glyphicon-chevron-right, .glyphicon-chevron-down").toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
    } else {
        var clickedStudyId = $(this).attr('id').replace('sidebarStudy', "");
        window.location.href = '@{general.common.Common.getPlayHttpContext()}jatos/' + clickedStudyId;
    }
});

function fillSidebarStudyList(studyArray) {
    $('#sidebarStudyList').empty();
    $.each(studyArray, function(index, study) {
        // Add study
        var listItem = '<li id="sidebarStudy' + study.id + '" class="studyListItem'
        if (typeof studyId !== 'undefined' && study.id == studyId) {
            listItem += ' currentStudy';
        }
        listItem += '">'
                + '<span data-toggle="collapse" data-target="#componentsOfStudy' + study.id + '" >'
                + '<span class="glyphicon glyphicon-chevron-right gray-light study-collapsed"></span>'
                + '</span>'
                + '<span class="text-primary" data-toggle="tooltip" data-placement="bottom" title="ID ' + study.id + '" href="@{general.common.Common.getPlayHttpContext()}jatos/' + study.id + '">'
                + '&nbsp;' + study.title;
        if (study.locked) {
            listItem = listItem + '&nbsp;<span class="glyphicon glyphicon-lock gray-light"></span>';
        }
        listItem = listItem + '</span>';

        // Add component list
        var componentsStr = '<ul id="componentsOfStudy' + study.id + '" class="collapse">';
        $.each(study.componentList, function(index, component) {
            componentsStr += '<li data-toggle="tooltip" data-placement="bottom" title="ID '
                    + component.id + '">'
                    + component.title + '</li>';
        });
        componentsStr += '</ul></li>';
        listItem = listItem + componentsStr;
        $('#sidebarStudyList').append(listItem);
    });
}

$(document).on('show.bs.modal', '.modal', function() {
    var zIndex = 1040 + (10 * $('.modal:visible').length);
    $(this).css('z-index', zIndex);
    setTimeout(function() {
        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
    }, 0);
});

function getDateTimeYYYYMMDDHHmmss() {
    return new Date().toISOString().replaceAll(/\.\d{3}Z/g, "").replaceAll(/[:\-T\.]/g, "");
}

function copyToClipboard(textToCopy) {
    // navigator clipboard api needs a secure context (https)
    if (navigator.clipboard && window.isSecureContext) {
        return navigator.clipboard.writeText(textToCopy);
    } else {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", textToCopy);
    }
}

</script>

</body>
</html>
