@*
* Global routes to JATOS GUI endpoints that cannot be reached by non-templates (e.g. JS modules in extra files)
* The content is redundant to gui.routes
*@

<script @{helper.CSPNonce.attr} type="module">

    const basePath = window.common.jatosUrlBasePath;

    window.routes = {};

    window.routes.Api = {};
    window.routes.Api.testToken = `${basePath}jatos/api/v1/admin/token`;
    window.routes.Api.exportStudy = (studyId) => `${basePath}jatos/api/v1/studies/${studyId}`;
    window.routes.Api.deleteStudy = (studyId) => `${basePath}jatos/api/v1/studies/${studyId}`;
    window.routes.Api.studyLog = (studyId, entryLimit, download) => `${basePath}jatos/api/v1/studies/${studyId}/log?entryLimit=${entryLimit}&download=${download}`;
    window.routes.Api.exportSingleResultFile = (componentResultId, filename) => `${basePath}jatos/api/v1/results/files/${filename}?componentResultId=${componentResultId}`;
    window.routes.Api.exportResults = (isApiCall) => `${basePath}jatos/api/v1/results?isApiCall=${isApiCall}`;
    window.routes.Api.exportResultData = (asPlainText, isApiCall) => `${basePath}jatos/api/v1/results/data?asPlainText=${asPlainText}&isApiCall=${isApiCall}`;
    window.routes.Api.exportResultFiles = `${basePath}jatos/api/v1/results/files`;
    window.routes.Api.exportResultMetadata = (isApiCall) => `${basePath}jatos/api/v1/results/metadata?isApiCall=${isApiCall}`;
    window.routes.Api.getStudyCodes = (studyId, batchId, workerType, comment, amount) => `${basePath}jatos/api/v1/studies/${studyId}/studyCodes?batchId=${batchId}&type=${workerType}&comment=${comment}&amount=${amount}`;

    window.routes.ApiTokens = {};
    window.routes.ApiTokens.allTokenDataByUser = `${basePath}jatos/user/allApiTokenData`;
    window.routes.ApiTokens.generate = (name, expires) => `${basePath}jatos/user/apiToken?name=${name}&expires=${expires}`;
    window.routes.ApiTokens.remove = (id) => `${basePath}jatos/user/apiToken/${id}`;
    window.routes.ApiTokens.toggleActive = (id, active) => `${basePath}jatos/user/apiToken/${id}/active?active=${active}`;

    window.routes.Signin = {};
    window.routes.Signin.signin = `${basePath}jatos/signin`;
    window.routes.Signin.signout = `${basePath}jatos/signout`;
    window.routes.Signin.authenticate = `${basePath}jatos/signin/local`;
    window.routes.SigninGoogle = {};
    window.routes.SigninGoogle.signin = `${basePath}jatos/signin/google`;
    window.routes.SigninOrcid = {};
    window.routes.SigninOrcid.signin = (keepSignedin) => `${basePath}jatos/signin/oidc/orcid?realHostUrl=${encodeURIComponent(window.common.realHostUrl)}&keepSignedin=${keepSignedin}`;
    window.routes.SigninSram = {};
    window.routes.SigninSram.signin = (keepSignedin) => `${basePath}jatos/signin/oidc/sram?realHostUrl=${encodeURIComponent(window.common.realHostUrl)}&keepSignedin=${keepSignedin}`;
    window.routes.SigninConext = {};
    window.routes.SigninConext.signin = (keepSignedin) => `${basePath}jatos/signin/oidc/conext?realHostUrl=${encodeURIComponent(window.common.realHostUrl)}&keepSignedin=${keepSignedin}`;
    window.routes.SigninBasicOidc = {};
    window.routes.SigninBasicOidc.signin = (keepSignedin) => `${basePath}jatos/signin/oidc/basic?realHostUrl=${encodeURIComponent(window.common.realHostUrl)}&keepSignedin=${keepSignedin}`;

    window.routes.Home = {};
    window.routes.Home.home = `${basePath}jatos`;
    window.routes.Home.sidebarData = `${basePath}jatos/sidebarData`;
    window.routes.Home.branding = `${basePath}jatos/branding`;

    window.routes.Studies = {};
    window.routes.Studies.submitCreated = `${basePath}jatos/study`;
    window.routes.Studies.properties = (studyId) => `${basePath}jatos/${studyId}/properties`;
    window.routes.Studies.submitEdited = (studyId) => `${basePath}jatos/${studyId}/properties`;
    window.routes.Studies.submitDescription = (studyId) => `${basePath}jatos/${studyId}/properties/description`;
    window.routes.Studies.toggleLock = (studyId) => `${basePath}jatos/${studyId}/lock/toggle`;
    window.routes.Studies.runStudy = (studyId) => `${basePath}jatos/${studyId}/run`;
    window.routes.Studies.cloneStudy = (studyId) => `${basePath}jatos/${studyId}/clone`;
    window.routes.Studies.tableDataByStudy = (studyId) => `${basePath}jatos/${studyId}/componentsTableData`;
    window.routes.Studies.changeComponentOrder = (studyId, componentId, newPosition) => `${basePath}jatos/${studyId}/componentOrder?componentId=${componentId}&newPosition=${newPosition}`;
    window.routes.Studies.study = (studyId) => `${basePath}jatos/${studyId}`;
    window.routes.Studies.toggleMemberUser = (studyId, username, isMember) => `${basePath}jatos/${studyId}/memberUser?username=${username}&isMember=${isMember}`;
    window.routes.Studies.addAllMemberUsers = (studyId) => `${basePath}jatos/${studyId}/memberUsers`;
    window.routes.Studies.removeAllMemberUsers = (studyId) => `${basePath}jatos/${studyId}/memberUsers`;
    window.routes.Studies.memberUsers = (studyId) => `${basePath}jatos/${studyId}/memberUsers`;
    window.routes.Studies.toggleActive = (studyId, active) => `${basePath}jatos/${studyId}/properties/active?active=${active}`;

    window.routes.Components = {};
    window.routes.Components.toggleActive = (studyId, componentId, active) => `${basePath}jatos/${studyId}/${componentId}/properties/active?active=${active}`;
    window.routes.Components.remove = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}`;
    window.routes.Components.runComponent = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}/run`;
    window.routes.Components.cloneComponent = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}/clone`;
    window.routes.Components.submitCreated = (studyId) => `${basePath}jatos/${studyId}/component`;
    window.routes.Components.properties = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}/properties`;
    window.routes.Components.submitEdited = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}/properties`;

    window.routes.StudyResults = {};
    window.routes.StudyResults.studysStudyResults = (studyId) => `${basePath}jatos/${studyId}/results`;
    window.routes.StudyResults.workersStudyResults = (workerId) => `${basePath}jatos/worker/${workerId}/results`;
    window.routes.StudyResults.groupsStudyResults = (studyId, groupId) => `${basePath}jatos/${studyId}/group/${groupId}/results`;
    window.routes.StudyResults.batchesStudyResults = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/results`;
    window.routes.StudyResults.batchesStudyResultsForType = (studyId, batchId, workerType) => `${basePath}jatos/${studyId}/batch/${batchId}/results?workerType=${workerType}`;
    window.routes.StudyResults.tableDataComponentResultsByStudyResult = (studyResultId) => `${basePath}jatos/studyResult/${studyResultId}/componentResults`;
    window.routes.StudyResults.tableDataByStudy = (studyId) => `${basePath}jatos/${studyId}/tableData`;
    window.routes.StudyResults.tableDataByWorker = (workerId) => `${basePath}jatos/worker/${workerId}/tableData`;
    window.routes.StudyResults.remove = `${basePath}jatos/studyResult/delete`;

    window.routes.ComponentResults = {};
    window.routes.ComponentResults.componentResults = (studyId, componentId) => `${basePath}jatos/${studyId}/${componentId}/results`;
    window.routes.ComponentResults.exportSingleResultData = (componentResultId) => `${basePath}jatos/componentResult/${componentResultId}/data`;
    window.routes.ComponentResults.tableDataByComponent = (componentId) => `${basePath}jatos/componentResults/tableData?componentId=${componentId}`;
    window.routes.ComponentResults.remove = `${basePath}jatos/componentResults/delete`;

    window.routes.StudyLinks = {};
    window.routes.StudyLinks.studyLinks = (studyId) => `${basePath}jatos/${studyId}/studyLinks`;
    window.routes.StudyLinks.submitCreatedBatch = (studyId) => `${basePath}jatos/${studyId}/batch`;
    window.routes.StudyLinks.batchesByStudy = (studyId) => `${basePath}jatos/${studyId}/batches`;
    window.routes.StudyLinks.toggleBatchActive = (studyId, batchId, active) => `${basePath}jatos/${studyId}/batch/${batchId}/properties/active?active=${active}`;
    window.routes.StudyLinks.removeBatch = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}`;
    window.routes.StudyLinks.batchProperties = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/properties`;
    window.routes.StudyLinks.submitEditedBatchProperties = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/properties`;
    window.routes.StudyLinks.batchSessionData = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/batchSessionData`;
    window.routes.StudyLinks.submitEditedBatchSessionData = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/batchSessionData`;
    window.routes.StudyLinks.groupSessionData = (studyId, groupId) => `${basePath}jatos/${studyId}/group/${groupId}/groupSessionData`;
    window.routes.StudyLinks.submitEditedGroupSessionData = (studyId, groupId) => `${basePath}jatos/${studyId}/group/${groupId}/groupSessionData`;
    window.routes.StudyLinks.groupsByBatch = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/groups`;
    window.routes.StudyLinks.toggleGroupFixed = (studyId, groupId, fixed) => `${basePath}jatos/${studyId}/group/${groupId}/fixed?fixed=${fixed}`;
    window.routes.StudyLinks.studyLinksSetupData = (studyId, batchId) => `${basePath}jatos/${studyId}/batch/${batchId}/studyLinksSetupData`;
    window.routes.StudyLinks.toggleAllowedWorkerType = (studyId, batchId, workerType, allow) => `${basePath}jatos/${studyId}/batch/${batchId}/properties/workerType/${workerType}?allow=${allow}`;
    window.routes.StudyLinks.studyLinksData = (studyId, batchId, workerType) => `${basePath}jatos/${studyId}/batch/${batchId}/studyLinksData?workerType=${workerType}`;
    window.routes.StudyLinks.toggleStudyLinkActive = (studyId, batchId, studyCode, active) => `${basePath}jatos/${studyId}/batch/${batchId}/studyLink/${studyCode}?active=${active}`;
    window.routes.StudyLinks.editWorkerComment = (workerId) => `${basePath}jatos/worker/${workerId}/comment`;

    window.routes.ImportExport = {};
    window.routes.ImportExport.importStudy = `${basePath}jatos/import/study`;
    window.routes.ImportExport.importStudyConfirmed = `${basePath}jatos/import/studyConfirmed`;

    window.routes.Users = {};
    window.routes.Users.signedinUserData = `${basePath}jatos/user/signedinUser`;
    window.routes.Users.edit = (username) => `${basePath}jatos/user/${username}/profile`;
    window.routes.Users.remove = (username) => `${basePath}jatos/user/${username}/delete`;
    window.routes.Users.changePasswordByUser = `${basePath}jatos/user/passwordByUser`;
    window.routes.Users.changePasswordByAdmin = `${basePath}jatos/user/passwordByAdmin`;
    window.routes.Users.userManager = `${basePath}jatos/userManager`;
    window.routes.Users.allUserData = `${basePath}jatos/user/allUserData`;
    window.routes.Users.create = `${basePath}jatos/user`;
    window.routes.Users.toggleActive = (username, active) => `${basePath}jatos/user/${username}/properties/active?active=${active}`;
    window.routes.Users.toggleRole = (username, role, value) => `${basePath}jatos/user/${username}/properties/role?role=${role}&value=${value}`;
    window.routes.Users.studiesDataByUser = (username) => `${basePath}jatos/studiesData?username=${username}`;

    window.routes.Admin = {};
    window.routes.Admin.studyManager = `${basePath}jatos/studyManager`;
    window.routes.Admin.status = `${basePath}jatos/status`;
    window.routes.Admin.listLogs = `${basePath}jatos/listLogs`;
    window.routes.Admin.allStudiesData = `${basePath}jatos/allStudiesData`;
    window.routes.Admin.logs = (filename, limit, reverse) => `${basePath}jatos/logs/${filename}?limit=${limit}&reverse=${reverse}`;
    window.routes.Admin.studyAssetsSize = (studyId) => `${basePath}jatos/${studyId}/studyAssetsSize`;
    window.routes.Admin.resultDataSize = (studyId) => `${basePath}jatos/${studyId}/resultDataSize`;
    window.routes.Admin.resultFileSize = (studyId) => `${basePath}jatos/${studyId}/resultFileSize`;

    window.routes.Updates = {};
    window.routes.Updates.getReleaseInfo = `${basePath}jatos/releaseInfo`;
    window.routes.Updates.cancelUpdate = `${basePath}jatos/cancelUpdate`;
    window.routes.Updates.downloadJatos = `${basePath}jatos/downloadJatos`;
    window.routes.Updates.updateAndRestart = (backupAll) => `${basePath}jatos/updateAndRestart?backupAll=${backupAll}`;

    window.routes.tests = {};
    window.routes.tests.testDatabase = `${basePath}jatos/testDatabase`;
    window.routes.tests.testFolderAccess = `${basePath}jatos/testFolderAccess`;
    window.routes.tests.testWebSocket = `${basePath}jatos/testWebSocket`;

    window.routes.assets = {};
    window.routes.assets = (filename) => `${basePath}assets/${filename}`;

    window.routes.Publix = {};
    // We need 'window.common.realBaseUrl' here to get the full URL
    window.routes.Publix.studyEntry = (studyCode) => `${window.common.realBaseUrl}publix/run?code=${studyCode}`;
    window.routes.Publix.run = (studyCode) => `${window.common.realBaseUrl}publix/${studyCode}`;
</script>
