@import controllers.gui.routes._
@import general.common._

<aside class="offcanvas offcanvas-start rounded-end-4" id="studySidebar" tabindex="-1">

    <div class="offcanvas-header">
        <div class="offcanvas-title fw-bold fs-4">My studies</div>
        <div class="dropdown no-info-icon" data-toggle="tooltip" title="Add or import studies">
            <button class="btn btn-study dropdown-toggle ms-3" type="button" data-bs-toggle="dropdown">
                <i class="bi-plus-lg fw-bold pe-1"></i>
            </button>
            <ul class="dropdown-menu">
                <li data-bs-dismiss="offcanvas" data-bs-target="#studySidebar">
                    <button class="dropdown-item" id="importStudy" type="button">
                        <i class="bi-box-arrow-in-down-right pe-1"></i>Import Study
                    </button>
                </li>
                <li data-bs-dismiss="offcanvas" data-bs-target="#studySidebar">
                    <button class="dropdown-item" id="createStudy" type="button" data-bs-toggle="modal" data-bs-target="#createStudyModal">
                        <i class="bi-plus-lg fw-bold pe-1"></i>New Study
                    </button>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn btn-close btn-nav btn-nav" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body pt-0">
        <div class="input-group form-study sticky-top pb-3 pt-1">
            <span class="input-group-text"><i class="bi-search"></i></span>
            <input class="form-control" id="studySearchInput" type="search" placeholder="Search studies...">
        </div>
        <div class="vstack w-100">
            <div class="list-group list-group-flush flex-column overflow-y-auto"></div>
        </div>
    </div>

    <div class="d-none"><input id="importStudyBrowser" type="file" name="study"></div>

</aside>

<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/studySidebar.js")" type="module"></script>

