<!DOCTYPE html>

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="stylesheet" href="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/jquery-ui-1.12.1.custom/jquery-ui.min.css")">
<script src="@controllers.gui.routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.5.1.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>

<p><b>JATOS configuration</b><br>
Version: @general.common.Common.getJatosVersion()<br>
Java: @java.lang.System.getProperty("java.version")<br>
URL host: @utils.common.HttpUtils.getHostUrl()<br>
URL basepath: @general.common.Common.getPlayHttpContext()<br>
Local basepath: @general.common.Common.getBasepath()<br>
Study assets root path: @general.common.Common.getStudyAssetsRootPath()<br>
Uses in-memory DB: @general.common.Common.isInMemoryDb()<br>
User session timeout: @general.common.Common.getUserSessionTimeout()<br>
User session inactivity: @general.common.Common.getUserSessionInactivity()<br>
DB URL: @general.common.Common.getDbDefaultUrl()<br>
DB driver: @general.common.Common.getDbDefaultDriver()<br>
JPA unit: @general.common.Common.getJpaDefault()<br>
Used memory: @((Runtime.getRuntime().totalMemory() - Runtime.getRuntime().freeMemory()) / (1024*1024)) MB<br>
Max memory: @(Runtime.getRuntime.maxMemory() / (1024*1024)) MB
</p>

<p><b>Tests</b><br>
Correct URL host: <span id="testHostUrlResult"></span><br>
Connect to database: <span id="testDatabaseResult"></span><br>
Access to study assets root folder: <span id="testStudyAssetsRootFolderResult"></span><br>
Acess internal cache: <span id="testCacheResult"></span><br>
Internal JSON serialization: <span id="testJsonSerializationResult"></span><br>
Read jatos.js (via study path): <span id="testJatosJsViaStudyPathResult"></span><br>
Read jatos.js (via assets path): <span id="testJatosJsViaAssetsPathResult"></span><br>
Read heartbeat.js: <span id="testHeartbeatJsResult"></span><br>
Open WebSocket: <span id="testWebSocketResult"></span><br>
</p>

<script>

testHostUrl();
testDatabase();
testStudyAssetsRootFolder();
testCache();
testJsonSerialization();
testJatosJsViaStudyPath();
testJatosJsViaAssetsPath();
testHeartbeatJs();
testWebSocket();

function testHostUrl() {
	var jatosHostUrl = "@utils.common.HttpUtils.getHostUrl()";
	var browserUrl = window.location.origin;
	if (jatosHostUrl == browserUrl) {
		$('#testHostUrlResult').html('<font color="green">OK</font>');
	} else if (jatosHostUrl.replace(/(^\w+:|^)\/\//, '') == browserUrl.replace(/(^\w+:|^)\/\//, '')) {
	    $('#testHostUrlResult').html('<font color="orange">WARN (wrong protocol)</font>');
	} else {
		$('#testHostUrlResult').html('<font color="red">FAIL</font>');
	}
}

function testDatabase() {
	$.ajax({
		type: 'GET',
		url: '@controllers.gui.routes.Tests.testDatabase()',
		success: function(result) {
			$('#testDatabaseResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testDatabaseResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testStudyAssetsRootFolder() {
	$.ajax({
		type: 'GET',
		url: '@controllers.gui.routes.Tests.testStudyAssetsRootFolder()',
		success: function(result) {
			$('#testStudyAssetsRootFolderResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testStudyAssetsRootFolderResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testCache() {
	$.ajax({
		type: 'GET',
		url: '@controllers.gui.routes.Tests.testCache()',
		success: function(result) {
			$('#testCacheResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testCacheResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testJsonSerialization() {
	$.ajax({
		type: 'GET',
		url: '@controllers.gui.routes.Tests.testJsonSerialization()',
		success: function(result) {
			$('#testJsonSerializationResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testJsonSerializationResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testJatosJsViaStudyPath() {
	$.ajax({
		type: 'GET',
		url: "@{general.common.Common.getPlayHttpContext()}publix/1/1/jatos.js",
		dataType: "text",
		success: function(result) {
			$('#testJatosJsViaStudyPathResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testJatosJsViaStudyPathResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testJatosJsViaAssetsPath() {
	$.ajax({
		type: 'GET',
		url: "@{general.common.Common.getPlayHttpContext()}assets/javascripts/jatos.js",
		dataType: "text",
		success: function(result) {
			$('#testJatosJsViaAssetsPathResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testJatosJsViaAssetsPathResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testHeartbeatJs() {
	$.ajax({
		type: 'GET',
		url: "@{general.common.Common.getPlayHttpContext()}publix/1/1/jatos-publix/javascripts/heartbeat.js",
		dataType: "text",
		success: function(result) {
			$('#testHeartbeatJsResult').html('<font color="green">OK</font>');
		},
		error : function(err) {
			$('#testHeartbeatJsResult').html('<font color="red">FAIL</font>');
		}
	});
}

function testWebSocket() {
	var webSocket = new WebSocket(((
			window.location.protocol === "https:") ? "wss://" : "ws://")
			+ window.location.host
			+ "@controllers.gui.routes.Tests.testWebSocket()");
	webSocket.onerror = function () {
		$('#testWebSocketResult').html('<font color="red">FAIL</font>');
	};
			
	webSocket.onmessage = function (event) {
		if (event.data != "test message") {
			$('#testWebSocketResult').html('<font color="red">FAIL</font>');
		} else {
			$('#testWebSocketResult').html('<font color="green">OK</font>');
		}
	};
	webSocket.onopen = function (event) {
		webSocket.send("test message");
	};
}

</script>

</body>
</html>
