@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean)

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<div class="btn-group">
    <button id="createUserButton" type="button" class="btn btn-user">
    New User <span class="glyphicon glyphicon-user"></span></button>
</div>

<table id="userTable" class="table top-buffer">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Authentication method, e.g. locally stored User or by LDAP">Auth</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Users with admin rights can create/change/delete other users.">Admin Rights</th>
            <th></th>
        </tr>
    </thead>
</table>

<!-- Template for admin toggle button in User's row -->
<div id="userAdminToggleButtonDiv" style="display: none">
    <div class="tooltipWrapper" data-title="">
        <button type="button" class="btn btn-default adminButton">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>

<!-- Template for button toolbar in User's row -->
<div id="userToolbarDiv" style="display: none">
    <div class="userBtnGroup btn-group" role="group">
        <div class="userChangePasswordTooltip btn-group" data-title="">
            <button type="button" class="userChangePasswordButton btn btn-user">
                Change Password <span class="glyphicon glyphicon-lock"></span>
            </button>
        </div>
        <div class="userDeleteTooltip btn-group" role="group" data-title="">
            <button type="button" class="userDeleteButton btn btn-user">
                Delete <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="createUserModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createUserForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">New User</h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <div class="form-group row">
                        <label class="control-label col-xs-4" for="@models.gui.NewUserModel.USERNAME">Username</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control @models.gui.NewUserModel.USERNAME" name="@models.gui.NewUserModel.USERNAME">
                            <span class="help-block">This will be the username.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-4" for="@models.gui.NewUserModel.NAME">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control @models.gui.NewUserModel.NAME" name="@models.gui.NewUserModel.NAME">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="text-right col-xs-4">
                            Admin Rights <span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Should this user have admin rights? Admins can create/change/delete other users."></span>
                        </label>
                        <div class="col-xs-8">
                            <input type="checkbox" class="@models.gui.NewUserModel.ADMIN_ROLE" name="@models.gui.NewUserModel.ADMIN_ROLE" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.NewUserModel.ADMIN_ROLE" value="false" />
                        </div>
                    </div>


                    <div class="form-group row" @if(!general.common.Common.isLdapAllowed()) {hidden}>
                        <label class="text-right col-xs-4">
                            LDAP <span class="glyphicon glyphicon-info-sign gray-light" title="Should this user be authenticated by your central LDAP service?"></span>
                        </label>
                        <div class="col-xs-8">
                            <input type="checkbox" class="@models.gui.NewUserModel.AUTH_BY_LDAP" data-toggle="collapse" data-target=".passwordDiv" name="@models.gui.NewUserModel.AUTH_BY_LDAP" value="true">
                            <!-- We need a hidden input field. http://stackoverflow.com/questions/8204708/how-do-i-bind-a-checkbox-to-a-boolean-in-play-framework -->
                            <input type="hidden" name="@models.gui.NewUserModel.AUTH_BY_LDAP" value="false" />
                        </div>
                    </div>

                    <div class="form-group row passwordDiv collapse in">
                        <label class="control-label col-xs-4" for="@models.gui.NewUserModel.PASSWORD">Password</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control @models.gui.NewUserModel.PASSWORD" name="@models.gui.NewUserModel.PASSWORD" placeholder="Password" autocomplete="off">
                            <input type="password" class="form-control @models.gui.NewUserModel.PASSWORD_REPEAT" name="@models.gui.NewUserModel.PASSWORD_REPEAT" placeholder="Repeat password" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-4 adminPasswordLabel" for="@models.gui.NewUserModel.ADMIN_PASSWORD">Your password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control @models.gui.NewUserModel.ADMIN_PASSWORD" name="@models.gui.NewUserModel.ADMIN_PASSWORD" placeholder="Your password" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-user" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="changePasswordForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <div class="form-group row">
                        <label class="control-label col-xs-4 adminPasswordLabel" for="@models.gui.ChangePasswordModel.ADMIN_PASSWORD">Your password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control @models.gui.ChangePasswordModel.ADMIN_PASSWORD" name="@models.gui.ChangePasswordModel.ADMIN_PASSWORD" placeholder="Your password" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-xs-4 newPasswordLabel" for="@models.gui.ChangePasswordModel.NEW_PASSWORD">New password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control @models.gui.ChangePasswordModel.NEW_PASSWORD" name="@models.gui.ChangePasswordModel.NEW_PASSWORD" placeholder="New password" autocomplete="off" required>
                            <input type="password" class="form-control @models.gui.ChangePasswordModel.NEW_PASSWORD_REPEAT" name="@models.gui.ChangePasswordModel.NEW_PASSWORD_REPEAT" placeholder="Repeat the new password" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-user" value="Change">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete user confirmation  modal -->
<div class="modal fade" id="deleteUserModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteUserForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirm User Deletion</h4>
                </div>
                <div class="modal-body">
                    <div class="messages"></div>
                    <p class="confirmationText"></p>
                    <div class="form-group row">
                        <label class="control-label col-xs-6 adminPasswordLabel" for="password">Your password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control password" name="password" placeholder="Your password" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-user" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

var userTable = $('#userTable').DataTable({
    "ajax": {
        "type": "GET",
        "url" : '@controllers.gui.routes.Users.allUserData()',
        "error": function (err) {
            if (err.responseText) {
                showError(err.responseText);
            } else {
                showError("Cannot read users data.");
            }
        }
    },
    "dom": 'ftip',
    "order": [[ 0, "asc" ]],
    "pageLength": 10,
    "columnDefs": [
        {
            "visible": @{general.common.Common.isLdapAllowed() || general.common.Common.isOauthGoogleAllowed()},
            "targets": 2
        }
    ],
    "columns": [
        { "data": "username" },
        { "data": "name" },
        {
            "class": "text-center",
            "data": "authMethod",
            "width": "1px",
            "orderable": false,
            "searchable": false,
            "render": function (authMethod, type, full, meta) {
                switch(authMethod) {
                    case "@{common.User.AuthMethod.DB.name()}": return "local";
                    case "@{common.User.AuthMethod.LDAP.name()}": return "LDAP";
                    case "@{common.User.AuthMethod.OAUTH_GOOGLE.name()}": return "Google";
                    default: return "unknown";
                }
            }
        },
        {
            "class": 'adminRole',
            "data": null,
            "defaultContent": '',
            "width": "1px",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                var buttonDiv = $('#userAdminToggleButtonDiv :first-child').clone();
                var adminRole = $.inArray("@models.common.User.Role.ADMIN.name()", data.roleList) >= 0;
                setAdminButton(buttonDiv, adminRole, data.username);
                return buttonDiv.prop('outerHTML');
            }
        },
        {
            "class": "toolbar",
            "data": null,
            "defaultContent": '',
            "width": "1%",
            "orderable": false,
            "searchable": false,
            "render": function (data, type, full, meta) {
                var toolbar = $('#userToolbarDiv').clone().show();
                setUserToolbar(toolbar, data.username, data.authMethod);
                return toolbar.html();
            }
        }
    ]
});

$('#createUserButton').click(function(event) {
    removeAlerts("#createUserModal");
    removeFormErrors("#createUserModal");
    $('#createUserModal .@models.gui.NewUserModel.USERNAME').val('');
    $('#createUserModal .@models.gui.NewUserModel.NAME').val('');
    $('#createUserModal .@models.gui.NewUserModel.PASSWORD').val('');
    $('#createUserModal .@models.gui.NewUserModel.PASSWORD_REPEAT').val('');
    $('#createUserModal .@models.gui.NewUserModel.ADMIN_ROLE').prop('checked', false);
    $('#createUserModal .@models.gui.NewUserModel.AUTH_BY_LDAP').prop('checked', false);
    $('#createUserModal .passwordDiv').addClass('in');
    $('#createUserModal .adminPasswordLabel').text("Password of user @loggedInUser.getUsername()");
    $('#createUserModal .@models.gui.NewUserModel.ADMIN_PASSWORD').val('');
    $('#createUserModal').modal('show');
});

$("#createUserForm").submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: "@controllers.gui.routes.Users.submitCreated()",
        data: $('#createUserForm').serialize(),
        success: function(response) {
            removeAlerts("#createUserModal");
            removeFormErrors("#createUserModal");
            $('#createUserModal').modal('hide');
            userTable.ajax.reload();
        },
        error: function(response) {
            removeAlerts("#createUserModal");
            removeFormErrors("#createUserModal");
            showWarning("User wasn't created", "#createUserModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#createUserModal", response);
            } else {
                showModalError("#createUserModal .messages", response);
            }
        }
    });
});

function setAdminButton(buttonDiv, adminRole, username) {
    var button = $(buttonDiv).children("button:first");
    if (adminRole) {
        button.addClass('adminRole');
        button.removeClass('btn-default');
        button.addClass('btn-user');
        // Special treatment of admin users
        if (username == "@services.gui.UserService.ADMIN_USERNAME") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "User admin's admin rights can't be removed.");
        } else if (username == "@loggedInUser.getUsername()") {
            button.attr('disabled', true);
            buttonDiv.attr('title', "You can't remove your own admin rights. Only another user with admin rights can do it.");
        } else {
            buttonDiv.attr('title', "Click to remove admin rights from this user");
        }
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        button.removeClass('adminRole');
        button.removeClass('btn-user');
        button.addClass('btn-default');
        buttonDiv.attr('title', "Click to grant admin rights to this user");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

function setUserToolbar(toolbar, username, authMethod) {
    // Add delete user button
    if (username == "@services.gui.UserService.ADMIN_USERNAME") {
        toolbar.find('.userDeleteButton').attr('disabled', true);
        toolbar.find('.userDeleteTooltip').attr('title', "It's not possible to delete the admin user.");
    } else if (username == "@loggedInUser.getUsername()") {
        toolbar.find('.userDeleteButton').attr('disabled', true);
        toolbar.find('.userDeleteTooltip').attr('title', "You cannot delete your user here - but you can delete yourself in the user page (click on your username in the JATOS header).");
    } else {
        toolbar.find('.userDeleteTooltip').attr('title', "Delete this user from JATOS");
    }

    // Add change password button
    if (username == "@services.gui.UserService.ADMIN_USERNAME") {
        if ("@loggedInUser.getUsername()" != "@services.gui.UserService.ADMIN_USERNAME") {
            toolbar.find('.userChangePasswordButton').attr('disabled', true);
            toolbar.find('.userChangePasswordTooltip').attr('title', "Only user admin can change their own password.");
        } else {
            toolbar.find('.userChangePasswordTooltip').attr('title', "Change the password of this user");
        }
    } else if (authMethod == "@{common.User.AuthMethod.DB.name()}") {
        toolbar.find('.userChangePasswordTooltip').attr('title', "Change the password of this user");
    } else {
        toolbar.find('.userChangePasswordButton').attr('disabled', true);
        toolbar.find('.userChangePasswordTooltip').attr('title', "Not a locally stored User (e.g. authenticated by LDAP)");
    }

}

$('#userTable tbody').on('click', '.adminButton', function() {
    var button = this;
    var tr = $(this).closest('tr');
    var user = userTable.row(tr).data();
    var adminRole = $(this).hasClass('adminRole');
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/user/" + user.username + "/admin?admin=" + !adminRole,
        type : "POST",
        success: function(adminRole) {
            setAdminButton($(button).parent(), adminRole);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#userTable').on('click', '.userChangePasswordButton', function() {
    var tr = $(this).closest("tr");
    var user = userTable.row(tr).data();
    $('#changePasswordForm').data(user);
    removeAlerts("#changePasswordModal");
    removeFormErrors("#changePasswordModal");
    $('#changePasswordModal .modal-title').text("Change password for " + user.name + "(" + user.username + ")");
    $('#changePasswordModal .adminPasswordLabel').text("@loggedInUser.getUsername()'s password");
    $('#changePasswordModal .@models.gui.ChangePasswordModel.ADMIN_PASSWORD').val('');
    $('#changePasswordModal .newPasswordLabel').text("New password for user " + user.username);
    $('#changePasswordModal .@models.gui.ChangePasswordModel.NEW_PASSWORD').val('');
    $('#changePasswordModal .@models.gui.ChangePasswordModel.NEW_PASSWORD_REPEAT').val('');
    $('#changePasswordModal').modal('show');
});

$("#changePasswordForm").submit(function(event) {
    event.preventDefault();
    var user = $(this).data(user);
    $.ajax({
        type: 'POST',
        url: '@{general.common.Common.getPlayHttpContext()}jatos/user/' + user.username + '/password',
        data: $('#changePasswordForm').serialize(),
        success: function(response) {
            removeAlerts("#changePasswordModal");
            removeFormErrors("#changePasswordModal");
            $('#changePasswordModal').modal('hide');
        },
        error: function(response) {
            removeAlerts("#changePasswordModal");
            removeFormErrors("#changePasswordModal");
            showWarning("Password wasn't changed", "#changePasswordModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#changePasswordModal", response);
            } else {
                showModalError("#changePasswordModal .messages", response);
            }
        }
    });
});

$('#userTable tbody').on('click', '.userDeleteButton', function() {
    var tr = $(this).closest("tr");
    var user = userTable.row(tr).data();
    $('#deleteUserForm').data(user);
    removeAlerts("#deleteUserModal");
    removeFormErrors("#deleteUserModal");
    $('#deleteUserModal .modal-title').text("Delete " + user.username + " (" + user.name + ")");
    $('#deleteUserModal .confirmationText').html(generateUserDeleteConfirmationHtml(user));
    $('#deleteUserModal .adminPasswordLabel').text("Confirm with your (@loggedInUser.getUsername()) password");
    $('#deleteUserModal .password').val('');
    $('#deleteUserModal').modal('show');
});

function generateUserDeleteConfirmationHtml(user) {
    var confirmationText = "<p>You are about to delete the user <b>" + user.username + " (" + user.name + ")</b>. "
            + "All studies with this user as the only user will be deleted too.</p>";
    // Only add the studies that have a user size of 1 (means this user is the only
    // member and the study would be abandoned after user deletion) .
    var studyList = "";
    $.each(user.studyList, function(index, study) {
        if (study.userSize === 1) {
            studyList += "<li>" + study.title + " (ID: " + study.id + ")</li>";
        }
    });
    if (studyList !== "") {
        confirmationText += "<p><b>This would automatically delete the following studies with all their results</b>.";
        confirmationText += "<ul>" + studyList + "</ul>";
    }
    confirmationText += "<p><b>This can't be undone.</b></p>";
    return confirmationText;
}

$('#deleteUserForm').submit(function(event) {
    event.preventDefault();
    var user = $('#deleteUserForm').data(user);
    $.ajax({
        url : "@{general.common.Common.getPlayHttpContext()}jatos/user/" + user.username + "/delete",
        type : 'POST',
        data: $('#deleteUserForm').serialize(),
        success : function(result) {
            removeAlerts("#deleteUserModal");
            removeFormErrors("#deleteUserModal");
            $('#deleteUserModal').modal('hide');
            userTable.ajax.reload();
            fillSidebar();
        },
        error : function(response) {
            removeAlerts("#deleteUserModal");
            removeFormErrors("#deleteUserModal");
            showWarning("User wasn't deleted", "#deleteUserModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors("#deleteUserModal", response);
            } else {
                showModalError("#deleteUserModal .messages", response);
            }
        }
    });
});

</script>

}
