# Traefik config for JATOS + Traefik with automatic encryption

defaultEntryPoints = ["https","http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "<DOMAIN_NAME>"
watch = true
exposedByDefault = false

[acme]
  email = "<EMAIL>"
  storage = "acme.json"
  entryPoint = "https"
  onHostRule = true
  [acme.httpChallenge]
  entryPoint = "http"
