@(experimentList: List[MAExperiment], user: MAUser, error: String,
	loggedInUser: MAUser, form: Form[MAUser])

@admin.main(experimentList, error, loggedInUser){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h3>@user.toString() > </h3>
			<h4>Change Password > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submitChangedPassword(user.email), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}

				<input name="email" type="hidden" value="@form("email").value">
				
				@for(error <- form("password").errors) {
					<p class="error">@error.message</p>
				}
				<input name="oldPassword" type="password" class="formTop" placeholder="Old password" value="">
				<input name="newPassword" type="password" class="formMiddle" placeholder="New password" value="">
				<input name="newPasswordRepeat" type="password" class="formBottom" placeholder="Repeat new password" value="">
				
				<button id="newGroup" type="submit">Change</button>
			}
		</div>
	</article>

}
