@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	form: Form[MAUser])

@admin.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submit(), 'class -> "addTask") {
				<p>The email adress will be your username.</p>

				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(Users.EMAIL).errors) {
					<p class="error">@error.message</p>
				}
				<input type="email" name="@Users.EMAIL" class="formTop" placeholder="Email" value="@form(Users.EMAIL).value">

				@for(error <- form(Users.NAME).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Users.NAME" class="formMiddle" placeholder="Name" value="@form(Users.NAME).value">

				@for(error <- form(Users.PASSWORD).errors) {
					<p class="error">@error.message</p>
				}
				<input type="password" name="@Users.PASSWORD" class="formMiddle" placeholder="Password" value="">
				<input type="password" name="@Users.PASSWORD_REPEAT" class="formBottom" placeholder="Repeat password" value="">

				<button id="newGroup" type="submit">Create</button>
			}
		
		</div>
	</article>

}
