@(experimentList: List[MAExperiment], error: String, loggedInUser: MAUser,
	form: Form[MAUser])

@admin.main(experimentList, error, loggedInUser){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h4>New User > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submit(), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form("name").errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="name" class="formTop" placeholder="Name" value="@form("name").value">

				@for(error <- form("email").errors) {
					<p class="error">@error.message</p>
				}
				<input type="email" name="email" class="formMiddle" placeholder="Email" value="@form("email").value">

				@for(error <- form("password").errors) {
					<p class="error">@error.message</p>
				}
				<input type="password" name="password" class="formMiddle" placeholder="Password" value="">
				<input type="password" name="passwordRepeat" class="formBottom" placeholder="Repeat password" value="">

				<button id="newGroup" type="submit">Create</button>
			}
		
		</div>
	</article>

}
