@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	user: MAUser, form: Form[MAUser])

@admin.main(studyList, loggedInUser, breadcrumbs){

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Users.submitEditedProfile(user.getEmail()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}

				@for(error <- form(Users.NAME).errors) {
					<p class="error">@error.message</p>
				}
				<input name="@Users.NAME" type="text" class="formSingle" placeholder="Name" value="@form(Users.NAME).value">
				
				<input name="@Users.EMAIL" type="hidden" value="@form(Users.EMAIL).value">
				
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
