@(experimentList: List[MAExperiment], loggedInUser: MAUser, errorMsg: String,
	user: MAUser)

@admin.main(experimentList, loggedInUser){

<header>
	<hgroup>
		<h2>/ > </h2>
		<h3>@user.toString() > </h3>
	</hgroup>
</header>

<article class="tasks" id="tasks">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}

	<a id="newGroup" href="@routes.Users.update(user.email)">Update</a>
	<a id="newGroup" href="@routes.Users.changePassword(user.email)">Change password</a>

	<div class="folder" data-folder-id="@user.email">
		<header>
			<h3>Member in Experiments</h3>
		</header>

		<ul class="list">
			@if(user.experimentList.isEmpty()) {
				<li>
					<p class="name">None</p>
				</li>
			}
		
			@for(experiment <- user.experimentList) {
				<li data-task-id="@experiment.getId()">
					<a class="name"
							href="@routes.Experiments.index(experiment.getId())">
							@experiment.getId() "@experiment.getTitle()"
					</a>
				</li>
			}
		</ul>
	</div>
</article>

}
