@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	errorMsg: String, user: MAUser)

@admin.main(studyList, loggedInUser, breadcrumbs){

<article class="tasks" id="tasks">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}

	<a id="newGroup" href="@routes.Users.editProfile(user.getEmail())">Edit Profile</a>
	<a id="newGroup" href="@routes.Users.changePassword(user.getEmail())">Change password</a>

	<div class="folder" data-folder-id="@user.getEmail()">
		<header>
			<h3>Member in Studies</h3>
		</header>

		<ul class="list">
			@if(user.getStudyList().isEmpty()) {
				<li>
					<p class="name">None</p>
				</li>
			}
		
			@for(study <- user.getStudyList()) {
				<li data-task-id="@study.getId()">
					<a class="name"
							href="@routes.Studies.index(study.getId())">
							@study.getId() "@study.getTitle()"
					</a>
				</li>
			}
		</ul>
	</div>
</article>

}
