@(studyList: List[MAStudy], loggedInUser: MAUser, breadcrumbs: String,
	errorMsg: String, user: MAUser)

@admin.main(studyList, loggedInUser, breadcrumbs){

<article class="user">

	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}
	
	<div class="boxRow">
		<div class="manageBox">
			<header>
				<h3>Manage User</h3>
				<div class="placeHolder">X</div>
			</header>
			<div class="editProfile">Edit Profile</div>	
			<div class="changePassword">Change password</div>
		</div>
	
		<div class="studiesBox">
			<header>
				<h3>Member in Studies</h3>
				<div class="placeHolder">X</div>
			</header>
	
			<ul>
				@if(user.getStudyList().isEmpty()) {
					<li>None</li>
				}
			
				@for(study <- user.getStudyList()) {
					<li>
						<a href="@routes.Studies.index(study.getId())">
							@study.getTitle() (id: @study.getId())
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</article>

<script type="text/javascript">

	$(".editProfile").click(function(e) {
		window.location.href = "/admin/user/@user.getEmail()/editProfile";
	});
	
	$(".changePassword").click(function(e) {
		window.location.href = "/admin/user/@user.getEmail()/changePassword";
	});

</script>

}
