#jatosWorkerPanel,#personalSingleWorkerPanel,#personalMultipleWorkerPanel,#mtWorkerPanel,#generalSingleWorkerPanel .panel-heading {
	overflow: hidden;
	line-height:32px;
}
#jatosWorkerPanel,#personalSingleWorkerPanel,#personalMultipleWorkerPanel,#mtWorkerPanel,#generalSingleWorkerPanel .btn-group {
	position: relative;
}
