
/*
 * Batch buttons use bootstrap success button
 */
.btn-batch {
    &:extend(.btn-success all);
}

#createBatchButton {
    margin-bottom: 20px;
}

/*
 * Batch panel
 */
#batchList > .panel {
    margin-bottom: 20px;
}

#batchList > .panel {
    background-color: #f5f5f5;
}

/*
 * Batch's worker panel
 */
.workerSetupItem {
    margin: 10px;
}

.workerSetupItem .panel > .panel-heading {
    overflow: hidden;
    line-height:32px;
    background-image: none;
    background-color: white;
}
.workerSetupItem .panel > .panel-heading .btn-group {
    position: relative;
}

.workerSetupItem .panel > .panel-heading .activeButton {
    margin-left: 10px;
    margin-right: 10px;
}

/*
 * Badges
 */
.batchItem > .panel-heading .resultsBadge {
    color: @btn-success-bg;
    background-color: @btn-success-color;
}
.workerSetupItem .panel > .panel-heading .resultsBadge {
    color: @btn-success-bg;
    background-color: @btn-success-color;
}
.workerSetupItem .panel > .panel-heading .workersBadge {
    color: @btn-success-color;
    background-color: @btn-success-bg;
}

/*
 * DataTables
 */
.workerSetupItem .pagination > li.active > a {
    color: @btn-success-color;
    background-color: @btn-success-bg;
    border-color: darken(@btn-success-bg, 5%);
}
.workerSetupItem .pagination > li.active > a:hover {
    background-color: darken(@btn-success-bg, 10%);
}
.workerSetupItem .pagination > li > a {
    color: @btn-default-color;
    background-color: @btn-default-bg;
    border-color: darken(@btn-default-bg, 20%);
}
.workerSetupItem .pagination > li:not(.disabled):not(.active) > a:hover {
    background-color: darken(@btn-default-bg, 10%);
}
.workerSetupItem .pagination > li.disabled > a {
    color: lighten(@btn-default-color, 20%);
}
.workerSetupItem .pagination > li.next > a {
    margin-right: 10px;
}
.workerSetupItem table.dataTable thead .sorting:after,
        #workerSetupTemplate table.dataTable thead .sorting_asc:after,
        #workerSetupTemplate table.dataTable thead .sorting_desc:after {
    display: none;
}

/*
 * Modal for worker run links
 */
#workerRunLinkModal .linkUrls > ul {
    margin-bottom: 0px;
}
