table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #888 !important;
}

table.dataTable tbody tr.selected a:hover {
    color: #ccc !important;
}

pre.details-data {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
}
.borderless td {
    border: none !important;
}

div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { clear: both; }

#resultsTable_upperToolbar,
#resultsTable_lowerToolbar {
    margin-top: 10px;
    text-align: left;
}

#resultTable_refresh,
#resultsTable_export,
#resultsTable_delete,
#resultsTable_length,
#resultsTable_select,
#resultsTable_search,
#resultsTable_customize {
    display: inline;
}

#resultsTable_export,
#resultsTable_search {
    margin-left: 50px;
}

#resultsTable_length {
    margin-left: 10px;
}

#resultsTable_export label,
#resultsTable_select label,
#resultsTable_search label,
#resultsTable_customize label {
    font-weight: normal;
}

/* Sometimes DataTable SearchBuilder's 'Data', 'Condition', and 'Value' are not in-line when used with "stateSave" */
.dtsb-data, .dtsb-condition, .dtsb-value {
    display: inline-block !important;
}
.dtsb-searchBuilder {
    padding: 10px;
    margin-top: 10px;
}

#resultsTable_wrapper .pagination > li > a {
    background-color: white;
    color: #333;
}
#resultsTable_wrapper .pagination > li > a:focus,
#resultsTable_wrapper .pagination > li > a:hover,
#resultsTable_wrapper .pagination > li > span:focus,
#resultsTable_wrapper .pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}
#resultsTable_wrapper .pagination > .active > a {
    color: white;
    background-color: darkgray !Important;
    border: solid 1px darkgray !Important;
}
#resultsTable_wrapper .pagination > .active > a:hover {
    background-color: darkgray !Important;
    border: solid 1px darkgray;
}

