
/*
 * Define study and component button colors
 */
.btn-study {
	&:extend(.btn-primary all);
}
.btn-component {
	&:extend(.btn-info all);
}

/*
 * No wrapping in button group
 */
.componentBtnGroup {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	user-select: none;
}

/*
 * Component table
 */
.table tbody>tr>td{
	vertical-align: middle;
}
.table tbody>tr>td.activeComponent {
	text-align: center;
	user-select: none;
}
.table tbody>tr>td.componentDragButton {
	text-align: center;
	user-select: none;
}

/*
 * Change user members DataTable
 */
#memberUserTable {
	width: 100%;
}

#memberUserTable .memberInStudyColumn {
	width: 1px;
}

.fixed-panel {
  max-height: 7em;
  overflow-y: auto;
}
