/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
a:hover,
a:focus {
    text-decoration: none;
}
.gray-light {
    color: #aaa;
}
.lightgrayBackground {
    background: lightgray;
}

.noWrap {
    white-space: nowrap;
}

.text-l {
    font-size: 125%;
}

.text-xl {
    font-size: 150%;
}

.clipboardButton,
.qrCodeButton,
.showAllButton {
    &:extend(.btn-default all);
    margin: 0 0 0 5px;
}

.popover {
    max-width: 100%;
}

.hideKeepWidth {
    visibility: hidden;
    height: 0;
}


/*
 * Glyphicons
 */
@import "lib/bootstrap/less/variables.less";
@import (reference) "lib/bootstrap/less/bootstrap.less";
@import (reference) "lib/bootstrap/less/glyphicons.less";
.glyphicon-jatos {
	&:extend(.glyphicon-wrench all);
	color: #ffcc00;
}
.glyphicon-personal-single {
	&:extend(.glyphicon-leaf all);
	color: #00e600;
}
.glyphicon-personal-multiple {
	&:extend(.glyphicon-tree-deciduous all);
	color: #004d00;
}
.glyphicon-mturk-sandbox {
	&:extend(.glyphicon-knight all);
	color: #ff55ff;
}
.glyphicon-general-single {
	&:extend(.glyphicon-glass all);
	color: #f32222;
}
.glyphicon-general-multiple {
	&:extend(.glyphicon-asterisk all);
	color: #830000;
}
.glyphicon-mturk {
	&:extend(.glyphicon-knight all);
	color: #af00ef;
}
.glyphicon-plus.study-collapsed {
	display:inline; 
}
.glyphicon-plus.study-expanded {
	display:none;
}
.glyphicon-minus.study-expanded {
	display:inline;
}
.glyphicon-minus.study-collapsed {
	display:none;
}
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}


/*
 * Alerts
 */
.alert .glyphicon{
  display:table-cell;
}
.alert div,
.alert span{
  padding-left: 5px;
  display:table-cell;
}


/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
#navUserText {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
 * Sidebar
 */
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 2px;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.studyListItem {
  padding: 10px;
}
.sidebar-nav li.currentStudy {
  background-color: #fff;
}
.sidebar-nav li.studyListItem:hover,
.sidebar-nav li.studyListItem:focus {
  background-color: #fff;
  cursor: pointer;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/*
 * Sidebar navigation
 */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}
.top-buffer {
	margin-top: 10px;
}
.grayout {
	opacity: 0.5; /* Real browsers */
	filter: alpha(opacity=50); /* MSIE */
}


/*
 * Bootstrap modal
 */
.modal {
    overflow-y: auto;
}

/*
 * Define Bootstrap Modal XL
 */
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

/*
 * ACE editor and Bootstrap modals: stop jumping to the top with
 * https://stackoverflow.com/questions/43738707
 */
.ace_text-input {
    position: absolute!important;
}

/*
 * Fix for Bootstrap 3 radio and checkbox alignment
 * https://stackoverflow.com/questions/24398901
 */
@media (min-width: 768px) {
  .form-horizontal .radio input[type="radio"],
  .form-horizontal .checkbox input[type="checkbox"] {
    float: left;
    margin: 0 5px 0 5px;
    margin-left: -20px;
  }
}

/*
 * General Datatables stuff
 */
table.dataTable tbody tr.selected {
    color: black !important;
    background-color: #aaa !important;
}
table.dataTable tbody tr.selected a {
    color: white;
}
table.dataTable tbody > tr > td {
    vertical-align: middle;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: black;
    background-color: #aaa;
}

/*
 * Dynamic resizing of jumbotrons
 */
.jumbotron {
    overflow: auto;
}

@import 'apps/_study.less';         // Study related views
@import 'apps/_admin.less';         // Admin related views
@import 'apps/_studyLinks.less';    // Study links and Batch related views
@import 'apps/_result.less';        // Results views
@import 'apps/_edit.less';          // Edit forms

