html,
body {
  height: 100%;
}

.signin-all {
    max-width: 300px;
}

.btn-outline-signin {
    color: #000;
    background-color: white;
    background-image: none;
    border-color: #ddd
}

.btn-outline-signin:hover {
    color: #000;
    background-color: #eee;
    border-color: #ccc
}

.signin-form .form-floating:focus-within {
  z-index: 2;
}

.signin-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin-form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}