.signin-all {
    max-width: 300px;
}

.signin-form .form-floating:focus-within {
  z-index: 2;
}

.signin-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin-form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Fix flickering */
#signinGoogle {
    height: 40px;
}

/* Fix white padding of Google sign-in iframe */
iframe[src^="https://accounts.google.com"] {
    color-scheme: normal;
}