@import "bootstrap/scss/_functions.scss";
@import 'parts/_jatosColors.scss';
@import 'parts/_googleSignin.scss';
@import 'parts/_switch.scss';

#colorTheme .dropdown-menu .active .bi-check2 {
    display: block !important;
}

#colorTheme .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem;
}

#signinAll {
    max-width: 300px;
}

#signinForm .form-floating:focus-within {
  z-index: 2;
}

#signinForm input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#signinForm input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}