/*
 * Define study and component button colors
 */
$study-color: #0d6efd;
.btn-study {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: $study-color;
  --bs-btn-border-color: $study-color;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($study-color, 10%)};
  --bs-btn-hover-border-color: #{shade-color($study-color, 10%)};
  --bs-btn-focus-shadow-rgb: var(--study-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($study-color, 20%)};
  --bs-btn-active-border-color: #{shade-color($study-color, 20%)};
}