@(loggedInUser: UserModel, 
breadcrumbs: String, form: Form[UserModel])

@views.html.gui.main(loggedInUser, breadcrumbs){

@helper.form(action = controllers.gui.routes.Users.submitChangedPassword(loggedInUser.getEmail()), 'class -> "form-horizontal", 'role -> "form") {

<div class="form-group">
	<label class="control-label col-xs-2" for="oldPassword">Old password</label>
	<div class="col-xs-10">
		<input type="password" class="form-control" id="oldPassword" name="@UserModel.OLD_PASSWORD" placeholder="Your old password">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="newPassword">New password</label>
	<div class="col-xs-10">
		<input type="password" class="form-control" id="newPassword" name="@UserModel.PASSWORD" placeholder="Your new password">
		<input type="password" class="form-control" id="repeatNewPassword" name="@UserModel.PASSWORD_REPEAT" placeholder="Repeat your new password">
	</div>
</div>

<input type="hidden" name="@UserModel.EMAIL" value="@form(UserModel.EMAIL).value">

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<input type="submit" class="btn btn-primary" value="Change">
	</div>
</div>

}

<script>
@if(form.hasErrors) {
	showWarning("Password wasn't changed");
}
@for(error <- form.globalErrors) {
	showError("@error.message");
}
@for(error <- form(UserModel.OLD_PASSWORD).errors) {
	$('#oldPassword').closest(".form-group").addClass("has-error");
	$('#oldPassword').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(UserModel.PASSWORD).errors) {
	$('#newPassword').closest(".form-group").addClass("has-error");
	$('#newPassword').after('<span class="help-block">@error.message</span>');
}
</script>

}
