@(loggedInUser: User,
breadcrumbs: String, form: Form[User])

@views.html.gui.main(loggedInUser, breadcrumbs){

@helper.form(action = controllers.routes.Users.submit(), 'class -> "form-horizontal", 'role -> "form") {

<div class="form-group">
	<label class="control-label col-xs-2" for="email">Email address</label>
	<div class="col-xs-10">
		<input type="email" class="form-control" id="email" name="@User.EMAIL" value="@form(User.EMAIL).value">
		<span class="help-block">This will be the username.</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="name">Name</label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="name" name="@User.NAME" value="@form(User.NAME).value">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-xs-2" for="password">Password</label>
	<div class="col-xs-10">
		<input type="password" class="form-control" id="password" name="@User.PASSWORD" placeholder="Password">
		<input type="password" class="form-control" id="repeatPassword" name="@User.PASSWORD_REPEAT" placeholder="Repeat password">
	</div>
</div>

<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">
		<input type="submit" class="btn btn-primary" value="Submit">
	</div>
</div>

}

<script>
@if(form.hasErrors) {
	showWarning("User wasn't created");
}
@for(error <- form.globalErrors) {
	showError("@error.message");
}
@for(error <- form(User.NAME).errors) {
	$('#name').closest(".form-group").addClass("has-error");
	$('#name').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(User.EMAIL).errors) {
	$('#email').closest(".form-group").addClass("has-error");
	$('#email').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(User.PASSWORD).errors) {
	$('#password').closest(".form-group").addClass("has-error");
	$('#password').after('<span class="help-block">@error.message</span>');
}
@for(error <- form(User.PASSWORD_REPEAT).errors) {
	$('#repeatPassword').closest(".form-group").addClass("has-error");
	$('#repeatPassword').after('<span class="help-block">@error.message</span>');
}
</script>

}
