@(studyList: List[StudyModel], loggedInUser: UserModel, breadcrumbs: String,
study: StudyModel, workerSet: Set[workers.Worker], baseUrl: String,
studyResultsCount: Integer)

@views.html.gui.main(studyList, loggedInUser, breadcrumbs){

<!-- Toolbar -->
<div id="studyToolbar" class="btn-toolbar" role="toolbar">
	<div class="btn-group">
		<button id="showStudy" type="button" class="btn btn-primary">Show</button>
		<button id="studyResults" type="button" class="btn btn-primary">
			Results <span class="badge">@studyResultsCount</span>
		</button>
		<button id="workers" type="button" class="btn btn-primary">
			Workers <span class="badge">@workerSet.size() 
		</button>
		<button id="editStudy" type="button" class="btn btn-primary">Properties</button>
		<button id="lockStudy" type="button" class="btn btn-primary">@if(study.isLocked()){Unlock}else{Lock}</button>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown">
				More <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="@controllers.gui.routes.ImportExport.exportStudy(study.getId())">Export</a></li>
				<li><a id="cloneStudy" href="#">Clone</a></li>
				<li><a
					href="@controllers.gui.routes.Studies.showMTurkSourceCode(study.getId())">MT
						Source Code</a></li>
				<li class="divider"></li>
				<li><a id="testerRun" href="#">Tester Run</a></li>
				<li><a id="closedStandaloneRun" href="#">Closed Standalone
						Run</a></li>
				<li><a id="openStandaloneRun" href="#">Open Standalone Run</a></li>
				<li class="divider"></li>
				<li><a id="removeStudy" href="#">Delete</a></li>
			</ul>
		</div>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle"
			data-toggle="dropdown">
			Components <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="@controllers.gui.routes.Components.create(study.getId())">New</a></li>
			<input id="importComponentBrowser" type="file"
				name="@ComponentModel.COMPONENT" style="display: none;">
			<li><a id="importComponentButton" href="#">Import</a></li>
		</ul>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle"
			data-toggle="dropdown">
			Members <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			@for(member <- study.getMemberList()) {
			<li><a href="@controllers.gui.routes.Users.profile(member.getEmail())">@member.getName()
					(@member.getEmail())</a></li> }
			<li class="divider"></li>
			<li><a href="@controllers.gui.routes.Studies.changeMembers(study.getId())">Change</a></li>
		</ul>
	</div>
</div>

<!-- Components Table -->
<h3>Components</h3>
<table id="componentsTable" class="table table-hover table-row-border"
	cellpadding="0" cellspacing="0" border="0" width="100%">
	<thead>
		<tr>
			<th></th>
			<th>Active</th>
			<th>#</th>
			<th>ID</th>
			<th>Title</th>
			<th></th>
		</tr>
	</thead>
</table>

<!-- Template for button toolbar in Component's row -->
<div id="componentToolbar" style="display: none">
	<div class="componentBtnGroup btn-group" aria-hidden="true">
		<button type="button" class="showComponent btn btn-default">Show</button>
		<button type="button" class="componentResults btn btn-default">
			Results <span class="resultsBadge badge"></span>
		</button>
		<button type="button" class="editComponent btn btn-default">Properties</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
				data-toggle="dropdown">
				More <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a class="exportComponent" href="#">Export</a></li>
				<li><a class="cloneComponent" href="#">Clone</a></li>
				<li class="divider"></li>
				<li><a class="removeComponent" href="#">Delete</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Confirmation Modal - Run Standalone or Tester -->
<div class="modal fade" id="confirmModalRun" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Create run</h4>
			</div>
			<div class="modal-body">
				<p class="modalText">You're about to create a worker.</p>
				<div class="input-group">
					<input type="text" class="comment form-control"
						placeholder="Comment">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var componentsTable;
$(document).ready(function() {
	componentsTable = $('#componentsTable').DataTable({
		"ajax": {
			"type": "GET",
			"url" : '@controllers.gui.routes.Studies.tableDataByStudy(study.getId())',
			"error": function(reason) {
					showError("Couldn't read components data.")
			}
		},
		"paging": false,
		"info": false,
		"filter": false,
		"columnDefs": [ {
			"searchable": false,
			"orderable": false,
			"targets": "_all"
		} ],
		"columns": [
			{
				"data": null,
				"defaultContent": '',
				"width": "1px",
				"render": function (data, type, full, meta) {
					return '<div class="upArrow"></div>'
						+ '<div class="downArrow"></div>';
				}
			},
			{
				"class": 'activeComponent',
				"data": null,
				"defaultContent": '',
				"width": "1px",
				"render": function (data, type, full, meta) {
					var html = '<input class="activeCheckbox" type="checkbox"';
					if (data.active) {html += 'checked'}
					html += '>';
					return html;
				}
			},
			{
				"class": 'position',
				"data": null,
				"width": "1px"
			},
			{
				"data": "id",
				"width": "1px"
			},
			{ 
				"data": "title",
			},
			{
				"class": "toolbar",
				"data": null,
				"defaultContent": '',
				"width": "1%",
				"render": function (data, type, full, meta) {
					var toolbar = $('#componentToolbar').clone().show();
					$(toolbar).find('.resultsBadge').text(data.resultCount);
					return toolbar.html();
				}
			}
		],
		"order" : [],
		"oLanguage": {
			"sEmptyTable": "No components yet"
		}
	});
	
	componentsTable.on('order.dt search.dt', function () {
		componentsTable.column(2, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}).draw();

	// Don't remove. It readjusts the columns width after writing the component's positions
	componentsTable.columns.adjust().draw();
	
	// Adjust the width of every component's toolbar to the widest one
	componentsTable.on('column-sizing.dt', function (e, settings) {
		var maxWidth = 0;
		$('.componentResults').each(function(index) {
			var width = $(this).width();
			if (width > maxWidth) {
				maxWidth = width;
			}
		});
		$('.componentResults').each(function(index) {
			$(this).width(maxWidth);
		});
	});
	
	$('#componentsTable tbody').on('click', '.showComponent', function() {
		window.location.href = "/jatos/" + @study.getId() +"/"
			+ getComponentId(this) + "/show";
	});
	
	$('#componentsTable tbody').on('click', '.componentResults', function() {
		window.location.href = "/jatos/" + @study.getId() +"/"
			+ getComponentId(this) + "/results";
	});
	
	$('#componentsTable tbody').on('click', '.editComponent', function() {
		window.location.href = "/jatos/" + @study.getId() +"/"
			+ getComponentId(this) + "/edit";
	});
	
	$('#componentsTable tbody').on('click', '.exportComponent', function() {
		window.location.href = "/jatos/" + @study.getId() +"/"
			+ getComponentId(this) + "/export";
	});
	
	$('#componentsTable tbody').on('click', '.cloneComponent', function() {
		$.ajax({
			type: 'GET',
			url: "/jatos/" + @study.getId() +"/" + getComponentId(this) + "/clone",
			success: function(result) {
				componentsTable.ajax.reload();
				showMessages(result);
				fillSidebar();
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
	
	$('#componentsTable tbody').on('click', '.removeComponent', function() {
		var element = this;
		var componentId = getComponentId(this);
		if (!componentId) {return} // should never happen
		var componentTitle = getComponentTitle(this);
		var title = "Confirm Delete";
		var preText = "You are about to delete component \"" + componentTitle 
			+ "\" (ID " + componentId + ") <b>with all its results</b>.";
		var postText = "Do you want to proceed?";
		askConfirmation(title, preText, null, postText, 'Delete', function() {
			$.ajax({
				url : "/jatos/" + @study.getId() +"/" + componentId + "/remove",
				type : 'DELETE',
				success : function(result) {
					var tr = $(element).closest('tr');
					componentsTable.row(tr).remove().draw();
					fillSidebar();
				},
				error : function(err) {
					showError(err.responseText);
				}
			});
		});
	});
	
	$('#componentsTable tbody').on('click', '.upArrow', function() {
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		ajaxChangeComponentOrder(componentId, "@controllers.gui.Studies.COMPONENT_POSITION_UP", tr);
	});

	$('#componentsTable tbody').on('click', '.downArrow', function() {
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		ajaxChangeComponentOrder(componentId, "@controllers.gui.Studies.COMPONENT_POSITION_DOWN", tr);
	});
	
	$('#componentsTable tbody').on('click', '.activeCheckbox', function() {
		var checkbox = this;
		var tr = $(this).closest('tr');
		var componentId = getComponentId(this);
		var active = $(this).prop('checked');
		$.ajax({
			url : "/jatos/" + @study.getId() +"/" + componentId
					+ "/changeProperty?active=" + active,
			type : "POST",
			error : function(err) {
				$(checkbox).prop("checked", !$(checkbox).is(":checked"));
				showError(err.responseText);
			}
		});
	});
	
	function getComponentId(element) {
		var tr = $(element).closest('tr');
		var rowData = componentsTable.row(tr).data();
		return rowData.id;
	}
	
	function getComponentTitle(element) {
		var tr = $(element).closest('tr');
		var rowData = componentsTable.row(tr).data();
		return rowData.title;
	}
	
});

function ajaxChangeComponentOrder(componentId, direction, tr) {
	$.ajax({
		url : "/jatos/" + @study.getId() + "/changeComponentOrder"
				+ "?componentId=" + componentId + "&direction="
				+ direction,
		type : "POST",
		success : function(response) {
			componentsTable.ajax.reload();
			fillSidebar();
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

$('#studyToolbar').on('click', '#lockStudy', function() {
	$.ajax({
		url : "/jatos/" + @study.getId() +"/swapLock",
		type : "POST",
		success : function(response) {
			if (response == 'true') {
				$("#lockStudy").text("Unlock");
			} else {
				$("#lockStudy").text("Lock");
			}
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
});

$('#studyToolbar').on('click', '#showStudy', function() {
	window.location.href = "@controllers.gui.routes.Studies.showStudy(study.getId())";
});

$('#studyToolbar').on('click', '#studyResults', function() {
	window.location.href = "@controllers.gui.routes.StudyResults.index(study.getId())";
});

$('#studyToolbar').on('click', '#workers', function() {
	window.location.href = "@controllers.gui.routes.Studies.workers(study.getId())";
});

$('#studyToolbar').on('click', '#editStudy', function() {
	window.location.href = "@controllers.gui.routes.Studies.edit(study.getId())";
});

$('#studyToolbar').on('click', '#closedStandaloneRun', function() {
	$('#confirmModalRun').find('.modal-title').html("Create closed standalone run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a worker for a closed standalone run.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @workers.ClosedStandaloneWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Studies.createClosedStandaloneRun(study.getId())',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Closed standalone run";
				var preText = "Use this link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
					window.location.href = result;
				});
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#openStandaloneRun', function() {
	var title = "Open standalone run";
	var preText = "Use this link";
	var url = "@baseUrl" + "@controllers.publix.routes.PublixInterceptor.startStudy(study.getId())?openStandalone";
	var html = "<p>" + url + "</p>"; 
	var postText = "or press \"Run\" to start one right away. Remember to allow open standalone runs in your study's properties.";
	askConfirmation(title, preText, html, postText, 'Run', function() {
		window.location.href = url;
	});
});

$('#studyToolbar').on('click', '#testerRun', function() {
	$('#confirmModalRun').find('.modal-title').html("Create tester run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a tester worker.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @workers.TesterWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Studies.createTesterRun(study.getId())',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(result) {
				var title = "Tester run";
				var preText = "Use this link";
				var html = "<p>" + result + "</p>"; 
				var postText = "or press \"Run\" to start it right away.";
				askConfirmation(title, preText, html, postText, 'Run', function() {
					window.location.href = result;
				});
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#removeStudy', function() {
	var title = "Confirm Delete";
	var preText = "You are about to delete the study \"@study.getTitle()\" " 
		+ "(ID @study.getId()) "
		+ "<b>with all its components, results, and the entire study assets directory, "
		+ "including the HTML files</b>.";
	var postText = "Do you want to proceed?";
	askConfirmation(title, preText, null, postText, 'Delete', function() {
		$.ajax({
			url : '@controllers.gui.routes.Studies.remove(study.getId())',
			type : 'DELETE',
			success : function(result) {
				window.location.replace('@controllers.gui.routes.Home.home()');
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#studyToolbar').on('click', '#cloneStudy', function() {
	$.ajax({
		url : '@controllers.gui.routes.Studies.cloneStudy(study.getId())',
		type : 'GET',
		success : function(result) {
			fillSidebar();
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
});

function getComponentId(e) {
	var componentElement = $(e.target);
	var componentId = componentElement.attr("component-id");
	return componentId;
}

$('#studyToolbar').on('click', '#importComponentButton', function() {
	$('#importComponentBrowser').trigger("click");
});

$('#studyToolbar').on('change', '#importComponentBrowser', function() {
	var data = new FormData();
	var files = $('#importComponentBrowser').prop('files');
	$.each(files , function(index, value){
		data.append('@ComponentModel.COMPONENT', value);
	});
	$.ajax({
		url: '@controllers.gui.routes.ImportExport.importComponent(study.getId())',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		type: 'POST',
		success: importComponentConfirm,
		error : function(err) {
			showError(err.responseText);
		}
	});
});

function importComponentConfirm(response) {
	if (response.componentExists) {
		var title = "Component already exists";
		var preText = "It seems a component \"" + response.componentTitle 
			+ "\" already exist in this study.";
		var postText = "Do you want to overwrite this component?";
		askConfirmation(title, preText, null, postText, 'Overwrite', function() {
			postComponentImportConfirm();
		});
	} else {
		var title = "Import component";
		var preText = "You are about to import the component \""
			+ response.componentTitle + "\".";
		var postText = "Do you want to proceed?";
		askConfirmation(title, preText, null, postText, 'Import', function() {
			postComponentImportConfirm();
		});
	}
}

function postComponentImportConfirm() {
	$.ajax({
		type: 'POST',
		url: '@controllers.gui.routes.ImportExport.importComponentConfirmed(study.getId())',
		success: function(result) {
			componentsTable.ajax.reload();
			showMessages(JSON.parse(result));
			fillSidebar();
		},
		error : function(err) {
			showError(err.responseText);
		}
	});
}

</script>

}
