@(study: common.Study)

<!-- Show Batch or Group Session Data Modal -->
<div class="modal fade" id="sessionModal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="sessionForm" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Current Session Data</h4>
                </div>

                <div class="modal-body">
                    <div class="messages"></div>
                    <div class="form-group row">
                        <label class="control-label col-xs-2" for="data">Session Data&nbsp;<span class="glyphicon glyphicon-info-sign gray-light" data-toggle="tooltip" title="Edit your session data here"></span><br>
                            <button type="button" class="btn btn-default btn-sm prettyButton">Pretty</button>
                        </label>
                        <div class="col-xs-10">
                            <div class="form-control sessionData" id="data"></div>
                            <!-- We use a hidden textarea here to transfer the JSON data into the form POST -->
                            <textarea class="sessionData" name="data" hidden></textarea>
                            <input type="hidden" class="sessionVersion" name="version" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-batch" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

var sessionDataEditor;

$('#batchList').on('click', '.batchSessionButton', function() {
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen
    var dataUrl = "@{general.common.Common.getPlayHttpContext()}jatos/@study.getId()/batch/" + batch.id + "/batchSessionData";
    $('#sessionModal').data('id', batch.id);
    $('#sessionModal').data('type', 'batch');
    getSession(dataUrl);
});

$('#groupsModal').on('click', '.groupSessionButton', function() {
    var tr = $(this).closest('tr');
    var groupId = groupsTable.row(tr).data().id;
    if (!groupId) {return} // should never happen
    var dataUrl = "@{general.common.Common.getPlayHttpContext()}jatos/@study.getId()/group/" + groupId + "/groupSessionData";
    $('#sessionModal').data('id', groupId);
    $('#sessionModal').data('type', 'group');
    getSession(dataUrl);
});

function getSession(dataUrl) {
    $.ajax({
        type: 'GET',
        url: dataUrl,
        success: function(session) {
            fillSessionModal(session);
        },
        error: function(response) {
            showError("Couldn't load session data.");
        }
    });
}

function fillSessionModal(session, type) {
    removeAlerts('#sessionModal');
    removeFormErrors('#sessionModal');
    clearForm("#sessionForm");

    var type = $('#sessionModal').data('type');
    if (type == 'batch') {
        $('#sessionModal .modal-title').text("Current Batch Session Data");
    } else if (type == 'group') {
        $('#sessionModal .modal-title').text("Current Group Session Data");
    }

    if (!sessionDataEditor) setupSessionDataEditor();
    var sessionData = session['data'];
    sessionData = sessionData ? sessionData : "{}";
    var sessionDataPretty = JSON.stringify(JSON.parse(sessionData), null, 2);
    sessionDataEditor.getSession().setValue(sessionDataPretty);
    var sessionVersion = session['version'];
    $('#sessionModal .sessionVersion').val(sessionVersion);

    showInfo("Changing session data can affect your running studies. " +
        "Edit only if you know what you are doing.", "#sessionModal .messages");
    $('#sessionModal').modal('show');
}

function setupSessionDataEditor() {
    var sessionDataDiv = $("#sessionModal div.sessionData").get(0);
    sessionDataEditor = ace.edit(sessionDataDiv);
    sessionDataEditor.setTheme("ace/theme/clouds");
    sessionDataEditor.session.setMode("ace/mode/json");
    sessionDataEditor.setOptions({
        autoScrollEditorIntoView: true,
        showPrintMargin: false,
        wrapBehavioursEnabled: true,
        wrap: true,
        minLines: 12,
        maxLines: 30
    });
}

$("#sessionModal .prettyButton").click(function(event) {
    var sessionData = sessionDataEditor.getSession().getValue();
    removeSingleFormError('#sessionModal .sessionData');
    try {
        var sessionDataPretty = JSON.stringify(JSON.parse(sessionData), null, 2);
        sessionDataEditor.getSession().setValue(sessionDataPretty);
    } catch (e) {
        showSingleFormError('#sessionModal .sessionData', "@general.common.MessagesStrings.INVALID_JSON_FORMAT");
    }
});

$("#sessionForm").submit(function(event) {
    event.preventDefault();
    // Put JSON from editor into textarea to let it be picked up by form.serialize
    var sessionData = sessionDataEditor.getSession().getValue();
    $("#sessionModal textarea.sessionData").val(sessionData);
    var id = $('#sessionModal').data('id');
    var type = $('#sessionModal').data('type');
    if (!id || !type) {return} // should never happen

    if (type == 'batch') {
        var postUrl = "@{general.common.Common.getPlayHttpContext()}jatos/@study.getId()/batch/" + id + "/batchSessionData";
        postSession(postUrl);
    } else if (type == 'group') {
        var postUrl = "@{general.common.Common.getPlayHttpContext()}jatos/@study.getId()/group/" + id + "/groupSessionData";
        postSession(postUrl);
    }
});

function postSession(postUrl) {
    $.ajax({
        type: 'POST',
        url: postUrl,
        data: $('#sessionForm').serialize(),
        success: function(response) {
            removeAlerts('#sessionModal');
            removeFormErrors('#sessionModal')
            $('#sessionModal').modal('hide');
        },
        error: function(response) {
            removeAlerts('#sessionModal');
            removeFormErrors('#sessionModal');
            showWarning("Data weren't saved", "#sessionModal .messages");
            if (isJson(response.responseText)) {
                showFormErrors('#sessionModal', response)
            } else {
                showModalError("#sessionModal .messages", response);
            }
        }
    });
}

</script>
