@(studyList: List[MAStudy], study: MAStudy,
	user: MAUser, form: Form[MAComponent])

@admin.main(studyList, user){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h2>@study.getId() @study.getTitle() > </h2>
			<h4>New Component > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submit(study.getId()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(Components.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.TITLE"
					class="formTop" placeholder="Title"
					value="@form(Components.TITLE).value">
					
				<input type="checkbox" name="@Components.RELOADABLE" value="true">
				<input type="hidden" name="@Components.RELOADABLE" value="false" />
				
				@for(error <- form(Components.VIEW_URL).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.VIEW_URL"
					class="formMiddle" placeholder="URL or path of the actual component"
					value="@form(Components.VIEW_URL).value">
				
				@for(error <- form(Components.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@Components.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(Components.JSON_DATA).value</textarea>
				
				<button id="newGroup" type="submit">Create</button>
			}
		</div>
	</article>

}
