@(experimentList: List[MAExperiment], experiment: MAExperiment, error: String,
	user: MAUser, form: Form[MAComponent])

@admin.main(experimentList, error, user){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h2>@experiment.id "@experiment.title" > </h2>
			<h4>New Component > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submit(experiment.id), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				<input type="text" name="title" class="formTop" placeholder="Title" value="@form("title").value">
				<textarea name="jsonData" class="formJsonData" placeholder="JSON data - put your JSON string here.">@form("jsonData").value</textarea>
				<button id="newGroup" type="submit">Create</button>
			}
		</div>
	</article>

}
