@(studyList: List[MAStudy], study: MAStudy, errorMsg: String, 
	user: MAUser, component: MAComponent)

@admin.main(studyList, user){

<header>
	<hgroup>
		<h2>/ > </h2>
		<h2>@study.getId() @study.getTitle() > </h2>
		<h3>@component.getId() @component.getTitle() > </h3>
	</hgroup>
</header>

<article class="tasks" id="tasks">
	@if(errorMsg != null) {
		<p class="error">@errorMsg</p>
	}

	<input id="newGroup" type="button" onClick="tryComponent()"
		value="Try Component">
	<input id="newGroup" type="button" onClick="updateComponent()"
		value="Edit">
	<input id="newGroup" type="button" onClick="removeComponent()"
		value="Delete">
	<input id="newGroup" type="button" onClick="removeResults()"
		value="Remove Results">
		
	<div class="folder" data-folder-id="@component.getId()">
		<header>
			@if(component.getResultList().isEmpty()) {
				<h3>No results</h3>
			} else {
				<h3>Results so far</h3>
			}
		</header>

		<ul class="list">
			@for(result <- component.getResultList()) {
				
				<li data-task-id="@component.getId()">
					@MAResult.asJson(result);
				</li>
			}
		</ul>
	</div>
</article>

<script type="text/javascript">

	function tryComponent() {
		window.location.href = "@routes.Components.tryComponent(
			study.getId, component.getId())";
	}

	function updateComponent() {
		window.location.href = "@routes.Components.update(
				study.getId(), component.getId())";
	}
	
	function removeComponent() {
		var conf = confirm("Are you sure you want to remove component "
				+ "@component.getId()" + "\u00a0" + "\"@Html(component.getTitle())\"?");
		if (conf == true) {
			$.ajax({
				url : '@routes.Components.remove(
						study.getId(), component.getId())',
				type : 'DELETE',
				success : function(result) {
					window.location.replace('@routes.Admin.index()');
				},
				error : function(err) {
					alert(err.responseText);
				}
			});
		}
	}
	
	function removeResults() {
		window.location.href = "@routes.Components.removeResults(
				study.getId(), component.getId())";
	}
</script>

}
