@(studyList: List[MAStudy], component: MAComponent,
	study: MAStudy, user: MAUser, form: Form[MAComponent])

@admin.main(studyList, user){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h2>@study.getId() @study.getTitle() > </h2>
			<h3>@form("id").value @form("title").value > </h3>
			<h4>Update > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submitUpdated(study.getId(), component.getId()), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				
				@for(error <- form(Components.TITLE).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.TITLE"
					class="formTop" placeholder="Title"
					value="@form(Components.TITLE).value">
				
				<div>
				<input type="checkbox" name="@Components.RELOADABLE"
					style="vertical-align: middle;"
					@if(component.isReloadable()) {
						checked="checked"
					}
				>
				<p style="display: inline-block; vertical-align: middle;">Allow participants to reload</p>
				</div>
				
				@for(error <- form(Components.VIEW_URL).errors) {
					<p class="error">@error.message</p>
				}
				<input type="text" name="@Components.VIEW_URL"
					class="formMiddle" placeholder="URL or path of the actual component"
					value="@form(Components.VIEW_URL).value">
				
				@for(error <- form(Components.JSON_DATA).errors) {
					<p class="error">@error.message</p>
				}
				<textarea name="@Components.JSON_DATA" class="formJsonData"
					placeholder="JSON data - put your JSON string here."
					>@form(Components.JSON_DATA).value</textarea>
					
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
