@(experimentList: List[MAExperiment], component: MAComponent,
	experiment: MAExperiment, error: String, user: MAUser, form: Form[MAComponent])

@admin.main(experimentList, error, user){

	<header>
		<hgroup>
			<h2>/ > </h2>
			<h2>@experiment.id "@experiment.title" > </h2>
			<h3>@form("id").value "@form("title").value" > </h3>
			<h4>Update > </h4>
		</hgroup>
	</header>

	<article class="tasks" id="tasks">
		<div class="folder">
		
			@helper.form(action = routes.Components.submitUpdated(experiment.id, component.id), 'class -> "addTask") {
				@if(form.hasGlobalErrors) {
					<p class="error">
						@form.globalError.message
					</p>
				}
				<input type="text" class="formTop" placeholder="Title" value="@form("title").value">
				<textarea class="formJsonData" placeholder="JSON data - put your JSON string here.">@form("jsonData").value</textarea>
				<button id="newGroup" type="submit">Update</button>
			}
		</div>
	</article>

}
