@(loggedInUser: common.User)

<!-- Login Modal (used in case of session timeout)-->
<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				@if(loggedInUser.isOauthGoogle()) {
				<h3 class="form-login-heading">Please sign in again</h3>
				<p class="explanation"></p>
				<div id="signin-google"></div>
				<p>Or <a href="@controllers.gui.routes.Authentication.login()">login as a different user</a>.</p>
				} else {
				<form id="loginForm" method="post" class="form-horizontal" role="form">
					<h2 class="form-login-heading">Please log in again</h2>
					<label class="explanation"></label>
					<input type="hidden" class="form-control username" name="@controllers.gui.Authentication.Login.USERNAME" value="@loggedInUser.getUsername()" required>
					<div class="form-group">
						<div class="col-sm-12">
							<label>Password for @loggedInUser.getUsername()</label>
							<input type="password" class="form-control" name="@controllers.gui.Authentication.Login.PASSWORD" placeholder="Password" autocomplete="off" required autofocus>
						</div>
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
					<label>Or <a href="@controllers.gui.routes.Authentication.login()">login as a different user</a>.</label>
				</form>
				}
			</div>
		</div>
	</div>
</div>

<script>

// Let a background worker check for session timeouts
var sessionTimeoutWorker;
if (window.Worker) {
	sessionTimeoutWorker = new Worker('@routes.Assets.versioned("lib/jatos-gui/javascripts/sessionTimoutChecker.js")');
	sessionTimeoutWorker.postMessage([@general.common.Common.getUserSessionTimeout(), @general.common.Common.getUserSessionInactivity()]);
	sessionTimeoutWorker.onmessage = function(msg) {
		showLoginModal(msg.data);
	}
}

function showLoginModal(explanationText) {
	removeAlerts('#loginModal');
	removeFormErrors('#loginModal');
	$('#loginModal .explanation').text(explanationText);
	clearForm("#loginForm");
	@if(loggedInUser.isOauthGoogle()) {
	renderSignInGoogleButton(270);
	}
	$('#loginModal').modal('show');
}

$("#loginForm").submit(function(event) {
	event.preventDefault();
	$.ajax({
		type: 'POST',
		url: "@controllers.gui.routes.Authentication.authenticate()",
		data: $('#loginForm').serialize(),
		success: function(response) {
			removeAlerts('#loginModal');
			sessionTimeoutWorker.postMessage([@general.common.Common.getUserSessionTimeout(), @general.common.Common.getUserSessionInactivity()]);
			$('#loginModal').modal('hide');
		},
		error: function(response) {
			removeAlerts('#loginModal');
			showModalError("#loginModal .explanation", response);
		}
	});
});

// In case of another modal under the login modal make the other one scrollable after the login one closes
// http://stackoverflow.com/questions/19305821
$(document).on('hidden.bs.modal', '.modal', function () {
	$('.modal:visible').length && $(document.body).addClass('modal-open');
});
	
</script>
