@(form: Form[auth.gui.SignIn.Login])

<!DOCTYPE html>

<html lang="en">
<head>
<title>JATOS</title>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/stylesheets/login.css")">
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.5.1.min.js")"></script>
<script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
@if(general.common.Common.isOauthGoogleAllowed()) {
<script @{helper.CSPNonce.attr} src="https://accounts.google.com/gsi/client" async defer></script>
}
<meta charset="utf-8"/>
<meta http-equiv="Cache-Control" content="no-store" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<nav id="jatosHeader" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@controllers.gui.routes.Home.home">
				<img src="@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_grey.svg")" alt="JATOS logo" height="25pt">
			</a>
			<a id="jatosBrandName" class="navbar-brand" href="@controllers.gui.routes.Home.home">JATOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
		</div>
	</div>
</nav>

<div class="container-fluid" id="login-container">
	@if(general.common.Common.isOidcAllowed()) {
	<div class="row">
		<div id="signin-oidc" class="col">
			<button class="btn btn-lg btn-default btn-block">
				<img class="pull-left" height="25" src="@general.common.Common.getOidcSignInButtonLogoUrl()">
				@general.common.Common.getOidcSignInButtonText()
			</button>
		</div>
	</div>
	}
	@if(general.common.Common.isOauthGoogleAllowed()) {
	<div class="row">
		<div id="signin-google" class="col">
			<div id="g_id_onload"
				 data-client_id="@{general.common.Common.getOauthGoogleClientId()}"
				 data-login_uri="@auth.gui.routes.SignInGoogle.signIn()"
				 data-auto_prompt="false">
			</div>
			<div class="g_id_signin"
				 data-type="standard"
				 data-theme="outline"
				 data-text="sign_in_with"
				 data-shape="rectangular"
				 data-size="large"
				 data-width="300">
			</div>
		</div>
	</div>
	}
	@if(general.common.Common.isOidcAllowed() || general.common.Common.isOauthGoogleAllowed()) {
	<div class="row">
		<p class="login-text col">... or log in</p>
	</div>
	} else {
	<div class="row">
		<p class="login-text col"><b>Please log in</b></p>
	</div>
	}
	<div class="row">
		<div class="col">
			@helper.form(action = auth.gui.routes.SignIn.authenticate, 'class -> "form-login", 'role -> "form") {
			<input type="text" name="username" id="username" class="form-control" placeholder="Username" value="@form("username").value().orElse("")" required autofocus>
			<input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
			}
		</div>
	</div>
</div>

<script @{helper.CSPNonce.attr}>

setBrand();

function setBrand() {
	@if(utils.common.Helpers.isLocalhost()) {
		$(".navbar-brand img").attr("src", "@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_grey.svg")");
		$("#jatosBrandName").text("JATOS local");
		$("#jatosHeader").removeClass('navbar-default');
		$("#jatosHeader").addClass('navbar-inverse');
	} else {
		$(".navbar-brand img").attr("src", "@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_color.svg")");
		$("#jatosBrandName").html("JATOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
		$("#jatosHeader").removeClass('navbar-inverse');
		$("#jatosHeader").addClass('navbar-default');
	}
}

@for(error <- form.globalErrors) {
	$('#password').after('<p class="text-danger">@error.message</p>');
}
@if(flash.containsKey(general.gui.FlashScopeMessaging.SUCCESS)) {
	$('#password').after('<p class="text-success">@flash.get(general.gui.FlashScopeMessaging.SUCCESS)</p>');
}
@if(flash.containsKey(general.gui.FlashScopeMessaging.WARNING)) {
	$('#password').after('<p class="text-warning">@flash.get(general.gui.FlashScopeMessaging.WARNING)</p>');
}
@if(flash.containsKey(general.gui.FlashScopeMessaging.ERROR)) {
	$('#password').after('<p class="text-danger">@flash.get(general.gui.FlashScopeMessaging.ERROR)</p>');
}

$('#signin-oidc button').click(function() {
	$.ajax({
		url : "@auth.gui.routes.SignInOidc.signIn()",
		success: function(uri) {
			window.location.href = uri;
		},
		error : function(err) {
			$("p.text-danger").remove();
			$('#password').after(`<p class="text-danger">${err.responseText}</p>`);
		}
	});
});

</script>

</body>
</html>
