@(request: Http.Request)

@import controllers.gui.routes._
@import general.common._
@import general.gui._

<!DOCTYPE html>

<html lang="en">
<head>
    <title>JATOS sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store">
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/colorThemeToggler.js")"></script>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-96x96.png")" sizes="96x96">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-16x16.png")" sizes="16x16">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-32x32.png")" sizes="32x32">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/bootstrap-5.3.3/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/stylesheets/signin.css?v=" + Common.getJatosVersion())">
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/bootstrap-5.3.3/bootstrap.bundle.min.js")"></script>
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.7.1.min.js")"></script>
    @views.html.gui.settings(request, None, None, None)
    @views.html.gui.routes()
    @if(Common.isOauthGoogleAllowed()) {
    <script @{helper.CSPNonce.attr} src="https://accounts.google.com/gsi/client"></script>
    }
</head>
<body class="container-fluid d-flex flex-column vh-100 overflow-hidden p-0">

    <header class="navbar navbar-expand-lg sticky-top p-0 bg-body-tertiary user-select-none shadow">
        <a class="navbar-brand ps-lg-2 me-0 me-lg-2" href="@Home.home()">
            <svg class="d-block my-1" xmlns="http://www.w3.org/2000/svg" width="49" height="32" viewBox="0 0 400 261" xml:space="preserve" role="img">
                <title>JATOS</title>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M357.887,72.484 c-15.67,15.667-41.07,15.667-56.739,0c-15.67-15.667-15.666-41.066,0.004-56.733c15.665-15.67,41.065-15.668,56.731-0.003 C373.551,31.416,373.551,56.819,357.887,72.484z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M192.113,116.582 c-4.421,3.64-11.165-2.84-18.446-11.689l0,0c-7.283-8.846-12.349-16.711-7.924-20.354l65.759-54.132 c4.424-3.64,11.173,2.84,18.453,11.689l0,0c7.286,8.847,12.349,16.709,7.926,20.352L192.113,116.582z"/>
                <path class="jatos-logo" fill="#F4921F" d="M157.837,143.812c-20.586,5.752-30.277,8.31-40.333-3.909c-10.06-12.22,28.426,11.635,14.717-27.208 c-4.798-13.602,19.472-21.436,29.53-9.214C171.807,115.695,168.869,140.732,157.837,143.812z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M226.694,160.292 c-5.279,5.275-14.02,0.886-22.128-7.22l0,0c-8.105-8.102-12.5-16.852-7.222-22.128l76.108-76.104 c5.279-5.28,102.479-12.649,121.845-7.802l1.978,3.848c-4.349,20.936-89.199,28.021-94.476,33.298L226.694,160.292z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M175.909,150.907 c5.278-5.279,14.02-0.884,22.126,7.218l0,0c8.107,8.105,12.499,16.85,7.223,22.131l-76.109,76.1 c-5.279,5.281-102.481-3.949-121.848-8.795l-1.977-3.85c4.348-20.936,89.2-11.422,94.479-16.697L175.909,150.907z"/>
            </svg>
            <svg class="d-block my-1 d-none" xmlns="http://www.w3.org/2000/svg" width="49" height="32" viewBox="0 0 400 261" xml:space="preserve" role="img">
                <title>JATOS (local)</title>
                <path class="jatos-logo" fill="#939598" stroke="#939598" stroke-width="2" stroke-miterlimit="10" d="M357.786,71.942 c-15.796,15.794-41.403,15.794-57.198,0c-15.798-15.794-15.792-41.399,0.004-57.192c15.791-15.796,41.398-15.794,57.188-0.002 C373.578,30.541,373.578,56.15,357.786,71.942z"/>
                <path class="jatos-logo" fill="#939598" stroke="#939598" stroke-width="2" stroke-miterlimit="10" d="M190.672,116.396 c-4.457,3.671-11.255-2.862-18.595-11.783l0,0c-7.343-8.918-12.448-16.847-7.989-20.519l66.292-54.571 c4.46-3.67,11.261,2.862,18.603,11.783l0,0c7.344,8.918,12.448,16.845,7.987,20.518L190.672,116.396z"/>
                <path class="jatos-logo" fill="#939598" stroke="#939598" stroke-miterlimit="10" d="M156.12,143.849c-20.753,5.8-30.524,8.376-40.661-3.941 c-10.142-12.319,28.655,11.729,14.837-27.429c-4.838-13.71,19.629-21.61,29.769-9.29 C170.202,115.502,167.239,140.743,156.12,143.849z"/>
                <path class="jatos-logo" fill="#939598" stroke="#939598" stroke-width="2" stroke-miterlimit="10" d="M225.533,160.46 c-5.324,5.32-14.135,0.893-22.307-7.278l0,0c-8.173-8.168-12.601-16.986-7.28-22.307l76.722-76.719 c5.322-5.323,103.309-12.752,122.833-7.866l1.992,3.88c-4.383,21.105-89.923,28.248-95.24,33.568L225.533,160.46z"/>
                <path class="jatos-logo" fill="#939598" stroke="#939598" stroke-width="2" stroke-miterlimit="10" d="M174.337,151 c5.32-5.321,14.134-0.892,22.306,7.277l0,0c8.172,8.169,12.599,16.987,7.28,22.307L127.2,257.303 c-5.323,5.324-103.311-3.981-122.834-8.869l-1.993-3.877c4.383-21.104,89.921-11.515,95.242-16.835L174.337,151z"/>
            </svg>
        </a>

        <div class="flex-grow-1">
            <div class="nav-item dropdown float-end me-2" id="colorTheme">
                <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <span class="theme-icon-active"><i class="bi-sun-fill"></i></span>
                    <span id="colorThemeText" class="d-none"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end" id="colorThemeDetails">
                    <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="light">
                        <span class="pe-1 theme-icon"><i class="bi-sun-fill"></i></span>
                        Light
                        <i class="bi-check2 ms-2 d-none"></i>
                    </button>
                    <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="dark">
                        <span class="pe-1 theme-icon"><i class="bi-moon-stars-fill"></i></span>
                        Dark
                        <i class="bi-check2 ms-2 d-none"></i>
                    </button>
                    <button class="dropdown-item d-flex align-items-center" type="button" data-bs-theme-value="system">
                        <span class="pe-1 theme-icon"><i class="bi-circle-half"></i></span>
                        System
                        <i class="bi-check2 ms-2 d-none"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main class="d-flex align-items-center vh-100">
        <div class="w-100 m-auto" id="signinAll">
            <button class="btn btn-outline-secondary w-100 mb-2 d-none" id="oidcSigninButton" type="button">
                <img class="float-start" id="oidcSigninButtonLogoImg" height="25" src="">
                <span id="oidcSigninButtonText"></span>
            </button>

            <button class="btn btn-outline-secondary w-100 mb-2 d-none" id="orcidSigninButton"  type="button">
                <img class="float-start" id="orcidSigninButtonLogoImg" height="25" src="">
                <span id="orcidSigninButtonText"></span>
            </button>

            <div id="signinGoogle" class="mb-2 d-none"></div>

            <p id="signinText"></p>

            <form class="form-admin" id="signinForm">
                <div class="form-floating">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" autocomplete="on" autocapitalize="none" required autofocus>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off" required>
                    <label for="password">Password</label>
                </div>
                <div class="m-2 d-none" id="allowKeepSignedin">
                    <label class="switch no-info-icon align-middle">
                        <input type="checkbox" name="keepSignedin" value="1">
                        <span class="slider slider-admin round"></span>
                    </label>
                    <span class="align-middle ms-2">Keep me signed in</span>
                </div>
                <button type="button" class="btn btn-admin w-100 mt-2" id="signinConfirmed">Sign in</button>
            </form>
        </div>
    </main>
</body>

<script @{helper.CSPNonce.attr} type="module">
    import * as Helpers from "@routes.Assets.versioned("lib/jatos-gui/javascripts/helpers.js")";
    import * as FormValidation from "@routes.Assets.versioned("lib/jatos-gui/javascripts/formValidation.js")"
    import * as GoogleSignin from "@routes.Assets.versioned("lib/jatos-gui/javascripts/googleSignin.js")";

    if (Helpers.isLocalhost()) $(".navbar-brand svg").toggleClass("d-none");

    if (window.common.isOidcAllowed) {
        $("#oidcSigninButtonText").text(window.common.oidcSigninButtonText);
        $("#oidcSigninButtonLogoImg").attr("src", Helpers.getOidcLogoUrl());
        $("#oidcSigninButton").removeClass("d-none");
    }

    if (window.common.isOrcidAllowed) {
        $("#orcidSigninButtonText").text(window.common.orcidSigninButtonText);
        $("#orcidSigninButtonLogoImg").attr("src", Helpers.getOrcidLogoUrl());
        $("#orcidSigninButton").removeClass("d-none");
    }

    $("#signinGoogle").toggleClass("d-none", !window.common.isOauthGoogleAllowed);

    if (window.common.isOidcAllowed || window.common.isOrcidAllowed || window.common.isOauthGoogleAllowed) {
        $("#signinText").addClass("mt-5").text("... or sign in with your local account");
    } else {
        $("#signinText").addClass("fw-bolder").text("Please sign in");
    }

    $("#allowKeepSignedin").toggleClass("d-none", !window.common.allowKeepSignedin);

    @if(flash.containsKey(FlashScopeMessaging.SUCCESS)) {
        $('#password').after('<p class="text-success m-1">@flash.get(FlashScopeMessaging.SUCCESS)</p>');
    }
    @if(flash.containsKey(FlashScopeMessaging.WARNING)) {
        $('#password').after('<p class="text-warning m-1">@flash.get(FlashScopeMessaging.WARNING)</p>');
    }
    @if(flash.containsKey(FlashScopeMessaging.ERROR)) {
        $('#password').after('<p class="text-danger m-1">@flash.get(FlashScopeMessaging.ERROR)</p>');
    }

    $('#oidcSigninButton').click(function() {
        const keepSignedin = $("#signinForm input[name=keepSignedin]").prop("checked");
        $.ajax({
            url: window.routes.SigninBasicOidc.signin(keepSignedin),
            success: function(uri) {
                window.location.href = uri;
            },
            error: function(err) {
                $("p.text-danger").remove();
                const errMsg = err.responseText ? err.responseText : "An error occurred during sign-in";
                $('#password').after(`<p class="text-danger">${errMsg}</p>`);
            }
        });
    });

    $('#orcidSigninButton').click(function() {
        const keepSignedin = $("#signinForm input[name=keepSignedin]").prop("checked");
        $.ajax({
            url: window.routes.SigninOrcid.signin(keepSignedin),
            success: function(uri) {
                window.location.href = uri;
            },
            error: function(err) {
                $("p.text-danger").remove();
                const errMsg = err.responseText ? err.responseText : "An error occurred during sign-in";
                $('#password').after(`<p class="text-danger">${errMsg}</p>`);
            }
        });
    });

    // Sometimes the checkbox stays checked after reloads
    $("#signinForm input[name=keepSignedin]").prop("checked", false);

    Helpers.triggerButtonByEnter("#signinForm", "#signinConfirmed");

    $("#signinConfirmed").click(function(event) {
        $.ajax({
			type: 'POST',
			url: window.routes.Signin.authenticate,
			data: $('#signinForm').serialize(),
			success: function(response) {
			    window.location.replace(response.redirectUrl);
			},
			error: function(err) {
				$("#password").val("");
				const errMsg = err.responseText ? err.responseText : "An error occurred during sign-in";
				FormValidation.show("#signinForm", {password: [errMsg]});
			}
		});
    });
</script>
</html>
