@(form: Form[auth.gui.Signin.SigninData])

<!DOCTYPE html>

<html lang="en">
<head>
    <title>JATOS sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-96x96.png")" sizes="96x96">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-16x16.png")" sizes="16x16">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/favicon-32x32.png")" sizes="32x32">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/bootstrap-5.3.2/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jatos-gui/stylesheets/signin.css?v=" + general.common.Common.getJatosVersion())">
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/bootstrap-5.3.2/bootstrap.bundle.min.js")"></script>
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/jquery-3.5.1.min.js")"></script>
    @if(general.common.Common.isOauthGoogleAllowed()) {
    <script @{helper.CSPNonce.attr} src="https://accounts.google.com/gsi/client"></script>
    }
    <script @{helper.CSPNonce.attr} src="@routes.Assets.versioned("lib/jatos-gui/javascripts/colorModeToggler.js")"></script>
</head>
<body class="container-fluid d-flex flex-column vh-100 overflow-hidden p-0">

    <header class="navbar navbar-expand-lg sticky-top p-0 bg-body-tertiary flex-md-nowrap">
        <a class="navbar-brand ps-lg-2 me-0 me-lg-2" href="@controllers.gui.routes.Home.home()">
            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="32" class="d-block my-1" viewBox="0 0 400 261" xml:space="preserve" role="img">
                <title>JATOS</title>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M357.887,72.484 c-15.67,15.667-41.07,15.667-56.739,0c-15.67-15.667-15.666-41.066,0.004-56.733c15.665-15.67,41.065-15.668,56.731-0.003 C373.551,31.416,373.551,56.819,357.887,72.484z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M192.113,116.582 c-4.421,3.64-11.165-2.84-18.446-11.689l0,0c-7.283-8.846-12.349-16.711-7.924-20.354l65.759-54.132 c4.424-3.64,11.173,2.84,18.453,11.689l0,0c7.286,8.847,12.349,16.709,7.926,20.352L192.113,116.582z"/>
                <path class="jatos-logo" fill="#F4921F" d="M157.837,143.812c-20.586,5.752-30.277,8.31-40.333-3.909c-10.06-12.22,28.426,11.635,14.717-27.208 c-4.798-13.602,19.472-21.436,29.53-9.214C171.807,115.695,168.869,140.732,157.837,143.812z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M226.694,160.292 c-5.279,5.275-14.02,0.886-22.128-7.22l0,0c-8.105-8.102-12.5-16.852-7.222-22.128l76.108-76.104 c5.279-5.28,102.479-12.649,121.845-7.802l1.978,3.848c-4.349,20.936-89.199,28.021-94.476,33.298L226.694,160.292z"/>
                <path class="jatos-logo" fill="#FDCD08" stroke="#F9B517" stroke-width="2" stroke-miterlimit="10" d="M175.909,150.907 c5.278-5.279,14.02-0.884,22.126,7.218l0,0c8.107,8.105,12.499,16.85,7.223,22.131l-76.109,76.1 c-5.279,5.281-102.481-3.949-121.848-8.795l-1.977-3.85c4.348-20.936,89.2-11.422,94.479-16.697L175.909,150.907z"/>
            </svg>
        </a>
        <div class="d-flex">
            <button class="navbar-toggler d-flex d-lg-none border border-0 shadow-none px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarMenu">
                <i class="bi-three-dots"></i>
            </button>
        </div>
        <div class="offcanvas-lg offcanvas-end flex-grow-1" id="navbarMenu" tabindex="-1" data-bs-scroll="true">
            <div class="offcanvas-header px-4 pb-0">
                <h5 class="offcanvas-title" id="navbarMenuOffcanvasLabel">JATOS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#navbarMenu"></button>
            </div>
            <div class="offcanvas-body p-4 pt-0 p-lg-0 align-items-center">
                <hr class="d-lg-none">
                <ul class="navbar-nav flex-row flex-wrap col-auto ms-auto align-items-center">
                    <li class="nav-item dropdown" id="colorTheme">
                        <button class="nav-link px-0 px-lg-2 dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <span class="pe-1 theme-icon-active"><i class="bi-sun-fill"></i></span>
                            <span id="colorThemeText" class="d-lg-none">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                                    <span class="me-2 theme-icon"><i class="bi-sun-fill"></i></span>
                                    Light
                                    <i class="bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                                    <span class="me-2 theme-icon"><i class="bi-moon-stars-fill"></i></span>
                                    Dark
                                    <i class="bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                                    <span class="me-2 theme-icon"><i class="bi-circle-half"></i></span>
                                    Auto
                                    <i class="bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main class="d-flex align-items-center vh-100">
        <div class="signin-all w-100 m-auto">
            @if(general.common.Common.isOidcAllowed()) {
            <button id="signin-oidc" class="btn btn-outline-secondary w-100 mb-2" type="button">
                <img class="float-start" height="25" src="@{general.common.Common.getJatosUrlBasePath()+general.common.Common.getOidcSigninButtonLogoUrl()}">
                @general.common.Common.getOidcSigninButtonText()
            </button>
            }

            @if(general.common.Common.isOrcidAllowed()) {
            <button id="signin-orcid" class="btn btn-outline-secondary w-100 mb-2" type="button">
                <img class="float-start" height="25" src="@{general.common.Common.getJatosUrlBasePath()+general.common.Common.getOrcidSigninButtonLogoUrl()}">
                @general.common.Common.getOrcidSigninButtonText()
            </button>
            }

            @if(general.common.Common.isOauthGoogleAllowed()) {
            <div id="signinGoogle" class="mb-2">
                <div id="g_id_onload"
                     data-client_id="@{general.common.Common.getOauthGoogleClientId()}"
                     data-login_uri="@auth.gui.routes.SigninGoogle.signin()"
                     data-auto_prompt="false">
                </div>
            </div>
            }

            @if(general.common.Common.isOidcAllowed() || general.common.Common.isOrcidAllowed() || general.common.Common.isOauthGoogleAllowed()) {
            <p class="signin-text mt-5">... or sign in</p>
            } else {
            <p class="signin-text"><b>Please sign in</b></p>
            }

            @helper.form(action = auth.gui.routes.Signin.authenticate, 'class -> "signin-form", 'role -> "form") {
            <div class="form-floating">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="@form("username").value().orElse("")" required autofocus>
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off" required>
                <label for="password">Password</label>
            </div>
            <button class="btn btn-primary w-100 mt-2" type="submit">Sign in</button>
            }
        </div>
    </main>
</body>

<script @{helper.CSPNonce.attr}>
    var version = "@{general.common.Common.getJatosVersion()}";

    if(isLocalhost()) {
        $(".navbar-brand img").attr("src", "@routes.Assets.versioned("lib/jatos-gui/images/jatos_logo_grey.svg")");
    }

    function isLocalhost() {
        return location.hostname === 'localhost' ||
        location.hostname === '' ||
        location.hostname === '[::1]' ||
        location.hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/);
    }

    @for(error <- form.globalErrors) {
        $('#password').after('<p class="text-danger m-1">@error.message</p>');
    }
    @if(flash.containsKey(general.gui.FlashScopeMessaging.SUCCESS)) {
        $('#password').after('<p class="text-success m-1">@flash.get(general.gui.FlashScopeMessaging.SUCCESS)</p>');
    }
    @if(flash.containsKey(general.gui.FlashScopeMessaging.WARNING)) {
        $('#password').after('<p class="text-warning m-1">@flash.get(general.gui.FlashScopeMessaging.WARNING)</p>');
    }
    @if(flash.containsKey(general.gui.FlashScopeMessaging.ERROR)) {
        $('#password').after('<p class="text-danger m-1">@flash.get(general.gui.FlashScopeMessaging.ERROR)</p>');
    }

    $('#signin-oidc').click(function() {
        const realHostUrl = location.protocol + '//' + location.host;
        $.ajax({
            url : `@{general.common.Common.getJatosUrlBasePath()}jatos/signin/oidc/basic?realHostUrl=${realHostUrl}`,
            success: function(uri) {
                window.location.href = uri;
            },
            error : function(err) {
                $("p.text-danger").remove();
                $('#password').after(`<p class="text-danger">${err.responseText}</p>`);
            }
        });
    });

    $('#signin-orcid').click(function() {
        const realHostUrl = location.protocol + '//' + location.host;
        $.ajax({
            url : `@{general.common.Common.getJatosUrlBasePath()}jatos/signin/oidc/orcid?realHostUrl=${realHostUrl}`,
            success: function(uri) {
                window.location.href = uri;
            },
            error : function(err) {
                $("p.text-danger").remove();
                $('#password').after(`<p class="text-danger">${err.responseText}</p>`);
            }
        });
    });

</script>
</html>
