@(signedinUser: common.User)

<!-- Signin Modal (used in case of session timeout)-->
<div class="modal fade" id="signinModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">

				@if(signedinUser.isOidc()) {
				<h3 class="form-signin-heading">Please sign in again</h3>
				<p class="explanation"></p>
				<p>
					<div id="signin-oidc">
						<button class="btn btn-lg btn-default btn-block">
							<img class="pull-left" height="25" src="@{general.common.Common.getJatosUrlBasePath()+general.common.Common.getOidcSigninButtonLogoUrl()}">
							@general.common.Common.getOidcSigninButtonText()
						</button>
					</div>
				</p>
				<p>Or <a href="@auth.gui.routes.Signin.signin()">sign in as a different user</a>.</p>

				} else if(signedinUser.isOrcid()) {
				<h3 class="form-signin-heading">Please sign in again</h3>
				<p class="explanation"></p>
				<p>
				<div id="signin-orcid">
					<button class="btn btn-lg btn-default btn-block">
						<img class="pull-left" height="25" src="@routes.Assets.versioned("lib/jatos-gui/images/ORCIDiD_iconvector.svg")">
						Sign in with ORCID
					</button>
				</div>
				</p>
				<p>Or <a href="@auth.gui.routes.Signin.signin()">sign in as a different user</a>.</p>

				} else if(signedinUser.isOauthGoogle()) {
				<h3 class="form-signin-heading">Please sign in again</h3>
				<p class="explanation"></p>
				<p>
					<div id="signinGoogle">
						<div id="g_id_onload"
							 data-client_id="@{general.common.Common.getOauthGoogleClientId()}"
							 data-login_uri="@auth.gui.routes.SigninGoogle.signin()"
							 data-auto_prompt="false">
						</div>
						<div class="g_id_signin"
							 data-type="standard"
							 data-theme="outline"
							 data-text="sign_in_with"
							 data-shape="rectangular"
							 data-size="large"
							 data-width="200">
						</div>
					</div>
				</p>
				<p>Or <a href="@auth.gui.routes.Signin.signin()">sign in as a different user</a>.</p>

				} else {
				<form id="signinForm" method="post" class="form-horizontal" role="form">
					<h2 class="form-signin-heading">Please sign in again</h2>
					<label class="explanation"></label>
					<input type="hidden" class="form-control username" name="username" value="@signedinUser.getUsername()" required>
					<div class="form-group">
						<div class="col-sm-12">
							<label>Password for @signedinUser.getUsername()</label>
							<input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" required autofocus>
						</div>
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
					<label>Or <a href="@auth.gui.routes.Signin.signin()">sign in as a different user</a>.</label>
				</form>
				}
			</div>
		</div>
	</div>
</div>

<script @{helper.CSPNonce.attr}>

// Let a background worker check for session timeouts
var sessionTimeoutWorker;
if (window.Worker) {
	sessionTimeoutWorker = new Worker('@routes.Assets.versioned("lib/jatos-gui/javascripts/sessionTimoutChecker.js")');
	sessionTimeoutWorker.postMessage([@general.common.Common.getUserSessionTimeout(), @general.common.Common.getUserSessionInactivity()]);
	sessionTimeoutWorker.onmessage = function(msg) {
		showSigninModal(msg.data);
	}
}

function showSigninModal(explanationText) {
	removeAlerts('#signinModal');
	removeFormErrors('#signinModal');
	$('#signinModal .explanation').text(explanationText);
	clearForm("#signinForm");
	$('#signinModal').modal('show');
}

$("#signinForm").submit(function(event) {
	event.preventDefault();
	$.ajax({
		type: 'POST',
		url: "@auth.gui.routes.Signin.authenticate()",
		data: $('#signinForm').serialize(),
		success: function(response) {
			removeAlerts('#signinModal');
			sessionTimeoutWorker.postMessage([@general.common.Common.getUserSessionTimeout(), @general.common.Common.getUserSessionInactivity()]);
			$('#signinModal').modal('hide');
		},
		error: function(response) {
			removeAlerts('#signinModal');
			showModalError("#signinModal .explanation", response);
		}
	});
});

$('#signin-oidc button').click(function() {
	const realHostUrl = location.protocol + '//' + location.host;
	$.ajax({
		url : `@{general.common.Common.getJatosUrlBasePath()}jatos/signin/oidc/basic?realHostUrl=${realHostUrl}`,
		success: function(uri) {
			window.location.href = uri;
		},
		error : function(err) {
			$("p.text-danger").remove();
			$('.explanation').after(`<p class="text-danger">${err.responseText}</p>`);
		}
	});
});

$('#signin-orcid button').click(function() {
	const realHostUrl = location.protocol + '//' + location.host;
	$.ajax({
		url : `@{general.common.Common.getJatosUrlBasePath()}jatos/signin/oidc/orcid?realHostUrl=${realHostUrl}`,
		success: function(uri) {
			window.location.href = uri;
		},
		error : function(err) {
			$("p.text-danger").remove();
			$('.explanation').after(`<p class="text-danger">${err.responseText}</p>`);
		}
	});
});

// In case of another modal under the sign-in modal make the other one scrollable after the signin one closes
// http://stackoverflow.com/questions/19305821
$(document).on('hidden.bs.modal', '.modal', function () {
	$('.modal:visible').length && $(document.body).addClass('modal-open');
});
	
</script>
