@(loggedInUser: common.User, breadcrumbs: String, batchId: Long, allowedWorkerTypes: String,
study: common.Study, jatosUrl: java.net.URL, studyResultCountsPerWorker: java.util.Map[String, Integer])

@views.html.gui.main(loggedInUser, breadcrumbs){

<div class="panel-group" id="workerPanelGroup" role="tablist">
	<div class="panel panel-default" id="jatosWorkerPanel">
		<div class="panel-heading">
			 <span class="panel-title">
				<a role="button" data-toggle="collapse" href="#jatosWorkerTableDiv" data-toggle="tooltip">
					<span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
						data-placement="bottom" title="Click to expand/collapse this result">
					</span>
				</a>
				<button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<a role="button" data-toggle="collapse" href="#jatosWorkerTableDiv" data-toggle="tooltip"
					title="This worker belongs to a JATOS user. Jatos workers can run any study as many times as they want. Usually used during development.">
					<span class="glyphicon glyphicon-jatos" aria-hidden="true"></span>&nbsp;@common.workers.JatosWorker.UI_WORKER_TYPE Worker
					<span class="workersBadge badge" data-toggle="tooltip" data-placement="bottom"
						title="Number of workers of type @common.workers.JatosWorker.UI_WORKER_TYPE who are user of this study"></span>
				</a>
			</span>
			<span class="btn-group pull-right"> 
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.JatosWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.JatosWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.JatosWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="jatosWorkerTableDiv" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<thead>
					<tr>
						<th>Worker ID</th>
						<th>User Email</th>
						<th data-toggle="tooltip" data-placement="bottom" title="State of the last started study">Last Study State</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="personalSingleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#personalSingleWorkerTableDiv">
					<span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
						data-placement="bottom" title="Click to expand/collapse this result">
					</span>
				</a>
				<button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<a role="button" data-toggle="collapse" href="#personalSingleWorkerTableDiv"
					data-toggle="tooltip" title="This worker must be pre-created here (Add button) and it can run a study only once. Typically used to distribute amongst participants that you contact individually. Each link is personalized with the comments.">
					<span class="glyphicon glyphicon-personal-single" aria-hidden="true"></span>&nbsp;@common.workers.PersonalSingleWorker.UI_WORKER_TYPE Worker
					<span class="workersBadge badge" data-toggle="tooltip" data-placement="bottom"
						title="Number of workers of type @common.workers.PersonalSingleWorker.UI_WORKER_TYPE who at least started this study"></span>
				</a>
			</span>
			<span class="btn-group pull-right"> 
				<button type="button" class="btn btn-batch addButton" data-toggle="tooltip" data-placement="bottom" title="Create a new Personal Single Worker">Add</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.PersonalSingleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.PersonalSingleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.PersonalSingleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="personalSingleWorkerTableDiv" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<thead>
					<tr>
						<th>Worker ID</th>
						<th data-toggle="tooltip" data-placement="bottom" title="Comment given during creation of worker">Comment</th>
						<th data-toggle="tooltip" data-placement="bottom" title="State of the study">Study State</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="personalMultipleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#personalMultipleWorkerTableDiv">
					<span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
						data-placement="bottom" title="Click to expand/collapse this result">
					</span>
				</a>
				<button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<a role="button" data-toggle="collapse" href="#personalMultipleWorkerTableDiv"
					data-toggle="tooltip" title="This worker must be pre-created here (Add button) and it can run a study multiple times. Typically used to distribute amongst your pilot workers. Each link can be personalized with the comments.">
					<span class="glyphicon glyphicon-personal-multiple" aria-hidden="true"></span>&nbsp;@common.workers.PersonalMultipleWorker.UI_WORKER_TYPE Worker
					<span class="workersBadge badge" data-toggle="tooltip" data-placement="bottom"
						title="Number of workers of type @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE who at least started this study"></span>
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch addButton" data-toggle="tooltip" data-placement="bottom" title="Create a new Personal Multiple Worker">Add</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.PersonalMultipleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="personalMultipleWorkerTableDiv" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<thead>
					<tr>
						<th>Worker ID</th>
						<th data-toggle="tooltip" data-placement="bottom" title="Comment given during creation of worker">Comment</th>
						<th data-toggle="tooltip" data-placement="bottom" title="State of the last started study">Last Study State</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="mtWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#mtWorkerTableDiv">
					<span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
						data-placement="bottom" title="Click to expand/collapse this result">
					</span>
				</a>
				<button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<a role="button" data-toggle="collapse" href="#mtWorkerTableDiv"
					data-toggle="tooltip" title="MTurk workers are created on the fly when the study is started through Mechanical Turk. MTurk workers can run a study only once.">
					<span class="glyphicon glyphicon-mturk" aria-hidden="true"></span>&nbsp;@common.workers.MTWorker.UI_WORKER_TYPE Worker
					<span class="workersBadge badge" data-toggle="tooltip" data-placement="bottom"
						title="Number of workers of type @common.workers.MTWorker.UI_WORKER_TYPE who at least started this study"></span>
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch mtWorkerSourceCode" data-toggle="tooltip" data-placement="bottom"
					title="Shows code that has to be copied into the 'source' field of your study's design layout in Mechanical Turk">
					Source Code
				</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.MTWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.MTWorker.UI_WORKER_TYPE workers">@(studyResultCountsPerWorker.get(common.workers.MTWorker.WORKER_TYPE) + studyResultCountsPerWorker.get(common.workers.MTSandboxWorker.WORKER_TYPE))</span>
				</button>
			</span>
		</div>
		<div id="mtWorkerTableDiv" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<thead>
					<tr>
						<th>Worker ID</th>
						<th data-toggle="tooltip" data-placement="bottom" title="ID given by MTurk - not JATOS">MTurk Worker ID</th>
						<th data-toggle="tooltip" data-placement="bottom" title="MTurk or MTurk Sandbox">Type</th>
						<th data-toggle="tooltip" data-placement="bottom" title="State of study">Study State</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="generalSingleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#generalSingleWorkerTableDiv">
					<span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
						data-placement="bottom" title="Click to expand/collapse this result">
					</span>
				</a>
				<button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<a role="button" data-toggle="collapse" href="#generalSingleWorkerTableDiv"
					data-toggle="tooltip" title="This worker type is created on the fly when the study is started with the link. This worker can start a study only once. Typically used to distribute in a mailing list or posting it in a public website.">
					<span class="glyphicon glyphicon-general-single" aria-hidden="true"></span>&nbsp;@common.workers.GeneralSingleWorker.UI_WORKER_TYPE Worker
					<span class="workersBadge badge" data-toggle="tooltip" data-placement="bottom"
						title="Number of workers of type @common.workers.GeneralSingleWorker.UI_WORKER_TYPE who at least started this study"></span>
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch linkButton" data-toggle="tooltip" data-placement="bottom" title="Get the link with which one can start a run with a General Single Worker">Link</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.GeneralSingleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.GeneralSingleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.GeneralSingleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="generalSingleWorkerTableDiv" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<thead>
					<tr>
						<th>Worker ID</th>
						<th data-toggle="tooltip" data-placement="bottom" title="State of the study">Study State</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Confirmation Modal - run Personal Single or General Single or Personal Multiple -->
<div class="modal fade" id="confirmModalRun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Create run</h4>
			</div>
			<div class="modal-body">
				<p class="modalText">You're about to create a worker.</p>
				<div class="input-group">
					<input type="text" class="comment form-control" placeholder="Comment">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-batch">Create</button>
			</div>
		</div>
	</div>
</div>

<!-- Show Modal with link to run of study for specified worker -->
<div class="modal fade" id="workerRunLinkModal" data-backdrop="static"
	data-keyboard="false" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Link for Worker</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-default btn-sm copyButton">Copy</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default runButton" data-dismiss="modal">Run</button>
			</div>
		</div>
	</div>
</div>

@views.html.gui.batch.mTurkSourceCodeModal(study, batchId, jatosUrl)

<script>

// Max length of each worker table before pagination kicks in
var paginationLength = 10;

var allowedWorkerTypeList = @Html(allowedWorkerTypes);

var jatosWorkerTable = initWorkerTable('#jatosWorkerTableDiv .workerTable');
var personalSingleWorkerTable = initWorkerTable('#personalSingleWorkerTableDiv .workerTable');
var personalMultipleWorkerTable = initWorkerTable('#personalMultipleWorkerTableDiv .workerTable');
var mtWorkerTable = initWorkerTable('#mtWorkerTableDiv .workerTable');
var generalSingleWorkerTable = initWorkerTable('#generalSingleWorkerTableDiv .workerTable');

loadWorkers();

function initWorkerTable(tableElement) {
	return $(tableElement).DataTable({
		"pageLength": paginationLength,
		"bFilter": false,
		"filter": false,
		"columnDefs": [ {
			"searchable": false,
			"orderable": false,
			"targets": "_all"
		} ],
		"bLengthChange": false,
		"info": false,
		"sPaginationType": "simple_numbers",
		"order" : [],
		"oLanguage": {
			"sEmptyTable": "No workers yet"
		}
	});
}

function loadWorkers() {
	$.ajax({
		type: 'GET',
		url: "@controllers.gui.routes.Workers.workerData(study.getId(), batchId)",
		success: function(response) {
			fillWorkerPanels(response);
		},
		error: function(response) {
			showError("Couldn't load workers.");
		}
	});
}

function fillWorkerPanels(workerList) {
	jatosWorkerTable.clear();
	personalSingleWorkerTable.clear();
	personalMultipleWorkerTable.clear();
	mtWorkerTable.clear();
	generalSingleWorkerTable.clear();
	
	fillWorkerTable(workerList);
	
	jatosWorkerTable.order([0, 'asc']).draw();
	personalSingleWorkerTable.order([0, 'asc']).draw();
	personalMultipleWorkerTable.order([0, 'asc']).draw();
	mtWorkerTable.order([0, 'asc']).draw();
	generalSingleWorkerTable.order([0, 'asc']).draw();
	
	toggleTablePagination("#jatosWorkerTableDiv");
	toggleTablePagination("#personalSingleWorkerTableDiv");
	toggleTablePagination("#personalMultipleWorkerTableDiv");
	toggleTablePagination("#mtWorkerTableDiv");
	toggleTablePagination("#generalSingleWorkerTableDiv");
	
	setAllowedWorkerTypes(allowedWorkerTypeList);
	
	addWorkersBadge('#jatosWorkerPanel', jatosWorkerTable);
	addWorkersBadge('#personalSingleWorkerPanel', personalSingleWorkerTable);
	addWorkersBadge('#personalMultipleWorkerPanel', personalMultipleWorkerTable);
	addWorkersBadge('#mtWorkerPanel', mtWorkerTable);
	addWorkersBadge('#generalSingleWorkerPanel', generalSingleWorkerTable);
	
	setButtonWidthToMax(".resultButton");
}

function setAllowedWorkerTypes(allowedWorkerTypeList) {
	// First clear all allowed worker types
	$(".panel .activeButton").each(function(index) {
		toggleWorkerTypeButton($(this), false);
	});
	// Now set the allowed ones
	$.each(allowedWorkerTypeList, function(index, workerType) {
		var button;
		switch (workerType) {
		case '@common.workers.JatosWorker.WORKER_TYPE':
			button = $("#jatosWorkerPanel .activeButton");
			break;
		case '@common.workers.PersonalSingleWorker.WORKER_TYPE':
			button = $("#personalSingleWorkerPanel .activeButton");
			break;
		case '@common.workers.PersonalMultipleWorker.WORKER_TYPE':
			button = $("#personalMultipleWorkerPanel .activeButton");
			break;
		case '@common.workers.MTWorker.WORKER_TYPE':
			button = $("#mtWorkerPanel .activeButton");
			break;
		case '@common.workers.GeneralSingleWorker.WORKER_TYPE':
			button = $("#generalSingleWorkerPanel .activeButton");
			break;
		}
		if (button) {
			toggleWorkerTypeButton(button, true);
		}
	});
}

function toggleWorkerTypeButton(button, active) {
	if (active) {
		button.addClass('allowedWorkerType');
		button.removeClass('btn-default');
		button.addClass('btn-batch');
		button.attr('title', "Click to forbid this worker type");
		button.html($(button.html())
				.removeClass('glyphicon-remove')
				.addClass('glyphicon-ok').prop('outerHTML'));
	} else {
		button.removeClass('allowedWorkerType');
		button.removeClass('btn-batch');
		button.addClass('btn-default');
		button.attr('title', "Click to allow this worker type");
		button.html($(button.html())
				.removeClass('glyphicon-ok')
				.addClass('glyphicon-remove').prop('outerHTML'));
	}
}

function fillWorkerTable(workerList) {
	$.each(workerList, function(index, worker) {
		switch (worker.workerType) {
		case '@common.workers.JatosWorker.WORKER_TYPE':
			fillJatosRow(worker);
			break;
		case '@common.workers.PersonalSingleWorker.WORKER_TYPE':
			fillPersonalSingleRow(worker);
			break;
		case '@common.workers.PersonalMultipleWorker.WORKER_TYPE':
			fillPersonalMultipleRow(worker);
			break;
		case '@common.workers.MTWorker.WORKER_TYPE':
		case '@common.workers.MTSandboxWorker.WORKER_TYPE':
			fillMtRow(worker);
			break;
		case '@common.workers.GeneralSingleWorker.WORKER_TYPE':
			fillGeneralSingleRow(worker);
			break;
		}
	});
}

function fillJatosRow(worker) {
	var lastStudyState = worker.lastStudyResult != null
			? worker.lastStudyResult.studyState : "none started yet";
	if ("@loggedInUser.getEmail()" == worker.userEmail) {
		jatosWorkerTable.row.add([
			worker.id,
			worker.userEmail,
			lastStudyState,
			'<button type="button" class="btn btn-batch runButton">Run</button>'
		]);
	} else {
		jatosWorkerTable.row.add([
			worker.id,
			worker.userEmail,
			lastStudyState,
			''
		]);
	}
}

function fillPersonalSingleRow(worker) {
	var lastStudyState = worker.lastStudyResult != null
			? worker.lastStudyResult.studyState : "not started yet";
	personalSingleWorkerTable.row.add([
		worker.id,
		worker.comment,
		lastStudyState,
		'<button type="button" class="btn btn-batch linkButton">Link</button>'
	]);
}

function fillPersonalMultipleRow(worker) {
	var lastStudyState = worker.lastStudyResult != null
			? worker.lastStudyResult.studyState : "none started yet";
	personalMultipleWorkerTable.row.add([
		worker.id,
		worker.comment,
		lastStudyState,
		'<button type="button" class="btn btn-batch linkButton">Link</button>'
	]);
}

function fillMtRow(worker) {
	var workerType = getUIWorkerTypeWithGlyphicon(worker.workerType);
	var lastStudyState = worker.lastStudyResult != null
			? worker.lastStudyResult.studyState : "not started yet";
	mtWorkerTable.row.add([
		worker.id,
		worker.mtWorkerId,
		workerType,
		lastStudyState
	]);
}

function fillGeneralSingleRow(worker) {
	var lastStudyState = worker.lastStudyResult != null
			? worker.lastStudyResult.studyState : "not started yet";
	generalSingleWorkerTable.row.add([
		worker.id,
		lastStudyState
	]);
}

function toggleTablePagination(tableElement) {
	var numOfTr = $(tableElement + " .workerTable").find('tbody tr').length;
	var hidePaging = numOfTr < paginationLength;
	$(tableElement + " .dataTables_paginate").toggle(!hidePaging);
}

// Display and toggle little chevron (arrow) in each worker panel
$('#workerPanelGroup').on('hide.bs.collapse', toggleChevron);
$('#workerPanelGroup').on('show.bs.collapse', toggleChevron);
function toggleChevron(e) {
	$(e.target).prev('.panel-heading').find('.glyphicon-chevron-down, .glyphicon-chevron-right')
			.toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
}

function addWorkersBadge(panel, table) {
	var rowCount = table.data().length;
	$(panel + " .workersBadge").text(rowCount);
}

$('#workerPanelGroup').on('click', '.activeButton', function() {
	var button = this;
	var workerType = getWorkerTypeFromPanel(this);
	var allow = $(this).hasClass('allowedWorkerType');
	$.ajax({
		url : "/jatos/@study.getId()/batch/@batchId"
				+ "/properties/workerType/" + workerType + "?allow=" + !allow,
		type : "POST",
		success: function(allowedWorkerTypeList) {
			setAllowedWorkerTypes(allowedWorkerTypeList);
		},
		error : function(err) {
			showError("Couldn't change worker type activation.");
		}
	});
});

function getWorkerTypeFromPanel(panelElem) {
	if ($(panelElem).closest('.panel').is('#jatosWorkerPanel')) {
		return "@common.workers.JatosWorker.WORKER_TYPE";
	} else if ($(panelElem).closest('.panel').is('#personalSingleWorkerPanel')) {
		return "@common.workers.PersonalSingleWorker.WORKER_TYPE";
	} else if ($(panelElem).closest('.panel').is('#personalMultipleWorkerPanel')) {
		return "@common.workers.PersonalMultipleWorker.WORKER_TYPE";
	} else if ($(panelElem).closest('.panel').is('#mtWorkerPanel')) {
		return "@common.workers.MTWorker.WORKER_TYPE";
	} else if ($(panelElem).closest('.panel').is('#generalSingleWorkerPanel')) {
		return "@common.workers.GeneralSingleWorker.WORKER_TYPE";
	}
}

$('#workerPanelGroup').on('click', '.resultButton', function() {
	var workerType = getWorkerTypeFromPanel(this);
	if (workerType) {
		window.location.href =  "/jatos/@study.getId()/batch/" + @batchId
			+ "/results?workerType=" + workerType;
	}
});

$('#mtWorkerPanel').on('click', '.mtWorkerSourceCode', function() {
	$('#mtSourceCodeModal').modal('show');
});

function fillConfirmModalRun(title, text) {
	$('#confirmModalRun').find('.modal-title').html(title);
	$('#confirmModalRun').find('.modalText').html(text);
	$('#confirmModalRun').find('.comment').val("");
	// Focus on comment input field in modal
	$('#confirmModalRun').on('shown.bs.modal', function () {
		$('#confirmModalRun').find('.comment').focus();
	})
	$('#confirmModalRun').modal('show');
}

$('#personalSingleWorkerPanel').on('click', '.addButton', function() {
	fillConfirmModalRun("Create Personal Single Run",
			"You're about to create a worker for a Personal Single Run. Use a comment to distinguish this worker from others.");
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalSingleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalSingleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(url) {
				loadWorkers();
				showPersonalSingleLinkModal(url);
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#personalMultipleWorkerPanel').on('click', '.addButton', function() {
	fillConfirmModalRun("Create Personal Multiple Run",
			"You're about to create a Personal Multiple Worker. Use a comment to distinguish this worker from others.");
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalMultipleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalMultipleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(url) {
				loadWorkers();
				showPersonalMultipleLinkModal(url);
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#personalSingleWorkerPanel').on('click', '.linkButton', function() {
	var tr = $(this).closest('tr');
	var rowData = personalSingleWorkerTable.row(tr).data();
	var url = "@jatosUrl.toString()" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "personalSingleWorkerId=" + rowData[0];
	showPersonalSingleLinkModal(url);
});

function showPersonalSingleLinkModal(url) {
	var title = "Personal Single Run";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start it right away.";
	showLinkModal(title, preText, url, postText);
}

$('#personalMultipleWorkerPanel').on('click', '.linkButton', function() {
	var tr = $(this).closest('tr');
	var rowData = personalMultipleWorkerTable.row(tr).data();
	var url = "@jatosUrl.toString()" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "personalMultipleWorkerId=" + rowData[0];
	showPersonalMultipleLinkModal(url);
});

function showPersonalMultipleLinkModal(url) {
	var title = "Personal Multiple Run";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start it right away.";
	showLinkModal(title, preText, url, postText);
}

$('#generalSingleWorkerPanel').on('click', '.linkButton', function() {
	var title = "General Single Run";
	var url = "@jatosUrl.toString()" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "generalSingle";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start a run right away.";
	showLinkModal(title, preText, url, postText);
});

function showLinkModal(title, preText, url, postText) {
	$('#workerRunLinkModal .runButton').data(url);
	var htmlPreText = '<p>' + preText + '</p>';
	var htmlUrl = '<div class="well linkUrl">' + url + '</div>';
	var htmlPostText = '<p>' + postText + '</p>';
	$('#workerRunLinkModal').find('.modal-title').text(title);
	$('#workerRunLinkModal').find('.modal-body').html(htmlPreText + htmlUrl + htmlPostText);
	$('#workerRunLinkModal').modal('show');
}

$('#workerRunLinkModal').on('click', '.runButton', function() {
	var url = $('#workerRunLinkModal .linkUrl').text();
	window.open(url);
});

$('#jatosWorkerPanel').on('click', '.runButton', function() {
	window.open("@controllers.gui.routes.Studies.runStudy(study.getId(), batchId)");
});

</script>

}
