@(loggedInUser: common.User, breadcrumbs: String, batchId: Long,
study: common.Study, baseUrl: String, studyResultCountsPerWorker: java.util.Map[String, Integer])

@views.html.gui.main(loggedInUser, breadcrumbs){

<div class="panel-group" id="workerPanelGroup" role="tablist">
	<div class="panel panel-default" id="jatosWorkerPanel">
		<div class="panel-heading">
			 <span class="panel-title">
				<a role="button" data-toggle="collapse" href="#jatosWorkerTable">
					<span class="caret"></span> @common.workers.JatosWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-jatos" aria-hidden="true"></span>
				</a>
				<span class="btn-group pull-right"> 
					<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
						title="Shows study results only of @common.workers.JatosWorker.UI_WORKER_TYPE workers">
						Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.JatosWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.JatosWorker.WORKER_TYPE)</span>
					</button>
				</span>
			</span>
		</div>
		<div id="jatosWorkerTable" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<!-- Template for Jatos worker row -->
				<tr class="workerRowTemplate" style="display: none">
					<td class="workerId"></td>
					<td class="userEmail"></td>
					<td><button type="button" class="btn btn-batch runButton">Run</button></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="personalSingleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#personalSingleWorkerTable">
					<span class="caret"></span> @common.workers.PersonalSingleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-personal-single" aria-hidden="true"></span>
				</a>
			</span>
			<span class="btn-group pull-right"> 
				<button type="button" class="btn btn-batch addButton">Add</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.PersonalSingleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.PersonalSingleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.PersonalSingleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="personalSingleWorkerTable" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<!-- Template for Personal Single worker row -->
				<tr class="workerRowTemplate" style="display: none">
					<td class="workerId"></td>
					<td class="workerComment"></td>
					<td><button type="button" class="btn btn-batch linkButton">Link</button></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="personalMultipleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#personalMultipleWorkerTable">
					<span class="caret"></span> @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-personal-multiple" aria-hidden="true"></span>
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch addButton">Add</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.PersonalMultipleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.PersonalMultipleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="personalMultipleWorkerTable" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<!-- Template for Muliple Single worker row -->
				<tr class="workerRowTemplate" style="display: none">
					<td class="workerId"></td>
					<td class="workerComment"></td>
					<td><button type="button" class="btn btn-batch linkButton">Link</button></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="mtWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#mtWorkerTable">
					<span class="caret"></span> @common.workers.MTWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-mturk" aria-hidden="true">
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch mtWorkerSourceCode" data-toggle="tooltip" data-placement="bottom"
					title="Shows code that has to be copied into the 'source' field of your study's design layout in Mechanical Turk">
					Source Code
				</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.MTWorker.UI_WORKER_TYPE workers">
					Results <span class="badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.MTWorker.UI_WORKER_TYPE workers">@(studyResultCountsPerWorker.get(common.workers.MTWorker.WORKER_TYPE) + studyResultCountsPerWorker.get(common.workers.MTSandboxWorker.WORKER_TYPE))</span>
				</button>
			</span>
		</div>
		<div id="mtWorkerTable" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<!-- Template for MTurk worker row -->
				<tr class="workerRowTemplate" style="display: none">
					<td class="workerId"></td>
					<td class="mtWorkerId"></td>
					<td class="workerType"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" id="generalSingleWorkerPanel">
		<div class="panel-heading">
			<span class="panel-title">
				<a role="button" data-toggle="collapse" href="#generalSingleWorkerTable">
					<span class="caret"></span> @common.workers.GeneralSingleWorker.UI_WORKER_TYPE Worker <span class="glyphicon glyphicon-general-single" aria-hidden="true"></span>
				</a>
			</span>
			<span class="btn-group pull-right">
				<button type="button" class="btn btn-batch linkButton">Link</button>
				<button type="button" class="btn btn-batch resultButton" data-toggle="tooltip" data-placement="bottom"
					title="Shows study results only of @common.workers.GeneralSingleWorker.UI_WORKER_TYPE workers">
					Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
					title="Number of study results that belong to this batch that are done by @common.workers.GeneralSingleWorker.UI_WORKER_TYPE workers">@studyResultCountsPerWorker.get(common.workers.GeneralSingleWorker.WORKER_TYPE)</span>
				</button>
			</span>
		</div>
		<div id="generalSingleWorkerTable" class="panel-collapse collapse" role="tabpanel">
			<table class="table workerTable">
				<!-- Template for General Single worker row -->
				<tr class="workerRowTemplate" style="display: none">
					<td class="workerId"></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- Confirmation Modal - run Personal Single or General Single or Personal Multiple -->
<div class="modal fade" id="confirmModalRun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Create run</h4>
			</div>
			<div class="modal-body">
				<p class="modalText">You're about to create a worker.</p>
				<div class="input-group">
					<input type="text" class="comment form-control"
						placeholder="Comment">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="confirmed btn btn-batch">Create</button>
			</div>
		</div>
	</div>
</div>

<!-- Show Modal with link to run of study for specified worker -->
<div class="modal fade" id="workerRunLinkModal" data-backdrop="static"
	data-keyboard="false" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Link for Worker</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-default btn-sm copyButton">Copy</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default runButton" data-dismiss="modal">Run</button>
			</div>
		</div>
	</div>
</div>

<script>
loadWorkers();

function loadWorkers() {
	$.ajax({
		type: 'GET',
		url: "@controllers.gui.routes.Workers.workerData(study.getId(), batchId)",
		success: function(response) {
			fillWorkers(response);
		},
		error: function(response) {
			showError("Couldn't load workers.");
		}
	});
}

function fillWorkers(workerList) {
	$('#jatosWorkerPanel .workerRowTemplate').nextAll().remove();
	$('#personalSingleWorkerPanel .workerRowTemplate').nextAll().remove();
	$('#personalMultipleWorkerPanel .workerRowTemplate').nextAll().remove();
	$('#mtWorkerPanel .workerRowTemplate').nextAll().remove();
	$('#generalSingleWorkerPanel .workerRowTemplate').nextAll().remove();
	$.each(workerList, function(index, worker) {
		if (worker.workerType == '@common.workers.JatosWorker.WORKER_TYPE') {
			fillJatosRow(worker);
		} else if (worker.workerType == '@common.workers.PersonalSingleWorker.WORKER_TYPE') {
			fillPersonalSingleRow(worker);
		} else if (worker.workerType == '@common.workers.PersonalMultipleWorker.WORKER_TYPE') {
			fillPersonalMultipleRow(worker);
		} else if (worker.workerType == '@common.workers.MTWorker.WORKER_TYPE') {
			fillMtRow(worker);
		} else if (worker.workerType == '@common.workers.GeneralSingleWorker.WORKER_TYPE') {
			fillGeneralSingleRow(worker);
		}
	});
	checkEmptyWorkerTable('#jatosWorkerTable');
	checkEmptyWorkerTable('#personalSingleWorkerTable');
	checkEmptyWorkerTable('#personalMultipleWorkerTable');
	checkEmptyWorkerTable('#mtWorkerTable');
	checkEmptyWorkerTable('#generalSingleWorkerTable');
	setButtonWidthToMax(".resultButton");
}

function fillJatosRow(worker) {
	var row = $('#jatosWorkerPanel .workerRowTemplate').clone().show();
	$(row).removeClass('workerRowTemplate');
	$(row).find('.workerId').text(worker.id);
	$(row).find('.userEmail').text(worker.userEmail);
	if ("@loggedInUser.getEmail()" != worker.userEmail) {
		$(row).find('.runButton').hide();
	}
	$(row).data(worker);
	$("#jatosWorkerPanel .workerRowTemplate").after(row);
}

function fillPersonalSingleRow(worker) {
	var row = $('#personalSingleWorkerPanel .workerRowTemplate').clone().show();
	$(row).removeClass('workerRowTemplate');
	$(row).find('.workerId').text(worker.id);
	$(row).find('.workerComment').text(worker.comment);
	$(row).data(worker);
	$("#personalSingleWorkerPanel .workerRowTemplate").after(row);
}

function fillPersonalMultipleRow(worker) {
	var row = $('#personalMultipleWorkerPanel .workerRowTemplate').clone().show();
	$(row).removeClass('workerRowTemplate');
	$(row).find('.workerId').text(worker.id);
	$(row).find('.workerComment').text(worker.comment);
	$(row).data(worker);
	$("#personalMultipleWorkerPanel .workerRowTemplate").after(row);
}

function fillMtRow(worker) {
	var row = $('#mtWorkerPanel .workerRowTemplate').clone().show();
	$(row).removeClass('workerRowTemplate');
	$(row).find('.workerId').text(worker.id);
	$(row).find('.mtWorkerId').text(worker.mtWorkerId);
	$(row).find('.workerType').text(worker.uiWorkerType);
	$(row).data(worker);
	$("#mtWorkerPanel .workerRowTemplate").after(row);
}

function fillGeneralSingleRow(worker) {
	var row = $('#generalSingleWorkerPanel .workerRowTemplate').clone().show();
	$(row).removeClass('workerRowTemplate');
	$(row).find('.workerId').text(worker.id);
	$(row).data(worker);
	$("#generalSingleWorkerPanel .workerRowTemplate").after(row);
}

function checkEmptyWorkerTable(e) {
	var rowCount = $(e + ' tr').length;
	if (rowCount <= 1) {
		var row = "<tr><td>none</td></tr>"
		$(e + " .workerRowTemplate").after(row);
	}
}

$('#workerPanelGroup').on('click', '.resultButton', function() {
	var workerType;
	if ($(this).closest('.panel').is('#jatosWorkerPanel')) {
		workerType = "@common.workers.JatosWorker.WORKER_TYPE";
	} else if ($(this).closest('.panel').is('#personalSingleWorkerPanel')) {
		workerType = "@common.workers.PersonalSingleWorker.WORKER_TYPE";
	} else if ($(this).closest('.panel').is('#personalMultipleWorkerPanel')) {
		workerType = "@common.workers.PersonalMultipleWorker.WORKER_TYPE";
	} else if ($(this).closest('.panel').is('#mtWorkerPanel')) {
		workerType = "@common.workers.MTWorker.WORKER_TYPE";
	} else if ($(this).closest('.panel').is('#generalSingleWorkerPanel')) {
		workerType = "@common.workers.GeneralSingleWorker.WORKER_TYPE";
	}
	if (workerType) {
		window.location.href =  "/jatos/@study.getId()/batch/" + @batchId
			+ "/results?workerType=" + workerType;
	}
});

$('#mtWorkerPanel').on('click', '.mtWorkerSourceCode', function() {
	window.location.href = "@controllers.gui.routes.Batches.showMTurkSourceCode(study.getId(), batchId)";
});

$('#personalSingleWorkerPanel').on('click', '.addButton', function() {
	$('#confirmModalRun').find('.modal-title').html("Create Personal Single Run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a worker for a Personal Single Run.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalSingleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalSingleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(url) {
				loadWorkers();
				showPersonalSingleLinkModal(url);
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#personalMultipleWorkerPanel').on('click', '.addButton', function() {
	$('#confirmModalRun').find('.modal-title').html("Create Personal Multiple Run");
	$('#confirmModalRun').find('.modalText').html("You're about to create a Personal Multiple Worker. Use a comment to distinguish this worker from others.");
	$('#confirmModalRun').modal('show');
	$('#confirmModalRun').off('click.confirm').on('click.confirm', '.confirmed', function() {
		$('#confirmModalRun').modal('hide');
		var comment = $('#confirmModalRun').find('.comment').val();
		var jsonData = JSON.stringify({ @common.workers.PersonalMultipleWorker.COMMENT: comment });
		$.ajax({
			type: 'POST',
			url: '@controllers.gui.routes.Batches.createPersonalMultipleRun(study.getId(), batchId)',
			contentType: "application/json; charset=utf-8",
			dataType: 'text',
			data: jsonData,
			success: function(url) {
				loadWorkers();
				showPersonalMultipleLinkModal(url);
			},
			error : function(err) {
				showError(err.responseText);
			}
		});
	});
});

$('#personalSingleWorkerPanel').on('click', '.linkButton', function() {
	var worker = $(this).parents('tr').data();
	if (!worker) {return} // Should not happen
	var url = "@baseUrl" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "personalSingleWorkerId=" + worker.id;
	showPersonalSingleLinkModal(url);
});

function showPersonalSingleLinkModal(url) {
	var title = "Personal Single Run";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start it right away.";
	showLinkModal(title, preText, url, postText);
}

$('#personalMultipleWorkerPanel').on('click', '.linkButton', function() {
	var worker = $(this).parents('tr').data();
	if (!worker) {return} // Should not happen
	var url = "@baseUrl" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "personalMultipleWorkerId=" + worker.id;
	showPersonalMultipleLinkModal(url);
});

function showPersonalMultipleLinkModal(url) {
	var title = "Personal Multiple Run";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start it right away.";
	showLinkModal(title, preText, url, postText);
}

$('#generalSingleWorkerPanel').on('click', '.linkButton', function() {
	var title = "General Single Run";
	var url = "@baseUrl" + "/publix/@study.getId()/start?" + "batchId=@batchId&" + "generalSingle";
	var preText = "This address will start the run.";
	var postText = "Copy & paste it or press \"Run\" to start a run right away.";
	showLinkModal(title, preText, url, postText);
});

function showLinkModal(title, preText, url, postText) {
	$('#workerRunLinkModal .runButton').data(url);
	var htmlPreText = '<p>' + preText + '</p>';
	var htmlUrl = '<div class="well linkUrl">' + url + '</div>';
	var htmlPostText = '<p>' + postText + '</p>';
	$('#workerRunLinkModal').find('.modal-title').text(title);
	$('#workerRunLinkModal').find('.modal-body').html(htmlPreText + htmlUrl + htmlPostText);
	$('#workerRunLinkModal').modal('show');
	$('#workerRunLinkModal').on('click', '.runButton', function() {
		var url = $('#workerRunLinkModal .linkUrl').text();
		window.open(url);
	});
}

$('#jatosWorkerPanel').on('click', '.runButton', function() {
	window.open("@controllers.gui.routes.Studies.runStudy(study.getId(), batchId)");
});

</script>

}
