@(loggedInUser: common.User, breadcrumbs: String, localhost: Boolean, study: common.Study,
    allowedWorkerTypes: String, jatosUrl: java.net.URL,
    studyResultCountsPerWorker: java.util.Map[String, Integer])

@views.html.gui.main(loggedInUser, breadcrumbs, localhost){

<div class="btn-group">
    <button id="createBatchButton" type="button" class="btn btn-batch">New Batch</button>
</div>

<!-- Create Batch Modal -->
<div class="modal fade" id="createBatchModal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createBatchForm" method="post" action="/"
                class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Create Batch</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-xs-3"
                            for="@models.gui.BatchProperties.TITLE">Title</label>
                        <div class="col-xs-9">
                            <input type="text"
                                class="form-control @models.gui.BatchProperties.TITLE"
                                id="@models.gui.BatchProperties.TITLE"
                                name="@models.gui.BatchProperties.TITLE"
                                placeholder="Your batch title" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="confirmed btn btn-batch"
                        value="Create">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="batchPanelGroup" class="panel-group" role="tablist">
</div>

<!-- Template batch row -->
<div id="batchRowTemplate" class="panel panel-default batchItem" style="display: none">
    <div class="panel-heading">
        <span class="panel-title">
            <button class="collapseWorkerSetup">
                <span class="glyphicon glyphicon-chevron-right" data-toggle="tooltip"
                    data-placement="bottom" title="Click to expand/collapse this batch">
                </span>
            </button>
            <button type="button" class="btn btn-sm btn-default activeButton" data-toggle="tooltip" data-placement="bottom" title="">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <a class="batchTitle" role="button" data-toggle="collapse" href="#">Batch Title</a>
            <span class="btn-group pull-right">
                <div class="batchBtnGroup btn-group pull-right" aria-hidden="true">
                    <button type="button" class="batchPropertiesButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                        title="Edit this batch's properties">
                        Properties <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></button>
                    <button type="button" class="batchSessionButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                        title="Edit this batch's session data">
                        Session Data <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                    <button type="button" class="batchResultsButton btn btn-batch" data-toggle="tooltip" data-placement="bottom"
                        title="Shows the study results of this batch">
                        Results <span class="resultsBadge badge" data-toggle="tooltip" data-placement="bottom"
                        title="Number of study results that belong to this batch"></span>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-batch dropdown-toggle"
                            data-toggle="dropdown">
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li data-toggle="tooltip" data-placement="bottom"
                                title="Deletes this batch but doesn't delete any results">
                                <a class="removeBatch" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </span>
        </span>
    </div>
    <div class="panel-collapse collapse" role="tabpanel">
    </div>
</div>

@views.html.gui.batch.batchPropertiesModal(study)
@views.html.gui.batch.batchSessionModal(study)
@views.html.gui.batch.workerSetup(loggedInUser, breadcrumbs, localhost, study.getDefaultBatch().getId(), study, allowedWorkerTypes, jatosUrl, studyResultCountsPerWorker)

<script>

loadBatches();

$('#createBatchButton').click(function(event) {
    removeAlerts("#createBatchModal");
    removeFormErrors("#createBatchModal");
    $('#createBatchModal .@models.gui.BatchProperties.TITLE').val('');
    // Focus on comment input field in modal
    $('#createBatchModal').on('shown.bs.modal', function () {
        $('#createBatchModal').find('.@models.gui.BatchProperties.TITLE').focus();
    })
    $('#createBatchModal').modal('show');
});

$("#createBatchForm").submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: "@controllers.gui.routes.Batches.submitCreated(study.getId())",
        data: $('#createBatchForm').serialize(),
        success: function(response) {
            removeAlerts("#createBatchModal");
            removeFormErrors("#createBatchModal");
            $('#createBatchModal').modal('hide');
            loadBatches();
        },
        error: function(response) {
            removeAlerts("#createBatchModal");
            removeFormErrors("#createBatchModal");
            showWarning("Batch wasn't created", "#createBatchModal .modal-header");
            if (isJson(response.responseText)) {
                showFormErrors("#createBatchModal", response);
            } else {
                showModalError("#createBatchModal .modal-header", response);
            }
        }
    });
});

function loadBatches() {
    $.ajax({
        type: 'GET',
        url: "@controllers.gui.routes.Batches.batchesByStudy(study.getId())",
        success: function(response) {
            fillBatches(response);
        },
        error: function(response) {
            showError("Couldn't load batches.");
        }
    });
}

function fillBatches(batchList) {
    $('#batchPanelGroup').empty();
    $.each(batchList, function(index, batch) {
        var row = $('#batchRowTemplate').clone().show();
        $(row).removeAttr('id');
        // Write batch object into toolbar's data attribute so we can use it later on
        $(row).data(batch);
        setRowActive(row, batch.active);
        $(row).find('.batchTitle').text(batch.title);
        $(row).find('.resultsBadge').text(batch.resultCount);

        $("#batchPanelGroup").append(row);
    });
    setButtonWidthToMax("#batchPanelGroup .batchResultsButton");
}

$('#batchPanelGroup').on('click', '.collapseWorkerSetup', function() {
    var button = this;
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen

    var batchRow = $(button).closest('.batchItem');
    var workerSetupDiv = $('#workerPanelGroup').clone().show();
    $(batchRow).find(".panel-collapse").append(workerSetupDiv).collapse();
});


$('#batchPanelGroup').on('click', '.activeButton', function() {
    var button = this;
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen
    var active = $(this).hasClass('activeBatch');
    $.ajax({
        url : "/jatos/" + @study.getId() +"/batch/" + batch.id
                + "/properties/active?active=" + !active,
        type : "POST",
        success: function(active) {
            var row = $(button).closest('.batchItem');
            setRowActive(row, active);
        },
        error : function(err) {
            showError(err.responseText);
        }
    });
});

$('#batchPanelGroup').on('click', '.batchResultsButton', function() {
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen
    window.location.href =  "/jatos/@study.getId()/batch/" + batch.id + "/results";
});

function setRowActive(row, active) {
    var button = $(row).find('.activeButton');
    if (active) {
        row.find('.btn, .batchTitle').removeClass("grayout");
        button.addClass('activeBatch');
        button.removeClass('btn-default');
        button.addClass('btn-batch');
        button.attr('title', "Click to deactivate this batch");
        button.html($(button.html())
                .removeClass('glyphicon-remove')
                .addClass('glyphicon-ok').prop('outerHTML'));
    } else {
        row.find('.btn, .batchTitle').addClass("grayout");
        button.removeClass('activeBatch');
        button.removeClass('btn-batch');
        button.addClass('btn-default');
        button.attr('title', "Click to activate this batch");
        button.html($(button.html())
                .removeClass('glyphicon-ok')
                .addClass('glyphicon-remove').prop('outerHTML'));
    }
}

$('#batchPanelGroup').on('click', '.removeBatch', function() {
    var element = this;
    var batch = getBatchData(this);
    if (!batch) {return} // should never happen
    var title = "Confirm Delete";
    var htmlText = "<p>You are about to delete batch \"" + batch.title
        + "\" (ID " + batch.id + ") <b>with all its results</b>.</p>"
        + "<p><b>This cannot be undone.</b> Do you want to proceed?</p>";
    askConfirmation(title, htmlText, 'Delete', "btn-batch", function() {
        $.ajax({
            url : "/jatos/" + @study.getId() +"/batch/" + batch.id,
            type : 'DELETE',
            success : function(result) {
                showMessages(JSON.parse(result));
                loadBatches();
            },
            error : function(err) {
                showError(err.responseText);
            }
        });
    });
});

function getBatchData(element) {
    var row = $(element).closest('.batchItem');
    var batch = row.data();
    return batch;
}

</script>

}
