// Show info icon (indicate that tooltips are available) when 'data-toggle="tooltip" is present or if explicitly set with '.info-icon'
.info-icon::after,
:not(button):not([role="button"]):not(.no-info-icon):not(.input-required)[data-bs-tooltip]::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f430"; // bi-info-circle-fill
    font-size: 0.8em;
    padding-left: 0.25em;
    opacity: 0.4;
}

// Icon to indicate that this form field is required
.input-required::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f151"; // bi-asterisk
    font-size: 0.5em;
    padding-left: 0.25em;
    vertical-align: top;
}

.btn-clipboard-top-right {
    position: absolute;
    top: 0.4em;
    right: 0.8em;
    z-index: 10;
}

.btn-clipboard::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f290"; // bi-clipboard
    opacity: 0.7;
}

.btn-clipboard:hover::after {
    opacity: 1.0;
}

.btn-clipboard-copied::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f633"; // bi-check-lg
    color: green;
    opacity: 1.0;
}

.btn-qr-code::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f6ad"; // bi-qr-code-scan
    opacity: 0.7;
}

.btn-qr-code:hover::after {
    opacity: 1.0;
}

.btn-edit::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f4ca"; // bi-pencil-square
    padding-left: 0.25em;
    opacity: 0.7;
}

.btn-edit:hover::after {
    opacity: 1.0;
}

.btn-close2::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f659"; // bi-x-lg
}

.btn-resize::after {
    font-family: 'bootstrap-icons';
    font-synthesis: none;
    content: "\f12B"; // bi-arrow-left-right
}