@(title: String, componentJson: String, data: String)

@publix.main("Mechanical Argentinian - Component " + title) {
<div id="component">
	<div id="progressBar"></div>
	<img id="image" src="">
	<p id="text"></p>
	<div id="confidenceBar"></div>
</div>

<script>
		var component = @Html(componentJson);
		var data = @Html(data);
		var slideList = data.slideList;
		var turkGateUrl = data.turkGateUrl;
		var slideCount = 0;
		var slideListLength = slideList.length;
		var timeStart;
		var lostFocus = false;
		
		// The componentResult will be sent back to the server
		var componentResult = {id:component.getId(), slideResultList:[]};
		function SlideResult (duration, keycode, lostFocus) {
			this.duration = duration;
			this.keycode = keycode;
			this.lostFocus = lostFocus;
		}
		
		$("#progressBar").progressbar({disabled: true});
		$("#confidenceBar").progressbar({disabled: true});
		
		$(window).mousemove(function(event) {
			var mouseX = event.pageX;
			var barLeft = $("#confidenceBar").position().left;
			var barWidth = $("#confidenceBar").width();
			var confidenceValue = ((mouseX - barLeft) / (barWidth)) * 100;
			$("#confidenceBar").progressbar({value: confidenceValue});
		});
		
		// When the window is fully loaded display the first slide 
		$(window).load(function() {
			displaySlide();
		});
		
		// If the user leaves the browser's tab set lostFocus to true
		$(window).blur(function(){
			lostFocus = true;
		});
		
		// Callback function when key is pressed
		$(document).keypress(function(event){
			var timeEnd = performance.now();
			var duration = timeEnd - timeStart;
			duration = (Math.round(duration * 1000))/1000;
			var keycode = (event.keyCode ? event.keyCode : event.which);
			componentResult.slideResultList.push(new SlideResult(duration,
					keycode, lostFocus));
			slideCount++;
			if (slideCount < slideListLength) {
				displaySlide();
				lostFocus = false;
			} else {
				postResults();
			}
		});
		
		function displaySlide() {
			var imgUrl = slideList[slideCount].imgUrl;
			var text = slideList[slideCount].text;
			$("#image").attr("src", imgUrl).load(function() {
				// Start timer when imgage is fully loaded
				timeStart = performance.now();
				$("#text").html(text);
				var progressValue = (slideCount + 1 / slideListLength) * 100;
				$("#progressBar").progressbar({value: progressValue});
			});
		}
		
		// Post results back to the server
		function postResults() {
			componentResult.lostFocus = lostFocus;
			var componentResultJson = JSON.stringify(componentResult);
			
			var ajax = $.ajax({
				url: "/component/" + component.getId(),
				data: componentResultJson,
				processData: false,
				type: "POST",
				contentType: "application/json",
				success: function(response) {
					window.location.assign(turkGateUrl);
				},
				error: function(err) {
					alert(err.responseText);
				}
			});
		}
		
	</script>
}
