@(title: String, componentJson: String, data: String)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public", "images/favicon.png")">
<link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/jquery-ui-1.10.4.custom.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/elis_confidence.css")"/>
<script src="@routes.Assets.at("/public", "javascripts/jquery-1.10.2.js")"></script>
<script src="@routes.Assets.at("/public", "javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

	<div id="instructions">
		<div id="progress">
			<p id="progressBarText">Your progress</p>
			<div id="progressBar"></div>
		</div>
		<p id="text"></p>
		<p id="nextSlide">Press any key to go on.</p>
	</div>

	<script>
		var instructions = @Html(componentJson);
		var data = @Html(data);
		var slideList = data.slideList;
		var practiceUrl = data.practiceUrl;
		var slideCount = 0;
		
		// When the window is fully loaded display the first slide
		$(window).load(function() {
			if (checkBrowser()) {
				displaySlide();
			}
		});
		
		// Callback function when key is pressed
		$(document).keydown(function(event) {
			// Do nothing if key is Shift, Control or Alt (AltGr doesn't seem to
			// work)
			if (event.ctrlKey || event.altKey || event.altGraphKey 
					|| event.shiftKey) {
				return;	
			}
			
			nextSlide();
		});

		function displaySlide() {
			$("#progress").show();
			var progressValue = ((slideCount + 1) / slideList.length) * 100;
			$("#progressBar").progressbar({value: progressValue});
			var text = slideList[slideCount].text;
			$("#text").html(text);
		}
		
		function nextSlide() {
			slideCount++;
			if (slideCount < slideList.length) {
				displaySlide();
			} else {
				window.location.replace(practiceUrl);
			}
		}
		
		function checkBrowser() {
			var userAgent = navigator.userAgent;
			var errorMsg;
			// Check mobile phones and tablets
			if (userAgent.match(
					/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)) {
				var text = "Sorry, you can't do this questionaire on a mobile or a tablet.";
				$("#text").html(text);
				var errorMsg = "Mobile phone browser not supported: component "
					+ component.id + ", userAgent \"" + userAgent + "\"";
			}
			
			// Check if browser supports perfomance.now feature
			if (!performance.now) {
				var text = "Sorry, you can't do this questionaire with this browser.";
				$("#text").html(text);
				var errorMsg = "Browser doesn't support perfomance.now: component "
					+ component.id + ", userAgent \"" + userAgent + "\"";
			}
			
			if (errorMsg) {
				// Send error msg for logging to server
				$.ajax({
					url: "/error",
					data: errorMsg,
					processData: false,
					type: "POST",
					contentType: "text/plain"
				});
				return false;
			}
			return true;
		}
		
	</script>
</body>
</html>